{% extends "base.twig" %}

{% set active = 'settings' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["NOTIFICATIONS_CATEGORIES"]}}</h2>
            <div class="buttons">
                <a href="{{  url_for('notifications_categories_edit') }}"><button class="button">{{ fontawesome('fas fa-plus') }} {{lang["ADD"]}}</button></a>
            </div>
        </div>
        <div class="page-content">
            <table id="notifications_categories_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["NAME"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in categories %}
                        <tr>
                            <td>{{cat.name|raw}}</td> 
                            <td><a href="{{  url_for('notifications_categories_edit', {'id' : cat.id}) }}">{{ fontawesome('fas fa-edit') }}</a></td>
                            <td><a href="#" data-url="{{  url_for('notifications_categories_delete', {'id' : cat.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}