{% extends "base.twig" %}

{% set active = 'users' %}

{% block body %}

    {% if message is defined %}
        <div class="alert {{message_type}}">
            <span class="closebtn" >&times;</span>
            <span class="alert-message">
                <p>{{message}}</p>
            </span>
        </div>
    {% endif %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["CHANGE_PASSWORD"]}}</h2></div>
        <div class="page-content">

            <form action="{{  path_for('users_change_password') }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                
                <div class="form-group">
                    <label>{{lang["LOGIN"]}}</label>
                    <p>{{user.login}}</p>
                </div>
                <div class="form-group">
                    <label for="inputOldPassword">{{lang["OLD_PASSWORD"]}}</label>
                    <input name="oldpassword" id="inputOldPassword" class="form-control" type="password" >
                </div>
                <div class="form-group">
                    <label for="inputNewPassword1">{{lang["NEW_PASSWORD"]}}</label>
                    <input name="newpassword1" id="inputNewPassword1" class="form-control" type="password" >
                </div>
                <div class="form-group">
                    <label for="inputNewPassword2">{{lang["NEW_PASSWORD_REPLY"]}}</label>
                    <input name="newpassword2" id="inputNewPassword2" class="form-control" type="password" >
                </div>

                <div class="form-group">
                    <button type="submit">{{lang["SAVE"]}}</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}