{% extends "base.twig" %}

{% set active = 'profile' %}

{% block javascript %}
    <script src="{{baseURL}}/static/assets/js/Sortable.min.js"></script>
    <script src="{{baseURL}}/static/js/frontpage_edit.js"></script>
{% endblock %}

{% block body %}
    <div id="loading-overlay" class="hidden">
        <i class="fas fa-circle-notch fa-spin fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div id="widget-modal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">{{lang["WIDGET_OPTIONS"]}}<span class="edit-bar"></span></div>
            <form>
                <div class="modal-content">
                </div>
                <div class="modal-footer">
                    <div class="buttons">
                        <input id="add-widget-modal" type="submit" class="submit-btn" tabindex="-1" value="{{lang["ADD"]}}"/>
                        <button id="modal-close-btn" class="button gray cancel" type="button">{{lang["CANCEL"]}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="page-header">
        <h2>{{ lang["WIDGETS"] }}</h2>
    </div>

    <div class="grid active">
        {% for widget in list %}
            <div class="card" data-widget="{{ widget["id"] }}">
                <div class="card-content">
                    <div class="card-header has-buttons">
                        <h3><a href="{{ widget["url"] }}">{{ widget["title"]|raw }}</a></h3>
                        <div class="buttons">
                            <a href="#" data-url="{{ url_for('users_profile_frontpage_widget_delete', {'id' : widget["id"]}) }}" class="btn-delete"><span class="fas fa-trash fa-lg"></span></a>
                        </div>
                    </div>
                    {% include 'home/widgets/' ~ widget["name"] ~'.twig' with {'widget': widget} %}   
                </div>
            </div>
        {%  endfor %}
    </div>
    <p>
        <select class="button-height">
            {% for widget_key, widget in widgets %}
                <option value="{{ widget_key }}">{{ widget["name"] }}</option>
            {% endfor %}
        </select>
        <a href="" id="add-widget"><button>{{ lang["ADD"] }}</button></a>
    </p>
{% endblock %}