{% extends "base.twig" %}

{% set active = 'profile' %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/weather-icons.min.css?ver={{CACHEMISS}}"/>
{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/Sortable.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/widgets-edit.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/widgets.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{ "WIDGETS"|trans }}</h2>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "profile/profile-tabs.twig" with {'active':'users_profile_frontpage'} only %}
{% endblock %}

{% block body %}
	<dialog id="widget-modal">
		<div class="modal-header">{{"WIDGET_OPTIONS"|trans}}<span class="edit-bar"></span>
		</div>
		<form>
			<div class="modal-content"></div>
			<div class="modal-footer">
				<div class="buttons">
					<input id="add-widget-modal" type="submit" class="button submit-btn" tabindex="-1" value="{{"ADD"|trans}}"/>
					<button id="modal-close-btn" class="button button-text cancel" type="button">{{"CANCEL"|trans}}</button>
				</div>
			</div>
		</form>
	</dialog>

	<div class="grid active">
		{% for widget in list %}
			<div class="card widget" data-widget="{{ widget["id"] }}" data-hidden="{{ widget["is_hidden"] }}">
				<div class="card-content">
					<div class="card-header has-buttons">
						<h3 class="card-headline">
							{{ widget["title"] | raw }}
							(ID:
							{{ widget["id"] }})
						</h3>
						<div class="buttons">
							<a href="#" class="btn-hide" data-id="{{ widget["id"] }}" data-state="{% if widget["is_hidden"] %}1{% else %}0{% endif %}">
								{% if widget["is_hidden"] %}
									{{ fontawesome('far fa-eye') }}
								{% else %}
									{{ fontawesome('far fa-eye-slash') }}
								{% endif %}
							</a>
							<span class="handle">{{ fontawesome('fas fa-up-down-left-right') }}</span>
							{% if widget["hasOptions"] %}
								<a href="#" class="btn-edit" data-id="{{ widget["id"] }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
							{% endif %}
							<a href="#" data-url="{{ url_for('users_profile_frontpage_widget_delete', {'id' : widget["id"]}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
						</div>
					</div>
				</div>
			</div>
		{%  endfor %}
	</div>
	<div class="add-widget-wrapper">
		<div class="select-wrapper">
			<select class="button-height">
				{% for widget_key, widget in widgets %}
					<option value="{{ widget_key }}">{{ widget["name"] }}</option>
				{% endfor %}
			</select>
		</div>
		<a href="#" id="add-widget">
			<button class="button">{{ "ADD"|trans }}</button>
		</a>
	</div>
{% endblock %}
