{% extends "base.twig" %}

{% set active = 'profile' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/weather-icons.min.css" />
{% endblock %}

{% block javascript %}
    <script src="{{baseURL}}/static/assets/js/Sortable.min.js"></script>
    <script src="{{baseURL}}/static/js/frontpage_edit.js"></script>
    <script src="{{baseURL}}/static/js/widgets.js?ver=20200809"></script>
{% endblock %}

{% block body %}
    <div id="widget-modal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">{{lang["WIDGET_OPTIONS"]}}<span class="edit-bar"></span></div>
            <form>
                <div class="modal-content">
                </div>
                <div class="modal-footer">
                    <div class="buttons">
                        <input id="add-widget-modal" type="submit" class="submit-btn" tabindex="-1" value="{{lang["ADD"]}}"/>
                        <button id="modal-close-btn" class="button gray cancel" type="button">{{lang["CANCEL"]}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="page-header">
        <h2>{{ lang["WIDGETS"] }}</h2>
    </div>

    <div class="grid active">
        {% for widget in list %}
            <div class="card" data-widget="{{ widget["id"] }}">
                <div class="card-content">
                    <div class="card-header has-buttons">
                        <h3>{% if widget["url"] is not null %}<a href="{{ widget["url"] }}">{{ widget["title"] | raw }}</a>{% else %}{{ widget["title"] | raw }}{% endif %}</h3>
                        <div class="buttons">
                            {% if widget["hasOptions"] %}
                                <a href="#" class="btn-edit" data-id="{{ widget["id"] }}">{{ fontawesome('fas fa-edit') }}</a>
                            {% endif %}
                            <a href="#" data-url="{{ url_for('users_profile_frontpage_widget_delete', {'id' : widget["id"]}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
                        </div>
                    </div>
                    {% include 'home/widgets/' ~ widget["name"] ~'.twig' with {'widget': widget} %}   
                </div>
            </div>
        {%  endfor %}
    </div>
    <p>
        <select class="button-height">
            {% for widget_key, widget in widgets %}
                <option value="{{ widget_key }}">{{ widget["name"] }}</option>
            {% endfor %}
        </select>
        <a href="" id="add-widget"><button>{{ lang["ADD"] }}</button></a>
    </p>
{% endblock %}