{% extends "base.twig" %}

{% set active = 'profile' %}

{% block body %}

    {% if message is defined %}
        <div class="alert {{message_type}}">
            <span class="closebtn" >&times;</span>
            <span class="alert-message">
                <p>{{message}}</p>
            </span>
        </div>
    {% endif %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["PROFILE_IMAGE"]}}</h2></div>
        <div class="page-content">

            <form action="{{  path_for('users_profile_image') }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                
                <div class="form-group">
                    <label for="image" class="col-sm-2 control-label">{{lang["IMAGE"]}}</label>
                    {% if not user is null and user.get_thumbnail() != ''%}
                        <img src="/{{uploads_folder}}/{{user.get_thumbnail()}}"/>
                    {%endif%}
                    <input name="image" id="image" class="form-control" type="file">
                </div>
                <div class="form-group">
                    <button type="submit">{{lang["SAVE"]}}</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}