<div class="tabbar-scroller">
	<div class="tabbar-tab-scroll-btn" data-type="left" href="#"><div tabindex="-1" class="icon-ripple-wrapper" >{{ fontawesome('fas fa-chevron-left') }}</div></div>
	<div class="tabbar-scrollarea">
		<a class="tabbar-tab {% if active == 'users_profile_edit' %}active{% endif %}" href="{{ url_for('users_profile_edit') }}">{{"PROFILE"|trans}}</a>
		<a class="tabbar-tab {% if active == 'users_change_password' %}active{% endif %}" href="{{ url_for('users_change_password') }}">{{"CHANGE_PASSWORD"|trans}}</a>
		<a class="tabbar-tab {% if active == 'users_profile_image' %}active{% endif %}" href="{{ url_for('users_profile_image') }}">{{"PROFILE_IMAGE"|trans}}</a>
		<a class="tabbar-tab {% if active == 'users_profile_frontpage' %}active{% endif %}" href="{{ url_for('users_profile_frontpage') }}">{{"FRONTPAGE"|trans}}</a>
		<a class="tabbar-tab {% if active == 'users_mobile_favorites' %}active{% endif %}" href="{{ url_for('users_mobile_favorites') }}">{{"MOBILE_FAVORITES"|trans}}</a>
		<a class="tabbar-tab {% if active == 'users_login_tokens' %}active{% endif %}" href="{{ url_for('users_login_tokens') }}">{{"LOGIN_TOKENS"|trans}}</a>
		<a class="tabbar-tab {% if active == 'users_application_passwords' %}active{% endif %}" href="{{ url_for('users_application_passwords') }}">{{"APPLICATION_PASSWORDS"|trans}}</a>
		<a class="tabbar-tab {% if active == 'users_twofactorauth' %}active{% endif %}" href="{{ url_for('users_twofactorauth') }}">{{"TWOFACTOR_AUTHENTICATION"|trans}}</a>
	</div>
	<div class="tabbar-tab-scroll-btn" data-type="right" href="#"><div tabindex="-1" class="icon-ripple-wrapper" >{{ fontawesome('fas fa-chevron-right') }}</div></div>
</div>
