{% extends "base.twig" %}

{% set active = 'help' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"HELP"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<ul>
				<li><a href="#general" class="no-loading">Allgemein</a></li>
				<li><a href="#locationhistory" class="no-loading">Modul: Standortverlauf</a></li>
				<li><a href="#finances" class="no-loading">Modul: Finanzen</a></li>
				<li><a href="#cars" class="no-loading">Modul: Autos</a></li>
				<li><a href="#boards" class="no-loading">Modul: Boards</a></li>
				<li><a href="#crawlers" class="no-loading">Modul: Crawlers</a></li>
				<li><a href="#splittedbills" class="no-loading">Modul: geteilte Ausgaben</a></li>
				<li><a href="#trips" class="no-loading">Modul: Reisen</a></li>
				<li><a href="#timesheets" class="no-loading">Modul: Zeiterfassung</a></li>
				<li><a href="#workouts" class="no-loading">Modul: Workouts</a></li>
				<li><a href="#recipes" class="no-loading">Modul: Rezepte</a></li>
				<li><a href="#admin" class="no-loading">Spezielle Admin-Funktionen</a></li>
			</ul>
		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="general">Allgemein</h2>
		</div>
		<div class="page-content">

			<p>
				Die Anmeldung erfolgt mit dem Benutzernamen und dem Passwort. Der "Code" ist für die Zweifaktor-Authentifizierung und muss nur angegeben werden, wenn diese aktiviert wurde.
			</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/1_login.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/1_login.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Startseite</h3>
			<p>Nach der Anmeldung wird die Standard-Startseite angezeigt. Die Startseite lässt sich individuell mit Widgets anpassen.
				<br/>Dazu muss zuerst der Nutzername im Menü angeklickt und anschließend "Startseite" gewählt werden.</p>
			<p>Anschließend können verschiedene Widgets hinzugefügt werden. Wenn ein Widget noch weitere Eingaben benötigt, müssen diese im entsprechenden Fenster eingetragen werden.</p>
			<p>Die Widgets können durch Klicken auf den Titel und Ziehen der Maus verschoben werden. Über die Symbole können Einstellungen angepasst oder das Widget entfernt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_frontpage.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_frontpage.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_frontpage-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_frontpage-1.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_frontpage-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_frontpage-2.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_frontpage-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_frontpage-3.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Profil</h3>
			<p>Durch Klick auf den Benutzernamen kann das eigene Profil angepasst werden. Dabei können verschiedene Module zugeordnet werden.</p>
			<p>Unterhalb des Benutzernamens finden sich weitere Menüeinträge zur Passwortänderung, zum Einstellen des Profilbilds, zur Aktivierung der Zweifaktor-Authentifizierung, zur Anzeige der eingeloggten Clients (Login Tokens) und zur Anzeige des Aktivitätenverlaufs.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_profile.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_profile.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_password.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_password.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_profilepic.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_profilepic.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_twofactor.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_twofactor.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_logintokens.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_logintokens.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_activities.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_activities.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Anwendungspasswörter</h3>
			<p>Anwendungspasswörter sind notwendig, damit Anwendungen auf spezielle Funktionen automatisiert zugreifen können.</p>
			<p>Diese Funktionen umfassen:</p>
			<ul>
				<li>Übermitteln des Standortverlaufs</li>
				<li>Übertragen von Crawler-Daten</li>
				<li>Auslösen von Benachrichtigungen für spezielle Kategorien</li>
			</ul>
			<p>Anwendungspasswörter müssen jeweils angelegt und der Login muss dann mit dem Benutzernamen und dem Anwendungspasswort erfolgen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_applicationpasswords.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_applicationpasswords.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_applicationpasswords-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_applicationpasswords-1.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Web App</h3>
			<p>Die Anwendung kann als Progressive Web App (PWA) auf unterstützen Geräten installiert werden.</p>
			<p>Dies kann in Chrome für Android beispielsweise im Menü unter "App installieren" oder über den Banner "App zum Startbildschirm hinzufügen" erfolgen.</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/101_PWA-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/101_PWA-1.jpg" width="300"/></a>
				</div>
			</div>

			<p>Über die Profileinstellungen (Start URL) lässt sich festlegen, welche Unterseite beim Aufruf über die Progressive Web App gestartet werden soll. So lässt sich die Startseite für eine häufig verwendete Seite festlegen.</p>
			<p>Die Seite muss dabei ohne den Domainnamen festgelegt werden, beispielsweise
				<code>/finances</code>
				für die Übersichtsseite des Finanzmoduls.</p>

			<h3>mobile Favoriten</h3>
			<p>Zusätzlich zur Start URL lassen sich mobile Favoriten festlegen.</p>
			<p>Hierzu können in der mobilen Ansicht die Symbole in der Navigationsleiste individuell festgelegt werden.</p>
			<p>Die Reihenfolge wird über die numerische Position festgelegt. Das Icon muss der Bezeichnung eines Fontawesome-Icons (<a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">https://fontawesome.com/icons?d=gallery&m=free</a>) entsprechen. Die URL ist analog zur Start URL relativ zur Domain anzugeben.</p>
			<p>Das Beispiel-Icon der Uhr (<code>fas fa-clock</code>) ist
				<a href="https://fontawesome.com/icons/clock?style=solid" target="_blank">hier</a>
				aufrufbar.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_mobilefavorites.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_mobilefavorites.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_mobilefavorites-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_mobilefavorites-1.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_mobilefavorites-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_mobilefavorites-3.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Benachrichtigungen</h3>
			<p>Es ist es möglich sich über verschiedene Ereignisse per E-Mail benachrichtigen zu lassen. Zusätzlich können für verschiedene Aktionen innerhalb der Seite und für individuelle Benachrichtigungskategorien Benachrichtigungen abonniert werden.</p>
			<p>Alle Events können als Benachrichtigung innerhalb der Webseite und/oder als Push Benachrichtigung abonniert werden.</p>
			<p>Interne Benachrichtigungen können über die Klingel im Menü aufgerufen werden und werden automatisch als gelesen markiert, sobald die Seite aufgerufen wurde.</p>
			<p>Push Benachrichtigungen müssen innerhalb des verwendeten Browsers unterstützt werden und können dann direkt abonniert werden.</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_notifications.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_notifications.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_notifications-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_notifications-1.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_notifications-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_notifications-2.jpg" width="300"/></a>
				</div>
			</div>
			<p>Unterstützt ein Gerät keine Web Push-Benachrichtigungen (z.B. iOS) kann alternativ die IFTTT App für Benachrichtigungen verwendet werden.</p>
			<p>Hierzu muss ein IFTTT Account angelegt werden und die IFTTT App auf dem Gerät installiert werden. Anschließend muss der Service "Webhooks" aktiviert und ein neues Applet angelegt werden.</p>
			<p>Die Web-Hook URL für das angelegte Applet muss dann in das entsprechende Feld der Webseite eingetragen werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-1.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-1.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-2.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-2.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-3.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-3.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-4.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-4.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-5.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-5.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-6.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-6.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-7.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-7.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-8.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-8.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-9.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-9.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-10.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-10.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-11.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-11.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-12.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-12.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-13.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-13.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-14.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-14.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-15.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-15.png" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_IFTTT-16.png" target="_blank"><img src="{{baseURL}}/static/help/100_IFTTT-16.png" width="300"/></a>
				</div>
			</div>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_notifications-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_notifications-3.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_notifications-4.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_notifications-4.jpg" width="300"/></a>
				</div>
			</div>
		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="locationhistory">Modul Standortverlauf</h2>
		</div>
		<div class="page-content">
			<p>Beim Modul Standortverlauf können alle erfassten Standorte angezeigt werden. Dabei lassen sich Standorte nach Datum filtern.
				<br/>
				Außerdem können verschiedene Filter (rechter Rand) eingesetzt werden:
			</p>
			<ul>
				<li>Standorte gruppiert anzeigen</li>
				<li>Allgemeine Standorte anzeigen</li>
				<li>Standorte im Zusammenhang mit Finanzeinträgen anzeigen</li>
				<li>Standorte im Zusammenhang mit Autos anzeigen</li>
				<li>Allgemeine Standorte anhand des Datums mit Linien verbinden</li>
			</ul>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/3_location_history.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/3_location_history.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/3_location_history-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/3_location_history-2.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/3_location_history-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/3_location_history-3.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Standorte hinzufügen</h3>
			<p>Es ist möglich allgemeine Standorte manuell oder automatisch zu erfassen.</p>
			<h4>Manuell hinzufügen</h4>
			<p>Um Standorte manuell hinzufügen zu können muss im Menü "Ort hinzufügen" gewählt werden. Anschließend kann der Standort festgelegt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/3_location_history-4.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/3_location_history-4.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/3_location_history-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/3_location_history-1.jpg" width="300"/></a>
				</div>
			</div>

			<h4>Standort automatisch hinzufügen</h4>

			<p>Es ist möglich verschiedene Daten regelmäßig an die Web Anwendung automatisiert zu übermitteln.</p>
			<p>Dazu muss mindestens der Standort als kommaseparierte Liste mit Latitude und Longitude als Wert
				<code>gps_loc</code>
				übermittelt werden:</p>
			<pre>
curl --request POST \
  --data 'gps_loc=10,20' \
  http://&lt;user&gt;:&lt;password&gt;@&lt;domain&gt;/api/location/record
            </pre>

			<p>Mit Hilfe der Android App "Tasker" lassen sich Standortdaten und Schritte regelmäßig automatisiert übermitteln.<br/>Hierzu lassen sich beispielsweise folgende Profile nutzen:</p>
			<h4>Schritte zählen</h4>
			<pre>
Profil: Schritte (14)
    	Ereignis: Ausgeführte Schritte [ Nummer:1 ]
    Eingang: Schritte (23)
    	A1: Variable Setzen [ Name:%STEPS Zu:%evtprm1 Recurse Variables:Aus Mathematisch:Aus Hinzufügen:Aus Max Rounding Digits:3 ]
            </pre>

			<h4>Schritte zurücksetzen</h4>
			<pre>
Profil: Schritte zurücksetzen (21)
    	Variables: [  ]
    	Zeit: 00:00
    Eingang: Schritte Reset (22)
    	A1: Profil Status [ Name:Schritte setzen:Aus ] 
    	A2: Profil Status [ Name:Schritte setzen:An ] 
    	A3: Variable Setzen [ Name:%STEPS Zu:0 Recurse Variables:Aus Mathematisch:Aus Hinzufügen:Aus Max Rounding Digits:3 ]
            </pre>

			<h4>Standort erfassen</h4>
			<pre>
    Profil: Standort erfassen (2)
    	Zeit:  Jede 30m
    Eingang: Standort senden 2 (19)
    	A1: If [ %TIMES > %LASTLOC+600 ]
    	A2: Get Location v2 [  Timeout (Sekunden):20 Minimum Accuracy (meters): Speed (meters/second): Altitude (meters): Near Location: Enable Location If Needed:Aus Last Location If Timeout:Aus Min Speed Accuracy (m/s): ] 
    	A3: HTTP Auth [  Method:Username and Password Client ID: Client Secret: Endpoint To Get Code: Endpoint To Get Refresh Token: Scopes: Force Re-Authentication:Aus Timeout (Sekunden):30 Username:<span style="color: red; font-weight: bold;">my-username</span> Password:<span style="color: red; font-weight: bold;">my-application-password</span> ] 
    	A4: HTTP Request [  Method:POST URL:<span style="color: red; font-weight: bold;">my-url</span>/api/location/record Headers:%http_auth_headers Query Parameters: Body:{
    "identifier":"<span style="color: red; font-weight: bold;">my-device</span>", 
    "device":"%DEVID",
    "date":"%DATE",
    "time":"%TIME",
    "batt":"%BATT",
    "times":"%TIMES",
    "wifi_state":"%WIFI",
    "gps_state":"%GPS",
    "mfield":"%MFIELD",
    "screen_state":"%SCREEN",
    "ups":"%UPS",
    "gps_loc":"%gl_coordinates",
    "gps_acc":"%gl_coordinates_accuracy",
    "gps_alt":"%gl_altitude",
    "gps_alt_acc":"%gl_altitude_accuracy",
    "gps_spd":"%gl_speed",
    "gps_spd_acc":"%gl_speed_accuracy",
    "gps_bearing":"%gl_bearing",
    "gps_bearing_acc":"%gl_bearing_accuracy", 
    "gps_tms":"%gl_time_seconds",
    "cell_id":"%CELLID",
    "cell_sig":"%CELLSIG",
    "cell_srv":"%CELLSRV", 
    "steps":"%STEPS" 
    } File To Send: File/Directory To Save With Output: Timeout (Sekunden):10 Trust Any Certificate:Aus Automatically Follow Redirects:Aus Use Cookies:Aus ] 
    	A5: If [ %http_response_code = 200 ]
    	A6: Variable Setzen [ Name:%LASTLOC Zu:%TIMES Recurse Variables:Aus Mathematisch:Aus Hinzufügen:Aus Max Rounding Digits:3 ] 
    	A7: Else 
    	A8: Benachrichtigung [ Titel:Response %http_response_code Text:%http_data Icon:null Nummer:0 Dauerhaft:Aus Priorität:3 Repeat Alert:Aus LED Colour:Lila LED Rate:0 Sound Datei: Vibration Pattern: Category:test ] 
            </pre>

			<h3>Schritte Statistik</h3>
			<p>Wenn automatisiert die Schritte übermittelt werden, dann lässt sich darüber eine Statistik anzeigen. Dabei lassen sich die Schritte pro Tag auch manuell korrigieren.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/3_location_history-5.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/3_location_history-5.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/3_location_history-6.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/3_location_history-6.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/3_location_history-7.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/3_location_history-7.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/3_location_history-8.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/3_location_history-8.jpg" width="300"/></a>
				</div>
			</div>

		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="finances">Modul Finanzen</h2>
		</div>
		<div class="page-content">
			<p>Mit dem Modul Finanzen lassen sich Einnahmen und Ausgaben verwalten. Hierzu ist es möglich Einnahmen und Ausgaben zu erfassen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-1.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-2.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Kategorien verwalten und Einnahmen/Ausgaben kategorisieren</h3>
			<p>Einem Finanzeintrag kann eine Kategorie hinzugefügt werden. Die verfügbaren Kategorien lassen sich individuell festlegen.</p>
			<p>Die Standard-Kategorie wird beim Anlegen eines Finanzeintrags automatisch vorselektiert.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-3.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-4.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-4.jpg" width="300"/></a>
				</div>
			</div>
			<h3>Kategorien automatisch anhand des Namens zuordnen lassen</h3>
			<p>Über den Namen und den Betrag eines Finanzeintrags lassen sich auch automatisiert Kategorien zuweisen.</p>
			<p>Hierzu können verschiedene Regeln festgelegt werden, wann einem Finanzeintrag eine bestimmte Kategorie zugewiesen werden soll.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-5.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-5.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-6.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-6.jpg" width="300"/></a>
				</div>
			</div>
			<h3>wiederkehrende Einnahmen und Ausgaben automatisch erfassen</h3>
			<p>Wiederkehrende Einnahmen oder Ausgaben können automatisiert angelegt werden.</p>
			<p>Hierzu müssen diese Finanzeinträge, das Start-/Enddatum und die Intervalle (alle X Tage/Wochen/Monate/Jahre) festgelegt werden.</p>
			<p>Jeden Tag um 6 Uhr werden die fälligen Finanzeinträge dann automatisch angelegt.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-7.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-7.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-8.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-8.jpg" width="300"/></a>
				</div>
			</div>
			<h3>Zahlungsmethoden verwalten</h3>
			<p>Einzelnen Finanzeinträgen können Zahlungsmethoden hinterlegt werden.</p>
			<p>Die Standard-Zahlungsmethode wird beim Anlegen eines Finanzeintrags automatisch vorselektiert.</p>
			<p>Zusätzlich kann "Kleingeld-Sparen" aktiviert werden. Dabei wird der mit dieser Zahlungsmethode eingetragene Wert auf 1€/5€ aufgerundet und dieser Rest als Guthaben auf das festgelegte Konto gebucht.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-9.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-9.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-10.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-10.jpg" width="300"/></a>
				</div>
			</div>
			<h3>Konten verwalten</h3>
			<p>Zahlungsmethoden sind Konten zugeordnet. Beim Erstellen eines Finanzeintrags wird automatisch eine entsprechende Buchung auf dem Konto des gewählten Zahlungsmittels durchgeführt.</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-25.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-25.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-31.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-31.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-26.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-26.jpg" width="300"/></a>
				</div>
			</div>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-32.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-32.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-33.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-33.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-27.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-27.jpg" width="300"/></a>
				</div>
			</div>

			<p>Zusätzlich lassen sich auch wiederkehrende Buchungen festlegen</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-28.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-28.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-29.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-29.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-30.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-30.jpg" width="300"/></a>
				</div>
			</div>

			<h3>monatliches Budget verwalten</h3>
			<p>Es kann ein monatliches Budget für unterschiedliche Gruppen festgelegt werden.</p>
			<p>Hierzu muss eine Beschreibung und die zugeordneten Gruppen ausgewählt werden. Alle Ausgaben in anderen Gruppen werden dem Budget "Rest" (Name änderbar) zugeordnet.</p>
			<p>Einzelne Budgeteinträge können auch aus der Gesamtübersicht ausgeblendet werden.</p>
			<p>Das monatliche Budget und der aktuelle Stand innerhalb des Monats lassen sich dann in der Übersicht anzeigen.
				<br/>Das Budget wird immer beim Anlegen und Aktualisieren einer Ausgabe angezeigt.</p>
			<p>Das aktuelle Budget wird immer temporär berechnet und ist daher immer nur für den aktuellen Monat verfügbar.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-11.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-11.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-12.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-12.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-13.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-13.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-14.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-14.jpg" width="300"/></a>
				</div>
			</div>
			<h3>verschiedene Statistiken</h3>
			<p>Im Modul Finanzen sind verschiedene Statistiken aufrufbar.</p>
			<p>Eine Gesamtübersicht über die Finanzen aller Jahre lässt sich direkt aufrufen.
				<br/>Durch den Klick auf das Chart-Symbol lassen sich Details der Einnahmen/Ausgaben eines Jahres anzeigen</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-15.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-15.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-20.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-20.jpg" width="300"/></a>
				</div>
			</div>
			<p>Innerhalb eines Jahres kann durch Klick auf den Wert der Einnahmen oder Ausgaben eines Monats eine Übersicht angezeigt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-21.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-21.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-23.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-23.jpg" width="300"/></a>
				</div>
			</div>
			<p>Innerhalb der Einnahmen oder Ausgaben eines Monats kann einer Übersicht über die Finanzeinträge der einzelnen Kategorien über das Chart-Symbol angezeigt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-22.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-22.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-24.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-24.jpg" width="300"/></a>
				</div>
			</div>
			<p>Die Übersicht über Einnahmen und Ausgaben eines Jahres lassen sich in der Jahresübersicht durch Klick auf den Wert der Einnahmen oder Ausgaben eines Jahres anzeigen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-16.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-16.jpg" width="300"/></a>
				</div>

				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-18.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-18.jpg" width="300"/></a>
				</div>
			</div>
			<p>Die Übersicht der Kategorien der Finanzeinträge eines Jahres kann über einen Klick auf Chart-Symbol angezeigt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-17.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-17.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/4_finances-19.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/4_finances-19.jpg" width="300"/></a>
				</div>
			</div>
			<h3>monatliche Statistiken per E-Mail</h3>
			<p>Es ist möglich eine monatliche Statistik der Einnahmen und Ausgaben des vergangenen Monats zu erhalten. Diese E-Mail wird immer am 1. des Monats um 8 Uhr versendet.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/100_finances-25.png" target="_blank"><img src="{{baseURL}}/static/help/100_finances-25.png" width="300"/></a>
				</div>
			</div>
		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="cars">Modul Autos</h2>
		</div>
		<div class="page-content">
			<p>Im Modul Autos lassen sich Tanken und Wartungen erfassen und verschiedene Statistiken anzeigen.</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/5_cars.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/5_cars.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Autos verwalten</h3>
			<p>Die verfügbaren Autos lassen sich individuell festlegen und für andere Nutzer freischalten, so dass auch mehrere Nutzer Daten zu einem Auto erfassen können.</p>
			<p>Für die Berechnung der Laufleistung können die möglichen Kilometer pro Jahr, die Laufzeit, das Startdatum für die Berechnung der aktuell möglichen Kilometer und der Start Kilometerstand festgelegt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/5_cars-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/5_cars-1.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/5_cars-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/5_cars-2.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Tanken erfassen und Benzinverbrauch berechnen</h3>
			<p>Nach dem Tanken können die Daten erfasst werden. Wenn "Spritverbrauch berechnen" ausgewählt wird, dann wird der Spritverbrauch seit dem letzten Volltanken automatisch berechnet.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/5_cars-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/5_cars-3.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/5_cars-5.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/5_cars-5.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Wartungen erfassen</h3>
			<p>Zur Dokumentation lassen sich auch Wartungen erfassen. Dabei können der Ölstand, das Scheibenwischwasser und der Luftdruck erfasst werden. Außerdem lässt sich dokumentieren ob ein Werkstattbesuch oder ein Reifenwechsel stattgefunden hat.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/5_cars-4.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/5_cars-4.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/5_cars-6.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/5_cars-6.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Benzinverbrauchsstatistik und Laufleistung</h3>
			<p>Der Verlauf des Benzinverbrauchs lässt sich graphisch darstellen.</p>
			<p>Zusätzlich lässt sich die Laufleistung bei Leasing oder Finanzierung eines Autos anzeigen.
				<br/>
				Hierzu wird anhand des zuletzt erfassten Kilometerstands (Tanken oder Wartung), dem Start der Laufzeit, 
																																																																																																																																																														                der Laufzeit in Jahren und dem Start Kilometerstand der heutige maximale Kilometerstand angezeigt.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/5_cars-7.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/5_cars-7.jpg" width="300"/></a>
				</div>
			</div>
		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="boards">Modul Boards</h2>
		</div>
		<div class="page-content">
			<p>Im Modul Boards lassen sich Aufgaben über die Methode "Kanban" verwalten.</p>
			<p>Hierzu können mehrere Nutzer zu Boards eingeladen werden.</p>
			<p>Innerhalb eines Boards können Stapel mit Karten angelegt werden. Einzelnen Karten können Label und Nutzer zugeordnet werden. Außerdem lassen sich Fälligkeitsdaten und eine Beschreibung eingeben.</p>
			<p>Karten und Stapel lassen sich löschen oder archivieren.
			</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/6_boards.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/6_boards.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/6_boards-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/6_boards-1.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/6_boards-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/6_boards-2.jpg" width="300"/></a>
				</div>
			</div>
		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="crawlers">Modul Crawlers</h2>
		</div>
		<div class="page-content">
			<p>Das Modul Crawlers ermöglicht es eigene Listen automatisiert anzulegen und zu befüllen. Dies kann beispielsweise zum automatisierten Abrufen von Informationen von Webseiten (Crawling) genutzt werden.</p>
			<p>Die angezeigten Daten können dann nach Abrufdatum gefiltert werden. Außerdem lässt sich anzeigen ob nur neue Daten (anhand des Abrufdatums) oder alle Informationen (anhand des Abruf- und Aktualisierungsdatums) angezeigt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/7_crawlers-7.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/7_crawlers-7.jpg" width="300"/></a>
				</div>
			</div>

			<p>Über einen Klick auf den Stern können Einträge auf die Merkliste gesetzt werden. Die Merkliste speichert alle markierten Einträge.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/7_crawlers-8.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/7_crawlers-8.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Crawler verwalten</h3>
			<p>Damit Informationen als Listen angezeigt werden können muss ein Crawler angelegt werden. Dabei kann ein Standard-Filter gesetzt werden.
			</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/7_crawlers.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/7_crawlers.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/7_crawlers-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/7_crawlers-1.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Datensatz hinzufügen</h3>
			<p>Ein neuer Datensatz kann über die Web Schnittstelle wie folgt hinzugefügt werden.</p>
			<pre>
curl --header "Content-Type: application/json" \
  --request POST \
  --data '{"crawler": "&lt;hash&gt;", "identifier":"offer1", "data":{"name":"job offer 1", "company":"company 2", "pay":50000, "url":"http://www.google.com"}}' \
  http://&lt;user&gt;:&lt;password&gt;@&lt;domain&gt;/api/crawlers/record
            </pre>
			<p>Dabei müssen der Hash des Crawlers, ein eindeutiger Identifikator für den Datensatz zum Abgleich ob es sich um einen neuen Datensatz oder ein Update handelt und die Daten übermittelt werden. Die Daten können mehrere Datenfelder enthalten (hier beispielsweise name, company, pay und url).</p>

			<h3>Crawler Überschriften/Spalten</h3>
			<p>Die einzelnen Spalten der Tabelle können pro Crawler festgelegt werden. Dazu muss festgelegt werden wie die Überschrift lautet und welches Datenfeld eines Datensatzes in der Spalte angezeigt werden soll (Feldname). 
																																																																																																																																																														                Zusätzlich kann das Datenfeld für die Verlinkung gesetzt werden. Dies ist beispielsweise im Beispiel oben sinnvoll. Das Feld
				<code>name</code>
				kann als Feldname festgelegt werden und das Feld
				<code>url</code>
				als Feldverlinkung.</p>
			<p>Es ist außerdem möglich statische Inhalte über Feldinhalt festzulegen.</p>
			<p>Die Position gibt die Position innerhalb der Tabelle an und der Wert "sortierbar" legt fest ob diese Spalte sortierbar ist. Für die Sortierung kann der Datentyp der Spalte festgelegt werden.
			</p>
			<p>Innerhalb eines Crawlers ist außerdem möglich bei maximal einer Spalte die initiale Sortierung (aufsteigend oder absteigend) festzulegen. Die Tabelle wird dann beim Aufruf nach dieser Spalte sortiert.</p>
			<p>Soll eine Spalte den ursprünglichen Wert vor einer Aktualisierung enthalten, so kann dies über die entsprechende Checkbox ausgewählt werden. In dieser Spalte wird dann nur für aktualisierte Datensätze der vorherige Wert angezeigt. Beispielsweise können so zwei Spalten für den Feldnamen
				<code>price</code>
				festgelegt werden, um Preisänderungen zu sehen. 
																																																																																																																																																														                Dabei ist zu beachten, dass immer nur der direkt vorherige Wert gespeichert wird. Änderungen über einen längeren Zeitraum lassen sich nicht anzeigen.</p>
			<p>Über Prefix und Suffix lassen sich Präfix und Suffixe anwenden. Beispielsweise kann so die Währung hinter einen Wert gesetzt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/7_crawlers-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/7_crawlers-2.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/7_crawlers-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/7_crawlers-3.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/7_crawlers-4.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/7_crawlers-4.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Crawler Links</h3>
			<p>Unterhalb der Liste lassen sich zusätzlich noch Links für den Schnellzugriff anlegen.
																																																																																																																																																														                Dabei können maximal zwei Ebenen abgebildet werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/7_crawlers-5.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/7_crawlers-5.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/7_crawlers-5b.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/7_crawlers-5b.jpg" width="300"/></a>
				</div>
			</div>


		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="splittedbills">Modul geteilte Ausgaben</h2>
		</div>
		<div class="page-content">
			<p>Im Modul geteilte Ausgaben können verschiedene Ausgaben, die mit anderen Nutzern geteilt oder von anderen Nutzern bezahlt wurden erfasst werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/8_splittedbills.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/8_splittedbills.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/8_splittedbills-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/8_splittedbills-1.jpg" width="300"/></a>
				</div>
			</div>
			<p>Innerhalb der Gruppe werden dann die Ausgaben verrechnet.</p>
			<p>Eine geteilte Ausgaben hat immer einen oder mehrere Nutzer, die etwas bezahlt haben und einen oder mehrere Nutzer die einen Anteil an den Kosten tragen müssen (ausgegeben).</p>
			<p>Schulden lassen sich auch als beglichen erfassen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/8_splittedbills-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/8_splittedbills-2.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/8_splittedbills-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/8_splittedbills-3.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/8_splittedbills-4.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/8_splittedbills-4.jpg" width="300"/></a>
				</div>
			</div>

			<p>Es ist auch möglich eine Gruppe für das Teilen von Ausgaben im Ausland festzulegen. Dazu besteht die Möglichkeit eine Fremdwährung, ein Umrechnungskurs und eine Gebühr (in Prozent) festzulegen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/8_splittedbills-5.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/8_splittedbills-5.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/8_splittedbills-6.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/8_splittedbills-6.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/8_splittedbills-7.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/8_splittedbills-7.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Wiederkehrende Ausgaben</h3>
			<p>Wie bei nutzerspezifischen Finanzeinträgen lassen sich auch bei Gruppen mit geteilten Ausgaben wiederkehrende Ausgaben festlegen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/8_splittedbills-9.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/8_splittedbills-9.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/8_splittedbills-10.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/8_splittedbills-10.jpg" width="300"/></a>
				</div>
			</div>
		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="trips">Modul Reisen</h2>
		</div>
		<div class="page-content">
			<p>Im Modul Reisen lassen sich Reisepläne erfassen und in einer Karte anzeigen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/9_trips.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/9_trips.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/9_trips-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/9_trips-1.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/9_trips-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/9_trips-3.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/9_trips-4.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/9_trips-4.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/9_trips-5.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/9_trips-5.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/9_trips-6.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/9_trips-6.jpg" width="300"/></a>
				</div>
			</div>

		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="timesheets">Modul Zeiterfassung</h2>
		</div>
		<div class="page-content">
			<p>Im Modul Zeiterfassung lassen sich projektspezifische Beginn und Endezeiten erfassen. Dabei kann zwischen projekt-(Beginn/Ende) und tagesbasiert (Kommen/Gehen) unterschieden werden.</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-4.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-4.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-5.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-5.jpg" width="300"/></a>
				</div>
			</div>
			<p>Zeiterfassungeinträge können als berechnet, bezahlt oder geplant markiert werden. Zusätzlich können beim Erstellen oder Aktualisieren Zeiterfassungseinträge als Serie angelegt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-31.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-31.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-30.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-30.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Projekte</h3>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-1.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Kunden</h3>
			<p>Zeiterfassungeinträge können einzelnen Kunden zugeordnet werden. Diese können archiviert und damit in der Auswahlliste ausgeblendet werden. Außerdem lassen sich Hintergrund- und Textfarbe für die Kalenderansicht festlegen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-15.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-15.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-16.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-16.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-17.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-17.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Schnellerfassung</h3>
			<p>Über die Schnellerfassung kann durch einen einzelnen Klick der aktuelle Zeitpunkt als Beginn oder Ende erfasst werden.</p>
			<p>Wird der Link zu dieser Seite als Start-URL oder als mobiler Favorit angelegt, so kann sehr schnell der Beginn oder das Ende erfasst werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-6.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-6.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Zeiterfassungskategorien</h3>
			<p>Erfasste Zeiten können zusätzlich noch Kategorien zugeordnet werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-2.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-3.jpg" width="300"/></a>
				</div>
			</div>


			<h3>Projektbudgets</h3>
			<p>Für die einzelnen Projekte können Projektbudgets definiert werden. Dazu werden zugehörige Kategorien definiert. Wird eine neue Zeit erfasst und die gleichen (oder mehr) Kategorien werden vergeben, so wird dieser Zeiteintrag zum Budget hinzugerechnet.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-8.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-8.jpg" width="300"/></a>
				</div>
			</div>
			<p>Das Projektbudget kann anhand der gesamten Zeit, der modifierten Zeit oder der Anzahl der zugeordneten Zeiteinträge berechnet werden. Über die Hauptkategorie können mehrere Budgets gruppiert werden. Außerdem lassen sich drei Grenzwerte für die farbliche Hervorhebung (gelb, orange, rot) definieren.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-9.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-9.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-10.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-10.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-11.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-11.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Nachweise</h3>
			<p>Es ist möglich Nachweisarten, welche eine bestimmte Gültigkeit haben, festzulegen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-39.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-39.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-40.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-40.jpg" width="300"/></a>
				</div>
			</div>
			<p>Für Kunden kann dann erfasst werden ob der entsprechende Nachweis im festgelegten Zeitraum erbracht wurde.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-42.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-42.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-41.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-41.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Erinnerungen</h3>
			<p>Es ist möglich verschiedene Erinnerungen nach jedem Eintrag, nach dem letzten Eintrag eines Tages oder eine Stunde nach dem letzten Eintrag eines Tages festzulegen. Diese können dann bei den internen und Push-Benachrichtigungen abonniert werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-43.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-43.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-44.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-44.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Bemerkungen</h3>
			<p>Bei Zeiterfassungseinträgen, Kunden und Zeiterfassungsprojekten können end-to-end verschlüsselte (E2EE) Bemerkungen und Dateien gespeichert werden. Diese Daten verlassen das Gerät nie unverschlüsselt und werden ausschließlich verschlüsselt vom Server empfangen und gespeichert.</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-27.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-27.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-28.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-28.jpg" width="300"/></a>
				</div>
			</div>

			<p>Um Bemerkungen nutzen zu können muss beim Zeiterfassungsprojekt zuerst ein Passwort festgelegt werden.</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-18.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-18.jpg" width="300"/></a>
				</div>
			</div>

			<p>Das hinterlegte Passwort kann später auch geändert werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-19.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-19.jpg" width="300"/></a>
				</div>
			</div>

			<p>Wenn das Passwort vergessen wird kann der Wiederherstellungsschlüssel für das Zurücksetzen des Passworts verwendet werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-25.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-25.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-32.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-32.jpg" width="300"/></a>
				</div>
			</div>

			<p style="background-color: #ff3737; padding:1rem; color: white;">Sollte sowohl Passwort vergessen werden als auch der Wiederherstellungsschlüssel nicht gespeichert sein können keine Daten wiederhergestellt werden!</p>

			<p>Bevor Bemerkungen eingetragen oder ausgelesen werden können muss das Passwort eingegeben werden. Dieses Passwort wird im Browser zwischengespeichert.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-20.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-20.jpg" width="300"/></a>
				</div>
			</div>

			<p>Bemerkungen können entweder in ein generisches Textfeld oder in individuell konfigurierbare Felder eingetragen werden.</p>
			<p>Die frei konfigurierbaren Felder können als Textfeld, Textbereich, Dropdown oder HTML festgelegt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-12.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-12.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-13.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-13.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-14.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-14.jpg" width="300"/></a>
				</div>
			</div>

			<p>Bemerkungen können dann bei Zeiterfassungseinträgen und Kunden gespeichert werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-21.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-21.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-22.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-22.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-24.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-24.jpg" width="300"/></a>
				</div>
			</div>
			<p>Bei Projekten wird derzeit lediglich das spezielle Feld "legend" beim Projekt in der Kalenderansicht angezeigt.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-23.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-23.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-26.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-26.jpg" width="300"/></a>
				</div>
			</div>
			<h3>Kalenderansicht</h3>
			<p>In der Kalenderansicht können die Termine in einer Monats-, Wochen- und Tagesansicht oder als Liste dargestellt werden. Dabei können die Hauptzeiten sowie ausblendbare Wochentage (nur Wochen- und Tagesansicht) beim Projekt festgelegt werden.</p>
			<p>Beim Klick in den Kalender kann ein neuer Termin angelegt werden. Ein Klick auf ein Ereignis öffnet einen Dialog mit Details. Dort besteht ein Link zur Bemerkung des Kunden und des Zeiterfassungseintrags sowie um den Eintrag zu bearbeiten. Ein Eintrag kann direkt gelöscht werden oder bei Einträgen, die Teil einer Serie sind kann dieser und nachfolgende Einträge gelöscht werden.</p>
			<p>Wurden Hintergrund- und Textfarbe eines Kunden festgelegt so werden die Einträge entsprechend eingefärbt. Außerdem wird unter dem Kalender die verschlüsselte Legende angezeigt.</p>
			<p>Die zuletzt aufgerufene Ansicht sowie das Datum werden für den nächsten Aufruf gespeichert.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-29.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-29.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Export</h3>
			<p>Die erfassten Stunden und Bemerkungen können in verschiedene Formate exportiert werden.</p>
			<p>Der Export nach Excel ermöglicht eine Übersicht über die einzelnen Stunden im ausgewählten Zeitraum.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-33.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-33.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/100_timesheets-7.png" target="_blank"><img src="{{baseURL}}/static/help/100_timesheets-7.png" width="300"/></a>
				</div>
			</div>

			<p>Der HTML Export ermöglicht das Anzeigen und Exportieren als Zeiterfassungeinträge inklusive verschlüsster Bemerkungen. Die Notizen können nach der Entschlüsselung nach Word exportiert werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-34.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-34.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-35.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-35.jpg" width="300"/></a>
				</div>
			</div>

			<p>Die Kunden Übersicht ermöglicht eine tabellarische Übersicht aller Kunden inklusive gewählter verschlüsselten Bemerkungen. Diese Übersicht kann nach der Entschlüsselung nach Excel exportiert werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-36.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-36.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-37.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-37.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/10_timesheets-38.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/10_timesheets-38.jpg" width="300"/></a>
				</div>
			</div>

		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="workouts">Modul Workouts</h2>
		</div>
		<div class="page-content">
			<p>Im Modul Workouts lassen sich Fitness-Trainings anlegen und verwalten.</p>
			<p>Beim Anlegen eines Trainingsplan kann aus den verfügbaren Übungen ausgewählt werden. Die Liste kann durchsucht und nach Körperbereich gefiltert werden. 
																																																																																																																																																														                Die Anzahl der durchzuführenden Sätze kann unten festgelegt werden. Durch Anklicken des Plus-Symbols wird die Übung dann in den Trainingsplan übernommen.
																																																																																																																																																														                Dort können dann eine Bemerkung und die Sätze festgelegt werden.</p>
			<p>Übungen lassen sich über das Minus-Symbol wieder aus dem Trainingsplan entfernen und über das Kreuz-Symbol verschieben.</p>
			<p>Zusätzlich können Trainingstage und Supersätze festgelegt werden.</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-1.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-18.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-18.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-14.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-14.jpg" width="300"/></a>
				</div>
			</div>

			<p>Durch einen Klick auf den Trainingsplan in der Übersichtsliste lassen sich dieser anzeigen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-2.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Übungen anzeigen</h3>
			<p>Alle verfügbaren Übungen lassen sich im Menü unter "Übungen" anzeigen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-15.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-15.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Trainingseinheit erfassen</h3>
			<p>Nach dem Anklicken eines Trainingsplan lassen sich die Trainingseinheiten anzeigen und erfassen.</p>
			<p>Wenn in einem Trainingsplan Trainingstage festgelegt wurden, muss zuerst ein Tag ausgewählt werden. Anschließend werden alle Übungen aus dem Trainingsplan angezeigt.</p>
			<p>Einzelne Übungen lassen sich entfernen und verschieben. Außerdem ist es möglich manuell Übungen hinzuzufügen. Bei jeder Übung können die Sätze bearbeitet und eine Notiz hinterlegt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-16.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-16.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-26.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-26.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-17.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-17.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-19.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-19.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-21.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-21.jpg" width="300"/></a>
				</div>
			</div>

			<p>Während dem Training kann eine Trainingseinheit interaktiv erfasst werden:</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-22.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-22.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Vorlagen anwenden</h3>
			<p>Unter Trainingsplan Vorlagen können vom Administrator vordefinierte Vorlagen angezeigt und als eigenen Trainingsplan übernommen werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-3.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-23.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-23.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Trainingsstatistiken</h3>
			<p>Es können Trainingsstatistiken für den aktuellen Plan oder für alle Pläne angezeigt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-25.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-25.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-24.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-24.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Administrator-Funktionen</h3>
			<p>Als Administrator ist es möglich verschiedene Daten anzupassen und zu ergänzen.</p>

			<h4>Übungen verwalten</h4>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-6.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-6.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-7.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-7.jpg" width="300"/></a>
				</div>
			</div>

			<h4>Vorlagen verwalten</h4>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-3.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-4.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-4.jpg" width="300"/></a>
				</div>
			</div>

			<h4>Muskelgruppen verwalten</h4>
			<p>Es ist möglich die einzelnen Muskelgruppen und die Bilder zu verwalten. Dabei gibt es ein Hauptbild und pro Muskel ein primär und sekundär Bild, welches über das Hauptbild gelegt werden kann (Transparenz).</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-8.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-8.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-10.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-10.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-9.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-9.jpg" width="300"/></a>
				</div>
			</div>

			<h4>Körperbereiche verwalten</h4>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-11.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-11.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/11_workouts-12.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/11_workouts-12.jpg" width="300"/></a>
				</div>
			</div>

		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="recipes">Modul Rezepte</h2>
		</div>
		<div class="page-content">
			<p>Im Modul Rezepte können Rezepte erfasst und zu Kochbüchern oder Speisepläne hinzugefügt werden.</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-1.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-2.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Zutaten verwalten</h3>
			<p>Für die einzelnen Schritte bei Rezepten können Zutaten hinterlegt werden. Diese müssen zuerst angelegt werden.</p>

			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-9.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-9.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-10.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-10.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Rezept anlegen/bearbeiten</h3>
			<p>Beim Anlegen oder Bearbeiten eines Rezepts müssen einzelne Arbeitsschritte erstellt werden. Den einzelnen Schritten können dann Beschreibungen und Zutaten hinzugefügt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-3.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-3.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Kochbücher</h3>
			<p>Es können Kochbücher als Rezeptsammlung angelegt werden. Diese können auch mit anderen Nutzern geteilt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-5.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-5.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-6.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-6.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-7.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-7.jpg" width="300"/></a>
				</div>
			</div>

			<p>In der Rezeptansicht kann ein Rezept zu einem Kochbuch hinzugefügt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-2.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-2.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-4.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-4.jpg" width="300"/></a>
				</div>
			</div>

			<p>Wird ein Rezept aus dem Kochbuch heraus aufgerufen kann dieses wieder aus dem Kochbuch entfernt werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-8.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-8.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Speisepläne</h3>
			<p>Es ist möglich für einzelne Wochentage Rezepte und Notizen als Speiseplan zu hinterlegen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-11.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-11.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-12.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-12.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-13.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-13.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-14.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-14.jpg" width="300"/></a>
				</div>
			</div>

			<h3>Einkaufslisten</h3>
			<p>Über Einkaufslisten können notwendige Zutaten/Lebensmittel oder sonstige notwendige Einkäufe erfasst werden.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-15.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-15.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-16.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-16.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-17.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-17.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/12_recipes-18.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/12_recipes-18.jpg" width="300"/></a>
				</div>
			</div>
		</div>
	</div>
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2 id="admin">Spezielle Admin-Funktionen</h2>
		</div>
		<div class="page-content">

			<p>Als Administrator können verschiedene weitere Funktionen innerhalb der Web Anwendung angezeigt und bearbeitet werden.</p>
			<ul>
				<li>Übersicht über alle gespeicherten Logins</li>
				<li>Übersicht über gesperrte IP-Adressen (nach drei fehlerhaften Login Versuchen)</li>
				<li>Verwalten von Benutzern</li>
				<li>Testen von Push-Benachrichtigungen</li>
			</ul>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_settings.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_settings.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_logintokens-1.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_logintokens-1.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_banlist.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_banlist.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_users.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_users.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_notifications-5.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_notifications-5.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_notifications-6.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_notifications-6.jpg" width="300"/></a>
				</div>
			</div>
			<h3>Festlegen individueller Benachrichtigskategorien</h3>
			<p>Es ist möglich nutzerspezifische individuelle Benachrichtigungskategorien festzulegen.</p>
			<div class="image-gallery">
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_notifications-7.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_notifications-7.jpg" width="300"/></a>
				</div>
				<div class="image">
					<a href="{{baseURL}}/static/help/de/2_notifications-8.jpg" target="_blank"><img src="{{baseURL}}/static/help/de/2_notifications-8.jpg" width="300"/></a>
				</div>
			</div>
			<p>Über den folgenden Aufruf können so automatisiert Benachrichtigungen an Nutzer, die die entsprechende Kategorie abonniert haben, gesendet werden.</p>
			<pre>
curl "http://&lt;user&gt;:&lt;password&gt;@&lt;domain&gt;/api/notifications/notify?category=test_notification_cat&title=Test%20title&message=Test%20message"
</pre>
			<p>beispielweise mit
				<a href="https://appriseit.com/services/json/" target="_blank">apprise</a>:</p>
			<pre>
apprise -vv -t "Test title" -b "Test message" \
   "json://&lt;user&gt;:&lt;password&gt;@&lt;domain&gt;/api/notifications/notify?:category=test_notification_cat"
</pre>
		</div>
	</div>
{% endblock %}
