{% extends "base.twig" %}

{% set active = 'finances' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/randomColor.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>
	<script src="{{baseURL}}/static/assets/js/chart.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/finances-stats.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('finances_stats') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>
				{% if type == 0 %}
					{{"FINANCES_SPENDINGS"|trans}}
				{% else %}
					{{"FINANCES_INCOMES"|trans}}
				{% endif %}
				{{"IN"|trans}}
				{{month}}/{{year}}
				{{"FOR"|trans}}
				{{"CATEGORY"|trans}}
				{{category|raw}}
			</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<div id="financeDetailChartLegend"></div>
			<canvas id="financeDetailChart" data-values="{{data}}" data-labels="{{labels}}"></canvas>

			<table id="stats_cat_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{"DESCRIPTION"|trans}}</th>
						<th>{{"VALUE"|trans}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for entry in stats %}
						<tr>
							<td data-title="{{"DESCRIPTION"|trans}}">{{entry.description|raw}}</td>
							<td data-title="{{"VALUE"|trans}}">{{entry.value}}</td>
							<td>
								<a href="{{ url_for('finances_edit', {'id' : entry.id}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
							</td>
							<td>
								{% if entry.bill is empty %}
									<a href="#" data-url="{{ url_for('finances_delete', {'id' : entry.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>

{% endblock %}
