{% extends "base.twig" %}

{% set active = 'finances' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/randomColor.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>
	<script src="{{baseURL}}/static/assets/js/chart.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/finances-stats.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{lang["MENU_FINANCES"]}}
				{{lang["STATS"]}}</h2>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "finances/finances-tabs.twig" with {'active':'finances_stats'} only %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<canvas id="financeSummaryChart" data-values1="{{data1}}" data-values2="{{data2}}" data-labels="{{labels}}" data-label1="{{lang["FINANCES_SPENDINGS"]}}" data-label2="{{lang["FINANCES_INCOMES"]}}"></canvas>

			<table id="stats_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{lang["YEAR"]}}</th>
						<th>{{lang["FINANCES_INCOMES"]}}</th>
						<th>{{lang["FINANCES_SPENDINGS"]}}</th>
						<th>{{lang["DIFFERENCE"]}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for year, entry in stats %}
						<tr>
							<td data-title="{{lang["YEAR"]}}">{{year}}</td>
							<td data-title="{{lang["FINANCES_INCOMES"]}}">
								<a href="{{ url_for('finances_stats_category', { 'year' : year, 'type' :1 }) }}">{{entry[1]}}</a>
							</td>
							<td data-title="{{lang["FINANCES_SPENDINGS"]}}">
								<a href="{{ url_for('finances_stats_category', { 'year' : year, 'type' :0 }) }}">{{entry[0]}}</a>
							</td>
							<td data-title="{{lang["DIFFERENCE"]}}">{{ (entry[1] - entry[0])|number_format(2, '.', '')}}</td>
							<td>
								<a href="{{ url_for('finances_stats_year', { 'year' : year }) }}">{{ fontawesome('fas fa-chart-bar') }}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
