{% extends "base.twig" %}

{% set active = 'finances' %}


{% block body %}

    <div class="inner-content">
        <div class="page-header">
            <h2>{% if type == 0 %} {{lang["FINANCES_SPENDINGS"]}} {% else %} {{lang["FINANCES_INCOMES"]}} {% endif %}
                {{lang["IN"]}} {{month}}/{{year}}
            </h2>
            <button class="white" id="go-back-btn">{{lang["BACK"]}}</button>
        </div>
        <div class="page-content">
            
            <canvas id="financeDetailChart" data-values="{{data}}" data-labels="{{labels}}"></canvas>
            
            <table id="stats_month_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["CATEGORY"]}}</th>
                        <th>{{lang["COUNT"]}}</th>
                        <th>{{lang["SUM"]}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in stats %}
                        <tr>
                            <td data-title="{{lang["CATEGORY"]}}">{{entry.category}}</td> 
                            <td data-title="{{lang["COUNT"]}}">{{entry.count}}</td> 
                            <td data-title="{{lang["SUM"]}}">{{entry.sum}}</td> 
                            <td><a href="{{  path_for('finances_stats_month_category', {'year' : entry.year, 'month' : entry.month, 'type' :entry.type, 'category' : entry.category_id}) }}"><span class="fa fa-info fa-lg"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}