{% extends "base.twig" %}

{% set active = 'finances' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/chart.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/finances-stats.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('finances_stats') }}">
				<div class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{lang["FINANCES_SPENDINGS"]}}/{{lang["FINANCES_INCOMES"]}}
				{{lang["IN"]}}
				{{year}}
			</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<canvas id="financeSummaryChart" data-values1="{{data1}}" data-values2="{{data2}}" data-labels="{{labels}}" data-label1="{{lang["FINANCES_SPENDINGS"]}}" data-label2="{{lang["FINANCES_INCOMES"]}}"></canvas>

			<table id="stats_year_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{lang["MONTH"]}}</th>
						<th>{{lang["FINANCES_INCOMES"]}}</th>
						<th>{{lang["FINANCES_SPENDINGS"]}}</th>
						<th>{{lang["DIFFERENCE"]}}</th>
					</tr>
				</thead>
				<tbody>
					{% for month, entry in stats %}
						<tr>
							<td data-title="{{lang["MONTH"]}}">{{month}}</td>
							<td data-title="{{lang["FINANCES_INCOMES"]}}">
								<a href="{{ url_for('finances_stats_month_type', {'type' : 1, 'year' : year, 'month' : month }) }}">{{entry[1]}}</a>
							</td>
							<td data-title="{{lang["FINANCES_SPENDINGS"]}}">
								<a href="{{ url_for('finances_stats_month_type', {'type' : 0, 'year' : year, 'month' : month }) }}">{{entry[0]}}</a>
							</td>
							<td data-title="{{lang["DIFFERENCE"]}}">{{entry[1] - entry[0]}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
