{% extends "base.twig" %}

{% set active = 'finances' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header">
            <h2>{% if type == 0 %} {{lang["FINANCES_SPENDINGS"]}} {% else %} {{lang["FINANCES_INCOMES"]}} {% endif %}
                {{lang["IN"]}} {{year}} {{lang["FOR"]}} {{lang["CATEGORY"]}} {{category|raw}}
            </h2>
            <div class="buttons">
                <a href="{{ url_for_with_last_query_params('finances_stats_category', {'year':year, 'type':type}) }}"><button class="white">{{lang["BACK"]}} {{ fontawesome('fas fa-level-up-alt') }}</button></a>
            </div>
        </div>
        <div class="page-content">

            <canvas id="financeDetailChart" data-values="{{data}}" data-labels="{{labels}}" {%if count > 20 %}class="big"{%endif%}></canvas>

            <table id="stats_cat_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["DATE"]}}</th>
                        <th>{{lang["TIME"]}}</th>
                        <th>{{lang["DESCRIPTION"]}}</th>
                        <th>{{lang["VALUE"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in stats %}
                        <tr>
                            <td data-title="{{lang["DATE"]}}">{{entry.date}}</td> 
                            <td data-title="{{lang["TIME"]}}">{{entry.time}}</td> 
                            <td data-title="{{lang["DESCRIPTION"]}}">{{entry.description|raw}}</td> 
                            <td data-title="{{lang["VALUE"]}}">{{entry.value}}</td> 
                            <td><a href="{{  url_for('finances_edit', {'id' : entry.id}) }}">{{ fontawesome('fas fa-edit') }}</a></td>
                            <td>{% if entry.bill is empty %}<a href="#" data-url="{{  url_for('finances_delete', {'id' : entry.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}