{% extends "base.twig" %}

{% set active = 'car_service' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"CAR_REFUEL"|trans}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('car_service_refuel_edit') }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{"ADD"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "cars/cars-tabs.twig" with {'active':'car_service_refuel'} only %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<table id="fuel_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{"DATE"|trans}}</th>
						<th>{{"CAR"|trans}}</th>
						<th>{{"MILEAGE"|trans}}</th>
						<th>{{"PRICE"|trans}}</th>
						<th>{{"VOLUME"|trans}}</th>
						<th>{{"TOTAL_PRICE"|trans}}</th>
						<th>{{"TYPE"|trans}}</th>
						<th>{{"CONSUMPTION"|trans}}</th>
						<th>{{"LOCATION"|trans}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for entry in fuel_table %}
						<tr>
							<td>{{entry[0]}}</td>
							<td>{{entry[1]|raw}}</td>
							<td>{{entry[2]}}</td>
							<td>{{entry[3]}}</td>
							<td>{{entry[4]}}</td>
							<td>{{entry[5]}}</td>
							<td>{{entry[6]}}</td>
							<td>{{entry[7]}}</td>
							<td>{{entry[8]|raw}}</td>
							<td>{{entry[9]|raw}}</td>
							<td>{{entry[10]|raw}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
