{% extends "base.twig" %}

{% set active = 'settings' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["NOTIFICATIONS"]}}</h2></div>
        <div class="page-content">
            <table id="notifications_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["LOGIN"]}}</th>
                        <th>{{lang["IP_ADDRESS"]}}</th>
                        <th>{{lang["USER_AGENT"]}}</th>
                        <th>{{lang["CREATED_ON"]}}</th>
                        <th>{{lang["CHANGED_ON"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in list %}
                        <tr>
                            <td data-title="{{lang["LOGIN"]}}">{{users[entry.user].login}}</td> 
                            <td data-title="{{lang["IP_ADDRESS"]}}">{{entry.ip}}</td> 
                            <td data-title="{{lang["USER_AGENT"]}}">{{entry.agent}}</td> 
                            <td data-title="{{lang["CREATED_ON"]}}">{{entry.createdOn|date(i18n.dateformatTwig.date)}}</td> 
                            <td data-title="{{lang["CHANGED_ON"]}}">{{entry.changedOn is null ? "" : entry.changedOn|date(i18n.dateformatTwig.date)}}</td>
                            
                            
                            <td><a href="{{  url_for('notifications_test', {'id' : entry.id}) }}">{{ fontawesome('far fa-bell') }}</a></td>
                            <td><a href="#" data-url="{{  url_for('notifications_delete', {'id' : entry.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}