{% extends "base.twig" %}

{% set active = 'notifications' %}

{% block javascript %}
	<script src="{{baseURL}}/static/js/mail-notifications.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/notifications.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('notifications')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{lang["NOTIFICATIONS"]}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="inner-content-header light">
			<h2>{{lang["MAIL_SETTINGS"]}}</h2>
		</div>
		<div class="page-content">
			<div id="mail_notifications_categories_list_user">
				<form>
					{% for cat in mail["categories"] %}
						{% if cat.identifier == 'MAIL_CATEGORY_SPLITTED_BILLS' %}
							{% if user.hasModule("splitbills") %}
								<div class="form-group">
									{{ lang[cat.name] }}
									{% for group in splitbill["user_groups"]  %}
										<div>
											<label class="checkbox">
												<input name="user_mail_categories[]" value="{{cat.id}}_{{ group }}" type="checkbox" class="set_mail_category_user" {% if "%s_%s"|format(cat.id, group) in mail["user_categories"] %} checked {% endif %}>
												{{splitbill["groups"][group].name}}
											</label>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						{% elseif cat.identifier == 'MAIL_CATEGORY_BOARDS_CARD_ADD' %}
							{% if user.hasModule("boards") %}
								<div class="form-group">
									{{ lang[cat.name] }}
									{% for board in boards["user_boards"]  %}
										<div>
											<label class="checkbox">
												<input name="user_mail_categories[]" value="{{cat.id}}_{{ board }}" type="checkbox" class="set_mail_category_user" {% if "%s_%s"|format(cat.id, board) in mail["user_categories"] %} checked {% endif %}>
												{{boards["boards"][board].name}}
											</label>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						{% elseif cat.identifier == 'MAIL_CATEGORY_BOARDS_CARD_DUE' %}
							{% if user.hasModule("boards") %}
								<div class="form-group">
									{{ lang[cat.name] }}
									{% for board in boards["user_boards"]  %}
										<div>
											<label class="checkbox">
												<input name="user_mail_categories[]" value="{{cat.id}}_{{ board }}" type="checkbox" class="set_mail_category_user" {% if "%s_%s"|format(cat.id, board) in mail["user_categories"] %} checked {% endif %}>
												{{boards["boards"][board].name}}
											</label>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						{% elseif cat.identifier == 'MAIL_CATEGORY_FINANCE_STATISTIC'  %}
							{% if user.hasModule("finances") %}
								<div class="form-group">
									<label class="checkbox">
										<input name="user_mail_categories[]" value="{{cat.id}}" type="checkbox" class="set_mail_category_user" {% if cat.id in mail["user_categories"] %} checked {% endif %}>
										{{lang[cat.name]}}
									</label>
								</div>
							{% endif %}
						{% elseif cat.identifier == 'MAIL_CATEGORY_BOARDS_ADD'  %}
							{% if user.hasModule("boards") %}
								<div class="form-group">
									<label class="checkbox">
										<input name="user_mail_categories[]" value="{{cat.id}}" type="checkbox" class="set_mail_category_user" {% if cat.id in mail["user_categories"] %} checked {% endif %}>
										{{lang[cat.name]}}
									</label>
								</div>
							{% endif %}

						{% endif %}

					{% endfor %}
				</form>
			</div>
		</div>
	</div>


	<div class="inner-content">
		<div class="inner-content-header light">
			<h2>{{lang["NOTIFICATIONS"]}}</h2>
		</div>
		<div class="page-content">
			<div id="notifications_categories_list_user">
				<form>
					{% include 'notifications/notification_categories.twig' with {'type': 'user'} %}
				</form>
			</div>
		</div>
	</div>

	<div class="inner-content">
		<div class="inner-content-header light">
			<h2>{{lang["PUSH_NOTIFICATIONS"]}}</h2>
		</div>
		<div class="page-content">

			<button id="enable_notifications" class="button hidden">
				{{lang["ENABLE_NOTIFICATIONS"]}}
			</button>

			<p class="hidden" id="ifttt_enable">{{ lang["PUSH_NOT_AVAILABLE_IFTTT_ENABLE"] }}</p>

			<div id="notifications_categories_list" class="hidden">
				{% include 'notifications/notification_categories.twig' with {'type': 'client'} %}
			</div>
			<div class="loading-icon loading-icon-notification-categories centered">
				<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
			</div>


			<div id="ifttt_url_wrapper" class="{% if notifications["ifttt_clients"]|length == 0 %}hidden{% endif %}">
				<h3>IFTTT</h3>

				{% for ifttt_client in notifications["ifttt_clients"] %}

					<div class="ifttt_client_wrapper">

						<p>{{ lang["PUSH_NOT_AVAILABLE_IFTTT_ENABLED"] }}</p>

						<input type="hidden" name="ifttt_url" id="ifttt_url" value="{{ ifttt_client.endpoint }}"/>
						<button id="ifttt_url_remove" class="button button-outlined small">{{ lang["DELETE_IFTTT_URL"] }}</button>

						<div class="notifications_categories_list_ifttt" class="hidden">
							{% include 'notifications/notification_categories.twig' with {'type': 'client'} %}
						</div>
						<div class="loading-icon loading-icon-notification-categories centered">
							<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
						</div>
					</div>

				{% endfor %}

				<div class="ifttt_client_wrapper">
					<p>{{ lang["PUSH_NOT_AVAILABLE_IFTTT_ENABLE_DESCRIPTION"] }}</p>
					<label for="ifttt_url" class="text">IFTTT-URL</label>
					<input type="text" name="ifttt_url" id="ifttt_url" value=""/>
					<button id="ifttt_url_save" class="button">{{ lang["SAVE_IFTTT_URL"] }}</button>
				</div>
			</div>


		</div>
	</div>

</div>{% endblock %}
