{% extends "base.twig" %}

{% set active = 'notifications' %}

{% block javascript %}
	<script src="{{baseURL}}/static/js/notifications.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block body %}

	<div class="inner-content">
		<div class="page-header">
			<h2>{{lang["NOTIFICATIONS"]}}</h2>
			<div class="buttons">
				<a href="{{ url_for_with_last_query_params('notifications')}}">
					<button class="button">{{lang["BACK"]}}
						{{ fontawesome('fas fa-turn-up') }}</button>
				</a>
			</div>
		</div>
		<div class="page-content">

			<div id="notifications_categories_list_user">
				<form>
					{% include 'notifications/notification_categories.twig' with {'type': 'user'} %}

				</form>
			</div>
		</div>
	</div>

	<div class="inner-content">
		<div class="page-header">
			<h2>{{lang["PUSH_NOTIFICATIONS"]}}</h2>
		</div>
		<div class="page-content">

			<button id="enable_notifications" class="button hidden">
				{{lang["ENABLE_NOTIFICATIONS"]}}
			</button>

			<p class="hidden" id="ifttt_enable">{{ lang["PUSH_NOT_AVAILABLE_IFTTT_ENABLE"] }}</p>

			<div id="notifications_categories_list" class="hidden">
				{% include 'notifications/notification_categories.twig' with {'type': 'client'} %}
			</div>
			<div class="loading-icon loading-icon-notification-categories centered">
				<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
			</div>


			<div id="ifttt_url_wrapper" class="{% if ifttt_clients|length == 0 %}hidden{% endif %}">
				<h3>IFTTT</h3>

				{% for ifttt_client in ifttt_clients %}

					<div class="ifttt_client_wrapper">

						<p>{{ lang["PUSH_NOT_AVAILABLE_IFTTT_ENABLED"] }}</p>

						<input type="hidden" name="ifttt_url" id="ifttt_url" value="{{ ifttt_client.endpoint }}"/>
						<button id="ifttt_url_remove" class="button danger small">{{ lang["DELETE_IFTTT_URL"] }}</button>

						<div class="notifications_categories_list_ifttt" class="hidden">
							{% include 'notifications/notification_categories.twig' with {'type': 'client'} %}
						</div>
						<div class="loading-icon loading-icon-notification-categories centered">
							<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
						</div>
					</div>

				{% endfor %}

				<div class="ifttt_client_wrapper">
					<p>{{ lang["PUSH_NOT_AVAILABLE_IFTTT_ENABLE_DESCRIPTION"] }}</p>
					<label for="ifttt_url" class="text">IFTTT-URL</label>
					<input type="text" name="ifttt_url" id="ifttt_url" value=""/>
					<button id="ifttt_url_save" class="button">{{ lang["SAVE_IFTTT_URL"] }}</button>
				</div>
			</div>


		</div>
	</div>

</div>{% endblock %}
