{% extends "base.twig" %}

{% set active = 'notifications' %}

{% block javascript %}
	<script src="{{baseURL}}/static/js/notifications.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header multiple-buttons">
		<div class="page-headline">
			<h2>{{lang["NOTIFICATIONS"]}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('notifications_clients_manage') }}">
				<button class="button button-outlined">{{ fontawesome('fas fa-gears') }}
					{{lang["SETTINGS"]}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block body %}
	{% if message is defined %}
		<div class="alert hide-offline {{message_type}}">
			<span class="closebtn">&times;</span>
			<span class="alert-message">
				<p>{{message}}</p>
			</span>
		</div>
	{% endif %}

	<div class="notifications_overview">
		<div id="notifications"></div>
		<div id="loadingIconNotifications" class="centered loading-icon">
			<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
		</div>
		<div id="loadMoreNotifications" class="centered hidden">
			<button type="button" class="button">{{ lang["LOAD_MORE"] }}</button>
		</div>
	</div>

</div>{% endblock %}
