{% extends "base.twig" %}

{% set active = 'notifications' %}

{% block javascript %}
    <script src="{{baseURL}}/static/js/notifications.js?ver=20191203"></script>
{% endblock %}

{% block body %}

    {% if message is defined %}
        <div class="alert hide-offline {{message_type}}">
            <span class="closebtn" >&times;</span>
            <span class="alert-message">
                <p>{{message}}</p>
            </span>
        </div>
    {% endif %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["NOTIFICATIONS"]}}</h2>  
            <div class="buttons">
                <a href="{{  url_for('mail_manage') }}"><button class="white">{{ fontawesome('far fa-envelope') }} {{lang["MAIL_SETTINGS"]}}</button></a>
                <a href="{{  url_for('notifications_clients_manage') }}"><button class="white">{{ fontawesome('fas fa-cogs') }} {{lang["SETTINGS"]}}</button></a>
            </div>
        </div>
    </div>
    <div class="notifications_overview">
        <div id="notifications">
        </div>
        <div id="loadingIconNotifications" class="centered loading-icon">
            <span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
        </div>
        <div id="loadMoreNotifications" class="centered hidden">
            <button type="button">{{ lang["LOAD_MORE"] }}</button>
        </div>
    </div>

</div>
{% endblock %}