{% extends "base.twig" %}

{% set active = 'finances' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('finances_paymethod') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"FINANCES_PAYMETHOD"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" id="financeForm" action="{{ url_for('finances_paymethod_save', {'id' : entry.id}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
				{% endif %}


				<div class="form-group">
					<label for="inputName">{{"NAME"|trans}}</label>
					<input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %} value="{{entry.name|raw}}" {% endif %}>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxDefault">
						<input name="is_default" type="checkbox" id="checkboxDefault" value="1" {% if entry is not null and entry.is_default == 1 %} checked {% endif %}>
						{{"DEFAULT"|trans}}
					</label>
				</div>

				<div class="form-group">
					<label for="account">{{"FINANCES_ACCOUNT"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="account" name="account">
							{% for account in accounts %}
								{% if (account.archive != 1 or (entry is not null and account.id == entry.account)) %}
									<option value="{{account.id}}" {% if entry is not null and account.id == entry.account %} selected {% endif %}>{{account.name|raw}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>

				<h3>{{"FINANCES_ROUND_UP_SAVINGS"|trans}}</h3>
				<div class="form-group">
					<div>
						<label class="radio" for="radioDisabled">
							<input name="round_up_savings" type="radio" value="0" id="radioDisabled" {% if ( entry is null ) or (entry is not null and entry.round_up_savings == 0 )%} checked="checked" {% endif %}>
							{{"FINANCES_ROUND_UP_SAVINGS_DISABLED"|trans}}
						</label>
					</div>
					<div>
						<label class="radio" for="radio1">
							<input name="round_up_savings" type="radio" value="1" id="radio1" {% if (entry is not null and entry.round_up_savings == 1 )%} checked="checked" {% endif %}>
							1
							{{i18n.currency}}
						</label>
					</div>
					<div>
						<label class="radio" for="radio5">
							<input name="round_up_savings" type="radio" value="5" id="radio5" {% if (entry is not null and entry.round_up_savings == 5 )%} checked="checked" {% endif %}>
							5
							{{i18n.currency}}
						</label>
					</div>
				</div>

				<div class="form-group">
					<label for="round_up_savings_account">{{"FINANCES_ACCOUNT"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="round_up_savings_account" name="round_up_savings_account">
							{% for account in accounts %}
								{% if (account.archive != 1 or (entry is not null and account.id == entry.account)) %}
									<option value="{{account.id}}" {% if not entry is null and account.id == entry.round_up_savings_account %} selected {% endif %}>{{account.name|raw}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxArchived">
						<input name="archive" type="checkbox" value="1" id="checkboxArchived" {% if entry is not null and entry.archive == 1 %} checked {% endif %}>
						{{"ARCHIVED"|trans}}
					</label>
				</div>

				<div class="form-group-btn">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
