{% extends "base.twig" %}

{% set active = 'finances' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('finances_transaction_recurring') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"FINANCES_TRANSACTION_RECURRING"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" action="{{ url_for('finances_transaction_recurring_save', {'id' : entry.id}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
					<input name="last_run" type="hidden" value="{{entry.last_run}}">
				{% endif %}


				<div class="form-group">
					<label for="inputDescription">{{"DESCRIPTION"|trans}}</label>
					<input type="text" class="form-control" id="inputDescription" name="description" {% if not entry is null %} value="{{entry.description|raw}}" {% endif %}>
				</div>
				<div class="form-group">
					<label for="inputValue">{{"VALUE"|trans}}</label>
					<input type="number" required class="form-control" id="inputValue" name="value" step="any" inputmode="decimal" value="{% if not entry is null %}{{entry.value}}{% endif %}"/>
				</div>

				<div class="form-group">
					<label for="account_from">{{"FINANCES_TRANSACTION_ACCOUNT_FROM"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="account_from" name="account_from" value="{% if not entry is null %}{{entry.account_from}}{% endif %}">
							<option value="">{{"DROPDOWN_NO_PAYMETHOD"|trans}}</option>
							{% for account in accounts %}
								<option value="{{account.id}}" {% if (not entry is null and account.id == entry.account_from) %} selected {% endif %}>{{account.name|raw}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="account_to">{{"FINANCES_TRANSACTION_ACCOUNT_TO"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="account_to" name="account_to" value="{% if not entry is null %}{{entry.account_to}}{% endif %}">
							<option value="">{{"DROPDOWN_NO_PAYMETHOD"|trans}}</option>
							{% for account in accounts %}
								<option value="{{account.id}}" {% if (not entry is null and account.id == entry.account_to) %} selected {% endif %}>{{account.name|raw}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<h3>{{"INTERVAL"|trans}}</h3>
				<div class="form-group">
					<label for="dateSelectField">{{"START"|trans}}</label>
					<div class="flatpickr-group" id="dateSelect">
						<input type="text" class="form-control" id="dateSelectField" name="start" value="{% if not entry is null and not entry.start is null %}{{entry.start|date('Y-m-d')}}{% endif %}" data-input/>

						<a class="flatpickr-input-button" title="toggle" data-toggle>
							{{ fontawesome('fas fa-calendar-days') }}
						</a>

						<a class="flatpickr-input-button" title="clear" data-clear>
							{{ fontawesome('fas fa-xmark') }}
						</a>
					</div>
				</div>
				<div class="form-group">
					<label for="dateSelectEndField">{{"END"|trans}}</label>
					<div class="flatpickr-group" id="dateSelectEnd">
						<input type="text" class="form-control" id="dateSelectEndField" name="end" value="{% if not entry is null and not entry.end is null%}{{entry.end|date('Y-m-d')}}{% endif %}" data-input/>

						<a class="flatpickr-input-button" title="toggle" data-toggle>
							{{ fontawesome('fas fa-calendar-days') }}
						</a>

						<a class="flatpickr-input-button" title="clear" data-clear>
							{{ fontawesome('fas fa-xmark') }}
						</a>
					</div>
				</div>
				<div class="form-group">
					<label for="inputUnit">{{"UNIT"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="inputUnit" name="unit">
							{% for unit, unitName in units %}
								<option value="{{unit}}" {% if (not entry is null and unit == entry.unit) or (entry is null and unit == 'month') %} selected {% endif %}>{{unitName|trans}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputMultiplier">{{"MULTIPLIER"|trans}}</label>
					<input type="number" class="form-control" id="inputMultiplier" name="multiplier" step="1" pattern="\d*" value="{% if not entry is null %}{{entry.multiplier}}{% else %}1{% endif %}">
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxActive">
						<input name="is_active" type="checkbox" value="1" id="checkboxActive" {% if entry is not null and entry.is_active == 1 %} checked {% endif %}>
						{{"ACTIVE"|trans}}
					</label>
				</div>

				<div class="form-group">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
