{% extends "base.twig" %}

{% set active = 'finances' %}


{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["FINANCES_TRANSACTION_RECURRING"]}}</h2>
            <div class="buttons">
                <a href="{{  url_for_with_last_query_params('finances_transaction_recurring') }}"><button class="button white">{{lang["BACK"]}} {{ fontawesome('fas fa-level-up-alt') }}</button></a>
            </div>  
        </div>
        <div class="page-content">

            <form class="form-horizontal" action="{{ url_for('finances_transaction_recurring_save', {'id' : entry.id}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
                    <input name="last_run"  type="hidden" value="{{entry.last_run}}">
                {% endif %}

                
                <div class="form-group">
					<label for="inputDescription">{{lang["DESCRIPTION"]}}</label>
					<input type="text" class="form-control" id="inputDescription" name="description" {% if not entry is null %} value="{{entry.description|raw}}" {% endif %}>
				</div>
                <div class="form-group">
					<label for="inputValue">{{lang["VALUE"]}}</label>
					<input type="number" class="form-control" id="inputValue" name="value" step="any" value="{% if not entry is null %}{{entry.value}}{% else %}0{% endif %}"/>
				</div>

				<div class="form-group">
					<label for="account_from">{{lang["FINANCES_TRANSACTION_ACCOUNT_FROM"]}}</label>
					<select class="form-control" id="account_from" name="account_from" value="{% if not entry is null %}{{entry.account_from}}{% endif %}">
						<option value="">{{lang["DROPDOWN_NO_PAYMETHOD"]}}</option>
						{% for account in accounts %}
							<option value="{{account.id}}" {% if (not entry is null and account.id == entry.account_from) %} selected {% endif %}>{{account.name|raw}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="account_to">{{lang["FINANCES_TRANSACTION_ACCOUNT_TO"]}}</label>
					<select class="form-control" id="account_to" name="account_to" value="{% if not entry is null %}{{entry.account_to}}{% endif %}">
						<option value="">{{lang["DROPDOWN_NO_PAYMETHOD"]}}</option>
						{% for account in accounts %}
							<option value="{{account.id}}" {% if (not entry is null and account.id == entry.account_to) %} selected {% endif %}>{{account.name|raw}}</option>
						{% endfor %}
					</select>
				</div>

                <h3>{{lang["INTERVAL"]}}</h3>
                <div class="form-group">
                    <label for="dateStart">{{lang["START"]}}</label>
                    <input type="text" class="form-control" id="dateSelect" name="start" value="{% if not entry is null and not entry.start is null %}{{entry.start|date('Y-m-d')}}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="dateEnd">{{lang["END"]}}</label>
                    <input type="text" class="form-control" id="dateSelectEnd" name="end" value="{% if not entry is null and not entry.end is null%}{{entry.end|date('Y-m-d')}}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="inputUnit">{{lang["UNIT"]}}</label>
                    <select class="form-control" id="inputUnit" name="unit">
                        {% for unit, unitName in units %}
                            <option value="{{unit}}" {% if (not entry is null and unit == entry.unit) or (entry is null and unit == 'month') %}selected{% endif %}>{{lang[unitName]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputMultiplier">{{lang["MULTIPLIER"]}}</label>
                    <input type="number" class="form-control" id="inputMultiplier" name="multiplier" step="1" value="{% if not entry is null %}{{entry.multiplier}}{% else %}1{% endif %}">
                </div>

                <div class="form-group">
                    <label class="checkbox" for="checkboxActive">
                        <input name="is_active" type="checkbox" value="1" id="checkboxActive" {% if entry is not null and entry.is_active == 1 %}checked{% endif %}>
                        {{lang["ACTIVE"]}}
                    </label>
                </div>

                <div class="form-group">
                    <button type="submit" class="button">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="button danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}