{% extends "base.twig" %}

{% set active = 'finances' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('finances_account') }}">
				<span class="back-arrow">{{ fontawesome('fas fa-arrow-left') }}</span>
			</a>
			<h2>{{lang["FINANCES_TRANSACTIONS_RECURRING"]}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('finances_transaction_recurring_edit') }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{lang["ADD"]}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<table id="transaction_recurring_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{lang["DESCRIPTION"]}}</th>
						<th>{{lang["VALUE"]}}</th>
						<th>{{lang["FINANCES_TRANSACTION_ACCOUNT_FROM"]}}</th>
						<th>{{lang["FINANCES_TRANSACTION_ACCOUNT_TO"]}}</th>
						<th>{{lang["START"]}}</th>
						<th>{{lang["END"]}}</th>
						<th>{{lang["INTERVAL"]}}</th>
						<th>{{lang["LAST_RUN"]}}</th>
						<th>{{lang["NEXT_RUN"]}}</th>
						<th>{{lang["ACTIVE"]}}</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for entry in list%}
						<tr>
							<td>{{entry.description|raw}}</td>
							<td>{{entry.value}}</td>
							<td>{{accounts[entry.account_from].name|raw}}</td>
							<td>{{accounts[entry.account_to].name|raw}}</td>
							<td>{{entry.start}}</td>
							<td>{{entry.end}}</td>
							<td>{{entry.multiplier}}
								x
								{{lang[units[entry.unit]]}}</td>
							<td>{{entry.last_run}}</td>
							<td>{{entry.next_run}}</td>
							<td>
								{% if entry.is_active > 0 %}x
								{% endif %}
							</td>
							<td>
								<a href="{{ url_for('finances_transaction_recurring_trigger', {'id' : entry.id}) }}">{{ fontawesome('fas fa-play') }}</a>
							</td>
							<td>
								<a href="{{ url_for('finances_transaction_recurring_edit', {'id' : entry.id}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
							</td>
							<td>
								<a href="#" data-url="{{ url_for('finances_transaction_recurring_delete', {'id' : entry.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
