{% extends "base.twig" %}

{% set active = 'splitbills' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline multiple-buttons">
			<a href="{{ url_for_with_last_query_params('splitbills')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"RECURRING"|trans}}
				{{"SPLITBILLS"|trans}}
				|
				{{group.name|raw}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('splitbill_bill_recurring_edit', {'group': group.getHash()}) }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{"ADD_BILL"|trans}}</button>
			</a>
			{% if group_users|length > 1 %}
				<a href="{{ url_for('splitbill_bill_recurring_edit', {'group': group.getHash()}) }}?type=settleup">
					<button class="button button-outlined">{{"SPLITBILLS_SETTLE_UP"|trans}}</button>
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<table id="splitbills_bills_recurring_table" class="table table-hover small" data-currency="{{i18n.currency}}" data-members="{{ group_users|length }}">
				<thead>
					<tr>
						<th>{{"NAME"|trans}}</th>
						{% if group_users|length > 1 %}
							<th>{{ "RECEIVED"|trans }}</th>
							<th>{{ "SPEND"|trans }}</th>
							<th>{{ "PAID"|trans }}</th>
							<th>{{ "BALANCE"|trans }}</th>
						{% else %}
							<th>{{ "SPEND"|trans }}</th>
						{% endif %}
						<th>{{"START"|trans}}</th>
						<th>{{"END"|trans}}</th>
						<th>{{"INTERVAL"|trans}}</th>
						<th>{{"LAST_RUN"|trans}}</th>
						<th>{{"NEXT_RUN"|trans}}</th>
						<th>{{"ACTIVE"|trans}}</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for bill in bills %}
						<tr>
							<td>{{ bill.name|raw }}</td>
							{% if group_users|length > 1 %}
								{% if bill.settleup == 1 %}
									<td>{{ bill.spend }}</td>
									{# received #}
									<td></td>
									<td>{{ bill.paid }}</td>
									<td></td>
								{% else %}
									<td></td>
									<td>{{ bill.spend }}</td>
									<td>{{ bill.paid }}</td>
									<td>{{ bill.balance }}</td>
								{% endif %}
							{% else %}
								<td>{{ bill.spend }}</td>
							{% endif %}
							<td>{{bill.start}}</td>
							<td>{{bill.end}}</td>
							<td>{{bill.multiplier}}&nbsp;x&nbsp;{{units[bill.unit]|trans}}</td>
							<td>{{bill.last_run}}</td>
							<td>{{bill.next_run}}</td>
							<td>
								{% if bill.is_active > 0 %}x
								{% endif %}
							</td>
							<td>
								{% if bill.user == user.id %}
									<a href="{{ url_for('splitbill_bill_recurring_trigger', {'id' : bill.id, 'group': group.getHash()}) }}">{{ fontawesome('fas fa-play') }}</a>
								{% endif %}
							</td>
							<td>
								{% if bill.user == user.id %}
									<a href="{{ url_for('splitbill_bill_recurring_edit', {'id' : bill.id, 'group': group.getHash()}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
								{% endif %}
							</td>
							<td>
								{% if bill.user == user.id %}
									<a href="#" data-url="{{ url_for('splitbill_bills_recurring_delete', {'id' : bill.id, 'group': group.getHash()}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
