{% extends "base.twig" %}

{% set active = 'index' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/weather-icons.min.css?ver={{CACHEMISS}}" />
{% endblock %}

{% block javascript %}
    <script src="{{baseURL}}/static/js/widgets.js?ver={{CACHEMISS}}"></script>
    <script src="{{baseURL}}/static/js/timesheets-fast.js?ver={{CACHEMISS}}"></script>
    <script src="{{baseURL}}/static/js/recipes-shoppinglist-click.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block body %}
    <div class="grid">
        {% for widget in list %}
            <div class="card" data-widget="{{ widget["id"] }}" data-widget-name="{{ widget["name"] }}">
                <div class="card-content">
                    <div class="card-header">
                        <h3>{% if widget["url"] is not null %}<a href="{{ widget["url"] }}">{{ widget["title"] | raw }}</a>{% else %}{{ widget["title"] | raw }}{% endif %}</h3>
                    </div>
                    {% include 'home/widgets/widget_loader.twig' with {'widget': widget} %}
                </div>
            </div>
        {%  endfor %}
    </div>
{% endblock %}