{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"WORKOUTS_BODYPARTS"|trans}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('workouts_bodyparts_edit') }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{"ADD"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "workouts/workouts-tabs.twig" with {'active':'workouts_bodyparts'} %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<table id="workouts_bodyparts_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{"NAME"|trans}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for bodypart in bodyparts %}
						<tr>
							<td>{{bodypart.name|raw}}</td>
							<td>
								<a href="{{ url_for('workouts_bodyparts_edit', {'id' : bodypart.id}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
							</td>
							<td>
								<a href="#" data-url="{{ url_for('workouts_bodyparts_delete', {'id' : bodypart.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
