{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('timesheets_customers', {'project': project.hash})}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>
				{% if project.customers_name_singular %}
					{{project.customers_name_singular}}
				{% else %}
					{{"TIMESHEETS_CUSTOMER"|trans}}
				{% endif %}
				|
				{{ project.name }}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" id="projectCustomersForm" action="{{ url_for('timesheets_customers_save', {'id' : entry.id, 'project' : project.hash}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
				{% endif %}

				<div class="form-group">
					<label for="inputName">{{"NAME"|trans}}</label>
					<input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %} value="{{entry.name}}" {% endif %}>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxArchived">
						<input name="archive" type="checkbox" value="1" id="checkboxArchived" {% if entry is not null and entry.archive == 1 %} checked {% endif %}>
						{{"ARCHIVED"|trans}}
					</label>
				</div>

				<div class="two-columns form-group">
					<div class="left">
						<h4>{{"BACKGROUND"|trans}}
							{{"COLOR"|trans}}</h4>
						<input class="form-control" id="inputBackgroundColor" name="background_color" type="color" value="{% if not entry is null and not entry.background_color is null %}{{entry.background_color}}{% else %}#FFFFFF{% endif %}">
					</div>
					<div class="right">
						<h4>{{"TEXT"|trans}}
							{{"COLOR"|trans}}</h4>
						<input class="form-control" id="inputTextColor" name="text_color" type="color"  value="{% if not entry is null and not entry.text_color is null%}{{entry.text_color}}{% else %}#000000{% endif %}">
					</div>
				</div>

				<div class="form-group-btn">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
