{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/docxjs.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/FileSaver.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/encryption-helper.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice-export-word.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{% if view =="calendar" %}{{ url_for_with_last_query_params('timesheets_calendar', {'project' : project.hash}) }}{% else %}{{ url_for_with_last_query_params('timesheets_customers', {'project' : project.hash}) }}{% endif %}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{lang["TIMESHEETS"]}}
				{{ lang["NOTICE"] }}|
				{{project.name|raw}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<div id="loadingIconTimesheetNotice" class="centered loading-icon">
				<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
			</div>

			<div id="alertError" class="alert danger hidden">
				<span class="closebtn">&times;</span>
				<span class="alert-message">
					<p>{{ lang["ENTRY_ERROR"] }}</p>
					<p id="alertErrorDetail"></p>
				</span>
			</div>
			<div id="timesheetNoticeWrapper" data-project="{{ project.id }}" class="hidden" data-name="{{customer.name}}" data-projectname="{{project.name}}">

				<form id="timesheetNoticeForm" class="form-horizontal" action="{{ url_for('timesheets_customers_notice_save', {'customer': customer.id, 'project': project.hash}) }}" method="POST">
					<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
					<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

					<div class="timesheet-notice-wrapper">

						<h3 class="sheet_title">{{ customer.name }}</h3>
						<small id="lastSavedWrapper" class="hidden">{{ lang["LAST_SAVED"]}}:
							<span id="lastSaved"></span>
						</small>

						<div class="timesheet-notice" data-id="{{ customer.id }}" data-type="customer">
							{% include "timesheets/noticefield/fields-edit.twig" with {fields} only %}
						</div>
					</div>

					<div class="form-group btn">
						<button type="submit" class="button">{{lang["SAVE"]}}</button>
						<button type="button" class="button button-outlined" id="wordExport">{{lang["EXPORT_WORD"]}}
							{{lang["TIMESHEETS_EXPORT"]}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
