{% extends "base.twig" %}

{% set active = 'recipes' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["RECIPES_MEALPLANS"]}}</h2> 
            <div class="buttons">
                <a href="{{  url_for('recipes_mealplans_edit') }}"><button class="button">{{ fontawesome('fas fa-plus') }} {{lang["ADD"]}}</button></a>
            </div>
        </div>
        <div class="page-content">
            <table id="recipes_mealplans_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{ lang["NAME"] }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for mealplan in mealplans %}
                        <tr>
                            <td><a href="{{  url_for('recipes_mealplans_view', {'mealplan' : mealplan.hash}) }}">{{ mealplan.name|raw }}</a></td> 
                            <td>
                                {% if mealplan.getOwner() == user.id %}
                                    <a href="{{  url_for('recipes_mealplans_edit', {'id' : mealplan.id}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
                                    {% endif %}
                            </td>
                            <td>
                                {% if mealplan.getOwner() == user.id %}
                                    <a href="#" data-url="{{  url_for('recipes_mealplans_delete', {'id' : mealplan.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
                                    {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}