{% extends "base.twig" %}

{% set active = 'recipes' %}

{% block javascript %}
	<script src="{{baseURL}}/static/js/datefilter.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/Sortable.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/recipes_mealplan.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('recipes_mealplans')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"RECIPES_MEALPLAN"|trans}}
				|
				{{ mealplan.name|raw }}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<form method="GET" id="tableHeaderFilter" action="{{ url_for('recipes_mealplans_view', {'mealplan' : mealplan.hash}) }}" class="search-filter">
				<input type="hidden" id="inputStart" name="from" value="{{from}}"/>
				<input type="hidden" id="inputEnd" name="to" value="{{to}}"/>
				<div class="filter-row">
					<div class="filter-element">
						<div class="flatpickr-group" id="dateRange">
							<input type="text" value="{{from}} to {{to}}" data-input/>

							<a class="flatpickr-input-button" title="toggle" data-toggle>
								{{ fontawesome('fas fa-calendar-days') }}
							</a>

							<a class="flatpickr-input-button" title="clear" data-clear>
								{{ fontawesome('fas fa-xmark') }}
							</a>
						</div>
					</div>
				</div>
				<div class="filter-row">
					<div class="filter-element">
						<input type="submit" class="button" value="{{"SHOW"|trans}}"/>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="mealplan-list">
		<div class="mealplans">
			{% for date in dates %}

				<div class="inner-content recipe-list">
					<div class="inner-content-header light">
						<h2>{{ date["full_date"] }}</h2>
					</div>
					<div class="page-content">
						<div class="mealplan-date">
							<div class="recipes-target" data-date="{{ date["date"] }}">
								{% for recipe_of_day in date["recipes"] %}
									<div class="mealplan-recipe" data-recipe="{{ recipe_of_day["recipe_id"] }}" data-id="{{ recipe_of_day["id"] }}">
										<div class="title">
											<div class="icons">
												<span class="handle">{{ fontawesome('fas fa-up-down-left-right') }}</span>
											</div>
											<h3>
												{% if recipe_of_day["recipe_id"] %}
													<a href="{{ url_for('recipes_recipe_view', {'recipe': recipe_of_day["recipe_hash"]}) }}">{{ recipe_of_day["recipe_name"]|raw }}</a>
												{% else %}
													{{ recipe_of_day["notice"] }}
												{% endif %}
											</h3>
										</div>
										<div class="icons">
											<span class="minus">{{ fontawesome('fas fa-minus') }}</span>
										</div>
									</div>
								{% endfor %}
							</div>
							<a class="create-notice add-element-text" href="#">{{ fontawesome('fas fa-plus') }}
								{{"ADD_NOTICE"|trans}}</a>
						</div>

					</div>
				</div>

			{% endfor %}
		</div>
		<div class="inner-content page-content mealplan-list-settings">
			<div class="recipe-filter">
				<input type="text" id="filterSearchRecipes" placeholder="{{ "SEARCHING"|trans }}"/>
			</div>
			<div class="content">
				<div id="recipes_list"></div>
				<div id="loadingIconRecipes" class="centered loading-icon">
					<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block bottom %}
	<div id="notice-modal" class="modal">
		<div class="modal-inner">
			<div class="modal-header">{{"ADD_NOTICE"|trans}}</div>
			<form>
				<div class="modal-content">
					<input name="date" type="hidden" value="">
					<div class="form-group">
						<label for="inputNotice">{{"NOTICE"|trans}}</label>
						<input class="form-control" id="inputNotice" name="notice" type="text">
					</div>
				</div>
				<div class="modal-footer">
					<div class="buttons">
						<input id="add-notice-modal" type="submit" class="button submit-btn" tabindex="-1" value="{{"ADD"|trans}}"/>
						<button id="modal-close-btn" class="button button-text cancel" type="button">{{"CANCEL"|trans}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="templates" class="hidden">
		<div class="mealplan-recipe">
			<div class="title">
				<div class="icons">
					<span class="handle">{{ fontawesome('fas fa-up-down-left-right') }}</span>
				</div>
				<h3 class="title"></h3>
			</div>
			<div class="icons">
				<span class="minus">{{ fontawesome('fas fa-minus') }}</span>
			</div>
		</div>
	</div>

{% endblock %}
