{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			{#<a href="{{ url_for_with_last_query_params('timesheets_sheets', {'project': project.hash})}}">
				<div class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>#}
			<h2>{{lang["TIMESHEETS_PROJECT_CATEGORY_BUDGETS"]}}
				|
				{{ project.name }}</h2>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "timesheets/timesheet-sheets-tabs.twig" with {'active':'timesheets_project_categorybudget_view'} %}
{% endblock %}

{% block body %}
	{% for customer in categorybudgets %}
		<div class="inner-content">
			{% if customer["name"] %}
				<div class="inner-content-header light">
					<h2>{{ customer["name"] }}</h2>
				</div>
			{% endif %}
			{% for main_cat in customer["items"] %}
				<div class="page-content">
					{% if main_cat["name"] %}
						<h3>{{ main_cat["name"] }}</h3>
					{% endif %}
					{% for budget in main_cat["items"] %}
						<div class="budget-entry">
							<h4>{{budget.name|raw}}
								{% if budget.start and budget.end %}({{ budget.start|date(i18n.dateformatTwig.date) }}
									-
									{{ budget.end|date(i18n.dateformatTwig.date) }})
								{% endif %}
							</h4>
							{% if budget.category_names | length > 0 %}
								<div class="categories-list">
									{{lang["CATEGORIES"]}}:
									{{budget.category_names|raw}}
								</div>
							{% endif %}
							{% if budget.notice %}
								<small>{{ budget.notice|raw }}</small>
							{% endif %}

							<div class="values">
								<span>0</span>
								<span>
									{%if budget.categorization != 'count' %}
										{{budget.sum | splitDateInterval(true)}}
									{% else %}
										{{ budget.sum }}
									{% endif %}
								</span>
								<span>
									{%if budget.categorization != 'count' %}
										{{budget.value | splitDateInterval(true)}}
									{% else %}
										{{ budget.value }}
									{% endif %}
								</span>
							</div>

							<div class="progress-bar">
								<div class="progress {%if budget.warning3 > 0 and budget.sum >= budget.warning3 %}red{%elseif budget.warning2 > 0 and budget.sum >= budget.warning2%}orange{%elseif budget.warning1 > 0 and budget.sum >= budget.warning1 %}yellow{%else%}green{%endif%}" style="width:{{budget.percent}}%">
									{%if budget.percent >= 25 %}
										{{budget.percent}}%{%endif%}</div>
									{%if budget.percent and budget.percent < 25 %}
										<div class="progress progress-text">{{budget.percent}}%</div>
									{% endif %}
								</div>

								{% if budget.diff is not null %}
									<div class="remaining">
										{{lang["REMAINING"]}}:
										{%if budget.categorization != 'count' %}
											{{budget.diff | splitDateInterval(true)}}
										{% else %}
											{{ budget.diff }}
										{% endif %}
									</div>
								{% endif %}

							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}


	{% endblock %}
