{% extends "base.twig" %}

{% set active = 'crawlers' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('crawlers_links', {'crawler' : crawler.hash}) }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"CRAWLERS"|trans}}
				{{"LINKLIST"|trans}}
				|
				{{ crawler.name }}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" id="crawlerLinksForm" action="{{ url_for('crawlers_links_save', {'id' : entry.id, 'crawler' : crawler.hash}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
				{% endif %}

				<div class="form-group">
					<label for="inputName">{{"NAME"|trans}}</label>
					<input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %} value="{{entry.name|raw}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="inputLink">{{"LINK"|trans}}</label>
					<input type="text" class="form-control" id="inputLink" name="link" {% if not entry is null %} value="{{entry.link}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="inputParent">{{"PARENT_LINK"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="inputParent" name="parent">
							<option value="">{{"NONE"|trans}}</option>
							{% for link in links %}
								{% if entry is null or ( not entry is null and entry.id != link.id) %}
									<option value="{{link.id}}" {% if (not entry is null and link.id in entry.parent) %} selected {% endif %}>{{link.name}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="inputPosition">{{"POSITION"|trans}}</label>
					<input type="number" class="form-control" id="inputPosition" name="position" step="1" pattern="\d*" {% if not entry is null %} value="{{entry.position}}" {% endif %}>
				</div>

				<div class="form-group btn">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
