{% extends "base.twig" %}

{% set active = 'crawlers' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["CRAWLERS"]}} {{lang["LINKLIST"]}} | {{ crawler.name }}</h2>
            <div class="buttons">
                <a href="{{  url_for('crawlers') }}"><button class="white">{{lang["BACK"]}} <i class="fas fa-level-up-alt"></i></button></a>            
                <a href="{{  url_for('crawlers_links_edit', {'crawler': crawler.hash}) }}"><button class="white"><i class="fas fa-plus" aria-hidden="true"></i> {{lang["ADD"]}}</button></a>
            </div>
        </div>
        <div class="page-content">
            <table id="crawlers_links_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["NAME"]}}</th>
                        <th>{{lang["LINK"]}}</th>
                        <th>{{lang["PARENT_LINK"]}}</th>
                        <th>{{lang["POSITION"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for link in links %}
                        <tr>
                            <td>{{link.name|raw}}</td> 
                            <td>{{link.link}}</td> 
                            <td>{{links[link.parent].name}}</td> 
                            <td>{{link.position}}</td> 
                            <td>
                                {% if crawler.user == user.id %}
                                    <a href="{{  url_for('crawlers_links_edit', {'id' : link.id, 'crawler' : crawler.hash}) }}"><span class="fas fa-edit fa-lg"></span></a>
                                    {% endif %}
                            </td>
                            <td>
                                {% if crawler.user == user.id %}
                                    <a href="#" data-url="{{  url_for('crawlers_links_delete', {'id' : link.id, 'crawler' : crawler.hash}) }}" class="btn-delete"><span class="fas fa-trash fa-lg"></span></a>
                                    {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}