{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('workouts_muscles') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"WORKOUTS_MUSCLE"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" action="{{ url_for('workouts_muscles_save', {'id' : entry.id}) }}" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
				{% endif %}

				<div class="form-group">
					<label for="inputName">{{"NAME"|trans}}</label>
					<input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %} value="{{entry.name|raw}}" {% endif %}>
				</div>

				<h3>{{"WORKOUTS_MUSCLES_PRIMARY_IMAGE"|trans}}</h3>
				<div class="form-group">
					{% if not entry is null and entry.get_image_primary() != ''%}
						<img class="image_uploaded" src="/{{uploads_folder}}/muscles/{{entry.get_image_primary(true)}}"/>
					{% endif %}
					<input name="image_primary" id="image_primary" class="form-control" type="file">
				</div>
				{% if not entry is null and entry.get_image_primary() != ''%}
					<div class="form-group">
						<label class="checkbox" for="checkboxDeleteImagePrimary">
							<input name="delete_image_primary" type="checkbox" value="1" id="checkboxDeleteImagePrimary">
							{{"DELETE"|trans}}
						</label>
					</div>
				{% endif %}

				<h3>{{"WORKOUTS_MUSCLES_SECONDARY_IMAGE"|trans}}</h3>
				<div class="form-group">
					{% if not entry is null and entry.get_image_secondary() != ''%}
						<img class="image_uploaded" src="/{{uploads_folder}}/muscles/{{entry.get_image_secondary(true)}}"/>
					{% endif %}
					<input name="image_secondary" id="image_secondary" class="form-control" type="file">
				</div>
				{% if not entry is null and entry.get_image_secondary() != ''%}
					<div class="form-group">
						<label class="checkbox" for="checkboxDeleteImageSecondary">
							<input name="delete_image_secondary" type="checkbox" value="1" id="checkboxDeleteImageSecondary">
							{{"DELETE"|trans}}
						</label>
					</div>
				{% endif %}

				<div class="form-group">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
