{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('workouts_muscles') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"IMAGE"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form action="{{ url_for('workouts_muscles_image') }}" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				<div class="form-group">
					{% if image.getValue() %}
						<img class="image_uploaded" src="/{{uploads_folder}}/muscles/{{image.getValue()}}"/>
					{% endif %}
					<input name="image" id="image" class="form-control" type="file">
				</div>
				{% if image.getValue() %}
					<div class="form-group">
						<label class="checkbox" for="checkboxDeleteImage">
							<input name="delete_image" type="checkbox" value="1" id="checkboxDeleteImage">
							{{"DELETE"|trans}}
						</label>
					</div>
				{% endif %}
				<div class="form-group-btn">
					<button type="submit" class="button">{{"SAVE"|trans}}</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
