{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["IMAGE"]}}</h2>
            <div class="buttons">
                <a href="{{  url_for_with_last_query_params('workouts_muscles') }}"><button class="button">{{lang["BACK"]}} {{ fontawesome('fas fa-turn-up') }}</button></a>
            </div>
        </div>
        <div class="page-content">

            <form action="{{  url_for('workouts_muscles_image') }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                <div class="form-group">
                    {% if image.getValue() %}
                        <img class="image_uploaded" src="/{{uploads_folder}}/muscles/{{image.getValue()}}"/>
                    {%endif%}
                    <input name="image" id="image" class="form-control" type="file">
                </div>
                {% if image.getValue() %}
                    <div class="form-group">
                        <label class="checkbox" for="checkboxDeleteImage">
                            <input name="delete_image" type="checkbox" value="1" id="checkboxDeleteImage">
                            {{lang["DELETE"]}}
                        </label>
                    </div>
                {%endif%}
                <div class="form-group">
                    <button type="submit" class="button">{{lang["SAVE"]}}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}