<div class="tabbar-scroller {% if not user.isAdmin() %}no-scroll{% endif %}">
	{% if user.isAdmin() %}
		<div class="tabbar-tab-scroll-btn" data-type="left" href="#"><div tabindex="-1" class="icon-ripple-wrapper" >{{ fontawesome('fas fa-chevron-left') }}</div></div>
	{% endif %}
	<div class="tabbar-scrollarea">
		<a class="tabbar-tab {% if active == 'workouts' %}active{% endif %}" href="{{ url_for('workouts') }}">{{"WORKOUTS"|trans}}</a>
		<a class="tabbar-tab {% if active == 'workouts_exercises_view' %}active{% endif %}" href="{{ url_for('workouts_exercises_view') }}">{{"WORKOUTS_EXERCISES"|trans}}</a>
		<a class="tabbar-tab {% if active == 'workouts_templates' %}active{% endif %}" href="{{ url_for('workouts_templates') }}">{{"WORKOUTS_TEMPLATE_PLANS"|trans}}</a>
		{% if user.isAdmin() %}
			<a class="tabbar-tab {% if active == 'workouts_exercises' %}active{% endif %}" href="{{ url_for('workouts_exercises') }}">{{"WORKOUTS_EXERCISES_MANAGE"|trans}}</a>
			<a class="tabbar-tab {% if active == 'workouts_muscles' %}active{% endif %}" href="{{ url_for('workouts_muscles') }}">{{"WORKOUTS_MUSCLES"|trans}}</a>
			<a class="tabbar-tab {% if active == 'workouts_bodyparts' %}active{% endif %}" href="{{ url_for('workouts_bodyparts') }}">{{"WORKOUTS_BODYPARTS"|trans}}</a>
		{% endif %}
	</div>
	{% if user.isAdmin() %}
		<div class="tabbar-tab-scroll-btn" data-type="right" href="#"><div tabindex="-1" class="icon-ripple-wrapper" >{{ fontawesome('fas fa-chevron-right') }}</div></div>
	{% endif %}
</div>
