{% extends "base.twig" %}

{% set active = 'crawlers' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('crawlers_headers', {'crawler' : crawler.hash}) }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"CRAWLERS"|trans}}
				{{"HEADLINE"|trans}}
				({{ crawler.name }})</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" id="crawlerHeadersForm" action="{{ url_for('crawlers_headers_cloning', {'crawler' : crawler.hash}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				<div class="form-group">
					<label for="clone">{{"CLONE_CRAWLER_HEADLINES_FROM"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="clone" name="clone">
							{% for cr in crawlers %}
								{% if cr.user == user.id and cr.id != crawler.id  %}
									<option value="{{cr.id}}">{{cr.name}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group btn">
					<button type="submit" class="button">{{"CLONE"|trans}}</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
