{% extends "base.twig" %}

{% set active = 'crawlers' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["CRAWLERS"]}} {{lang["HEADLINES"]}} ({{ crawler.name }})</h2> 
            <div class="buttons">
                <a href="{{  path_for('crawlers_headers_clone', {'crawler': crawler.hash}) }}"><button class="white"><i class="fas fa-clone" aria-hidden="true"></i> {{lang["CLONE"]}}</button></a>
                <a href="{{  path_for('crawlers_headers_edit', {'crawler': crawler.hash}) }}"><button class="white"><i class="fas fa-plus" aria-hidden="true"></i> {{lang["ADD"]}}</button></a>
            </div>
        </div>
        <div class="page-content">
            <table id="crawlers_headers_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["HEADLINE"]}}</th>
                        <th>{{lang["FIELD_NAME"]}}</th>
                        <th>{{lang["FIELD_LINK"]}}</th>
                        <th>{{lang["FIELD_CONTENT"]}}</th>
                        <th>{{lang["POSITION"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for header in headers %}
                        <tr>
                            <td data-title="{{lang["HEADLINE"]}}">{{header.headline|raw}}</td> 
                            <td data-title="{{lang["FIELD_NAME"]}}">{{header.field_name}}</td> 
                            <td data-title="{{lang["FIELD_LINK"]}}">{{header.field_link}}</td> 
                            <td data-title="{{lang["FIELD_CONTENT"]}}">{{header.field_content|raw}}</td> 
                            <td data-title="{{lang["POSITION"]}}">{{header.position}}</td> 
                            <td>
                                {% if crawler.user == user.id %}
                                    <a href="{{  path_for('crawlers_headers_edit', {'id' : header.id, 'crawler' : crawler.hash}) }}"><span class="fas fa-edit fa-lg"></span></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if crawler.user == user.id %}
                                    <a href="#" data-url="{{  path_for('crawlers_headers_delete', {'id' : header.id, 'crawler' : crawler.hash}) }}" class="btn-delete"><span class="fas fa-trash fa-lg"></span></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}