{% extends "base.twig" %}

{% set active = 'crawlers' %}

{% block pageheader %}
<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('crawlers') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"CRAWLERS"|trans}}
				{{"HEADLINES"|trans}}
				|
				{{ crawler.name }}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('crawlers_headers_clone', {'crawler': crawler.hash}) }}">
				<button class="button button-outlined">{{ fontawesome('fas fa-clone') }}
					{{"CLONE"|trans}}</button>
			</a>
			<a href="{{ url_for('crawlers_headers_edit', {'crawler': crawler.hash}) }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{"ADD"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<table id="crawlers_headers_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{"HEADLINE"|trans}}</th>
						<th>{{"FIELD_NAME"|trans}}</th>
						<th>{{"FIELD_LINK"|trans}}</th>
						<th>{{"FIELD_CONTENT"|trans}}</th>
						<th>{{"POSITION"|trans}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for header in headers %}
						<tr>
							<td>{{header.headline|raw}}</td>
							<td>{{header.field_name}}</td>
							<td>{{header.field_link}}</td>
							<td>{{header.field_content|raw}}</td>
							<td>{{header.position}}</td>
							<td>
								{% if crawler.user == user.id %}
									<a href="{{ url_for('crawlers_headers_edit', {'id' : header.id, 'crawler' : crawler.hash}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
								{% endif %}
							</td>
							<td>
								{% if crawler.user == user.id %}
									<a href="#" data-url="{{ url_for('crawlers_headers_delete', {'id' : header.id, 'crawler' : crawler.hash}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
