{% extends "base.twig" %}

{% set active = 'settings' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"BANLIST"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "main/settings-tabs.twig" with {'active':'banlist'} only %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<table id="banlist_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{"CREATED_ON"|trans}}</th>
						<th>{{"IP_ADDRESS"|trans}}</th>
						<th>{{"LOGIN"|trans}}</th>

						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for entry in list %}
						<tr>
							<td>{{entry.createdOn}}</td>
							<td>{{entry.ip}}</td>
							<td>{{entry.username}}</td>
							<td>
								<a href="#" data-url="{{ url_for('banlist_delete', {'ip' : entry.ip}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
