{% extends "base.twig" %}

{% set active = 'login' %}

{% block bottom %}
    <div class="center-block">
        <form class="form small horizontal" role="form" name="login" id="login" method="post">
            <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
            <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                
            <div class="form-group">
                <label for="inputUsername" class="control-label hidden">{{lang["LOGIN"]}}</label>
                <input name="username" class="form-control" id="inputUsername" placeholder="{{lang["LOGIN"]}}" value="" autofocus="" required="" type="text">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label hidden">{{lang["PASSWORD"]}}</label>
                <input name="password" class="form-control" id="inputPassword" placeholder="{{lang["PASSWORD"]}}" required="" type="password">
            </div>
            <div class="form-group">
                <label for="inputCode" class="control-label hidden">{{lang["TWOFACTOR_CODE"]}}</label>
                <input name="code" class="form-control" id="inputCode" placeholder="{{lang["TWOFACTOR_CODE"]}}" type="text">
            </div>
            <div class="form-group">
                <button type="submit" id="submit">{{lang["DO_LOGIN"]}}</button>
            </div>
        </form>
    </div>

{% endblock %}