{% set mobile_elements = 2 %}
{% if mobile_favorites|length > 0 %}
	{% set mobile_elements = mobile_elements + mobile_favorites|length %}
{% else %}
	{% for module_name, module in modules %}
		{% if user.hasModule(module_name) %}
			{% set mobile_elements = mobile_elements + 1 %}
		{% endif %}
	{% endfor %}
{% endif %}

<div id="app-bar" class="size-{{mobile_elements}}">
	<div id="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
		{{ fontawesome('fas fa-bars') }}
	</div>
	<div id="mobile-header-icons">
		<a href="{{ url_for('index') }}" {% if active == 'index' %} class="active" {% endif %}>{{ fontawesome('fas fa-sitemap') }}</a>
		{% if mobile_favorites|length > 0 %}
			{%  for favorite in mobile_favorites %}
				<a href="{{ favorite.getURL() }}" {% if currentURL == favorite.getURL() %} class="active" {% endif %}>{{ fontawesome(favorite.icon) }}</a>
			{% endfor %}
		{% else %}
			{% for module_name, module in modules %}
				{% if user.hasModule(module_name)%}
					<a href="{{ url_for(module['rootRoute']) }}" {% if active == module['rootRoute'] %} class="active" {% endif %}>{{ fontawesome(module['icon']) }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<a href="{{ url_for('notifications') }}" class="notifications badge {% if active == 'notifications' %}active{% endif %} {% if unread_notifications > 0 %}has-Notification{% endif %}" data-badge="{{ unread_notifications }}" id="iconBell">{{ fontawesome('far fa-bell') }}</a>
</div>
