<div id="navigation-overlay"></div>
<nav id="site-navigation" class="main-navigation {% if navigationdrawer_desktophidden == 1 %}toggled{% endif %}" role="navigation">
	<ul id="menu-primary" class="menu nav-menu">
		<div class="navigation-drawer-profile {% if active == 'profile' %}active{% endif %}">
			{% if user.get_thumbnail() != '' %}
				<img src="/{{uploads_folder}}/profile/{{user.get_thumbnail('mini')}}" class="avatar-small navi">
			{% else %}
				<svg class="avatar-small navi avatar-initials" viewbox="0 0 24 24">
					<text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" fill="#404040">{{user.name|first|upper}}{{user.lastname|first|upper}}</text>
				</svg>
			{% endif %}
			<a href="{{ url_for('users_profile_edit') }}" class="profile_mail">
				<h2 class="profile_name">{{user.name}}
					{{user.lastname}}</h2>
				<div class="profile_mail">{{user.mail}}</div>
			</a>
		</a>
	</div>
	<hr class="divider">

	<li {% if active == 'index' %} class="active" {% endif %}>
		<a href="{{ url_for('index') }}">{{ fontawesome('fas fa-house') }}
			{{"MENU_INDEX"|trans}}</a>
	</li>
	{% if user.hasModule("location") %}
		<li {% if active == modules['location']['rootRoute'] or active == 'location_edit' or active == 'steps' %} class="active" {% endif %}>
			<a href="{{ url_for(modules['location']['rootRoute']) }}">{{ fontawesome(modules['location']['icon']) }}
				{{ modules['location']['title']|trans }}</a>
			{#<ul class="dropdown-content">
																																				<li>
																																					<a href="{{ url_for('location_edit') }}">{{ fontawesome('fas fa-location-arrow') }}
																																						{{ "ADD_LOCATION"|trans }}</a>
																																				</li>
																															
																																				<li>
																																					<a href="{{ url_for('steps') }}">{{ fontawesome('far fa-chart-bar') }}
																																						{{ "STEPS"|trans }}</a>
																																				</li>
																																			</ul>#}
		</li>
	{% endif %}
	{% if user.hasModule("finances") %}
		<li {% if active == modules['finances']['rootRoute'] %} class="active" {% endif %}>
			<a href="{{ url_for(modules['finances']['rootRoute']) }}">{{ fontawesome(modules['finances']['icon']) }}
				{{ modules['finances']['title']|trans }}</a>
			{#<ul class="dropdown-content">
																																				<li>
																																					<a href="{{ url_for('finances_categories') }}">{{ fontawesome('fas fa-tags') }}
																																						{{ "FINANCES_CATEGORIES"|trans }}</a>
																																				</li>
																																				<li>
																																					<a href="{{ url_for('finances_categories_assignment') }}">{{ fontawesome('fas fa-wand-magic') }}
																																						{{ "FINANCES_CATEGORY_ASSIGNMENTS"|trans }}</a>
																																				</li>
																															
																																				<li>
																																					<a href="{{ url_for('finances_recurring') }}">{{ fontawesome('fas fa-calendar-days') }}
																																						{{ "FINANCES_RECURRING"|trans }}</a>
																																				</li>
																															
																																				<li>
																																					<a href="{{ url_for('finances_paymethod') }}">{{ fontawesome('fas fa-credit-card') }}
																																						{{ "FINANCES_PAYMETHODS"|trans }}</a>
																																				</li>
																																				<li>
																																					<a href="{{ url_for('finances_account') }}">{{ fontawesome('fas fa-wallet') }}
																																						{{ "FINANCES_ACCOUNTS"|trans }}</a>
																																				</li>
																															
																																				<li>
																																					<a href="{{ url_for('finances_budgets') }}">{{ fontawesome('far fa-money-bill-1') }}
																																						{{ "BUDGET"|trans }}</a>
																																				</li>
																															
																																				<li>
																																					<a href="{{ url_for('finances_stats') }}">{{ fontawesome('fas fa-chart-pie') }}
																																						{{ "STATS"|trans }}</a>
																																				</li>
																																			</ul>#}
		</li>
	{% endif %}
	{% if user.hasModule("cars") %}
		<li {% if active == modules['cars']['rootRoute'] %} class="active" {% endif %}>
			<a href="{{ url_for(modules['cars']['rootRoute']) }}">{{ fontawesome(modules['cars']['icon']) }}
				{{ modules['cars']['title']|trans }}</a>
			{#<ul class="dropdown-content">
																																				<li>
																																					<a href="{{ url_for('cars') }}">{{ fontawesome('fas fa-car') }}
																																						{{ "CARS"|trans }}</a>
																																				</li>
																															
																																				<li>
																																					<a href="{{ url_for('car_service_stats') }}">{{ fontawesome('fas fa-chart-pie') }}
																																						{{ "STATS"|trans }}</a>
																																				</li>
																																			</ul>#}
		</li>
	{% endif %}
	{% if user.hasModule("boards") %}
		<li {% if active == modules['boards']['rootRoute'] %} class="active" {% endif %}>
			<a href="{{ url_for(modules['boards']['rootRoute']) }}">{{ fontawesome(modules['boards']['icon']) }}
				{{ modules['boards']['title']|trans }}</a>
		</li>
	{% endif %}
	{% if user.hasModule("crawlers") %}
		<li {% if active == modules['crawlers']['rootRoute'] %} class="active" {% endif %}>
			<a href="{{ url_for(modules['crawlers']['rootRoute']) }}">{{ fontawesome(modules['crawlers']['icon']) }}
				{{ modules['crawlers']['title']|trans }}</a>
		</li>
	{% endif %}
	{% if user.hasModule("splitbills") %}
		<li {% if active == modules['splitbills']['rootRoute'] %} class="active" {% endif %}>
			<a href="{{ url_for(modules['splitbills']['rootRoute']) }}">{{ fontawesome(modules['splitbills']['icon']) }}
				{{ modules['splitbills']['title']|trans }}</a>
		</li>
	{% endif %}
	{% if user.hasModule("trips") %}
		<li {% if active == modules['trips']['rootRoute'] %} class="active" {% endif %}>
			<a href="{{ url_for(modules['trips']['rootRoute']) }}">{{ fontawesome(modules['trips']['icon']) }}
				{{ modules['trips']['title']|trans }}</a>
		</li>
	{% endif %}
	{% if user.hasModule("timesheets") %}
		<li {% if active == modules['timesheets']['rootRoute'] %} class="active" {% endif %}>
			<a href="{{ url_for(modules['timesheets']['rootRoute']) }}">{{ fontawesome(modules['timesheets']['icon']) }}
				{{ modules['timesheets']['title']|trans }}</a>
		</li>
	{% endif %}
	{% if user.hasModule("workouts") %}
		<li {% if active == modules['workouts']['rootRoute'] %} class="active" {% endif %}>
			<a href="{{ url_for(modules['workouts']['rootRoute']) }}">{{ fontawesome(modules['workouts']['icon']) }}
				{{ modules['workouts']['title']|trans }}</a>

			{#<ul class="dropdown-content">
																																				<li>
																																					<a href="{{ url_for('workouts_exercises_view') }}">{{ fontawesome('fas fa-dumbbell') }}
																																						{{ "WORKOUTS_EXERCISES"|trans }}</a>
																																				</li>
																																				<li>
																																					<a href="{{ url_for('workouts_templates') }}">{{ "WORKOUTS_TEMPLATE_PLANS"|trans }}</a>
																																				</li>
																																				{% if user.isAdmin() %}
																															
																																					<li>
																																						<a href="{{ url_for('workouts_exercises') }}">{{ "WORKOUTS_EXERCISES_MANAGE"|trans }}</a>
																																					</li>
																																					<li>
																																						<a href="{{ url_for('workouts_muscles') }}">{{ "WORKOUTS_MUSCLES"|trans }}</a>
																																					</li>
																																					<li>
																																						<a href="{{ url_for('workouts_bodyparts') }}">{{ "WORKOUTS_BODYPARTS"|trans }}</a>
																																					</li>
																																				{% endif %}
																																			</ul>#}

		</li>
	{% endif %}
	{% if user.hasModule("recipes") %}
		<li {% if active == modules['recipes']['rootRoute'] %} class="active" {% endif %}>
			<a href="{{ url_for(modules['recipes']['rootRoute']) }}">{{ fontawesome(modules['recipes']['icon']) }}
				{{ modules['recipes']['title']|trans }}</a>

			{#<ul class="dropdown-content">
																																				<li>
																																					<a href="{{ url_for('recipes_cookbooks') }}">{{ "RECIPES_COOKBOOKS"|trans }}</a>
																																				</li>
																																				<li>
																																					<a href="{{ url_for('recipes_mealplans') }}">{{ "RECIPES_MEALPLANS"|trans }}</a>
																																				</li>
																																				<li>
																																					<a href="{{ url_for('recipes_shoppinglists') }}">{{ "RECIPES_SHOPPINGLISTS"|trans }}</a>
																																				</li>
																															
																																				<li>
																																					<a href="{{ url_for('recipes_groceries') }}">{{ "RECIPES_GROCERIES"|trans }}</a>
																																				</li>
																																			</ul>#}
		</li>
	{% endif %}
	<hr class="divider">
	{% if user.isAdmin() %}
		<li {% if active == 'settings' %} class="active" {% endif %}>
			<a href="{{ url_for('users') }}">{{ fontawesome('fas fa-gears') }}
				{{ "SETTINGS"|trans }}</a>
			{#<ul class="dropdown-content">
																																				<li>
																																					<a href="{{ url_for('users') }}">{{ fontawesome('fas fa-user') }}
																																						{{ "USERS"|trans }}</a>
																																				</li>
																															
																																				<li>
																																					<a href="{{ url_for('notifications_clients') }}">{{ fontawesome('fas fa-bell') }}
																																						{{ "NOTIFICATIONS"|trans }}</a>
																																				</li>
																																				<li>
																																					<a href="{{ url_for('notifications_categories') }}">{{ fontawesome('fas fa-tags') }}
																																						{{ "CATEGORIES"|trans }}</a>
																																				</li>
																															
																																				<li>
																																					<a href="{{ url_for('login_tokens') }}">{{ fontawesome('fas fa-key') }}
																																						{{ "LOGIN_TOKENS"|trans }}</a>
																																				</li>
																															
																																				<li>
																																					<a href="{{ url_for('banlist') }}">{{ fontawesome('fas fa-key') }}
																																						{{ "BANLIST"|trans }}</a>
																																				</li>
																																			</ul>#}
		</li>
	{% endif %}

	<li {% if active == 'activities' %} class="active" {% endif %}>
		<a href="{{ url_for('users_activities') }}">{{ fontawesome('fas fa-clock-rotate-left') }}
			{{ "ACTIVITIES"|trans }}
		</a>
	</li>
	<li {% if active == 'help' %} class="active" {% endif %}>
		<a href="{{ url_for('help') }}">{{ fontawesome('far fa-circle-question') }}{{ "HELP"|trans }}
		</a>
	</li>
	<hr class="divider">
	<li>
		<a href="{{ url_for('logout') }}">{{ fontawesome('fas fa-right-from-bracket') }}{{ "LOGOUT"|trans }}
		</a>
	</li>
</ul></nav>
