{% set mobile_elements = 2 %}
{% if mobile_favorites|length > 0 %}
	{% set mobile_elements = mobile_elements + mobile_favorites|length %}
{% else %}
	{% for module_name, module in modules %}
		{% if user.hasModule(module_name) %}
			{% set mobile_elements = mobile_elements + 1 %}
		{% endif %}
	{% endfor %}
{% endif %}

<div id="app-bar" class="size-{{mobile_elements}}">
	<div id="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
		<div tabindex="-1" class="icon-ripple-wrapper">
			{{ fontawesome('fas fa-bars') }}
		</div>
	</div>
	<div
		id="mobile-header-icons">
		{#<a href="{{ url_for('index') }}" {% if active == 'index' %} class="active" {% endif %}>{{ fontawesome('fas fa-sitemap') }}</a>#}
		{% if mobile_favorites|length > 0 %}
			{%  for favorite in mobile_favorites %}
				<a href="{{ favorite.getURL() }}" {% if currentURL == favorite.getURL() %} class="active" {% endif %}>
					<div tabindex="-1" class="icon-ripple-wrapper">
						{{ fontawesome(favorite.icon) }}
					</div>
				</a>
			{% endfor %}
		{% else %}
			{% for module_name, module in modules %}
				{% if user.hasModule(module_name)%}
					<a href="{{ url_for(module['rootRoute']) }}" {% if active == module['rootRoute'] %} class="active" {% endif %}>{{ fontawesome(module['icon']) }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>

	<div id="iconBell">
		<a href="{{ url_for('notifications') }}">
			<div tabindex="-1" class="icon-ripple-wrapper">
				<span class="notifications badge {% if unread_notifications > 0 %}has-Notification{% endif %}" data-badge="{{ unread_notifications }}">{{ fontawesome('far fa-bell') }}</span>
			</div>
		</a>
	</div>
</div>
