{% extends "base.twig" %}

{% set active = 'index' %}

{% block javascript %}{% endblock %}

{% block body %}

	{% if output or (migrations is not empty and migrations < 0) %}

		<div class="inner-content">
			<div class="page-content">
				<p class="output">
					{% for line in output %}
						{{line}}<br>
					{% endfor %}
				</p>

				{% if migrations < 0 %}
					<p>{{"SETUP_NOTHING_TODO"|trans}}</p>
				{% endif %}

				<a href="/">
					<button class="button">{{ "SETUP_GO_TO_MAIN"|trans}}</button>
				</a>
			</div>
		</div>

	{% else %}

		<form class="form-horizontal" action="{{ url_for('setup_run') }}" method="POST">
			<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
			<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

			<input type="submit" value="{{"SETUP_START_UPGRADE"|trans}}">
		</form>

	{% endif %}

{% endblock %}
