{% extends "base.twig" %}

{% set active = 'splitbills' %}

{% set hasMap = not entry.lat is null and not entry.lng is null %}

{% set foreignCurrency = (not group.currency is empty and group.currency != i18n.currency) %}

{% block javascript %}
	<script src="{{baseURL}}/static/js/splitbills.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('splitbill_bills', {'group': group.hash})}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>
				{% if isSettleUp %}
					{{"SPLITBILLS_SETTLE_UP"|trans}}
				{%else %}
					{{"SPLITBILL_BILL"|trans}}
				{% endif %}
				|
				{{group.name|raw}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" id="splitbillsBillsForm" action="{{ url_for('splitbill_bills_save', {'id' : entry.id, 'group' : group.hash}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
				<input type="hidden" name="settleup" {% if not isOwner %} disabled="disabled" {% endif %} value="{% if isSettleUp %}1{% else %}0{% endif %}">
				<input type="hidden" name="paid_by" {% if not isOwner %} disabled="disabled" {% endif %} value="{{ paid_by }}">
				<input type="hidden" name="spend_by" {% if not isOwner %} disabled="disabled" {% endif %} value="{{ spend_by }}">

				{% if not entry is null %}
					<input type="hidden" name="id" {% if not isOwner %} disabled="disabled" {% endif %} id="entry_id" value="{{entry.id}}">
				{% endif %}

				<div class="form-group {% if isSettleUp %}hidden{% endif %}">
					<label for="inputName">{{"NAME"|trans}}</label>
					<input type="text" {% if isOwner %} required {% else %} disabled="disabled" {% endif %} class="form-control {%if not isOwner %}disabled{% endif %}" id="inputName" name="name" {% if not entry is null %} value="{{entry.name|raw}}" {% elseif isSettleUp %} value="{{"SPLITBILLS_SETTLE_UP"|trans}}" {% endif %}>
				</div>

				<div class="two-columns mobile">
					<div class="form-group left">
						<label for="dateSelect">{{"DATE"|trans}}</label>
						<div class="flatpickr-group" id="dateSelect">
							<input type="text" {% if not isOwner %} disabled="disabled" {% endif %} class="form-control {%if not isOwner %}disabled{% endif %}" id="dateSelectField" name="date" value="{% if not entry is null %}{{entry.date}}{% else %}{{"now"|date('Y-m-d')}}{% endif %}" data-input/>
							{% if isOwner %}
								<a class="flatpickr-input-button" title="toggle" data-toggle>
									{{ fontawesome('fas fa-calendar-days') }}
								</a>

								<a class="flatpickr-input-button" title="clear" data-clear>
									{{ fontawesome('fas fa-xmark') }}
								</a>
							{% endif %}
						</div>
					</div>
					<div class="form-group right">
						<label for="inputTime">{{"TIME"|trans}}</label>
						<input type="time" {% if not isOwner %} disabled="disabled" {% endif %} step="1" class="form-control {%if not isOwner %}disabled{% endif %}" id="inputTime" name="time" value="{% if not entry is null %}{{entry.time}}{% else %}{{"now"|date('H:i:s')}}{% endif %}">
					</div>
				</div>

				{% if foreignCurrency %}
					<div class="two-columns mobile">
						<div class="form-group left">
							<label for="inputValueForeign">{{"VALUE"|trans}}
								({{ group.currency }})</label>
							<input type="number" {% if isOwner %} required {% else %} disabled="disabled" {% endif %} step="any" inputmode="decimal" class="form-control {%if not isOwner %}disabled{% endif %}" id="inputValueForeign" name="foreignValue" value="{% if not entry is null %}{{totalValueForeign}}{% endif %}">
						</div>
						<div class="form-group right">
							<label for="inputValue">{{"VALUE"|trans}}
								({{ i18n.currency }})</label>
							<input type="number" {% if not isOwner %} disabled="disabled" {% endif %} step="any" inputmode="decimal" readonly="readonly" class="form-control read-only {%if not isOwner %}disabled{% endif %}" id="inputValue" name="value" value="{{totalValue}}">
						</div>
					</div>

					<div class="two-columns">
						<div class="form-group left">
							<label for="inputRate">{{"EXCHANGE_RATE"|trans}}
								({{ group.currency }}
								=>
								{{ i18n.currency }})
							</label>
							<input type="number" {% if isOwner %} required {% else %} disabled="disabled" {% endif %} step="any" inputmode="decimal" class="form-control {%if not isOwner %}disabled{% endif %}" id="inputRate" name="exchange_rate" value="{% if not entry is null %}{{entry.exchange_rate}}{% else %}{{ group.exchange_rate }}{% endif %}">
						</div>
						<div class="form-group right">
							<label for="inputFee">{{"EXCHANGE_FEE"|trans}}
								(%)
							</label>
							<input type="number" {% if isOwner %} required {% else %} disabled="disabled" {% endif %} step="any" inputmode="decimal" class="form-control {%if not isOwner %}disabled{% endif %}" id="inputFee" name="exchange_fee" value="{% if not entry is null %}{{entry.exchange_fee}}{% else %}{{ group.exchange_fee }}{% endif %}">
						</div>
					</div>
				{% else %}
					<div class="form-group">
						<label for="inputValue">{{"VALUE"|trans}}
							({{ i18n.currency }})</label>
						<input type="number" {% if isOwner %} required {% else %} disabled="disabled" {% endif %} step="any" inputmode="decimal" class="form-control {%if not isOwner %}disabled{% endif %}" id="inputValue" name="value" value="{% if not entry is null %}{{totalValue}}{% endif %}">
					</div>
				{% endif %}

				<div class="form-group">
					<label>{{"FINANCES_PAYMETHOD"|trans}}
						({{"PAID"|trans}})</label>
					<div class="select-wrapper form-control">
						<select name="balance[{{ me }}][paymethod]">
							<option value="">{{"DROPDOWN_NO_PAYMETHOD"|trans}}</option>
							{% for method in paymethods[me] %}
								<option value="{{method.id}}" {% if (not balance is empty and method.id == balance[me]["paymethod"]) or (balance is empty and method.is_default == 1) %} selected {% endif %}>{{method.name|raw}}</option>
							{% endfor %}
						</select>
					</div>

					{% for user_id in group_users|keys|filter(user_id => user_id != me) %}
						<input type="hidden" name="balance[{{ user_id }}][paymethod]" value="{{ balance[user_id]["paymethod"] }}">
					{% endfor %}

				</div>

				{% if isSettleUp %}
					<div class="form-group">
						<label>{{"FINANCES_ACCOUNT"|trans}}
							({{"RECEIVED"|trans}})</label>
						<div class="select-wrapper form-control">
							<select name="balance[{{ me }}][account_to]">
								<option value="">{{"DROPDOWN_NO_PAYMETHOD"|trans}}</option>
								{% for account in accounts[me] %}
									<option value="{{account.id}}" {% if (not balance is empty and account.id == balance[me]["account_to"]) %} selected {% endif %}>{{account.name|raw}}</option>
								{% endfor %}
							</select>
						</div>

						{% for user_id in group_users|keys|filter(user_id => user_id != me) %}
							<input type="hidden" name="balance[{{ user_id }}][account_to]" value="{{ balance[user_id]["account_to"] }}">
						{% endfor %}

					</div>
				{% endif %}

				{% if group_users|length > 1 %}
					<h3 id="splitbill_headline">
						{% if isSettleUp %}
							{{"SPLITBILLS_SETTLE_UP_SENDER"|trans}}
						{%else %}
							{{"PAID_BY"|trans({'%currency%': i18n.currency})}}
						{% endif %}
					</h3>
					<h4>{{ "REMAINING"|trans }}:
						<span id="remaining_paid">{{ 0|number_format(2) }}</span>
						{{ i18n.currency }}</h4>
					<div class="form-group splitbill-buttons">
						<button type="button" {% if not isOwner %} disabled="disabled" {% endif %} class="button splitbill_btn small {% if (entry is null and not settleUpPrefill) or paid_by != 'same' %}button-outlined{% endif %} {% if not isOwner %}disabled{% endif %}" data-category="paid" data-type="same">
							{% if isSettleUp %}
								{{ "SPLITBILLS_EQUALLY"|trans }}
							{%else %}
								{{ "SPLITBILLS_EQUALLY_PAID"|trans }}
							{% endif %}
						</button>
						{% for user_id in group_users|keys %}
							<button type="button" {% if not isOwner %} disabled="disabled" {% endif %} class="button splitbill_btn small {% if (entry is null and not settleUpPrefill) or paid_by != user_id %}button-outlined{% endif %} {% if not isOwner %}disabled{% endif %}" data-category="paid" data-type="person" data-id="{{ user_id }}">
								{% if isSettleUp %}
									{{ users[user_id].name }}
								{%else %}
									{{ "SPLITBILLS_BY_PERSON"|trans({'%user%': users[user_id].name}) }}
								{% endif %}
							</button>
						{% endfor %}
						<button type="button" {% if not isOwner %} disabled="disabled" {% endif %} class="button splitbill_btn small {% if (entry is null and not settleUpPrefill) or paid_by != 'individual' %}button-outlined{% endif %} {% if not isOwner %}disabled{% endif %}" data-category="paid" data-type="individual">{{ "SPLITBILLS_INDIVIDUAL"|trans }}</button>
					</div>
					<div class="userlist {% if (entry is null and not settleUpPrefill) or paid_by != 'individual' %}hidden{% endif %}">
						<div class="user-entry header">
							<div class="user"></div>
							{% if foreignCurrency %}
								<div class="input-field">
									{{"VALUE"|trans}}
									({{ group.currency }})
								</div>
							{% endif %}
							<div class="input-field">
								{{"VALUE"|trans}}
								({{ i18n.currency }})
							</div>
						</div>
						{% for user_id in group_users|keys %}
							<div class="form-group user-entry">
								<div class="user">
									{% if not isSettleUp %}
										{{"SPLITBILLY_PAID_SPEND_BY_PERSON"|trans}}
									{% endif %}
									{{ users[user_id].name }}
								</div>
								{% if foreignCurrency %}
									<div class="input-field" data-title="{{"VALUE"|trans}} ({{ group.currency }})">
										<input type="number" {% if not isOwner %} disabled="disabled" {% endif %} step="any" inputmode="decimal" class="form-control balance_paid_foreign {% if not isOwner %}disabled{% endif %}" name="balance[{{ user_id }}][paid_foreign]" value="{% if not balance is empty and user_id in balance|keys %}{{balance[user_id]["paid_foreign"]}}{% else %}0{% endif %}">
									</div>
								{% endif %}
								<div class="input-field" data-title="{{"VALUE"|trans}} ({{ i18n.currency }})">
									<input type="number" {% if not isOwner %} disabled="disabled" {% endif %} step="any" inputmode="decimal" {% if foreignCurrency %} readonly="readonly" {% endif %} class="form-control balance_paid {% if foreignCurrency %}read-only{% endif %} {% if not isOwner %}disabled{% endif %}" name="balance[{{ user_id }}][paid]" value="{% if not balance is empty and user_id in balance|keys %}{{balance[user_id]["paid"]}}{% else %}0{% endif %}">
								</div>
							</div>
						{% endfor %}
					</div>
					<h3 id="splitbill_headline">
						{% if isSettleUp %}
							{{"SPLITBILLS_SETTLE_UP_RECEIVER"|trans}}
						{%else %}
							{{"SPEND_BY"|trans({'%currency%': i18n.currency}) }}
						{% endif %}
					</h3>
					<h4>{{ "REMAINING"|trans }}:
						<span id="remaining_spend">{{ 0|number_format(2) }}</span>
						{{ i18n.currency }}</h4>
					<div class="form-group splitbill-buttons">
						<button type="button" {% if not isOwner %} disabled="disabled" {% endif %} class="button splitbill_btn small {% if (entry is null and not settleUpPrefill) or spend_by != 'same' %}button-outlined{% endif %} {% if not isOwner %}disabled{% endif %}" data-category="spend" data-type="same">
							{% if isSettleUp %}
								{{ "SPLITBILLS_EQUALLY"|trans }}
							{%else %}
								{{ "SPLITBILLS_EQUALLY_SPEND"|trans }}
							{% endif %}
						</button>
						{% for user_id in group_users|keys %}
							<button type="button" {% if not isOwner %} disabled="disabled" {% endif %} class="button splitbill_btn small {% if (entry is null and not settleUpPrefill) or spend_by != user_id %}button-outlined{% endif %} {% if not isOwner %}disabled{% endif %}" data-category="spend" data-type="person" data-id="{{ user_id }}">
								{% if isSettleUp %}
									{{ users[user_id].name }}
								{%else %}
									{{ "SPLITBILLS_ONLY_PERSON"|trans({'%user%': users[user_id].name}) }}
								{% endif %}
							</button>
						{% endfor %}
						<button type="button" {% if not isOwner %} disabled="disabled" {% endif %} class="button splitbill_btn small {% if (entry is null and not settleUpPrefill) or spend_by != 'individual' %}button-outlined{% endif %} {% if not isOwner %}disabled{% endif %}" data-category="spend" data-type="individual">{{ "SPLITBILLS_INDIVIDUAL"|trans }}</button>
					</div>
					<div class="userlist {% if (entry is null and not settleUpPrefill) or spend_by != 'individual' %}hidden{% endif %}">
						<div class="user-entry header">
							<div class="user"></div>
							{% if foreignCurrency %}
								<div class="input-field">
									{{"VALUE"|trans}}
									({{ group.currency }})
								</div>
							{% endif %}
							<div class="input-field">
								{{"VALUE"|trans}}
								({{ i18n.currency }})
							</div>
						</div>
						{% for user_id in group_users|keys %}
							<div class="form-group user-entry">
								<div class="user">
									{% if not isSettleUp %}
										{{"SPLITBILLY_PAID_SPEND_BY_PERSON"|trans}}
									{% endif %}
									{{ users[user_id].name }}
								</div>
								{% if foreignCurrency %}
									<div class="input-field" data-title="{{"VALUE"|trans}} ({{ group.currency }})">
										<input type="number" {% if not isOwner %} disabled="disabled" {% endif %} step="any" inputmode="decimal" class="form-control balance_spend_foreign {% if not isOwner %}disabled{% endif %}" name="balance[{{ user_id }}][spend_foreign]" value="{% if not balance is empty and user_id in balance|keys %}{{balance[user_id]["spend_foreign"]}}{% else %}0{% endif %}">
									</div>
								{% endif %}
								<div class="input-field" data-title="{{"VALUE"|trans}} ({{ i18n.currency }})">
									<input type="number" {% if not isOwner %} disabled="disabled" {% endif %} step="any" inputmode="decimal" {% if foreignCurrency %} readonly="readonly" {% endif %} class="form-control balance_spend {% if foreignCurrency %}read-only{% endif %} {% if not isOwner %}disabled{% endif %}" name="balance[{{ user_id }}][spend]" value="{% if not balance is empty and user_id in balance|keys %}{{balance[user_id]["spend"]}}{% else %}0{% endif %}">
								</div>
							</div>
						{% endfor %}
					</div>
				{% else %}

					<input type="hidden" {% if not isOwner %} disabled="disabled" {% endif %} class="balance_spend_foreign" name="balance[{{ me }}][spend_foreign]" value="{% if not balance is empty and me in balance|keys %}{{balance[me]["spend_foreign"]}}{% else %}0{% endif %}">
					<input type="hidden" {% if not isOwner %} disabled="disabled" {% endif %} {% if foreignCurrency %} readonly="readonly" {% endif %} class="balance_spend {% if foreignCurrency %}read-only{% endif %}" name="balance[{{ me }}][spend]" value="{% if not balance is empty and me in balance|keys %}{{balance[me]["spend"]}}{% else %}0{% endif %}">
					<input type="hidden" {% if not isOwner %} disabled="disabled" {% endif %} class="balance_paid_foreign" name="balance[{{ me }}][paid_foreign]" value="{% if not balance is empty and me in balance|keys %}{{balance[me]["paid_foreign"]}}{% else %}0{% endif %}">
					<input type="hidden" {% if not isOwner %} disabled="disabled" {% endif %} {% if foreignCurrency %} readonly="readonly" {% endif %} class="balance_paid {% if foreignCurrency %}read-only{% endif %}" name="balance[{{ me }}][paid]" value="{% if not balance is empty and me in balance|keys %}{{balance[me]["paid"]}}{% else %}0{% endif %}">

				{% endif %}

				<div class="form-group">
					<label for="inputNotice">{{"NOTICE"|trans}}</label>
					<input type="text" {% if not isOwner %} disabled="disabled" {% endif %} class="form-control {% if not isOwner %}disabled{% endif %}" id="inputNotice" name="notice" {% if not entry is null %} value="{{entry.notice|raw}}{% endif %}">
				</div>

				<div class="mapWrapper">
					{% if not entry is null and isOwner%}
						<h3>{{"LOCATION"|trans}}</h3>
						<div id="geo-map" class="geo-map"></div>
						<div class="form-group map-btn">
							<button type="button" id="update-location" class="update-location button button-outlined">{{"SET_CURRENT_LOCATION"|trans}}</button>
							<button type="button" id="delete-location" class="delete-location button button-text {% if not hasMap %}hidden{% endif %}">{{"REMOVE_LOCATION"|trans}}</button>
						</div>
					{% endif %}
					{% if isOwner %}
						<input type="hidden" id="geoLat" class="geo-lat" name="lat" value="{% if not entry is null %}{{entry.lat}}{% endif %}">
						<input type="hidden" id="geoLng" class="geo-lng" name="lng" value="{% if not entry is null %}{{entry.lng}}{% endif %}">
						<input type="hidden" id="geoAcc" class="geo-acc" name="acc" value="{% if not entry is null %}{{entry.acc}}{% endif %}">
					{% endif %}
				</div>


				<div class="form-group btn">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
