{% extends "base.twig" %}

{% set active = 'splitbills' %}

{% block pageheader %}
	<div class="page-header multiple-buttons">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('splitbills')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{lang["SPLITBILLS"]}}
				|
				{{group.name|raw}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('splitbill_bills_edit', {'group':group.hash}) }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{lang["ADD_BILL"]}}</button>
			</a>
			{% if group_users|length > 1 %}
				<a href="{{ url_for('splitbill_bills_edit', {'group':group.hash}) }}?type=settleup">
					<button class="button button-outlined">{{lang["SPLITBILLS_SETTLE_UP"]}}</button>
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block body %}
	{% if group_users|length > 1 and my_balance %}
		<div class="grid" id="splitbill_overview">
			<div class="card negative">
				<div class="card-content">
					<div class="card-header">
						<h3>{{ lang["SPEND"] }}</h3>
					</div>
					<p>{{ my_balance["spend"] - my_balance["settled"] }}
						{{i18n.currency}}</p>
				</div>
			</div>
			<div class="card positive">
				<div class="card-content">
					<div class="card-header">
						<h3>{{ lang["PAID"] }}</h3>
					</div>
					<p>{{ my_balance["paid"] }}
						{{i18n.currency}}</p>
				</div>
			</div>
			<div class="card positive">
				<div class="card-content">
					<div class="card-header">
						<h3>{{ lang["RECEIVED"] }}</h3>
					</div>
					<p>{{ my_balance["settled"] }}
						{{i18n.currency}}</p>
				</div>
			</div>
			<div class="card {% if my_balance[" balance"] >= 0 %}positive{% else %}negative{% endif %}">
				<div class="card-content">
					<div class="card-header">
						<h3>{{ lang["BALANCE"] }}</h3>
					</div>
					<p>{{ my_balance["balance"] }}
						{{i18n.currency}}</p>
				</div>
			</div>
		</div>
	{% endif %}

	{% if group_users|length > 1 and balance|length  > 0 %}
		<div class="grid splitbill_total">
			<div class="card">
				<div class="card-content">
					{% for user_id, b in balance %}

						{% set total = '' %}
						{% if balance|length  > 2 %}
							{% if  b['balance'] > 0 %}
								{% set total = lang['PERSON_RECEIVES_TOTAL']| format(b['balance']|abs, i18n.currency) %}
							{% else %}
								{% set total = lang['PERSON_OWES_TOTAL']| format(b['balance']|abs, i18n.currency) %}
							{% endif %}

						{% endif %}

						{% if b["owe"] < 0 %}
							<p class="negative">{{ lang["PERSON_OWES_ME"]|format( users[b["user"]].name, b["owe"]|abs, i18n.currency) }}
								{{ total }}</p>
						{% elseif b["owe"] > 0 %}
							<p class="positive">{{ lang["PERSON_RECEIVES_BY_ME"]|format( users[b["user"]].name, b["owe"]|abs, i18n.currency) }}
								{{ total }}</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}

	<div class="inner-content">
		<div class="page-content">
			<table id="splitbills_bills_table" class="table table-hover small" data-currency="{{i18n.currency}}" data-members="{{ group_users|length }}">
				<thead>
					<tr>
						<th>{{lang["DATE"]}}</th>
						<th>{{lang["TIME"]}}</th>
						<th>{{lang["NAME"]}}</th>
						{% if group_users|length > 1 %}
							<th>{{ lang["RECEIVED"] }}</th>
							<th>{{ lang["SPEND"] }}</th>
							<th>{{ lang["PAID"] }}</th>
							<th>{{ lang["BALANCE"] }}</th>
						{% else %}
							<th>{{ lang["SPEND"] }}</th>
						{% endif %}
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for bill in bills %}
						<tr>
							<td>{{ bill[0] }}</td>
							<td>{{ bill[1] }}</td>
							<td>{{ bill[2]|raw }}</td>
							{% if group_users|length > 1 %}
								<td>{{ bill[3] }}</td>
								<td>{{ bill[4] }}</td>
								<td>{{ bill[5] }}</td>
								<td>{{ bill[6] }}</td>
								<td>{{ bill[7]|raw }}</td>
								<td>{{ bill[8]|raw }}</td>
							{% else %}
								<td>{{ bill[3] }}</td>
								<td>{{ bill[4]|raw }}</td>
								<td>{{ bill[5]|raw }}</td>
							{% endif %}

						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>

{% endblock %}
