<div class="exercise selected" data-id="{{ exercise['exercise'].id }}" data-type="workout-element">
	<div class="exercise-inner-content">
		<div class="exercise-content">
			<small class="bodypart">{{ exercise['mainBodyPart'] }}
				/
				{{ exercise['mainMuscle'] }}</small>
			<h3 class="title">{{ exercise['exercise'].name|raw }}</h3>
			{% if exercise['exercise'].getInstructions()|length > 0 %}
				<div class="details-wrapper instructions">
					<a href="#" class="details-headline">
						<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
						<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
						{{ "WORKOUTS_INSTRUCTIONS"|trans }}
					</a>
					<p class="details-content">{{ exercise['exercise'].getInstructions()|raw }}</p>
				</div>
			{% endif %}
			{% if exercise['primary_muscles']|length > 0 or exercise['secondary_muscles']|length > 0 %}
				<div class="details-wrapper muscles">
					<a href="#" class="details-headline">
						<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
						<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
						{{ "WORKOUTS_MUSCLES"|trans }}
					</a>
					<div class="details-content">
						{% if exercise['primary_muscles']|length > 0  %}
							<h4>{{"WORKOUTS_MUSCLES_PRIMARY"|trans}}</h4>
							<p>
								{% for muscle in exercise['primary_muscles'] %}
									{{ muscle.name }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
						{% endif %}

						{% if exercise['secondary_muscles']|length > 0 %}
							<h4>{{"WORKOUTS_MUSCLES_SECONDARY"|trans}}</h4>
							<p>
								{% for muscle in exercise['secondary_muscles'] %}
									{{ muscle.name }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
						{% endif %}

						{% include "workouts/exercise/selected-muscles.twig" with {'data': {"baseMuscleImageThumbnail": baseMuscleImageThumbnail, 'primary': exercise['primary_muscles'], 'secondary': exercise['secondary_muscles'], 'small': true}} only %}
					</div>
				</div>
			{% endif %}
			<div class="details-wrapper notices">
				<a href="#" class="details-headline">
					<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
					<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
					{{ "NOTICE"|trans }}
				</a>
				<p class="details-content">
					<textarea name="exercises[{{ exercise['idx'] }}][notice]">{{ exercise['notice']|raw }}</textarea>
				</p>
			</div>
			<div class="details-wrapper sets">
				<a href="#" class="details-headline">
					<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
					<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
					{{ "WORKOUTS_SETS"|trans }}
				</a>
				<div class="details-content">
					<div class="set-list">
						<div class="set set-dummy hidden">
							<span class="set-nr"></span>.
							{{ "WORKOUTS_SET"|trans }}:
							{% if exercise['exercise'].isCategoryReps() or exercise['exercise'].isCategoryRepsWeight() %}
								<input type="number" min="0" max="999" step="1" pattern="\d*" size="5" name="exercises[{{ exercise['idx'] }}][sets][dummy][repeats]" disabled="disabled"/>
								<label>{{ "WORKOUTS_REPEATS_SHORT"|trans }}</label>
							{% endif %}
							{% if exercise['exercise'].isCategoryRepsWeight() %}
								<input type="number" step="any" min="0" max="999" pattern="\d*" size="5" name="exercises[{{ exercise['idx'] }}][sets][dummy][weight]" disabled="disabled"/>
								<label>{{ "WORKOUTS_KG"|trans }}</label>
							{% endif %}

							{% if exercise['exercise'].isCategoryTime() or exercise['exercise'].isCategoryDistanceTime() %}
								<input type="number" step="any" min="0" max="999" pattern="\d*" size="5" name="exercises[{{ exercise['idx'] }}][sets][dummy][time]" disabled="disabled"/>
								<div class="select-wrapper">
									<select name="exercises[{{ exercise['idx'] }}][sets][dummy][time_type]" disabled="disabled">
										<option value="sec">{{ "WORKOUTS_SECONDS"|trans }}</option>
										<option value="min">{{ "WORKOUTS_MINUTES"|trans }}</option>
									</select>
								</div>
							{% endif %}
							{% if exercise['exercise'].isCategoryDistanceTime() %}
								<input type="number" step="any" min="0" max="999" pattern="\d*" size="5" name="exercises[{{ exercise['idx'] }}][sets][dummy][distance]" disabled="disabled"/>
								<label>{{ "WORKOUTS_KM"|trans }}</label>
							{% endif %}
						</div>
						{% for set in exercise['sets'] %}
							<div class="set">
								{{ loop.index }}.
								{{ "WORKOUTS_SET"|trans }}:

								{% if exercise['exercise'].isCategoryReps() or exercise['exercise'].isCategoryRepsWeight() %}
									<input id="repeats_{{ loop.index-1 }}" type="number" min="0" max="999" step="1" pattern="\d*" size="5" name="exercises[{{ exercise['idx'] }}][sets][{{ loop.index-1 }}][repeats]" value="{{ set["repeats"] }}"/>
									<label for="repeats_{{ loop.index-1 }}">{{ "WORKOUTS_REPEATS_SHORT"|trans }}</label>
								{% endif %}
								{% if exercise['exercise'].isCategoryRepsWeight() %}
									<input id="weights_{{ loop.index-1 }}" type="number" step="any" min="0" max="999" pattern="\d*" size="5" name="exercises[{{ exercise['idx'] }}][sets][{{ loop.index-1 }}][weight]" value="{{ set["weight"] }}"/>
									<label for="weights_{{ loop.index-1 }}">{{ "WORKOUTS_KG"|trans }}</label>
								{% endif %}

								{% if exercise['exercise'].isCategoryTime() or exercise['exercise'].isCategoryDistanceTime() %}
									<input id="time_{{ loop.index-1 }}" type="number" step="any" min="0" max="999" pattern="\d*" size="5" name="exercises[{{ exercise['idx'] }}][sets][{{ loop.index-1 }}][time]" value="{{ set["time"] }}"/>
									<div class="select-wrapper">
										<select name="exercises[{{ exercise['idx'] }}][sets][{{ loop.index-1 }}][time_type]">
											<option value="sec" {% if set["time_type"] == "sec" %} selected="true" {% endif %}>{{ "WORKOUTS_SECONDS"|trans }}</option>
											<option value="min" {% if set["time_type"] == "min" %} selected="true" {% endif %}>{{ "WORKOUTS_MINUTES"|trans }}</option>
										</select>
									</div>
								{% endif %}
								{% if exercise['exercise'].isCategoryDistanceTime() %}
									<input id="distance_{{ loop.index-1 }}" type="number" step="any" min="0" max="999" pattern="\d*" size="5" name="exercises[{{ exercise['idx'] }}][sets][{{ loop.index-1 }}][distance]" value="{{ set["distance"] }}"/>
									<label for="distance_{{ loop.index-1 }}">{{ "WORKOUTS_KM"|trans }}</label>
								{% endif %}
							</div>
						{% endfor %}
					</div>
					<div class="buttons">
						<button type="button" class="add_set button button-outlined small">{{ "WORKOUTS_SET_ADD"|trans }}</button>
						<button type="button" class="remove_set button button-text small">{{ "WORKOUTS_SET_REMOVE"|trans }}</button>
					</div>
				</div>
			</div>
		</div>
		{% if exercise['exercise'].get_thumbnail() != ''%}
			<div class="thumbnail">
				<img src="/{{uploads_folder}}/exercises/{{exercise['exercise'].get_thumbnail()}}"/>
			</div>
		{% endif %}
		<div class="icons">
			<span class="plus hidden">{{ fontawesome('fas fa-plus') }}</span>
			<span class="minus">{{ fontawesome('fas fa-minus') }}</span>
			<span class="handle">{{ fontawesome('fas fa-up-down-left-right') }}</span>
		</div>
		<input type="hidden" name="exercises[{{ exercise['idx'] }}][exercise]" value="{{ exercise['exercise'].id }}"/>
		<input type="hidden" name="exercises[{{ exercise['idx'] }}][type]" value="exercise"/>
		<input type="hidden" name="exercises[{{ exercise['idx'] }}][is_child]" value="{{ exercise['is_child'] }}"/>
		<input type="hidden" name="exercises[{{ exercise['idx'] }}][id]" value="{{ exercise['id'] }}"/>
	</div>
</div>