<div class="exercise selected" data-id="{{ exercise.id }}">
    <div class="icons">
        <i class="plus fas fa-plus hidden"></i>
        <i class="minus fas fa-minus"></i>
        <i class="handle fas fa-arrows-alt"></i>
    </div>
    <div class="exercise-content">
        <small class="bodypart">{{ bodyparts[exercise.mainBodyPart].name }} / {{ muscles[exercise.mainMuscle].name }}</small>
        <h3 class="title">{{ exercise.name }}</h3>
        <div class="instructions">
            <a href="#" class="headline">{{ lang["WORKOUTS_INSTRUCTIONS"] }}</a>
            <p class="content">{{ exercise.instructions }}</p>
        </div>
        <div class="sets">
            <a href="#" class="headline">{{ lang["WORKOUTS_SETS"] }}</a>
            <div class="content">
                {% for set in sets %}
                    <div class="set">
                        {{ loop.index }}. {{ lang["WORKOUTS_SET"] }}:
                        
                        {% if exercise.isCategoryReps() or exercise.isCategoryRepsWeight() %}
                            <input id="repeats_{{ loop.index-1 }}" type="number" min="0" max="999" step="1" size="3" name="exercises[{{ exercise_idx-1 }}][sets][{{ loop.index-1 }}][repeats]"  value="{{ set["repeats"] }}"/>
                            <label for="repeats_{{ loop.index-1 }}">{{ lang["WORKOUTS_REPEATS_SHORT"] }}</label>
                        {% endif %}
                        {% if exercise.isCategoryRepsWeight() %}
                            <input id="weights_{{ loop.index-1 }}" type="text" maxlength="3" size="3" name="exercises[{{ exercise_idx-1 }}][sets][{{ loop.index-1 }}][weight]"  value="{{ set["weight"] }}"/>
                            <label for="weights_{{ loop.index-1 }}">{{ lang["WORKOUTS_KG"] }}</label>
                        {% endif %}
                        
                        {% if exercise.isCategoryTime() or exercise.isCategoryDistanceTime() %}
                            <input id="time_{{ loop.index-1 }}" type="text" maxlength="10" size="5" name="exercises[{{ exercise_idx-1 }}][sets][{{ loop.index-1 }}][time]"  value="{{ set["time"] }}"/>
                            <label for="time_{{ loop.index-1 }}">{{ lang["WORKOUTS_MINUTES"] }}</label>
                        {% endif %}
                        {% if exercise.isCategoryDistanceTime() %}
                            <input id="distance_{{ loop.index-1 }}" type="text" maxlength="10" size="5" name="exercises[{{ exercise_idx-1 }}][sets][{{ loop.index-1 }}][distance]"  value="{{ set["distance"] }}"/>
                            <label for="distance_{{ loop.index-1 }}">{{ lang["WORKOUTS_KM"] }}</label>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>                                   
    {% if exercise.get_thumbnail() != ''%}
        <div class="thumbnail">
            <img src="/{{uploads_folder}}/exercises/{{exercise.get_thumbnail()}}"/>
        </div>
    {% endif %}
    <input type="hidden" name="exercises[{{ exercise_idx-1 }}][id]" value="{{ exercise.id }}"/>
</div>