<div class="exercise choose" data-id="{{ exercise['exercise'].id }}" data-type="workout-element">
	<div class="exercise-content">
		<small class="bodypart">{{ exercise['mainBodyPart'] }}
			/
			{{ exercise['mainMuscle'] }}</small>
		<h3 class="title">{{ exercise['exercise'].name|raw }}</h3>
		{% if exercise['exercise'].getInstructions()|length > 0 %}
			<div class="instructions">
				<a href="#" class="headline">
					<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
					<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
					{{ lang["WORKOUTS_INSTRUCTIONS"] }}
				</a>
				<p class="content">{{ exercise['exercise'].getInstructions()|raw }}</p>
			</div>
		{% endif %}
		{% if exercise['primary_muscles']|length > 0 or exercise['secondary_muscles']|length > 0 %}
			<div class="muscles">
				<a href="#" class="headline">
					<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
					<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
					{{ lang["WORKOUTS_MUSCLES"] }}
				</a>
				<div class="content">
					{% if exercise['primary_muscles']|length > 0  %}
						<h4>{{lang["WORKOUTS_MUSCLES_PRIMARY"]}}</h4>
						<p>
							{% for muscle in exercise['primary_muscles'] %}
								{{ muscle.name }}
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						</p>
					{% endif %}

					{% if exercise['secondary_muscles']|length > 0 %}
						<h4>{{lang["WORKOUTS_MUSCLES_SECONDARY"]}}</h4>
						<p>
							{% for muscle in exercise['secondary_muscles'] %}
								{{ muscle.name }}
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						</p>
					{% endif %}

					{% include "workouts/exercise/selected-muscles.twig" with {'data': {"baseMuscleImageThumbnail": baseMuscleImageThumbnail, 'primary': exercise['primary_muscles'], 'secondary': exercise['secondary_muscles'], 'small': true}} only %}
				</div>
			</div>
		{% endif %}
		<div class="notices">
			<a href="#" class="headline">
				<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
				<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
				{{ lang["NOTICE"] }}
			</a>
			<p class="content">
				<textarea name="exercises[{{ exercise_idx }}][notice]" disabled="disabled"></textarea>
			</p>
		</div>
		<div class="sets">
			<a href="#" class="headline">
				<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
				<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
				{{ lang["WORKOUTS_SETS"] }}
			</a>
			<div class="content">
				<div class="set-list">
					<div class="set set-dummy hidden">
						<span class="set-nr"></span>.
						{{ lang["WORKOUTS_SET"] }}:
						{% if exercise['exercise'].isCategoryReps() or exercise['exercise'].isCategoryRepsWeight() %}
							<input type="number" min="0" max="999" step="1" size="5" name="exercises[{{ exercise_idx }}][sets][dummy][repeats]" disabled="disabled"/>
							<label>{{ lang["WORKOUTS_REPEATS_SHORT"] }}</label>
						{% endif %}
						{% if exercise['exercise'].isCategoryRepsWeight() %}
							<input type="number" step="any" min="0" max="999" size="5" name="exercises[{{ exercise_idx }}][sets][dummy][weight]" disabled="disabled"/>
							<label>{{ lang["WORKOUTS_KG"] }}</label>
						{% endif %}

						{% if exercise['exercise'].isCategoryTime() or exercise['exercise'].isCategoryDistanceTime() %}
							<input type="number" step="any" min="0" max="999" size="5" name="exercises[{{ exercise_idx }}][sets][dummy][time]" disabled="disabled"/>
							<select name="exercises[{{ exercise_idx }}][sets][dummy][time_type]" disabled="disabled">
								<option value="sec">{{ lang["WORKOUTS_SECONDS"] }}</option>
								<option value="min">{{ lang["WORKOUTS_MINUTES"] }}</option>
							</select>
						{% endif %}
						{% if exercise['exercise'].isCategoryDistanceTime() %}
							<input type="number" step="any" min="0" max="999" size="5" name="exercises[{{ exercise_idx }}][sets][dummy][distance]" disabled="disabled"/>
							<label>{{ lang["WORKOUTS_KM"] }}</label>
						{% endif %}
					</div>
				</div>
				<div class="buttons">
					<button type="button" class="add_set button button-outlined small">{{ lang["WORKOUTS_SET_ADD"] }}</button>
					<button type="button" class="remove_set button button-text small">{{ lang["WORKOUTS_SET_REMOVE"] }}</button>
				</div>
			</div>
		</div>
	</div>
	{% if exercise['exercise'].get_thumbnail() != ''%}
		<div class="thumbnail">
			<img src="/{{uploads_folder}}/exercises/{{exercise['exercise'].get_thumbnail()}}"/>
		</div>
	{% endif %}
	<div class="icons">
		<span class="plus">{{ fontawesome('fas fa-plus') }}</span>
		<span class="minus hidden">{{ fontawesome('fas fa-minus') }}</span>
		<span class="handle hidden">{{ fontawesome('fas fa-up-down-left-right') }}</span>
	</div>
	<input type="hidden" name="exercises[{{ exercise_idx }}][type]" value="exercise" disabled="disabled"/>
	<input type="hidden" name="exercises[{{ exercise_idx }}][is_child]" value="0" disabled="disabled"/>
</div>
