{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block javascript %}
    <script src="{{baseURL}}/static/assets/js/Sortable.min.js"></script>
    <script src="{{baseURL}}/static/js/workouts.js?ver=20200804"></script>
{% endblock %}

{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["WORKOUTS_PLAN"]}}</h2></div>
        <div class="page-content">

            <form class="form-horizontal" action="{{  url_for('workouts_plans_save', {'id' : entry.id}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
                {% endif %}

                <div class="form-group">
                    <label for="inputName">{{lang["NAME"]}}</label>
                    <input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %}value="{{entry.name|raw}}"{% endif %}>
                </div>

                <div class="workout-selection">
                    <div class="row">
                        <div class="col" id="exercises_selected">
                            <h2>{{ lang["WORKOUTS_EXERCISES_SELECTED"] }}</h2>
                            <div class="content">
                                {% for select in selected_exercises %}
                                    {% set exercise = exercises[select["exercise"]] %}
                                    {% include "workouts/plan/edit-exercise-selected.twig" with {'exercise':exercise, 'muscles': muscles, 'bodyparts': bodyparts, 'exercise_idx': loop.index, 'sets': select["sets"]} only %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col">
                            <h2>{{ lang["WORKOUTS_EXERCISES_AVAILABLE"] }}</h2>
                            <div class="content">
                                {% for exercise in exercises %}
                                    {% include "workouts/plan/edit-exercise-choose.twig" with {'exercise':exercise, 'muscles': muscles, 'bodyparts': bodyparts, 'exercise_idx': loop.index} only %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>


{% endblock %}