{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"WORKOUTS_PLANS"|trans}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('workouts_sessions_stats_all') }}">
				<button class="button button-outlined">{{"STATS"|trans}}</button>
			</a>
			<a href="{{ url_for('workouts_plans_edit') }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{"ADD"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "workouts/workouts-tabs.twig" with {'active':'workouts'} %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<form method="GET" id="tableHeaderFilter" class="search-filter">
				<div class="filter-row">
					<div class="filter-group">
						<div class="filter-element">
							<div class="select-wrapper form-control">
								<select name="archive">
									<option value="0" {% if archive == 0 %} selected {% endif %}>{{"SHOW_NOT_ARCHIVED"|trans}}</option>
									<option value="1" {% if archive == 1 %} selected {% endif %}>{{"SHOW_ARCHIVED"|trans}}</option>
									<option value="" {% if archive is empty %} selected {% endif %}>{{"SHOW_ALL"|trans}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-row">
					<div class="filter-element">
						<input type="submit" class="button" value="{{"SHOW"|trans}}"/>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="inner-content">
		<div class="page-content">
			<table id="workouts_plans_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{"NAME"|trans}}</th>
						<th>{{ "WORKOUTS_DAYS"|trans }}</th>
						<th>{{ "WORKOUTS_EXERCISES"|trans }}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for plan in plans %}
						<tr>
							<td>
								<a href="{{ url_for('workouts_plan_view', {'plan' : plan.hash}) }}">{{plan.name|raw}}</a>
							</td>
							<td>
								{%if plan.days > 0 %}
									{{ plan.days }}
								{% endif %}
							</td>
							<td>
								{%if plan.exercises > 0 %}
									{{ plan.exercises }}
								{% endif %}
							</td>
							<td>
								<a href="{{ url_for('workouts_plans_edit', {'id' : plan.id}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
							</td>
							<td>
								<a href="#" data-url="{{ url_for('workouts_plans_delete', {'id' : plan.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
