{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block style %}{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/js/workouts-view.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header multiple-buttons">
		<div class="page-headline">
			{% if not plan.is_template %}
				<a href="{{ url_for_with_last_query_params('workouts') }}">
					<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
				</a>
			{% else %}
				<a href="{{ url_for_with_last_query_params('workouts_templates') }}">
					<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
				</a>
			{% endif %}
			<h2>{{plan.name|raw}}</h2>
		</div>
		<div class="buttons">

			{% if not plan.is_template %}
				<a href="{{ url_for('workouts_sessions_edit', {'plan':plan.hash}) }}">
					<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
						{{"WORKOUTS_SESSION_ADD"|trans}}</button>
				</a>
				{#<a href="{{ url_for('workouts_sessions', {'plan':plan.hash}) }}">
																	<button class="button button-text">{{"WORKOUTS_SESSIONS"|trans}}</button>
																</a>
																<a href="{{ url_for('workouts_sessions_stats', {'plan':plan.hash}) }}">
																	<button class="button button-text">{{"STATS"|trans}}</button>
																</a>
																#}
				<a href="{{ url_for('workouts_plan_export', {'plan':plan.hash}) }}" class="no-loading">
					<button class="button button-outlined">{{ fontawesome('far fa-file-excel') }}
						{{"WORKOUTS_EXPORT"|trans}}</button>
				</a>

			{% else %}
				<a href="{{ url_for('workouts_plans_edit') }}?template={{ plan.hash }}">
					<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
						{{"WORKOUTS_TEMPLATE_USE"|trans}}</button>
				</a>
			{% endif %}

		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% if not plan.is_template %}
		{% include "workouts/plan/workouts-plan-tabs.twig" with {'active':'workouts_plan_view'} %}
	{% endif %}
{% endblock %}

{% block body %}
	{% if not plan.category is null or not plan.level is null or not plan.notice is null %}
		<div class="inner-content">
			<div class="page-content">
				{% if not plan.category is null %}
					<h4>{{ "WORKOUTS_CATEGORY"|trans }}</h4>
					<p>{{ categories[plan.category].name|trans }}</p>
				{% endif %}
				{% if not plan.level is null %}
					<h4>{{ "WORKOUTS_LEVEL"|trans }}</h4>
					<p>{{ levels[plan.level].name|trans }}</p>
				{% endif %}
				{% if not plan.notice is null %}
					<h4>{{ "NOTICE"|trans }}</h4>
					<p>{{ plan.notice|raw }}</p>
				{% endif %}
			</div>
		</div>
	{% endif %}

	<div class="workout-selection view">
		{% for exercise in exercises %}
			{% if exercise.type == "exercise" %}
				<div class="inner-content">
					{% include "workouts/plan/view-single-exercise.twig" with {'exercise':exercise, "baseMuscleImageThumbnail": baseMuscleImageThumbnail} only %}
				</div>
			{% elseif exercise.type == "day" %}
				<h3>{{ exercise.notice }}</h3>
			{% elseif exercise.type == "superset" %}
				<div class="inner-content with-padding">
					<h3>{{"WORKOUTS_SUPERSET"|trans}}</h3>
					<div class="workout_superset">
						<div class="exercises" data-type="superset">
							{% for child in exercise['children'] %}
								{% include "workouts/plan/view-single-exercise.twig" with {'exercise':child, "baseMuscleImageThumbnail": baseMuscleImageThumbnail} only %}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="inner-content">
		<div class="inner-content-header light">
			<h2>{{ "WORKOUTS_MUSCLES_USED"|trans }}</h2>
		</div>
		<div class="page-content">
			{% include "workouts/exercise/selected-muscles.twig" with {'data': {"baseMuscleImageThumbnail": baseMuscleImageThumbnail, 'primary': muscles["primary"], 'secondary': muscles["secondary"], 'small': false}} only %}
		</div>
	</div>
{% endblock %}
