<div class="exercise" data-id="{{ exercise["exercise"].id }}">
    <div class="exercise-content">
        <small class="bodypart">{{ exercise["mainBodyPart"] }} / {{ exercise["mainMuscle"] }}</small>
        <h3 class="title">{{ exercise["exercise"].name }}</h3>
        <div class="instructions">
            <a href="#" class="headline">{{ lang["WORKOUTS_INSTRUCTIONS"] }}</a>
            <p class="content">{{ exercise["exercise"].getInstructions()|raw }}</p>
        </div>
        <div class="sets">
            <a href="#" class="headline">{{ lang["WORKOUTS_SETS"] }}</a>
            <div class="content">
                {% for set in exercise["set_description"] %}
                    <div class="set">
                        {{ loop.index }}. {{ lang["WORKOUTS_SET"] }}: {{ set }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>                                   
    {% if exercise["exercise"].get_thumbnail() != ''%}
        <div class="thumbnail">
            <img src="/{{uploads_folder}}/exercises/{{exercise["exercise"].get_thumbnail()}}"/>
        </div>
    {% endif %}
</div>