<div class="exercise" data-id="{{ exercise['exercise'].id }}">
	<div class="exercise-inner-content">
		<div class="exercise-content">
			<small class="bodypart">{{ exercise['mainBodyPart'] }}
				/
				{{ exercise['mainMuscle'] }}</small>
			<h3 class="title">{{ exercise['exercise'].name|raw }}</h3>
			{% if exercise['exercise'].getInstructions()|length > 0 %}
				<div class="details-wrapper instructions">
					<a href="#" class="details-headline">
						<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
						<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
						{{ "WORKOUTS_INSTRUCTIONS"|trans }}
					</a>
					<p class="details-content">{{ exercise['exercise'].getInstructions()|raw }}</p>
				</div>
			{% endif %}
			{% if exercise['primary_muscles']|length > 0 or exercise['secondary_muscles']|length > 0 %}
				<div class="details-wrapper muscles">
					<a href="#" class="details-headline">
						<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
						<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
						{{ "WORKOUTS_MUSCLES"|trans }}
					</a>
					<div class="details-content">
						{% if exercise['primary_muscles']|length > 0  %}
							<h4>{{"WORKOUTS_MUSCLES_PRIMARY"|trans}}</h4>
							<p>
								{% for muscle in exercise['primary_muscles'] %}
									{{ muscle.name }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
						{% endif %}

						{% if exercise['secondary_muscles']|length > 0 %}
							<h4>{{"WORKOUTS_MUSCLES_SECONDARY"|trans}}</h4>
							<p>
								{% for muscle in exercise['secondary_muscles'] %}
									{{ muscle.name }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
						{% endif %}

						{% include "workouts/exercise/selected-muscles.twig" with {'data': {"baseMuscleImageThumbnail": baseMuscleImageThumbnail, 'primary': exercise['primary_muscles'], 'secondary': exercise['secondary_muscles'], 'small': true}} only %}
					</div>
				</div>
			{% endif %}
			{% if exercise['notice'] %}
				<div class="view-notices">
					<h4>{{ "NOTICE"|trans }}</h4>
					<p>{{ exercise['notice']|nl2br|raw }}</p>
				</div>
			{% endif %}
			<div class="sets-description">
				<h4>{{ "WORKOUTS_SETS"|trans }}</h4>
				{% for set in exercise['set_description'] %}
					<div class="set">
						{{ loop.index }}.
						{{ "WORKOUTS_SET"|trans }}:
						{{ set }}
					</div>
				{% endfor %}
			</div>
		</div>
		{% if exercise['exercise'].get_thumbnail() != ''%}
			<div class="thumbnail">
				<img src="/{{uploads_folder}}/exercises/{{exercise['exercise'].get_thumbnail()}}"/>
			</div>
		{% endif %}
	</div>
</div>
