{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block javascript %}
    <script src="{{baseURL}}/static/assets/js/Sortable.min.js"></script>
    <script src="{{baseURL}}/static/js/workouts_session.js?ver=20200825"></script>
{% endblock %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["WORKOUTS_SESSION"]}} </h2></div>
        <div class="page-content">

            <form class="form-horizontal" action="{{  url_for('workouts_sessions_save', {'id' : entry.id, 'plan' : plan.hash}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
                {% endif %}

                <div class="form-group">
                    <label for="dateSelect">{{lang["DATE"]}}</label>
                    <input type="text" class="form-control" id="dateSelect" placeholder="" name="date" value="{% if not entry is null and not entry.date is null %}{{entry.date}}{% endif %}">
                </div>

                <div class="form-group">
                    <label for="timeEnd">{{ lang["START"] }} {{lang["TIME"]}}</label>
                    <input type="time" step="1" class="form-control" id="timeStart" name="start_time" value="{% if not entry is null %}{{entry.start_time}}{% endif %}">
                </div>

                <div class="form-group">
                    <label for="timeEnd">{{ lang["END"] }} {{lang["TIME"]}}</label>
                    <input type="time" step="1" class="form-control" id="timeEnd" name="end_time" value="{% if not entry is null %}{{entry.end_time}}{% endif %}">
                </div>

                <div class="form-group">
                    <label for="inputNotice">{{lang["NOTICE"]}}</label>
                    <textarea class="form-control" id="inputNotice" name="notice" rows="2">{% if not entry is null %}{{entry.notice|raw}}{% endif %}</textarea>
                </div>

                <div class="workout-selection" id="sessionExercises" data-type="main">
                    {% for exercise in exercises %}
                        {% if exercise.type == "exercise" %}
                            {% include "workouts/sessions/edit-single-exercise.twig" with {'data': exercise} only %}
                        {% elseif exercise.type == "day" %}
                            <div class="workout_day_split" data-type="workout-element"  data-category="day">
                                <div class="content">
                                    <h3>{{ exercise.notice }}</h3>
                                    <input type="hidden" name="exercises[{{ exercise["idx"] }}][notice]" value="{{ exercise["notice"] }}"/>
                                    <input type="hidden" name="exercises[{{ exercise["idx"] }}][type]" value="day"/>
                                </div>
                                <div class="icons">
                                    <i class="minus fas fa-minus"></i>
                                    <i class="handle fas fa-arrows-alt"></i>
                                </div>
                            </div>
                            {% elseif exercise.type == "superset" %}
                            <div class="workout_superset" data-type="workout-element" data-category="superset">
                                <div class="content">
                                    <h3>{{lang["WORKOUTS_SUPERSET"]}}</h3>
                                    <input type="hidden" name="exercises[{{ exercise["idx"] }}][type]" value="superset"/>
                                    <div class="workout_superset_child">
                                        {% for child in exercise["children"] %}
                                            {% include "workouts/sessions/edit-single-exercise.twig" with {'data': child} only %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="icons">
                                    <i class="minus fas fa-minus"></i>
                                    <i class="handle fas fa-arrows-alt"></i>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <h3>{{ lang["WORKOUTS_ADD_EXERCISE"] }}</h3>
                <div class="form-group">
                    <select id="addExerciseToSession" >
                        {% for exercise in exercisesList %}
                            <option value="{{ exercise.id }}">{{ exercise.name|raw }}</option>
                        {% endfor %}
                    </select>
                    <input id="setCount" type="number" min="0" max="999" step="any" size="5" value="3" class="small"/>
                    <label for="setCount">{{ lang["WORKOUTS_SETS"] }}</label>
                    <button type="button" class="gray small" id="addExercise">{{ lang["ADD"] }}</button>
                </div>

                <div class="form-group btn">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}