{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block style %}

{% endblock %}

{% block javascript %}
    <script src="{{baseURL}}/static/assets/js/chart.min.js"></script>
    <script src="{{baseURL}}/static/js/workouts-stats.js?ver=20210123"></script>
{% endblock %}

{% block body %}

    {% for exercise in exercises %}
        <div class="inner-content">
            <div class="page-header">
                <h2>{{plan.name|raw}} | {{ exercise["exercise"].name }}</h2>
                <div class="buttons">
                    <a href="{{  url_for('workouts_plan_view', {'plan': plan.hash}) }}"><button class="white">{{lang["BACK"]}} {{ fontawesome('fas fa-level-up-alt') }}</button></a>
                </div>
            </div>

            <div class="page-content">
                {% if exercise["exercise"].isCategoryReps() or exercise["exercise"].isCategoryRepsWeight() %}
                    <h3>{{ lang["WORKOUTS_CATEGORY_REPS"] }}</h3>
                    <canvas data-values="{{exercise["data"]["repeats"]|json_encode(constant('JSON_NUMERIC_CHECK'))}}" class="workoutChart chart"></canvas>
                    {% endif %}
                    {% if exercise["exercise"].isCategoryRepsWeight() %}
                    <h3>{{ lang["WORKOUTS_WEIGHT"] }}</h3>
                    <canvas data-values="{{exercise["data"]["weight"]|json_encode(constant('JSON_NUMERIC_CHECK'))}}" class="workoutChart chart"></canvas>
                    {% endif %}
                    {% if exercise["exercise"].isCategoryTime() or exercise["exercise"].isCategoryDistanceTime() %}
                    <h3>{{ lang["WORKOUTS_CATEGORY_TIME"] }}</h3>
                    <canvas data-values="{{exercise["data"]["time"]|json_encode(constant('JSON_NUMERIC_CHECK'))}}" class="workoutChart chart"></canvas>
                    {% endif %}
                    {% if exercise["exercise"].isCategoryDistanceTime() %}
                    <h3>{{ lang["WORKOUTS_DISTANCE"] }}</h3>
                    <canvas data-values="{{exercise["data"]["distance"]|json_encode(constant('JSON_NUMERIC_CHECK'))}}" class="workoutChart chart"></canvas>
                    {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}        
