{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block style %}{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/randomColor.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>
	<script src="{{baseURL}}/static/assets/js/chart.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/chartjs-adapter-moment.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/chartjs-plugin-annotation.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/hammer.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/chartjs-plugin-zoom.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/workouts-stats.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block body %}

	<div class="inner-content">
		<div class="page-header">
			<h2>
				{% if plan is not empty %}
					{{plan.name|raw}}
				{% else %}
					{{lang["WORKOUTS_SESSIONS"]}}
				{% endif %}
			</h2>
			<div class="buttons">
				<a href="{% if plan is not empty %}{{ url_for_with_last_query_params('workouts_plan_view', {'plan': plan.hash}) }}{% else %}{{ url_for_with_last_query_params('workouts') }}{% endif %}">
					<button class="button">{{lang["BACK"]}}
						{{ fontawesome('fas fa-turn-up') }}</button>
				</a>
			</div>
		</div>
	</div>

	{% for exercise in exercises %}
		<div class="inner-content">
			<div class="page-header">
				<h2>{{ exercise['exercise'].name }}</h2>
			</div>

			<div class="page-content">
				{% if exercise['exercise'].get_thumbnail() != ''%}
					<div class="thumbnail">
						<img src="/{{uploads_folder}}/exercises/{{exercise['exercise'].get_thumbnail()}}"/>
					</div>
				{% endif %}
				{% if (exercise['exercise'].isCategoryReps() or exercise['exercise'].isCategoryRepsWeight()) and exercise['data']['repeats'] is not null %}
					<h3>{{ lang["WORKOUTS_CATEGORY_REPS"] }}</h3>
					<canvas data-values="{{exercise['data']['repeats']|json_encode(constant('JSON_NUMERIC_CHECK'))}}" data-min="{{start}}" data-max="{{end}}" data-dates="{{dates|json_encode()}}" class="workoutChart chart"></canvas>
				{% endif %}
				{% if exercise['exercise'].isCategoryRepsWeight() and exercise['data']['weight'] is not null %}
					<h3>{{ lang["WORKOUTS_WEIGHT"] }}</h3>
					<canvas data-values="{{exercise['data']['weight']|json_encode(constant('JSON_NUMERIC_CHECK'))}}" data-min="{{start}}" data-max="{{end}}" data-dates="{{dates|json_encode()}}" class="workoutChart chart"></canvas>
				{% endif %}
				{% if (exercise['exercise'].isCategoryTime() or exercise['exercise'].isCategoryDistanceTime()) and exercise['data']['time'] is not null %}
					<h3>{{ lang["WORKOUTS_CATEGORY_TIME"] }}</h3>
					<canvas data-values="{{exercise['data']['time']|json_encode(constant('JSON_NUMERIC_CHECK'))}}" data-min="{{start}}" data-max="{{end}}" data-dates="{{dates|json_encode()}}" class="workoutChart chart"></canvas>
				{% endif %}
				{% if exercise['exercise'].isCategoryDistanceTime() and exercise['data']['distance'] is not null %}
					<h3>{{ lang["WORKOUTS_DISTANCE"] }}</h3>
					<canvas data-values="{{exercise['data']['distance']|json_encode(constant('JSON_NUMERIC_CHECK'))}}" data-min="{{start}}" data-max="{{end}}" data-dates="{{dates|json_encode()}}" class="workoutChart chart"></canvas>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
