{% extends "base.twig" %}

{% set active = 'recipes' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('recipes_groceries')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"RECIPES_GROCERY"|trans}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('groceries_merge_view', {'id' : entry.id}) }}">
				<button class="button button-outlined">{{"MERGE"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" action="{{ url_for('recipes_groceries_save', {'id' : entry.id}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
				{% endif %}

				<div class="form-group">
					<label for="inputName">{{"NAME"|trans}}</label>
					<input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %} value="{{entry.name|raw}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="inputUnit">{{"UNIT"|trans}}</label>
					<input type="text" class="form-control" id="inputUnit" name="unit" {% if not entry is null %} value="{{entry.unit}}" {% endif %}>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxIsFood">
						<input name="is_food" type="checkbox" value="1" id="checkboxIsFood" {% if entry is not null and entry.is_food == 1 %} checked {% endif %}>
						{{"RECIPES_INGREDIENT"|trans}}
					</label>
				</div>

				<div class="form-group">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
