{% extends "base.twig" %}

{% set active = 'recipes' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"RECIPES_GROCERIES"|trans}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('recipes_groceries_edit') }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{"ADD"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "recipes/recipes-tabs.twig" with {'active':'recipes_groceries'} only %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<table id="recipes_groceries_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{"NAME"|trans}}</th>
						<th>{{"UNIT"|trans}}</th>
						<th>{{"RECIPES_INGREDIENT"|trans}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for grocery in groceries %}
						<tr>
							<td>{{grocery.name|raw}}</td>
							<td>{{grocery.unit}}</td>
							<td>
								{%- if grocery.is_food -%}
									{{"YES"|trans}}
								{%- else -%}
									{{- "NO"|trans -}}
								{%- endif -%}
							</td>
							<td>
								{% if grocery.getOwner() == user.id or user.isAdmin() %}
									<a href="{{ url_for('recipes_groceries_edit', {'id' : grocery.id}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
								{% endif %}
							</td>

							<td>
								{% if grocery.getOwner() == user.id or user.isAdmin() %}
									<a href="#" data-url="{{ url_for('recipes_groceries_delete', {'id' : grocery.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
