{% extends "base.twig" %}

{% set active = 'crawlers' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["CRAWLERS"]}}</h2> <a href="{{  path_for('crawlers_edit') }}"><button class="white"><i class="fas fa-plus" aria-hidden="true"></i> {{lang["ADD"]}}</button></a></div>
        <div class="page-content">
            <table id="crawlers_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["NAME"]}}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for crawler in crawlers %}
                        <tr>
                            <td><a href="{{  path_for('crawlers_view', {'crawler' : crawler.hash}) }}">{{crawler.name|raw}}</a></td> 
                            <td>
                                {% if crawler.user == user.id %}
                                    <a href="{{  path_for('crawlers_headers', {'crawler' : crawler.hash}) }}"><span class="fas fa-table fa-lg"></span></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if crawler.user == user.id %}
                                    <a href="{{  path_for('crawlers_links', {'crawler' : crawler.hash}) }}"><span class="fas fa-external-link-alt fa-lg"></span></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if crawler.user == user.id %}
                                    <a href="{{  path_for('crawlers_edit', {'id' : crawler.id}) }}"><span class="fas fa-edit fa-lg"></span></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if crawler.user == user.id %}
                                    <a href="#" data-url="{{  path_for('crawlers_delete', {'id' : crawler.id}) }}" class="btn-delete"><span class="fas fa-trash fa-lg"></span></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}