{% extends "base.twig" %}

{% set active = 'crawlers' %}

{% block style %}{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/js/datefilter.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/crawler.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('crawlers') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{crawler.name|raw}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('crawler_dataset_saved_list', {'crawler': crawler.hash}) }}">
				<button class="button button-outlined">{{ fontawesome('far fa-star') }}
					{{"CRAWLER_DATASET_SAVE_LIST"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<form method="GET" id="tableHeaderFilter" class="search-filter">
				<input type="hidden" id="inputStart" name="from" value="{{from}}"/>
				<input type="hidden" id="inputEnd" name="to" value="{{to}}"/>

				<div class="filter-row">
					<div class="filter-element">
						<div class="flatpickr-group" id="dateRange">
							<input type="text" value="{{from}} to {{to}}" data-input/>

							<a class="flatpickr-input-button" title="toggle" data-toggle>
								{{ fontawesome('fas fa-calendar-days') }}
							</a>

							<a class="flatpickr-input-button" title="clear" data-clear>
								{{ fontawesome('fas fa-xmark') }}
							</a>
						</div>
					</div>
					<div class="filter-group">
						<div class="filter-element">
							<div class="select-wrapper form-control">
								<select id="filterCrawlerDatasets">
									<option value="createdOn" {% if filter =="createdOn" %} selected {% endif %}>{{"SHOW_ONLY_NEW_ENTRIES"|trans}}</option>
									<option value="changedOn" {% if filter =="changedOn" %} selected {% endif %}>{{"SHOW_NEW_UPDATED_ENTRIES"|trans}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-row">
					<div class="filter-element">
						<input type="submit" class="button" value="{{"SHOW"|trans}}"/>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="inner-content">
		<div class="page-content">
			<table id="crawlers_data_table" class="table table-hover small">
				<thead>
					<tr>
						<th></th>
						<th>{{"DATE_CRAWL"|trans}}</th>
						{% for header in headers %}
							<th {% if header.sortable == 1 %} data-sortable="true" {% else %} data-sortable="false" {% endif %} {% if not header.sort is null %} data-sort="{{ header.sort }}" {% endif %}>{{header.headline}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for row in datasets %}
						<tr>
							{% for column in row %}
								<td>{{ column | raw}}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div id="tableFooterFilter" class="search-filter">
				<div class="filter-row">
					<div class="filter-element">
						<button type="button" class="button button-outlined small" id="mark_all_as_shown">{{ "CRAWLERS_MARK_ALL_AS_SHOWN"|trans }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if links  %}
		<div class="page-header page-sub-header">
			<div class="page-headline">
				<h2>{{"LINKLIST"|trans}}</h2>
			</div>
		</div>
		<div class="inner-content">
			<div class="page-content">
				<ul id="crawler_links">
					{% include "crawlers/links/menu-links.twig" with {'links':links, 'root': 1} only %}
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock %}
