{% extends "base.twig" %}

{% set active = 'recipes' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{lang["RECIPES_COOKBOOKS"]}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('recipes_cookbooks_edit') }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{lang["ADD"]}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "recipes/recipes-tabs.twig" with {'active':'recipes_cookbooks'} only %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<table id="recipes_cookbooks_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{ lang["NAME"] }}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for cookbook in cookbooks %}
						<tr>
							<td>
								<a href="{{ url_for('recipes_cookbooks_view', {'cookbook' : cookbook.hash}) }}">{{ cookbook.name|raw }}</a>
							</td>
							<td>
								{% if cookbook.getOwner() == user.id %}
									<a href="{{ url_for('recipes_cookbooks_edit', {'id' : cookbook.id}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
								{% endif %}
							</td>
							<td>
								{% if cookbook.getOwner() == user.id %}
									<a href="#" data-url="{{ url_for('recipes_cookbooks_delete', {'id' : cookbook.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
