{% extends "base.twig" %}

{% set active = 'steps' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/chart.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/location-steps-stats.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"STEPS"|trans}}
				{{"STATS"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "location/location-tabs.twig" with {'active':'steps'} only %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<canvas id="stepsSummaryChart" data-values="{{data}}" data-labels="{{labels}}" data-label="{{"STEPS_AVG"|trans}}"></canvas>

			<table id="steps_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{"YEAR"|trans}}</th>
						<th>{{"STEPS_AVG"|trans}}</th>
						<th>{{"STEPS_MAX"|trans}}</th>
						<th>{{"STEPS_SUM"|trans}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for entry in stats %}
						<tr>
							<td data-title="{{"YEAR"|trans}}">{{entry[0]}}</td>
							<td data-title="{{"STEPS_AVG"|trans}}">{{ entry[1]|number_format(0, '', '.')}}</td>
							<td data-title="{{"STEPS_MAX"|trans}}">{{ entry[2]|number_format(0, '', '.')}}</td>
							<td data-title="{{"STEPS_SUM"|trans}}">{{ entry[3]|number_format(0, '', '.')}}</td>
							<td>
								<a href="{{ url_for('steps_stats_year', { 'year' : entry[0] }) }}">{{ fontawesome('fas fa-chart-bar') }}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
