{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/leaflet.min.css" />
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/selectr.min.css" />
{% endblock %}

{% block javascript %}
    <script src="{{baseURL}}/static/assets/js/leaflet.js" type="text/javascript"></script>
    <script src="{{baseURL}}/static/js/geolocation.js?ver=20200126"></script>
    <script src="{{baseURL}}/static/assets/js/selectr.min.js"></script>
    <script src="{{baseURL}}/static/js/timesheets.js?ver=20210405"></script>
{% endblock %}

{% set hasMap_start = not entry.start_lat is null and not entry.start_lng is null %}
{% set hasMap_end = not entry.end_lat is null and not entry.end_lng is null %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["TIMESHEETS"]}} | {{project.name|raw}}</h2>
            <div class="buttons">
                <a href="{{  url_for('timesheets_sheets', {'project' : project.hash}) }}"><button class="white">{{lang["BACK"]}} <i class="fas fa-level-up-alt"></i></button></a>
            </div>
        </div>
        <div class="page-content">

            <form class="form-horizontal" action="{{  url_for('timesheets_sheets_save', {'id' : entry.id, 'project': project.hash}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id"  type="hidden" value="{{entry.id}}">
                {% endif %}

                <div class="form-group">
                    <label for="datetimePickerStart">{% if entry.is_day_based == 1 %}{{lang["TIMESHEETS_COME_DAY_BASED"]}}{% else %}{{lang["TIMESHEETS_COME_PROJECT_BASED"]}}{% endif %}</label>
                    <input type="text" class="form-control" id="datetimePickerStart" placeholder="" name="start" value="{% if not entry is null %}{{entry.start}}{% else %}{{ "now"|date("Y-m-d H:i") }}{% endif %}">
                </div>

                <div class="mapWrapper">
                    <h4>{{lang["START_ADDRESS"]}}</h4>
                    <div id="geo-map" class="geo-map"></div>
                    <div class="form-group map-btn">
                        <button class="update-location gray">{{lang["SET_CURRENT_LOCATION"]}}</button>
                        <button class="delete-location danger {% if not hasMap_start %}hidden{% endif %}">{{lang["REMOVE_LOCATION"]}}</button>
                    </div>
                    <input type="hidden" class="geo-lat" name="start_lat" value="{% if not entry is null %}{{entry.start_lat}}{% endif %}">
                    <input type="hidden" class="geo-lng" name="start_lng" value="{% if not entry is null %}{{entry.start_lng}}{% endif %}">
                    <input type="hidden" class="geo-acc" name="start_acc" value="{% if not entry is null %}{{entry.start_acc}}{% endif %}">
                    <input type="hidden" class="geo-draggable" name="draggable" value="1">
                </div>

                <div class="form-group">
                    <label for="datetimePickerEnd">{% if entry.is_day_based == 1 %}{{lang["TIMESHEETS_LEAVE_DAY_BASED"]}}{% else %}{{lang["TIMESHEETS_LEAVE_PROJECT_BASED"]}}{% endif %}</label>
                    <input type="text" class="form-control" id="datetimePickerEnd" placeholder="" name="end" value="{% if not entry is null %}{{entry.end}}{% else %}{{ "now"|date("Y-m-d H:i") }}{% endif %}">
                </div>

                <div class="mapWrapper">
                    <h4>{{lang["END_ADDRESS"]}}</h4>
                    <div id="geo-map2" class="geo-map"></div>
                    <div class="form-group map-btn">
                        <button class="update-location gray">{{lang["SET_CURRENT_LOCATION"]}}</button>
                        <button class="delete-location danger {% if not hasMap_end %}hidden{% endif %}">{{lang["REMOVE_LOCATION"]}}</button>
                    </div>
                    <input type="hidden" class="geo-lat" name="end_lat" value="{% if not entry is null %}{{entry.end_lat}}{% endif %}">
                    <input type="hidden" class="geo-lng" name="end_lng" value="{% if not entry is null %}{{entry.end_lng}}{% endif %}">
                    <input type="hidden" class="geo-acc" name="end_acc" value="{% if not entry is null %}{{entry.end_acc}}{% endif %}">
                    <input type="hidden" class="geo-draggable" name="draggable" value="1">
                </div>

                <div class="form-group">
                    <label for="inputNotice">{{lang["NOTICE"]}}</label>
                    <textarea class="form-control" id="inputNotice" name="notice">{% if not entry is null %}{{entry.notice|raw}}{% endif %}</textarea>
                </div>

                <div class="form-group category">
                    <label for="projectCategory">{{lang["CATEGORIES"]}}</label>
                    <select class="form-control category" id="projectCategory" name="category[]" multiple>
                        {% for cat in categories %}
                            <option value="{{cat.id}}" {% if cat.id in sheet_categories %}selected{%endif%}>{{cat.name|raw}}</option>
                        {% endfor %}
                    </select>
                </div>  


                {% if project.has_duration_modifications > 0 %}
                    <div class="form-group">
                        <label class="checkbox" for="checkboxDurationModification">
                            <input name="duration_modification" type="checkbox" value="1" id="checkboxDurationModification" {% if entry is not null and entry.duration != entry.duration_modified %}checked{% endif %}>
                            {{lang["TIMESHEETS_DURATION_MODIFICATION"]}}
                        </label>
                    </div>

                    <div id="inputDurationModificationWrapper" class="form-group {% if entry is null or entry.duration == entry.duration_modified %}hidden{% endif %}">
                        <label for="inputDurationModification">{{lang["TIMESHEETS_TIME_CONVERSION_RATE"]}}</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="inputRate" 
                            name="duration_modified" 
                            value="{% if not entry is null %}{{entry.duration_modified}}{% else %}{{ entry.duration }}{% endif %}"
                            {% if entry is null or entry.duration == entry.duration_modified %}disabled="disabled"{% endif %}
                            >
                    </div>
                {% endif %}

                <div class="form-group btn">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}