{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/selectr.min.css?ver={{CACHEMISS}}"/>
{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/selectr.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/html-duration-picker.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% set hasMap_start = not entry.start_lat is null and not entry.start_lng is null %}
{% set hasMap_end = not entry.end_lat is null and not entry.end_lng is null %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{% if view =="calendar" %}{{ url_for_with_last_query_params('timesheets_calendar', {'project' : project.hash}) }}{% else %}{{ url_for_with_last_query_params('timesheets_sheets', {'project' : project.hash}) }}{% endif %}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"TIMESHEETS"|trans}}
				|
				{{project.name|raw}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" action="{{ url_for('timesheets_sheets_save', {'id' : entry.id, 'project': project.hash}) }}{% if view %}?view={{view}}{% endif %}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
					<input name="reference_sheet" id="reference_sheet" type="hidden" value="{{entry.reference_sheet}}">
				{% endif %}

				<div class="form-group">
					<label for="datetimePickerStartField">
						{% if entry.is_day_based == 1 %}
							{{"TIMESHEETS_COME_DAY_BASED"|trans}}
						{% else %}
							{{"TIMESHEETS_COME_PROJECT_BASED"|trans}}
						{% endif %}
					</label>
					<div class="flatpickr-group" id="datetimePickerStart">
						<input type="text" class="form-control" id="datetimePickerStartField" placeholder="" name="start" value="{{start}}" data-input/>

						<a class="flatpickr-input-button" title="toggle" data-toggle>
							{{ fontawesome('fas fa-calendar-days') }}
						</a>

						<a class="flatpickr-input-button" title="clear" data-clear>
							{{ fontawesome('fas fa-xmark') }}
						</a>
					</div>

				</div>

				<div class="mapWrapper">
					<h4>{{"START_ADDRESS"|trans}}</h4>
					<div id="geo-map" class="geo-map"></div>
					<div class="form-group map-btn">
						<button class="update-location button button-outlined">{{"SET_CURRENT_LOCATION"|trans}}</button>
						<button class="delete-location button button-text {% if not hasMap_start %}hidden{% endif %}">{{"REMOVE_LOCATION"|trans}}</button>
					</div>
					<input type="hidden" class="geo-lat" name="start_lat" value="{% if not entry is null %}{{entry.start_lat}}{% endif %}">
					<input type="hidden" class="geo-lng" name="start_lng" value="{% if not entry is null %}{{entry.start_lng}}{% endif %}">
					<input type="hidden" class="geo-acc" name="start_acc" value="{% if not entry is null %}{{entry.start_acc}}{% endif %}">
					<input type="hidden" class="geo-draggable" name="draggable" value="1">
				</div>

				<div class="form-group">
					<label for="datetimePickerEndField">
						{% if entry.is_day_based == 1 %}
							{{"TIMESHEETS_LEAVE_DAY_BASED"|trans}}
						{% else %}
							{{"TIMESHEETS_LEAVE_PROJECT_BASED"|trans}}
						{% endif %}
					</label>
					<div class="flatpickr-group" id="datetimePickerEnd">
						<input type="text" class="form-control" id="datetimePickerEndField" placeholder="" name="end" value="{{end}}" data-saved="{% if not entry is null %}1{% else %}0{% endif %}" data-default-duration="{{ project.default_duration }}" data-input/>

						<a class="flatpickr-input-button" title="toggle" data-toggle>
							{{ fontawesome('fas fa-calendar-days') }}
						</a>

						<a class="flatpickr-input-button" title="clear" data-clear>
							{{ fontawesome('fas fa-xmark') }}
						</a>
					</div>
				</div>

				<div class="mapWrapper">
					<h4>{{"END_ADDRESS"|trans}}</h4>
					<div id="geo-map2" class="geo-map"></div>
					<div class="form-group map-btn">
						<button class="update-location button button-outlined">{{"SET_CURRENT_LOCATION"|trans}}</button>
						<button class="delete-location button button-text {% if not hasMap_end %}hidden{% endif %}">{{"REMOVE_LOCATION"|trans}}</button>
					</div>
					<input type="hidden" class="geo-lat" name="end_lat" value="{% if not entry is null %}{{entry.end_lat}}{% endif %}">
					<input type="hidden" class="geo-lng" name="end_lng" value="{% if not entry is null %}{{entry.end_lng}}{% endif %}">
					<input type="hidden" class="geo-acc" name="end_acc" value="{% if not entry is null %}{{entry.end_acc}}{% endif %}">
					<input type="hidden" class="geo-draggable" name="draggable" value="1">
				</div>

				{% if customers %}
					<div class="form-group customer">
						<label for="customer">
							{% if project.customers_name_singular %}
								{{project.customers_name_singular}}
							{% else %}
								{{"TIMESHEETS_CUSTOMER"|trans}}
							{% endif %}
						</label>
						<div class="select-wrapper form-control">
							<select id="customer" name="customer">
								<option value="" {% if entry is null %} selected {% endif %}>{{ "NONE"|trans }}</option>
								{% for customer in customers %}
									{% if (entry is not null or customer.archive != 1) %}
										<option value="{{customer.id}}" {% if (not entry is null and customer.id == entry.customer) %} selected {% endif %}>{{customer.name|raw}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				{% endif %}

				{% if categories %}
					<div class="form-group category">
						<label for="projectCategory">{{"CATEGORIES"|trans}}</label>
						<select class="category form-control" id="projectCategory" name="category[]" multiple>
							{% for cat in categories %}
								<option value="{{cat.id}}" {% if cat.id in sheet_categories %} selected {%endif%}>{{cat.name|raw}}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}

				{% if project.has_duration_modifications > 0 %}
					<div class="form-group">
						<label class="checkbox" for="radioDurationReal">
							<input name="duration_modification" type="radio" value="0" id="radioDurationReal" {% if (entry is not null and entry.getDurationModification(project.time_conversion_rate) == 0 )%} checked="checked" {% endif %}>
							{{"TIMESHEETS_DURATION_NO_MODIFICATION"|trans}}
						</label>
						<br/>
						<label class="checkbox" for="radioDurationProjectRate">
							<input name="duration_modification" type="radio" value="1" id="radioDurationProjectRate" {% if ( entry is null ) or (entry is not null and entry.getDurationModification(project.time_conversion_rate) == 1 )%} checked="checked" {% endif %}>
							{{"TIMESHEETS_DURATION_USE_PROJECT_RATE"|trans}}
							({{ project.time_conversion_rate }})
						</label>
						<br/>
						<label class="checkbox" for="radioDurationCustom">
							<input name="duration_modification" type="radio" value="2" id="radioDurationCustom" {% if (entry is not null and entry.getDurationModification(project.time_conversion_rate) == 2 )%} checked="checked" {% endif %}>
							{{"TIMESHEETS_DURATION_MODIFICATION"|trans}}
						</label>
						<br/>
						<div id="inputDurationModificationWrapper" class="form-group {% if ( entry is null ) or (entry is not null and ( entry.getDurationModification(project.time_conversion_rate) == 0 or entry.getDurationModification(project.time_conversion_rate) == 1 ))%}hidden{% endif %}">
							<label for="inputDurationModification">{{"TIMESHEETS_TIME_MODIFICATION"|trans}}</label>
							<input type="text" class="form-control {% if (entry is not null and entry.getDurationModification(project.time_conversion_rate) == 2 )%}html-duration-picker{% endif %}" data-hide-seconds data-duration-max="999:59" id="inputDurationModification" name="set_duration_modified" value="{% if not entry is null %}{{entry.duration_modified | splitDateInterval(true) }}{% endif %}">
						</div>
					</div>
				{% endif %}

				<div class="form-group">
					<label class="checkbox" for="checkboxHappened">
						<input name="is_happened" type="checkbox" value="1" id="checkboxHappened" {% if entry.is_happened == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HAPPENED"|trans}}
					</label>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxInvoiced">
						<input name="is_invoiced" type="checkbox" value="1" id="checkboxInvoiced" {% if entry.is_invoiced == 1 %} checked {% endif %}>
						{{"TIMESHEETS_INVOICED"|trans}}
					</label>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxBilled">
						<input name="is_billed" type="checkbox" value="1" id="checkboxBilled" {% if entry.is_billed == 1 %} checked {% endif %}>
						{{"TIMESHEETS_BILLED"|trans}}
					</label>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxPayed">
						<input name="is_payed" type="checkbox" value="1" id="checkboxPayed" {% if entry.is_payed == 1 %} checked {% endif %}>
						{{"TIMESHEETS_PAYED"|trans}}
					</label>
				</div>

				{% if series | length > 0 %}
					<div class="form-group">
						<p class="series">{{"TIMESHEETS_IS_PART_OF_SERIES"|trans}}
							(<span class="count">{{series | length}}</span>
							{{"TIMESHEETS_SERIES_COUNT"|trans}})</p>
						{% if previous_sheets | length > 0 %}
							<h3>{{"TIMESHEETS_SERIES_PREVIOUS_ENTRIES"|trans}}</h3>
							<ul>
								{% for item in previous_sheets %}
									<li>{{item}}</li>
								{% endfor %}
							</ul>
						{% endif %}
						{% if remaining_sheets | length > 0 %}
							<h3>{{"TIMESHEETS_SERIES_FOLLOWING_ENTRIES"|trans}}</h3>
							<ul>
								{% for item in remaining_sheets %}
									<li>{{item}}</li>
								{% endfor %}
							</ul>
						{% else %}
							<p>
								<b>{{"TIMESHEETS_SERIES_FOLLOWING_ENTRIES_LAST"|trans}}</b>
							</p>
						{% endif %}
					</div>
				{% endif %}

				<div class="form-group">
					<label class="checkbox" for="checkBoxRepeat">
						<input name="set_repeats" type="checkbox" id="checkBoxRepeat" value="1">
						{{"TIMESHEETS_REPEAT"|trans}}
					</label>
				</div>

				<div class="repeats-content hidden">
					<h3>{{"TIMESHEETS_REPEAT"|trans}}</h3>
					<div class="form-group">
						<label for="inputCount">{{"TIMESHEETS_REPEAT_COUNT"|trans}}</label>
						<input type="number" class="form-control" id="inputCount" name="repeat_count" step="1" pattern="\d*" value="{{project.repeat_count}}">
					</div>
					<div class="form-group">
						<label for="inputUnit">{{"UNIT"|trans}}</label>
						<div class="select-wrapper form-control">
							<select id="inputUnit" name="repeat_unit">
								{% for unit, unitName in units %}
									<option value="{{unit}}" {% if (entry is null and unit == project.repeat_unit) or (entry is not null and unit == entry.repeat_unit) %} selected {% endif %}>{{unitName|trans}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputMultiplier">{{"MULTIPLIER"|trans}}</label>
						<input type="number" class="form-control" id="inputMultiplier" name="repeat_multiplier" step="1" pattern="\d*" value="{% if entry is null %}{{project.repeat_multiplier}}{% else %}{{entry.repeat_multiplier}}{% endif %}">
					</div>
				</div>

				<div class="form-group btn">
					<button type="submit" class="button" name="action">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						{% if remaining_sheets | length > 0 %}
							<button type="submit" class="button button-outlined" name="action" value="update_following">
								{{"TIMESHEETS_UPDATE_THIS_AND_FOLLOWING"|trans}}
							</button>
						{% endif %}

						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
