{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block style %}{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/docxjs.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/FileSaver.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block body %}

	<div class="inner-content">
		<div class="page-header">
			<h2>{{lang["TIMESHEETS"]}}
				|
				{{project.name|raw}}</h2>
			<div class="buttons">
				<a href="{{ url_for_with_last_query_params('timesheets_export', {'project' : project.hash}) }}">
					<button class="button">{{lang["BACK"]}}
						{{ fontawesome('fas fa-turn-up') }}</button>
				</a>
			</div>
		</div>
		<div class="page-content">

			<div id="loadingIconTimesheetNotice" class="centered loading-icon">
				<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
			</div>

			<div id="alertError" class="alert danger hidden">
				<span class="closebtn">&times;</span>
				<span class="alert-message">
					<p>{{ lang["ENTRY_ERROR"] }}</p>
					<p id="alertErrorDetail"></p>
				</span>
			</div>

			<div id="timesheetNoticeWrapper" data-project="{{ project.id }}" data-projectname="{{project.name}}" class="hidden">
				<button class="button print-btn" onclick="window.print()">{{ lang["PRINT"] }}</button>
				<button type="button" class="button gray" id="wordExport">{{lang["EXPORT_WORD"]}} {{lang["TIMESHEETS_EXPORT"]}}</button>
				{% for sheet in sheets %}
					<div class="timesheet-notice-wrapper">
						<h1 id="sheet_title">{{ sheet["title"] }}</h1>
						{% if sheet["categories"] %}
							<small>{{lang["CATEGORIES"]}}:<span id="sheet_categories">{{ sheet["categories"] }}</span></small>
						{% endif %}
						<h4>{{lang["DIFFERENCE"]}}:
							{{ sheet["time"] }}</h4>

						<div class="timesheet-notice" data-sheet="{{ sheet["id"] }}">
							{% if fields %}
								{% for field in fields %}
									<h4>{{field.description|raw}}:</h4>
									<p class="notice-field" data-name="{{field.name}}" data-default="{{field.is_default}}"></p>
								{% endfor %}
							{% else %}
								<h4>{{ lang["NOTICE"] }}:</h4>
								<p class="notice-field" data-default="1"></p>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
