{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block style %}{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/docxjs.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/FileSaver.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/encryption-helper.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice-export-word.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('timesheets_export', {'project' : project.hash}) }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"TIMESHEETS"|trans}}
				|
				{{project.name|raw}}</h2>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "timesheets/timesheet-sheets-tabs.twig" with {'active':'timesheets_export'} %}
{% endblock %}

{% block body %}

	<div id="loadingIconTimesheetNotice" class="centered loading-icon">
		<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
	</div>

	<div id="alertError" class="alert danger hidden">
		<span class="closebtn">&times;</span>
		<span class="alert-message">
			<p>{{ "ENTRY_ERROR"|trans }}</p>
			<p id="alertErrorDetail"></p>
		</span>
	</div>

	<div id="timesheetEncryptionWrapper" class="hidden">
		<div id="timesheetNoticeWrapper" data-project="{{ project.id }}" data-projectname="{{project.name}}">
			<div class="inner-content">
				<div class="page-content">
					<div class="search-filter">
						<div class="filter-row">
							<label id="checkboxHideEmptySheetsLabel" for="checkboxHideEmptySheets">
								<input type="checkbox" value="1" id="checkboxHideEmptySheets">
								{{"TIMESHEETS_EXPORT_HIDE_EMPTY_SHEETS"|trans}}
							</label>
						</div>
						<div class="filter-row">
							<label id="checkboxHideEmptyNoticeFieldsLabel" for="checkboxHideEmptyNoticeFields">
								<input type="checkbox" value="1" id="checkboxHideEmptyNoticeFields">
								{{"TIMESHEETS_EXPORT_HIDE_EMPTY_FIELDS"|trans}}
							</label>
						</div>
					</div>
				</div>
			</div>

			{% for sheet in sheets %}
				<div class="inner-content timesheet-wrapper">
					<div class="page-content">
						<h3 class="sheet_title">{{ sheet["title"] }}</h3>
						{% if sheet["customer"] %}
							<h4 class="sheet_customer">
								{%- if project.customers_name_singular %}
									{{- project.customers_name_singular -}}
								{% else %}
									{{- "TIMESHEETS_CUSTOMER"|trans -}}
								{% endif -%}:&nbsp;
								{{- sheet["customer"] -}}
							</h4>
						{% endif %}

						{% if sheet["categories"] %}
							<h4 class="sheet_categories">{{- "CATEGORIES"|trans -}}:&nbsp;
								{{- sheet["categories"] -}}
							</h4>
						{% endif %}
						<h4>{{"DIFFERENCE"|trans}}:
							{{ sheet["time"] }}</h4>

						<div class="timesheet-notice-wrapper">
							<div class="timesheet-notice" data-id="{{ sheet["id"] }}" data-type="sheet" data-view="export">
								{% include "timesheets/noticefield/fields-view.twig" with {fields} only %}
							</div>
						</div>

						<div class="timesheet-files-wrapper">
							<h3>{{"FILES"|trans}}</h3>
							<div class="timesheet-files" data-id="{{ sheet["id"] }}"></div>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="inner-content">
				<div class="page-content">
					<div class="search-filter">
						<div class="filter-row">
							<div class="filter-group">
								<div class="filter-element">
									<button class="button print-btn" onclick="window.print()">{{ "PRINT"|trans }}</button>
								</div>
								<div class="filter-element">
									<button type="button" class="button button-outlined" id="wordExport">{{"EXPORT_WORD"|trans}}
										{{"TIMESHEETS_EXPORT"|trans}}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block bottom %}
	<div class="hidden">
		<div id="iconDownload">{{ fontawesome('fas fa-download') }}</div>
	</div>
{% endblock %}
