{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block style %}{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/write-excel-file.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/encryption-helper.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice-export-excel.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('timesheets_export', {'project' : project.hash}) }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{lang["TIMESHEETS"]}}
				|
				{{project.name|raw}}</h2>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "timesheets/timesheet-sheets-tabs.twig" with {'active':'timesheets_export'} %}
{% endblock %}

{% block body %}

	<div id="loadingIconTimesheetNotice" class="centered loading-icon">
		<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
	</div>

	<div id="alertError" class="alert danger hidden">
		<span class="closebtn">&times;</span>
		<span class="alert-message">
			<p>{{ lang["ENTRY_ERROR"] }}</p>
			<p id="alertErrorDetail"></p>
		</span>
	</div>

	<div id="timesheetNoticeWrapper" data-project="{{ project.id }}" data-projectname="{{project.name}}" class="hidden">
		<div class="inner-content">
			<div class="page-content">
				<h2 id="reportHeadline">{{ project.report_headline | raw}}</h2>
				<h3 id="excelHeaderTime" data-from="{{ from }}" data-to="{{ to }}">{{- from|date(i18n.dateformatTwig.date) -}}&nbsp;-&nbsp;{{- to|date(i18n.dateformatTwig.date) -}}</h3>
				<div class="search-filter">
					<div class="filter-row">
						<div class="filter-group">
							<div class="filter-element">
								<button class="button print-btn" onclick="window.print()">{{ lang["PRINT"] }}</button>
							</div>
							<div class="filter-element">
								<button type="button" class="button button-outlined" id="excelExport">{{lang["EXPORT_EXCEL"]}}
									{{lang["TIMESHEETS_EXPORT"]}}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="inner-content timesheet-notice-wrapper dt-container dt-wrapper">

			<table id="overviewTable" class="table table-hover small dt-table" data-fields="{{fields|length}}">
				<thead>
					<tr>
						<th>
							{%- if project.customers_name_singular %}
								{{- project.customers_name_singular -}}
							{% else %}
								{{- lang["TIMESHEETS_CUSTOMER"] -}}
							{% endif -%}
						</th>
						{% for field in fields %}
							<th>{{field.description | raw}}</th>
						{% endfor %}
						<th>{{lang["COUNT"]}}</th>
					</tr>
				</thead>
				<tbody>
					{% for row in data %}
						<tr>
							<td>{{ row["customerName"] }}</td>
							{% for field in fields %}
								<td>
									{% if row["customer"] %}
										<div class="timesheet-notice is-table" data-id="{{ row["customer"] }}" data-type="customer">
											<span class="notice-field" data-name="{{field.name}}" data-default="{{field.is_default}}"></span>
										</div>
									{% endif %}
								</td>
							{% endfor %}
							<td>{{ row["count"] }}</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr class="body-sum-row">
						<th>
							{{data|length}}&nbsp;
							{%- if project.customers_name_plural %}
								{{- project.customers_name_plural -}}
							{% else %}
								{{- lang["TIMESHEETS_CUSTOMERS"] -}}
							{% endif -%}
						</th>
						{% for field in fields %}
							<th></th>
						{% endfor %}
						<th data-type="sum-body" class="body-sum">{{sum}}</th>
					</tr>
					<tr>
						<th><input type="text" placeholder="{{ lang['INSERT_ADDITIONAL_VALUES'] }}" class="form-control"/></th>
						{% for field in fields %}
							<th><input type="text" class="form-control"/></th>
						{% endfor %}
						<th><input type="number" class="form-control additional-field" step="1"/></th>
					</tr>
					<tr>
						<th>{{lang["TOTAL"]}}</th>
						{% for field in fields %}
							<th></th>
						{% endfor %}
						<th data-type="sum-foot" class="total-value">{{sum}}</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}
