{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block javascript %}
    <script src="{{base_url()}}/static/js/datefilter.js?ver=20191031"></script>
{% endblock %}

{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["TIMESHEETS"]}} | {{project.name|raw}}</h2> 
            <div class="buttons">
                <a href="{{  path_for('timesheets_export', {'project':project.hash}) }}?from={{ from }}&to={{ to }}"><button class="white"><i class="far fa-file-excel" aria-hidden="true"></i> {{lang["TIMESHEETS_EXPORT"]}}</button></a>
                <a href="{{  path_for('timesheets_fast', {'project':project.hash}) }}"><button class="white"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> {{lang["TIMESHEETS_FAST"]}} <i class="fas fa-sign-out-alt" aria-hidden="true"></i></button></a>
                <a href="{{  path_for('timesheets_sheets_edit', {'project':project.hash}) }}"><button class="white"><i class="fas fa-plus" aria-hidden="true"></i> {{lang["ADD"]}}</button></a>
            </div>
        </div>
        <div class="page-content">
            
            <form method="GET" id="search-filter" class="hidden1">
                <div class="filter-content">
                    <div class="date-filter">
                        <div class="date-element">
                            <input type="text" id="dateRange" value="{{from}} to {{to}}" />

                            <input type="hidden" id="inputStart" name="from" value="{{from}}"/>
                            <input type="hidden" id="inputEnd" name="to" value="{{to}}"/>
                        </div>
                        <div class="filter-element">
                            <input type="submit" value="{{lang["SHOW"]}}"/>
                        </div>
                        <div class="filter-element">
                            <a href="{{ path_for('timesheets_sheets', {'project' : project.hash}) }}"><button type="button" class="gray">{{ lang["SHOW_THIS_MONTH"] }}</button></a>
                        </div>
                        <div class="filter-element">
                            <a href="{{ path_for('timesheets_sheets', {'project' : project.hash}) }}?from={{ min }}&to={{ max }}"><button type="button" class="gray">{{ lang["SHOW_ALL"] }}</button></a>
                        </div>
                    </div>
                </div>
            </form>  
            
            <table id="timesheets_sheets_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["DATE"]}}</th>
                        <th>{{lang["TIMESHEETS_COME"]}}</th>
                        <th>{{lang["TIMESHEETS_LEAVE"]}}</th>
                        <th>{{lang["DIFFERENCE"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sheet in sheets %}
                        <tr>
                            <td>{{ sheet[0] }}</td>
                            <td>{{ sheet[1] }}</td>
                            <td>{{ sheet[2] }}</td>
                            <td>{{ sheet[3] }}</td>
                            <td>{{ sheet[4]|raw }}</td>
                            <td>{{ sheet[5]|raw }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>{{ sum  }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

{% endblock %}        
