{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/selectr.min.css?ver={{CACHEMISS}}"/>
{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/js/datefilter.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/selectr.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header {#multiple-buttons#}">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('timesheets')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"TIMESHEETS"|trans}}
				|
				{{project.name|raw}}</h2>
		</div>
		<div
			class="buttons">
			{#{% if categories %}
																																		<a href="{{ url_for('timesheets_project_categorybudget_view', {'project':project.hash}) }}">
																																			<button class="button button-text">{{"TIMESHEETS_PROJECT_CATEGORY_BUDGETS"|trans}}</button>
																																		</a>
																																	{% endif %}
																																	<a href="{{ url_for('timesheets_export', {'project':project.hash}) }}?from={{ from }}&to={{ to }}&{{categories_selected_query | url_encode}}&invoiced={{ invoiced }}&billed={{ billed }}&payed={{ payed }}&customer={{ customer }}">
																																		<button class="button button-text">{{"TIMESHEETS_EXPORT"|trans}}</button>
																																	</a>
																																	<a href="{{ url_for('timesheets_fast', {'project':project.hash}) }}">
																																		<button class="button button-text">{{ fontawesome('fas fa-right-to-bracket') }}
																																			{% if project.is_day_based == 1 %}
																																				{{"TIMESHEETS_FAST_DAY_BASED"|trans}}
																																			{% else %}
																																				{{"TIMESHEETS_FAST_PROJECT_BASED"|trans}}
																																			{% endif %}
																																			{{ fontawesome('fas fa-right-from-bracket') }}</button>
																																	</a>#}
			<a href="{{ url_for('timesheets_sheets_edit', {'project':project.hash}) }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{"ADD"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "timesheets/timesheet-sheets-tabs.twig" with {'active':'timesheets_sheets'} %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form method="GET" id="tableHeaderFilter" action="{{ url_for('timesheets_sheets', {'project' : project.hash}) }}" class="search-filter">

				<input type="hidden" id="inputStart" name="from" value="{{from}}"/>
				<input type="hidden" id="inputEnd" name="to" value="{{to}}"/>
				<div class="filter-row space-between">
					<div class="filter-element">
						<div class="flatpickr-group" id="dateRange">
							<input type="text" value="{{from}} to {{to}}" data-input/>

							<a class="flatpickr-input-button" title="toggle" data-toggle>
								{{ fontawesome('fas fa-calendar-days') }}
							</a>

							<a class="flatpickr-input-button" title="clear" data-clear>
								{{ fontawesome('fas fa-xmark') }}
							</a>
						</div>
					</div>
					{% if project.show_quarters_buttons == 1 %}
						<div class="filter-group">
							<div class="filter-element">
								<button type="button" class="button button-outlined small daterange-filter-btn" data-from="{{ quarters["last"]["start"] }}" data-to="{{ quarters["last"]["end"] }}">{{ quarters["last"]["name"] }}</button>
							</div>
							<div class="filter-element">
								<button type="button" class="button button-outlined small daterange-filter-btn" data-from="{{ quarters["current"]["start"] }}" data-to="{{ quarters["current"]["end"] }}">{{ quarters["current"]["name"] }}</button>
							</div>
							<div class="filter-element">
								<button type="button" class="button button-outlined small daterange-filter-btn" data-from="{{ quarters["next"]["start"] }}" data-to="{{ quarters["next"]["end"] }}">{{ quarters["next"]["name"] }}</button>
							</div>
						</div>
					{% endif %}
					<div class="filter-group">
						{% if project.show_month_button == 1 %}
							<div class="filter-element">
								<button type="button" class="button button-outlined small daterange-filter-btn" data-from="{{ min["month"] }}" data-to="{{ max["month"] }}">{{ "SHOW_THIS_MONTH"|trans }}</button>
							</div>
						{% endif %}
						<div class="filter-element">
							<button type="button" class="button button-outlined small daterange-filter-btn" data-from="{{ min["total"] }}" data-to="{{ max["total"] }}">{{ "SHOW_ALL"|trans }}</button>
						</div>
					</div>
				</div>

				{% if categories %}
					<div class="filter-row">
						<input type="hidden" id="selected_categories" disabled="disabled" name="selected_categories" value="{{ categories_selected|join(',') }}"/>
						<div class="categories-filter filter-element">
							<select id="category-filter" multiple name="categories[]" class="category">
								{% for cat in categories %}
									<option value="{{ cat.id }}" {% if cat.id in categories_selected %} selected {% endif %}>{{ cat.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				{% endif %}

				<div class="filter-grid">
					{% if customers %}
						<label for="timesheet_view_customer">
							{% if project.customers_name_singular %}
								{{project.customers_name_singular}}
							{% else %}
								{{"TIMESHEETS_CUSTOMER"|trans}}
							{% endif %}:</label>

						<div class="select-wrapper">
							<select class="regular" id="timesheet_view_customer" name="customer">
								<option value="" {% if customer is null %} selected {% endif %}>{{ "ALL"|trans }}</option>
								{% for c in customers %}
									<option value="{{c.id}}" {% if c.id == customer %} selected {% endif %}>{{c.name|raw}}</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}
					{% if project.has_billing %}
						<label for="timesheet_view_happened">{{"TIMESHEETS_HAPPENED"|trans}}:</label>
						<div class="select-wrapper">
							<select name="happened" id="timesheet_view_happened" class="regular">
								<option value="" {% if happened is null or happened is same as("") %} selected {% endif %}>{{"TIMESHEETS_PLANNED_AND_HAPPENED"|trans}}</option>
								<option value="0" {% if happened is same as(0) %} selected {% endif %}>{{"TIMESHEETS_PLANNED"|trans}}</option>
								<option value="1" {% if happened is same as(1) %} selected {% endif %}>{{"TIMESHEETS_HAPPENED"|trans}}</option>
							</select>
						</div>
						<label for="timesheet_view_invoiced">{{"TIMESHEETS_INVOICED"|trans}}:</label>
						<div class="select-wrapper">
							<select name="invoiced" id="timesheet_view_invoiced" class="regular">
								<option value="" {% if invoiced is null or invoiced is same as("") %} selected {% endif %}>{{"TIMESHEETS_INVOICED_AND_NOT_INVOICED"|trans}}</option>
								<option value="1" {% if invoiced is same as(1) %} selected {% endif %}>{{"TIMESHEETS_INVOICED"|trans}}</option>
								<option value="0" {% if invoiced is same as(0) %} selected {% endif %}>{{"TIMESHEETS_NOT_INVOICED"|trans}}</option>
							</select>
						</div>
						<label for="timesheet_view_billed">{{"TIMESHEETS_BILLED"|trans}}:</label>
						<div class="select-wrapper">
							<select name="billed" id="timesheet_view_billed" class="regular">
								<option value="" {% if billed is null or billed is same as("") %} selected {% endif %}>{{"TIMESHEETS_BILLED_AND_NOT_BILLED"|trans}}</option>
								<option value="1" {% if billed is same as(1) %} selected {% endif %}>{{"TIMESHEETS_BILLED"|trans}}</option>
								<option value="0" {% if billed is same as(0) %} selected {% endif %}>{{"TIMESHEETS_NOT_BILLED"|trans}}</option>
							</select>
						</div>
						<label for="timesheet_view_payed">{{"TIMESHEETS_PAYED"|trans}}:</label>
						<div class="select-wrapper">
							<select name="payed" id="timesheet_view_payed" class="regular">
								<option value="" {% if payed is null or payed is same as("") %} selected {% endif %}>{{"TIMESHEETS_PAYED_AND_NOT_PAYED"|trans}}</option>
								<option value="1" {% if payed is same as(1) %} selected {% endif %}>{{"TIMESHEETS_PAYED"|trans}}</option>
								<option value="0" {% if payed is same as(0) %} selected {% endif %}>{{"TIMESHEETS_NOT_PAYED"|trans}}</option>
							</select>
						</div>
					{% endif %}
				</div>

				<div class="filter-row">
					<div class="filter-element">
						<input type="submit" class="button" value="{{"SHOW"|trans}}"/>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="inner-content">
		<div class="page-content">

			<table id="timesheets_sheets_table" class="table table-hover small" data-has-end="{{ project.has_end }}">
				<thead>
					<tr>
						<th><input type="checkbox" id="checkAllRows"></th>
						<th>{{"DATE"|trans}}</th>
						<th>
							{% if not project.has_end %}
								{{"TIMESHEETS_TIME"|trans}}
							{% elseif project.is_day_based == 1 %}
								{{"TIMESHEETS_COME_DAY_BASED"|trans}}
							{% else %}
								{{"TIMESHEETS_COME_PROJECT_BASED"|trans}}
							{% endif %}
						</th>
						{% if project.has_end %}
							<th>
								{% if project.is_day_based == 1 %}
									{{"TIMESHEETS_LEAVE_DAY_BASED"|trans}}
								{% else %}
									{{"TIMESHEETS_LEAVE_PROJECT_BASED"|trans}}
								{% endif %}
							</th>
							<th>{{"DIFFERENCE"|trans}}</th>
						{% endif %}
						{% if customers %}
							<th>
								{% if project.customers_name_singular %}
									{{project.customers_name_singular}}
								{% else %}
									{{"TIMESHEETS_CUSTOMER"|trans}}
								{% endif %}
							</th>
						{% endif %}
						{% if categories %}
							<th>{{"CATEGORIES"|trans}}</th>
						{% endif %}
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for sheet in sheets %}
						<tr data-invoiced="{{sheet["attributes"]["data-invoiced"]}}" data-billed="{{sheet["attributes"]["data-billed"]}}" data-payed="{{sheet["attributes"]["data-payed"]}}" data-happened="{{sheet["attributes"]["data-happened"]}}">
							<td>{{ sheet["data"][0]| raw }}</td>
							<td>{{ sheet["data"][1] }}</td>
							<td>{{ sheet["data"][2] }}</td>
							{% if project.has_end %}
								<td>{{ sheet["data"][3] }}</td>
								<td>{{ sheet["data"][4] }}</td>
							{% endif %}
							{% if customers %}
								<td>{{ sheet["data"][5] }}</td>
							{% endif %}
							{% if categories %}
								<td>{{ sheet["data"][6] }}</td>
							{% endif %}
							<td>{{ sheet["data"][7]|raw }}</td>
							<td>{{ sheet["data"][8]|raw }}</td>
							<td>{{ sheet["data"][9]|raw }}</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						{% if project.has_end %}
							<th></th>
							<th>{{ sum  }}</th>
						{% endif %}
						{% if customers %}
							<th></th>
						{% endif %}
						{% if categories %}
							<th></th>
						{% endif %}
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
			</table>
			<div id="tableFooterFilter" class="search-filter">
				<div class="filter-row">
					<span class="small">
						<span id="selected_items">0</span>
						{{ "TIMESHEETS_ITEMS_SELECED"|trans }}</span>
				</div>
				{% if project.has_billing %}
					<div class="filter-row filter-group">
						<div class="options-element">
							<div class="select-wrapper">
								<select id="applyOptions" name="options">
									<option value="">{{ "TIMESHEETS_OPTIONS_CHOOSE"|trans}}</option>
									<option value="planned">{{ "TIMESHEETS_APPLY_PLANNED"|trans }}</option>
									<option value="happened">{{ "TIMESHEETS_APPLY_HAPPENED"|trans }}</option>
									<option value="invoiced">{{ "TIMESHEETS_APPLY_INVOICED"|trans }}</option>
									<option value="not_invoiced">{{ "TIMESHEETS_APPLY_NOT_INVOICED"|trans }}</option>
									<option value="billed">{{ "TIMESHEETS_APPLY_BILLED"|trans }}</option>
									<option value="not_billed">{{ "TIMESHEETS_APPLY_NOT_BILLED"|trans }}</option>
									<option value="payed">{{ "TIMESHEETS_APPLY_PAYED"|trans }}</option>
									<option value="not_payed">{{ "TIMESHEETS_APPLY_NOT_PAYED"|trans }}</option>
								</select>
							</div>
						</div>
						<div class="filter-element">
							<button type="button" class="button button-outlined small" id="apply_options">{{ "TIMESHEETS_APPLY"|trans }}</button>
						</div>
					</div>
				{% endif %}
				{% if categories %}
					<div class="filter-row">
						<div class="options-element categories-filter">
							<select id="assignCategoriesSelector" multiple name="categories[]">
								{% for cat in categories %}
									<option value="{{ cat.id }}">{{ cat.name }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="filter-group">
							<div class="filter-element">
								<button type="button" class="button button-outlined small" id="assign_categories">{{ "TIMESHEETS_CATEGORY_ASSIGN"|trans }}</button>
							</div>
							<div class="filter-element">
								<button type="button" class="button button-outlined small" id="remove_categories">{{ "TIMESHEETS_CATEGORY_REMOVE"|trans }}</button>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
