{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/docxjs.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/FileSaver.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/encryption-helper.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice-export-word.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{% if view =="calendar" %}{{ url_for_with_last_query_params('timesheets_calendar', {'project' : project.hash}) }}{% else %}{{ url_for_with_last_query_params('timesheets_sheets', {'project' : project.hash}) }}{% endif %}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"TIMESHEETS"|trans}}
				{{ "NOTICE"|trans }}|
				{{project.name|raw}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}

	<div id="loadingIconTimesheetNotice" class="centered loading-icon">
		<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
	</div>

	<div id="alertError" class="alert danger hidden">
		<span class="closebtn">&times;</span>
		<span class="alert-message">
			<p>{{ "ENTRY_ERROR"|trans }}</p>
			<p id="alertErrorDetail"></p>
		</span>
	</div>

	<div id="timesheetEncryptionWrapper" class="hidden">
		<div class="inner-content">
			<div class="page-content">

				<div id="timesheetNoticeWrapper" data-project="{{ project.id }}" data-name="{{sheet_title_formatted}}" data-projectname="{{project.name}}">

					<form id="timesheetNoticeForm" class="form-horizontal" action="{{ url_for('timesheets_sheets_notice_save', {'sheet': sheet.id, 'project': project.hash}) }}" method="POST">
						<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
						<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

						<div class="timesheet-notice-wrapper">

							<h3 class="sheet_title">{{ sheet_title }}</h3>
							<small id="lastSavedWrapper" class="hidden">{{ "LAST_SAVED"|trans}}:
								<span id="lastSaved"></span>
							</small>
							{% if sheet_customer %}
								<h4 class="sheet_customer">
									{%- if project.customers_name_singular %}
										{{- project.customers_name_singular -}}
									{% else %}
										{{- "TIMESHEETS_CUSTOMER"|trans -}}
									{% endif -%}:&nbsp;
									{{- sheet_customer -}}
								</h4>
							{% endif %}
							{% if sheet_categories %}
								<h4 class="sheet_categories">{{- "CATEGORIES"|trans -}}:&nbsp;
									{{- sheet_categories -}}
								</h4>
							{% endif %}

							<div class="timesheet-notice" data-id="{{ sheet.id }}" data-type="sheet" data-view="edit">
								{% include "timesheets/noticefield/fields-edit.twig" with {fields} only %}
							</div>
						</div>

						<div class="form-group-btn">
							<button type="submit" class="button">{{"SAVE"|trans}}</button>
							<button type="button" class="button button-outlined" id="wordExport">{{"EXPORT_WORD"|trans}}
								{{"TIMESHEETS_EXPORT"|trans}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="inner-content">
			<div class="page-content">
				<div id="timesheetFilesWrapper">
					<h3>{{"FILES"|trans}}</h3>

					<div class="timesheet-files" data-id="{{ sheet.id }}"></div>

					<div class="form-group">
						<div id="loadingIconFileUpload" class="centered loading-icon hidden">
							<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
						</div>
					</div>

					<div class="form-group">
						<input name="fileupload" id="fileupload" class="form-control hidden" type="file" data-url="{{ url_for('timesheets_sheets_file_upload', {'sheet': sheet.id, 'project': project.hash}) }}"/>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block bottom %}
	<div class="hidden">
		<div id="iconDownload">{{ fontawesome('fas fa-download') }}</div>
		<div id="iconTrash">{{ fontawesome('fas fa-trash') }}</div>
	</div>
{% endblock %}
