{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/docxjs.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/FileSaver.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/encryption-helper.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice-export-word.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{% if view =="calendar" %}{{ url_for_with_last_query_params('timesheets_calendar', {'project' : project.hash}) }}{% else %}{{ url_for_with_last_query_params('timesheets_sheets', {'project' : project.hash}) }}{% endif %}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"TIMESHEETS"|trans}}
				{{ "NOTICE"|trans }}|
				{{project.name|raw}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('timesheets_sheets_notice_edit', {'sheet': sheet.id, 'project': project.getHash()}) }}{% if view %}?view={{view}}{% endif %}">
				<button class="button button-outlined">{{"EDIT"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block body %}

	<div class="inner-content">
		<div class="page-content">
			<div class="search-filter">
				<div class="filter-row">
					<label id="checkboxHideEmptyNoticeFieldsLabel" for="checkboxHideEmptyNoticeFields">
						<input type="checkbox" value="1" id="checkboxHideEmptyNoticeFields" checked="checked">
						{{"TIMESHEETS_EXPORT_HIDE_EMPTY_FIELDS"|trans}}
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="inner-content">
		<div class="page-content">

			<div id="loadingIconTimesheetNotice" class="centered loading-icon">
				<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
			</div>

			<div id="alertError" class="alert danger hidden">
				<span class="closebtn">&times;</span>
				<span class="alert-message">
					<p>{{ "ENTRY_ERROR"|trans }}</p>
					<p id="alertErrorDetail"></p>
				</span>
			</div>
			<div id="timesheetNoticeWrapper" data-project="{{ project.id }}" class="hidden" data-name="{{sheet_title_formatted}}" data-projectname="{{project.name}}">

				<div class="timesheet-notice-wrapper">

					<h3 class="sheet_title">{{ sheet_title }}</h3>
					<small id="lastSavedWrapper" class="hidden">{{ "LAST_SAVED"|trans}}:
						<span id="lastSaved"></span>
					</small>
					{% if sheet_customer %}
						<h4 class="sheet_customer">
							{%- if project.customers_name_singular %}
								{{- project.customers_name_singular -}}
							{% else %}
								{{- "TIMESHEETS_CUSTOMER"|trans -}}
							{% endif -%}:&nbsp;
							{{- sheet_customer -}}
						</h4>
					{% endif %}
					{% if sheet_categories %}
						<h4 class="sheet_categories">{{- "CATEGORIES"|trans -}}:&nbsp;
							{{- sheet_categories -}}
						</h4>
					{% endif %}

					<div class="timesheet-notice" data-id="{{ sheet.id }}" data-type="sheet" data-view="view">
						{% include "timesheets/noticefield/fields-view.twig" with {fields} only %}
					</div>
				</div>

				<div class="form-group btn">
					<button type="button" class="button button-outlined" id="wordExport">{{"EXPORT_WORD"|trans}}
						{{"TIMESHEETS_EXPORT"|trans}}</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
