{% extends "base.twig" %}

{% set active = 'recipes' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/autoComplete.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/Sortable.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/recipes-shoppinglist.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/recipes-shoppinglist-click.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/autoComplete.min.css?ver={{CACHEMISS}}"/>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('recipes_shoppinglists')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{lang["RECIPES_SHOPPINGLIST"]}}
				|
				{{ shoppinglist.name|raw }}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<form class="recipes-grocery-shoppinglist-filter">
				<input type="number" id="addGroceryToList_amount" min="0" max="999" step="any" inputmode="decimal" placeholder="{{ lang["RECIPES_AMOUNT"]}}"/>
				<input type="text" id="addGroceryToList_unit" placeholder="{{ lang["UNIT"]}}"/>
				<div id="groceries-suggestion-wrapper">
					<input type="text" id="addGroceryToList_name" placeholder="{{ lang["RECIPES_GROCERY"] }}" autocomplete="off"/>
				</div>
				<input type="text" id="addGroceryToList_notice" placeholder="{{ lang["NOTICE"] }}" autocomplete="off" tabindex="-1"/>
				<input type="hidden" id="addGroceryToList_ID"/>
				<input type="submit" id="addGroceryToList" value="{{ lang["ADD"]}}" class="button"/>
			</form>
		</div>
	</div>

	<div id="new-shoppinglist-entries-alert" class="alert hide-offline info hidden">
		<span class="closebtn">&times;</span>
		<span class="alert-message">
			<p>{{lang["RECIPES_SHOPPINGLIST_NEW_ENTRIES_FOUND"]}}</p>
		</span>
		<a href="javascript:window.location.reload();">
			<button class="button white" type="button">{{ lang["RELOAD_PAGE"] }}</button>
		</a>
	</div>

	<div class="inner-content">
		<div id="loadingIconShoppingListEntries" class="centered loading-icon">
			<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
		</div>
		<ul class="shopping-list-entries"></ul>
		<div id="loadMoreShoppingListEntries" class="centered hidden">
			<button type="button" class="button">{{ lang["LOAD_MORE"] }}</button>
		</div>
	</div>
	<div class="hidden">
		<div id="iconTrash">{{ fontawesome('fas fa-trash') }}</div>
	</div>
{% endblock %}
