{% extends "base.twig" %}

{% set active = 'boards' %}


{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["BOARDS"]}}</h2></div>
        <div class="page-content">

            <form class="form-horizontal" id="financeForm" action="{{  path_for('boards_save', {'id' : entry.id}) }}" method="POST">
                {% if not entry is null %}
                    <input name="id" id="entry_id"  type="hidden" value="{{entry.id}}">
                {% endif %}

                
                <div class="form-group">
                    <label for="inputName">{{lang["NAME"]}}</label>
                    <input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %}value="{{entry.name}}"{% endif %}>
                </div>
                
                <div class="form-group">
                    <label for="users">{{lang["USER"]}}</label>
                    <select class="form-control" id="users" name="users[]" multiple="true">
                        {% for user in users %}
                            <option value="{{user.id}}" {% if (not entry is null and user.id in entry.getUsers()) %}selected{% endif %}>{{user.login}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}