{% extends "base.twig" %}

{% set active = 'boards' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["BOARDS"]}}</h2> 
            <div class="buttons">
                <a href="{{  url_for('boards_edit') }}"><button class="button">{{ fontawesome('fas fa-plus') }} {{lang["ADD"]}}</button></a>
            </div>
        </div>
        <div class="page-content">
            <table id="boards_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["NAME"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for board in boards %}
                        <tr>
                            <td><a href="{{  url_for('boards_view', {'hash' : board.hash}) }}">{{board.name|raw}}</a></td> 
                            <td>
                                {% if board.user == user.id %}
                                    <a href="{{  url_for('boards_edit', {'id' : board.id}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
                                    {% endif %}
                            </td>
                            <td>
                                {% if board.user == user.id %}
                                    <a href="#" data-url="{{  url_for('boards_delete', {'id' : board.id}) }}" class="btn-delete" data-confirm="{{ lang["REALLY_DELETE_BOARD"]}}">{{ fontawesome('fas fa-trash') }}</a>
                                    {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}