{% extends "base.twig" %}

{% set active = 'boards' %}
{% set boardsview = 1 %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/selectr.min.css?ver={{CACHEMISS}}"/>
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/easymde.min.css?ver={{CACHEMISS}}"/>
{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/selectr.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/Sortable.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/easymde.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/boards.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('boards') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{board.name|raw}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="board-content">

		<div id="loadingIconBoard" class="centered loading-icon">
			<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
		</div>
		<div class="stack-wrapper hide-archived" data-board="{{board.id}}"></div>
	</div>
{% endblock %}

{% block bottom %}
	<div id="board-sidebar" class="board-sidebar {% if sidebar['mobilevisible'] == 1 %}mobile-visible{% elseif sidebar['desktophidden'] == 1 %}desktop-hidden{% endif %}">
		<span id="sidebar-toggle" aria-hidden="true">
			<span class="chevron-left">{{ fontawesome('fas fa-chevron-left') }}</span>
			<span class="chevron-right">{{ fontawesome('fas fa-chevron-right') }}</span>
		</span>
		<div class="board-sidebar-inner">
			<div class="board-sidebar-box">
				<h4>{{"USERS"|trans}}</h4>
				<div class="member-list">
					{% for user in users %}
						<div class="avatar-wrapper">
							{% if user.get_thumbnail() != '' %}
								<img alt="{{user.login}}" src="/{{uploads_folder}}/profile/{{user.get_thumbnail('small')}}" class="avatar avatar-small" data-user="{{user.id}}" title="{{user.name}} {{user.lastname}}">
							{% else %}
								<svg alt="{{user.login}}" class="avatar avatar-small avatar-initials" viewbox="0 0 24 15" data-user="{{user.id}}" title="{{user.name}} {{user.lastname}}">
									<text x="50%" y="13" text-anchor="middle">{{user.name|first|upper}}{{user.lastname|first|upper}}</text>
								</svg>
							{% endif %}
							<div class="avatar-name">{{user.name}}
								{{user.lastname}}</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="board-sidebar-box">
				<h4>{{"LABELS"|trans}}</h4>
				<div class="card-label-list">
					{% for label in labels %}
						<span class="card-label" style="background-color:{{label.background_color}}; color:{{label.getTextColor()}}">
							<a href="#" class="edit-label" data-label="{{label.id}}">{{label.name|raw}}</a>
						</span>
					{% endfor %}
				</div>
				<a id="create-label" class="create-label add-element-text" href="#">{{ fontawesome('fas fa-plus') }}
					{{"ADD_LABEL"|trans}}</a>
			</div>
			<div class="board-sidebar-box">
				<label class="checkbox" for="checkboxArchivedItems">
					<input name="set_archived_items" type="checkbox" id="checkboxArchivedItems" autocomplete="off">
					{{"SHOW_ARCHIVED_ITEMS"|trans}}
				</label>
			</div>
		</div>
	</div>

	<div id="stack-modal" class="modal">
		<div class="modal-inner">
			<div class="modal-header">{{"STACK"|trans}}<span class="edit-bar"></span>
			</div>
			<form>
				<div class="modal-content">

					<input name="board" type="hidden" value="{{board.id}}">

					<input name="id" type="hidden" value="" class="reset-field">
					<input name="position" type="hidden" value="" class="reset-field">
					<div class="form-group">
						<label for="inputName">{{"NAME"|trans}}</label>
						<input class="form-control" id="inputName" name="name" type="text">
					</div>
				</div>
				<div class="modal-footer">
					<div class="buttons">
						<input id="stack-add-btn" class="button submit-btn no-loading" type="submit" tabindex="-1" value="{{"ADD"|trans}}"/>
						<button id="stack-close-btn" class="button button-text cancel" type="button">{{"CANCEL"|trans}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="card-modal" class="modal">
		<div class="modal-inner">
			<div class="modal-header">{{"CARD"|trans}}<span class="edit-bar"></span>
			</div>
			<form>
				<div class="modal-content">
					<input name="stack" type="hidden" value="" class="reset-field"/>
					<input name="id" type="hidden" value="" class="reset-field"/>
					<input name="position" type="hidden" value="" class="reset-field"/>
					<input name="archive" type="hidden" value="" class="reset-field"/>
					<div class="form-group card-dates hidden">
						<span>{{"CHANGED_BY"|trans}}:</span>
						<span id="changedBy"></span>
						(<span id="changedOn"></span>) |
						<span>{{"CREATED_BY"|trans}}:</span>
						<span id="createdBy"></span>
						(<span id="createdOn"></span>)
					</div>
					<div class="form-group hidden">
						<select
							id="users" name="users[]" multiple="true">
							{# not using "if user.id in board_user" so users removed and readded to the board are still on assigned cards #}
							{% for user in users %}
								<option value="{{user.id}}">{{user.login}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="inputTitle">{{"TITLE"|trans}}</label>
						<input class="form-control" id="inputTitle" name="title" type="text"/>
					</div>
					<div class="two-columns">
						<div class="form-group left">
							<label>{{"USERS"|trans}}</label>
							<div class="member-list">
								{% for user in users %}
									{% if user.get_thumbnail() != '' %}
										<img alt="{{user.login}}" src="/{{uploads_folder}}/profile/{{user.get_thumbnail('small')}}" class="avatar avatar-small" data-user="{{user.id}}">
									{% else %}
										<svg alt="{{user.login}}" class="avatar avatar-small avatar-initials" viewbox="0 0 24 15" data-user="{{user.id}}">
											<text x="50%" y="13" text-anchor="middle">{{user.name|first|upper}}{{user.lastname|first|upper}}</text>
										</svg>
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="form-group right">
							<label>{{"LABELS"|trans}}</label>
							<select id="card-label-list" name="labels[]" multiple="true">
								{% for label in labels %}
									<option value="{{label.id}}" data-background-color="{{label.background_color}}" data-text-color="{{label.getTextColor()}}" style="background-color:{{label.background_color}}; color:{{label.getTextColor()}}">{{label.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<a class="show-sibling add-element-text" href="#">{{ fontawesome('fas fa-plus') }}
							{{"ADD_DESCRIPTION"|trans}}</a>
						<div class="hidden-field hidden">
							<label for="inputDescription">{{"DESCRIPTION"|trans}}</label>
							<textarea class="form-control" id="inputDescription" name="description"></textarea>
						</div>
					</div>
					<div class="two-columns">
						<div class="form-group left">
							<a class="show-sibling add-element-text" href="#">{{ fontawesome('fas fa-plus') }}
								{{"ADD_DATE"|trans}}</a>
							<div class="hidden-field hidden">
								<label for="dateSelectField">{{"DATE"|trans}}</label>
								<div class="flatpickr-group" id="dateSelect">
									<input type="text" class="form-control date-display" id="dateSelectField" name="date" data-input/>

									<a class="flatpickr-input-button" title="toggle" data-toggle>
										{{ fontawesome('fas fa-calendar-days') }}
									</a>

									<a class="flatpickr-input-button" title="clear" data-clear>
										{{ fontawesome('fas fa-xmark') }}
									</a>
								</div>
							</div>
						</div>
						<div class="form-group right">
							<a class="show-sibling add-element-text" href="#">{{ fontawesome('fas fa-plus') }}
								{{"ADD_TIME"|trans}}</a>
							<div class="hidden-field hidden">
								<label for="inputTime">{{"TIME"|trans}}</label>
								<input type="time" step="1" class="form-control" id="inputTime" name="time"/>
							</div>
						</div>
					</div>
					<div class="form-group hidden">
						<a class="show-sibling add-element-text" href="#">{{ fontawesome('fas fa-plus') }}
							{{"ADD_COMMENT"|trans}}</a>
						<div class="hidden-field hidden">
							<label for="inputComment">{{"COMMENT"|trans}}</label>
							<textarea class="form-control" id="inputComment" name="comment"></textarea>
							<button id="addComment" class="button">{{"ADD_COMMENT"|trans}}</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="buttons">
						<input id="card-add-btn" type="submit" class="button submit-btn no-loading" tabindex="-1" value="{{"ADD"|trans}}"/>
						<button id="card-close-btn" class="button button-text cancel" type="button">{{"CANCEL"|trans}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="label-modal" class="modal">
		<div class="modal-inner">
			<div class="modal-header">{{"LABEL"|trans}}<span class="edit-bar"></span>
			</div>
			<form>
				<div class="modal-content">
					<input name="board" type="hidden" value="{{board.id}}"/>
					<input name="id" type="hidden" value="" class="reset-field"/>
					<div class="form-group">
						<label for="inputName">{{"NAME"|trans}}</label>
						<input class="form-control" id="inputName" name="name" type="text"/>
					</div>
					<div class="two-columns form-group">
						<div class="left">
							<h4>{{"BACKGROUND"|trans}}
								{{"COLOR"|trans}}</h4>
							<input class="form-control" id="inputBackgroundColor" name="background_color" type="color"/>
						</div>
						<div class="right">
							<h4>{{"TEXT"|trans}}
								{{"COLOR"|trans}}</h4>
							<input class="form-control" id="inputTextColor" name="text_color" type="color"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="buttons">
						<input id="label-add-btn" type="submit" class="button submit-btn no-loading" tabindex="-1" value="{{"ADD"|trans}}"/>
						<button id="label-close-btn" class="button button-text cancel" type="button">{{"CANCEL"|trans}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="templates" class="hidden">
		<div class="stack stack-border" data-stack="">
			<div class="stack-header">
				<span class="title"></span>
				<span class="edit-bar">
					<span class="handle">{{ fontawesome('fas fa-up-down-left-right') }}</span>
					<span class="stack-menu-button">{{ fontawesome('fas fa-ellipsis-vertical') }}</span>
					<ul class="stack-menu">
						<li>
							<a href="#" class="stack-edit">{{"EDIT"|trans}}</a>
						</li>
						<li>
							<a href="#" class="btn-archive-stack">{{"ARCHIVE"|trans}}</a>
						</li>
						<li>
							<a href="#" class="btn-archive-stack" data-cards="1">{{"ARCHIVE_WITH_CARDS"|trans}}</a>
						</li>
					</ul>
				</span>
			</div>

			<div class="card-wrapper"></div>

			<div class="board-card-dummy">
				<a class="create-card add-element-text" href="#" data-stack="">{{ fontawesome('fas fa-plus') }}
					{{"ADD_CARD"|trans}}</a>
			</div>
		</div>

		<div class="stack-dummy">
			<a class="create-stack add-element-text" href="#">{{ fontawesome('fas fa-plus') }}
				{{"ADD_STACK"|trans}}</a>
		</div>

		<div class="board-card" data-card="">
			<div class="custom-checkbox"><input type="checkbox" class="check" autocomplete="off"/></div>
			<div class="board-card-content">
				<div class="card-labels">
					<span class="handle">{{ fontawesome('fas fa-up-down-left-right') }}</span>
				</div>

				<div class="card-title"></div>
				<span class="card-date hidden">{{ fontawesome('fas fa-calendar-days') }}</span>

				<div class="bottom-row">
					<div class="icons">
						<span class="description hidden">
							{{ fontawesome('fas fa-align-left') }}
						</span>
					</div>
					<div class="card-members">
						{% for user in users %}
							<div class="card-member hidden" data-user="{{user.id}}">
								{% if user.get_thumbnail() != '' %}
									<img src="/{{uploads_folder}}/profile/{{user.get_thumbnail('mini')}}" class="avatar-mini">
								{% else %}
									<svg class="avatar-mini avatar-initials" viewbox="0 0 24 15">
										<text x="50%" y="13" text-anchor="middle">{{user.name|first|upper}}{{user.lastname|first|upper}}</text>
									</svg>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hidden">
		<div id="iconArchive">{{ fontawesome('fas fa-box-archive') }}</div>
		<div id="iconTrash">{{ fontawesome('fas fa-trash') }}</div>
	</div>
{% endblock %}
