{% extends "base.twig" %}

{% set active = 'boards' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/assets/css/chosen.min.css" />
{% endblock %}

{% block javascript %}
    <script src="/static/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/assets/js/chosen.jquery.min.js"></script>
    <script src="/static/js/boards.js"></script>
{% endblock %}

{% block body %}
    <div class="board-header">
        <h2>{{board.name}}</h2>
    </div>
{% endblock %}        

{% block bottom %}
    <div id="stack-form" class="dialog-form" title="{{lang["STACK"]}}">
        <form>
            <input name="board" type="hidden" value="{{board.id}}">

            <input name="id" type="hidden" value="" class="reset-field">
            <input name="position" type="hidden" value="" class="reset-field">
            <div class="form-group">
                <label for="inputName">{{lang["NAME"]}}</label>
                <input class="form-control" id="inputName" name="name" type="text">
            </div>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </form>
    </div>

    <div id="card-form" class="dialog-form" title="{{lang["CARD"]}}">
        <form>
            <input name="stack" type="hidden" value="" class="reset-field"/>
            <input name="id" type="hidden" value="" class="reset-field"/>
            <input name="position" type="hidden" value="" class="reset-field"/>
            <div class="form-group hidden">
                <select class="form-control" id="users" name="users[]" multiple="true">
                    {% for user in users %}
                        <option value="{{user.id}}">{{user.login}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="inputTitle">{{lang["TITLE"]}}</label>
                <input class="form-control" id="inputTitle" name="title" type="text"/>
            </div>
            <div class="two-columns">
                <div class="form-group left">
                    <label>{{lang["USERS"]}}</label>
                    <div class="member-list">
                        {% for user in users %}
                            {% if user.get_thumbnail() != '' %}
                                <img alt="{{user.login}}" src="/{{uploads_folder}}/{{user.get_thumbnail('small')}}" class="avatar avatar-small" data-user="{{user.id}}">
                            {% else %}
                                <svg alt="{{user.login}}" class="avatar avatar-small avatar-initials" viewBox="0 0 24 15" data-user="{{user.id}}">
                                <text x="50%" y="13" text-anchor="middle">{{user.name|first|upper}}{{user.lastname|first|upper}}</text>
                                </svg>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group right">
                    <label>{{lang["LABELS"]}}</label>
                    <select class="form-control" id="card-label-list" name="labels[]" multiple="true">
                        {% for label in labels %}
                            <option value="{{label.id}}">{{label.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <a class="show-sibling add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_DESCRIPTION"]}}</a>
                <div class="hidden-field hidden">
                    <label for="inputDescription">{{lang["DESCRIPTION"]}}</label>
                    <textarea class="form-control" id="inputDescription" name="description"></textarea>
                </div>
            </div>
            <div class="two-columns">
                <div class="form-group left">
                    <a class="show-sibling add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_DATE"]}}</a>
                    <div class="hidden-field hidden">
                        <label for="dateSelect">{{lang["DATE"]}}</label>
                        <input type="text" class="form-control date-display" id="dateSelect" >
                        <input type="hidden" class="form-control reset-field" id="inputDate" name="date"/>
                    </div>
                </div>
                <div class="form-group right">
                    <a class="show-sibling add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_TIME"]}}</a>
                    <div class="hidden-field hidden">
                        <label for="inputTime">{{lang["TIME"]}}</label>
                        <input type="time" step="1" class="form-control" id="inputTime" name="time"/>
                    </div>
                </div>
            </div>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </form>
    </div>

    <div id="label-form" class="dialog-form" title="{{lang["LABEL"]}}">
        <form>
            <input name="board" type="hidden" value="{{board.id}}"/>
            <input name="id" type="hidden" value="" class="reset-field"/>
            <div class="form-group">
                <label for="inputName">{{lang["NAME"]}}</label>
                <input class="form-control" id="inputName" name="name" type="text"/>
            </div>
            <div class="form-group">
                <h4>{{lang["COLOR"]}}</h4>
                <label for="inputColor" class="color-wrapper">
                    <input class="form-control" id="inputColor" name="color" type="color"/>
                </label>
            </div>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px" />
        </form>
    </div>

    <div class="sidebar">
        <i id="sidebar-toggle" aria-hidden="true"></i>
        <div class="sidebar-inner">
            <div class="sidebar-box">
                <h4>{{lang["USERS"]}}</h4>
                <div class="member-list">
                    {% for user in users %}
                        {% if user.get_thumbnail() != '' %}
                            <img alt="{{user.login}}" src="/{{uploads_folder}}/{{user.get_thumbnail('small')}}" class="avatar-small" data-user="{{user.id}}">
                        {% else %}
                            <svg alt="{{user.login}}" class="avatar-small avatar-initials" viewBox="0 0 24 15" data-user="{{user.id}}">
                            <text x="50%" y="13" text-anchor="middle">{{user.name|first|upper}}{{user.lastname|first|upper}}</text>
                            </svg>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="sidebar-box">
                <h4>{{lang["LABELS"]}}</h4>
                <div class="card-label-list">
                    {% for label in labels %}
                        <span class="card-label" style="background-color:{{label.color}}; color:{{label.getTextColorYIQ()}}"><a href="#" class="edit-label" data-label="{{label.id}}">{{label.name}}</a></span>
                        {% endfor %}
                </div>
                <a class="create-label add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_LABEL"]}}</a>
            </div>
        </div>
    </div>


    <div class="board-content">
        <div class="stack-wrapper">
            {% for stack in stacks %}
                <div class="stack stack-border" id="stack_{{stack.id}}" >

                    <div class="stack-header" data-stack="{{stack.id}}">
                        <span class="title">{{stack.name}}</a></span>
                        <span class="edit-bar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                    </div>


                    <div class="card-wrapper" data-stack="{{stack.id}}">
                        {% for card in stack.cards %}
                            <div class="board-card" id="card_{{card.id}}" data-card="{{card.id}}">
                                <div class="card-labels">
                                    {% for label in card_label[card.id] %}
                                        <div class="card-label" style="background-color:{{labels[label].color}}; color:{{labels[label].getTextColorYIQ()}}"></div>
                                    {% endfor %}
                                </div>

                                <div class="card-title">{{card.title}}</div>
                                {% if card.date or card.time %}
                                    <span class="card-date {% if "now"|date('Y-m-d') >= card.date|date('Y-m-d') %}due{% endif %}">{{card.date is empty ? "" : card.date|date(i18n.twig)}} {{ card.time is empty ? "" : card.time|date("H:i") }}</span>
                                {% endif %}
                                <div class="card-member">
                                    {% for user in card_user[card.id] %}
                                        {% if users[user].get_thumbnail() != '' %}
                                            <img src="/{{uploads_folder}}/{{users[user].get_thumbnail('mini')}}" class="avatar-mini">
                                        {% else %}
                                            <svg class="avatar-mini avatar-initials" viewBox="0 0 24 15">
                                            <text x="50%" y="13" text-anchor="middle">{{users[user].name|first|upper}}{{users[user].lastname|first|upper}}</text>
                                            </svg>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        {% endfor %}
                    </div>

                    <div class="board-card-dummy">
                        <a class="create-card add-element-text" href="#" data-stack="{{stack.id}}"><i class="fa fa-plus"></i> {{lang["ADD_CARD"]}}</a>
                    </div>
                </div>
            {% endfor %}
            <div class="stack-dummy">
                <a class="create-stack add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_STACK"]}}</a>
            </div>
        </div>
    </div>
{% endblock %}
