{% extends "base.twig" %}

{% set active = 'boards' %}

{% block javascript %}
    <script src="/static/js/boards.js"></script>
{% endblock %}

{% block body %}
    <div class="board-header">
        <h2>{{board.name}}</h2>
    </div>
{% endblock %}        

{% block bottom %}
    <div id="stack-form" class="dialog-form" title="{{lang["STACK"]}}">
        <form>
            <input name="board" type="hidden" value="{{board.id}}">
            <input name="id" type="hidden" value="">
            <input name="position" type="hidden" value="">
            <div class="form-group">
                <label for="inputName">{{lang["NAME"]}}</label>
                <input class="form-control" id="inputName" name="name" type="text">
            </div>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </form>
    </div>

    <div id="card-add-form" class="dialog-form" title="{{lang["CARD"]}}">
        <form>
            <input name="stack" type="hidden" value="">
            <input name="id" type="hidden" value="">
            <input name="position" type="hidden" value="">
            <div class="form-group hidden">
                <select class="form-control" id="users" name="users[]" multiple="true">
                    {% for user in users %}
                        <option value="{{user.id}}">{{user.login}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>{{lang["USERS"]}}</label>
                <div class="member-list">
                    {% for user in users %}
                        {% if user.get_thumbnail() != '' %}
                            <img alt="{{user.login}}" src="/{{uploads_folder}}/{{user.get_thumbnail('small')}}" class="avatar-small" data-user="{{user.id}}">
                        {% else %}
                            <svg alt="{{user.login}}" class="avatar-small avatar-initials" viewBox="0 0 24 15" data-user="{{user.id}}">
                            <text x="50%" y="13" text-anchor="middle">{{user.name|first|upper}}{{user.lastname|first|upper}}</text>
                            </svg>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="inputTitle">{{lang["TITLE"]}}</label>
                <input class="form-control" id="inputTitle" name="title" type="text">
            </div>
            <div class="form-group">
                <label for="inputDescription">{{lang["DESCRIPTION"]}}</label>
                <textarea class="form-control" id="inputDescription" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="dateSelect">{{lang["DATE"]}}</label>
                <input type="text" class="form-control date-display" id="dateSelect" >
                <input type="hidden" class="form-control" id="inputDate" name="date">
            </div>
            <div class="form-group">
                <label for="inputTime">{{lang["TIME"]}}</label>
                <input type="time" step="1" class="form-control" id="inputTime" name="time">
            </div>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </form>
    </div>

    <div class="board-content">
        <div class="stack-wrapper">
            {% for stack in stacks %}
                <div class="stack stack-border" id="stack_{{stack.id}}" >

                    <div class="stack-header">
                        <span class="title"><a href="#" class="edit-stack" data-stack="{{stack.id}}">{{stack.name}}</a></span>
                        <span class="edit-bar">
                            <a href="#" class="edit-stack" data-stack="{{stack.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                            <a href="#" data-url="{{  path_for('stack_archive', {'id' : stack.id}) }}" class="btn-archive hidden"><i class="fa fa-archive" aria-hidden="true"></i></a> 
                            <a href="#" data-url="{{  path_for('stack_delete', {'id' : stack.id}) }}" class="btn-delete hidden"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </span>
                    </div>


                    <div class="card-wrapper" data-stack="{{stack.id}}">
                        {% for card in stack.cards %}
                            <div class="board-card" id="card_{{card.id}}" data-card="{{card.id}}">
                                <div class="card-title">{{card.title}}</div>
                                {% if card.date or card.time %}
                                    <span class="card-date {% if "now"|date('Y-m-d') >= card.date|date('Y-m-d') %}due{% endif %}">{{card.date}} {{card.time}}</span>
                                {% endif %}
                                <div class="card-member">
                                    {% for user in card_user[card.id] %}
                                        {% if users[user].get_thumbnail() != '' %}
                                            <img src="/{{uploads_folder}}/{{users[user].get_thumbnail('mini')}}" class="avatar-mini">
                                        {% else %}
                                            <svg class="avatar-mini avatar-initials" viewBox="0 0 24 15">
                                            <text x="50%" y="13" text-anchor="middle">{{users[user].name|first|upper}}{{users[user].lastname|first|upper}}</text>
                                            </svg>
                                        {% endif %}
                                    {% endfor %}
                                </div>
      
                            </div>
                        {% endfor %}
                    </div>

                    <div class="board-card-dummy">
                        <a class="create-card" href="#" data-stack="{{stack.id}}"><i class="fa fa-plus"></i> {{lang["ADD_CARD"]}}</a>
                    </div>
                </div>
            {% endfor %}
            <div class="stack-dummy">
                <a class="create-stack" href="#"><i class="fa fa-plus"></i> {{lang["ADD_STACK"]}}</a>
            </div>
        </div>
    </div>
{% endblock %}
