{% extends "base.twig" %}

{% set active = 'boards' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{base_url()}}/static/assets/css/selectr.min.css" />
    <link rel="stylesheet" type="text/css" href="{{base_url()}}/static/assets/css/simplemde.min.css" />
{% endblock %}

{% block javascript %}
    <script src="{{base_url()}}/static/assets/js/selectr.min.js"></script>
    <script src="{{base_url()}}/static/assets/js/Sortable.min.js"></script>
    <script src="{{base_url()}}/static/assets/js/simplemde.min.js"></script>
    <script src="{{base_url()}}/static/js/boards.js"></script>
{% endblock %}

{% block body %}
    <div id="loading-overlay" class="hidden">
        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div class="board-header">
        <h2>{{board.name|raw}}</h2>
    </div>
{% endblock %}        

{% block bottom %}
    <div id="stack-modal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">{{lang["STACK"]}}<span class="edit-bar"></span></div>
            <form>
                <div class="modal-content">

                    <input name="board" type="hidden" value="{{board.id}}">

                    <input name="id" type="hidden" value="" class="reset-field">
                    <input name="position" type="hidden" value="" class="reset-field">
                    <div class="form-group">
                        <label for="inputName">{{lang["NAME"]}}</label>
                        <input class="form-control" id="inputName" name="name" type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="buttons">
                        <input id="stack-add-btn" class="submit-btn" type="submit" tabindex="-1" value="{{lang["ADD"]}}"/>
                        <button id="stack-close-btn" class="button gray cancel" type="button">{{lang["CANCEL"]}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="card-modal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">{{lang["CARD"]}}<span class="edit-bar"></span></div>
            <form>
                <div class="modal-content">
                    <form>
                        <input name="stack" type="hidden" value="" class="reset-field"/>
                        <input name="id" type="hidden" value="" class="reset-field"/>
                        <input name="position" type="hidden" value="" class="reset-field"/>
                        <input name="archive" type="hidden" value="" class="reset-field"/>
                        <div class="form-group card-dates hidden">
                            <span>{{lang["CHANGED_BY"]}}:</span> <span id="changedBy"></span> (<span id="changedOn"></span>) | 
                            <span>{{lang["CREATED_BY"]}}:</span> <span id="createdBy"></span> (<span id="createdOn"></span>)
                        </div>
                        <div class="form-group hidden">
                            <select class="form-control" id="users" name="users[]" multiple="true">
                                {# not using "if user.id in board_user" so users removed and readded to the board are still on assigned cards #}
                                {% for user in users %}
                                    <option value="{{user.id}}">{{user.login}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputTitle">{{lang["TITLE"]}}</label>
                            <input class="form-control" id="inputTitle" name="title" type="text"/>
                        </div>
                        <div class="two-columns">
                            <div class="form-group left">
                                <label>{{lang["USERS"]}}</label>
                                <div class="member-list">
                                    {% for user in users if user.id in board_user %}
                                        {% if user.get_thumbnail() != '' %}
                                            <img alt="{{user.login}}" src="/{{uploads_folder}}/{{user.get_thumbnail('small')}}" class="avatar avatar-small" data-user="{{user.id}}">
                                        {% else %}
                                            <svg alt="{{user.login}}" class="avatar avatar-small avatar-initials" viewBox="0 0 24 15" data-user="{{user.id}}">
                                            <text x="50%" y="13" text-anchor="middle">{{user.name|first|upper}}{{user.lastname|first|upper}}</text>
                                            </svg>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group right">
                                <label>{{lang["LABELS"]}}</label>
                                <select class="form-control" id="card-label-list" name="labels[]" multiple="true">
                                    {% for label in labels %}
                                        <option value="{{label.id}}" data-background-color="{{label.background_color}}" data-text-color="{{label.getTextColor()}}" style="background-color:{{label.background_color}}; color:{{label.getTextColor()}}">{{label.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="show-sibling add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_DESCRIPTION"]}}</a>
                            <div class="hidden-field hidden">
                                <label for="inputDescription">{{lang["DESCRIPTION"]}}</label>
                                <textarea class="form-control" id="inputDescription" name="description"></textarea>
                            </div>
                        </div>
                        <div class="two-columns">
                            <div class="form-group left">
                                <a class="show-sibling add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_DATE"]}}</a>
                                <div class="hidden-field hidden">
                                    <label for="dateSelect">{{lang["DATE"]}}</label>
                                    <input type="text" class="form-control date-display" id="dateSelect"  name="date">
                                    
                                </div>
                            </div>
                            <div class="form-group right">
                                <a class="show-sibling add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_TIME"]}}</a>
                                <div class="hidden-field hidden">
                                    <label for="inputTime">{{lang["TIME"]}}</label>
                                    <input type="time" step="1" class="form-control" id="inputTime" name="time"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hidden">
                            <a class="show-sibling add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_COMMENT"]}}</a>
                            <div class="hidden-field hidden">
                                <label for="inputComment">{{lang["COMMENT"]}}</label>
                                <textarea class="form-control" id="inputComment" name="comment"></textarea>
                                <button id="addComment">{{lang["ADD_COMMENT"]}}</button>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <div class="buttons">
                        <input id="card-add-btn" type="submit" class="submit-btn" tabindex="-1" value="{{lang["ADD"]}}"/>
                        <button id="card-close-btn" class="button gray cancel"type="button">{{lang["CANCEL"]}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="label-modal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">{{lang["LABEL"]}}<span class="edit-bar"></span></div>
            <form>
                <div class="modal-content">
                    <form>
                        <input name="board" type="hidden" value="{{board.id}}"/>
                        <input name="id" type="hidden" value="" class="reset-field"/>
                        <div class="form-group">
                            <label for="inputName">{{lang["NAME"]}}</label>
                            <input class="form-control" id="inputName" name="name" type="text"/>
                        </div>
                        <div class="two-columns form-group">
                            <div class="left">
                                <h4>{{lang["BACKGROUND"]}} {{lang["COLOR"]}}</h4>
                                <label for="inputBackgroundColor" class="color-wrapper">
                                    <input class="form-control" id="inputBackgroundColor" name="background_color" type="color"/>
                                </label>
                            </div>
                            <div class="right">
                                <h4>{{lang["TEXT"]}} {{lang["COLOR"]}}</h4>
                                <label for="inputTextColor" class="color-wrapper">
                                    <input class="form-control" id="inputTextColor" name="text_color" type="color"/>
                                </label>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <div class="buttons">
                        <input id="label-add-btn" type="submit" class="submit-btn" tabindex="-1" value="{{lang["ADD"]}}"/>
                        <button id="label-close-btn" class="button gray cancel" type="button">{{lang["CANCEL"]}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="sidebar" class="sidebar {% if sidebar["mobilevisible"] == 1 %}mobile-visible{% elseif sidebar["desktophidden"] == 1 %}desktop-hidden{% endif %}">
        <i id="sidebar-toggle" aria-hidden="true"></i>
        <div class="sidebar-inner">
            <div class="sidebar-box">
                <h4>{{lang["USERS"]}}</h4>
                <div class="member-list">
                    {% for user in users if user.id in board_user %}
                        <div class="avatar-wrapper">
                            {% if user.get_thumbnail() != '' %}
                                <img alt="{{user.login}}" src="/{{uploads_folder}}/{{user.get_thumbnail('small')}}" class="avatar avatar-small" data-user="{{user.id}}" title="{{user.name}} {{user.lastname}}">
                            {% else %}
                                <svg alt="{{user.login}}" class="avatar avatar-small avatar-initials" viewBox="0 0 24 15" data-user="{{user.id}}" title="{{user.name}} {{user.lastname}}">
                                <text x="50%" y="13" text-anchor="middle">{{user.name|first|upper}}{{user.lastname|first|upper}}</text>
                                </svg>
                            {% endif %}
                            <div class="avatar-name">{{user.name}} {{user.lastname}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="sidebar-box">
                <h4>{{lang["LABELS"]}}</h4>
                <div class="card-label-list">
                    {% for label in labels %}
                        <span class="card-label" style="background-color:{{label.background_color}}; color:{{label.getTextColor()}}"><a href="#" class="edit-label" data-label="{{label.id}}">{{label.name|raw}}</a></span>
                        {% endfor %}
                </div>
                <a id="create-label" class="create-label add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_LABEL"]}}</a>
            </div>
            <div class="sidebar-box">
                <label class="checkbox" for="checkboxArchivedItems">
                    <input name="set_archived_items" type="checkbox" id="checkboxArchivedItems" {% if show_archive is not null and show_archive == 1 %}checked="checked"{% endif %}>
                    {{lang["SHOW_ARCHIVED_ITEMS"]}}
                </label>
            </div>
        </div>
    </div>


    <div class="board-content">
        <div class="stack-wrapper">
            {% for stack in stacks %}
                <div class="stack stack-border{%if stack.archive == 1%} archived{%endif%}" id="stack_{{stack.id}}" data-stack="{{stack.id}}">

                    <div class="stack-header" data-stack="{{stack.id}}">
                        <span class="title">{{stack.name|raw}}</a></span>
                        <span class="edit-bar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                    </div>


                    <div class="card-wrapper" data-stack="{{stack.id}}">
                        {% for card in stack.cards %}
                            <div class="board-card{%if card.archive == 1%} archived{%endif%}" id="card_{{card.id}}" data-card="{{card.id}}">
                                <div class="card-labels">
                                    {% for label in card_label[card.id] %}
                                        <div class="card-label" style="background-color:{{labels[label].background_color}}; color:{{labels[label].getTextColor()}}"></div>
                                    {% endfor %}
                                </div>

                                <div class="card-title">{{card.title|raw}}</div>
                                {% if card.date or card.time %}
                                    <span class="card-date {% if "now"|date('Y-m-d') >= card.date|date('Y-m-d') %}due{% endif %}">{{card.date is empty ? "" : card.date|date(i18n.twig)}} {{ card.time is empty ? "" : card.time|date("H:i") }}</span>
                                {% endif %}
                                <div class="bottom-row">
                                    <div class="icons">
                                        {% if card.description %}
                                            <i class="fa fa-align-left" aria-hidden="true"></i>
                                        {% endif %}
                                    </div>
                                    <div class="card-member">
                                        {% for user in card_user[card.id] if user in board_user %}
                                            {% if users[user].get_thumbnail() != '' %}
                                                <img src="/{{uploads_folder}}/{{users[user].get_thumbnail('mini')}}" class="avatar-mini">
                                            {% else %}
                                                <svg class="avatar-mini avatar-initials" viewBox="0 0 24 15">
                                                <text x="50%" y="13" text-anchor="middle">{{users[user].name|first|upper}}{{users[user].lastname|first|upper}}</text>
                                                </svg>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>

                    <div class="board-card-dummy">
                        <a id="create-card" class="create-card add-element-text" href="#" data-stack="{{stack.id}}"><i class="fa fa-plus"></i> {{lang["ADD_CARD"]}}</a>
                    </div>
                </div>
            {% endfor %}
            <div class="stack-dummy">
                <a id="create-stack" class="create-stack add-element-text" href="#"><i class="fa fa-plus"></i> {{lang["ADD_STACK"]}}</a>
            </div>
        </div>
    </div>
{% endblock %}
