<table>    
    <thead>
        <tr>
            <th>{{"DATE"|trans}}</th>
            <th>{{"TIME"|trans}}</th>
            <th>{{"DESCRIPTION"|trans}}</th>
            <th>{{"VALUE"|trans}}</th>
        </tr>
    </thead>
    <tbody>
        {% for finance_entry in data %}
            <tr>
                <td>{{ finance_entry["date"]|date(i18n.dateformatTwig.date) }}</td>
                <td>{{ finance_entry["time"] }}</td>
                <td>{{ finance_entry["description"] }}</td>
                <td>{{ finance_entry["value"] }} {{ i18n.currency }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>