<table>    
    <thead>
        <tr>
            <th>{{"DATE"|trans}}</th>
            <th>{{"MILEAGE"|trans}}</th>
            <th>{{"CONSUMPTION"|trans}}</th>
            <th>{{"LOCATION"|trans}}</th>
        </tr>
    </thead>
    <tbody>
        {% for list_entry in data %}
            <tr>
                <td>{{ list_entry[0]|date(i18n.dateformatTwig.date) }}</td>
                <td>{{ list_entry[2] }}</td>
                <td>{{ list_entry[6] }}</td>
                <td>{{ list_entry[7] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>