{% for entry in data["entries"] %}
	<div class="widget-shopping-list-entry shopping-list-entry custom-checkbox">
		<input type="checkbox" id="shoppinglist_entry_{{entry['id']}}" name="{{entry['id']}}" data-id="{{entry['id']}}" {{entry['done'] ? 'checked' : ''}} data-url="{{url_for('recipes_shoppinglistentries_set_state', {'shoppinglist' : data['hash']})}}" autocomplete="off"/>
		<label class="widget-card-title" for="shoppinglist_entry_{{entry['id']}}">
			<span class="amount">{{entry["amount"]}}</span>
			{% if entry["amount"] %}<span class="unit">{{entry["unit"]}}</span>{% endif %}
			{{entry["grocery"] | raw}}
			{% if entry["notice"] %}
			<span class="notice"> ({{entry["notice"]}})</span>{% endif %}
			</label>
	</div>
{% endfor %}
