<div class="request_widget" data-id="{{ widget["id"] }}" data-reload="{{ widget["reload"] }}" {% if not widget["id"] %}data-widget="{{ widget["name"] }}" data-options="{{ widget["options"] | json_encode() }}"{% endif %}>
	<span class="loading-icon centered spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
</div>
