{% extends "base.twig" %}

{% set active = 'location' %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/L.Control.Locate.min.css?ver={{CACHEMISS}}"/>
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/leaflet.extra-markers.min.css?ver={{CACHEMISS}}"/>
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/MarkerCluster.css?ver={{CACHEMISS}}"/>
{% endblock %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/L.Control.Locate.min.js?ver={{CACHEMISS}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{baseURL}}/static/assets/js/leaflet.extra-markers.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>
	<script src="{{baseURL}}/static/assets/js/leaflet.markercluster.js?ver={{CACHEMISS}}" type="text/javascript"></script>
	<script src="{{baseURL}}/static/js/location-helper.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/location.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/datefilter.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="buttons">
		<a href="{{ url_for('location_edit') }}">
			<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
				{{"ADD_LOCATION"|trans}}</button>
		</a>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "location/location-tabs.twig" with {'active':'location'} only %}
{% endblock %}


{% block body %}

	<div id="location-filter" class="page-content">
		<form method="GET" id="search-form" class="page-content collapsed">
			<div class="search-form-inner">
				<div class="filter-content">
					<div class="flatpickr-group" id="dateRange">
						<input type="text" value="{{from}} to {{to}}" data-input/>

						<a class="flatpickr-input-button" title="toggle" data-toggle>
							{{ fontawesome('fas fa-calendar-days') }}
						</a>

						<a class="flatpickr-input-button" title="clear" data-clear>
							{{ fontawesome('fas fa-xmark') }}
						</a>
					</div>
					<input type="hidden" id="inputStart" name="from" value="{{from}}"/>
					<input type="hidden" id="inputEnd" name="to" value="{{to}}"/>
				</div>
				<input type="submit" value="{{"SHOW"|trans}}"/>
			</div>
		</form>
		<span id="show-filter" class="hiddenSearch" aria-hidden="true">
			<span class="angle-down">{{ fontawesome("fas fa-angle-down") }}</span>
			<span class="angle-up">{{ fontawesome("fas fa-angle-up") }}</span>
		</span>
	</div>

{% endblock %}

{% block bottom %}
	<div id="mapid"></div>
	<div class="hidden">
		<div id="iconClustering">{{ fontawesome('fas fa-object-group') }}</div>
		<div id="iconLocation">{{ fontawesome('fas fa-location-arrow') }}</div>
		<div id="iconFinances">{{ fontawesome('fas fa-money-bill') }}</div>
		<div id="iconCars">{{ fontawesome('fas fa-road') }}</div>
		<div id="iconDirections">{{ fontawesome('fas fa-left-right') }}</div>
		<div id="iconSplittedBills">{{ fontawesome('far fa-handshake') }}</div>
		<div id="iconTimesheets">{{ fontawesome('far fa-clock') }}</div>
		<div id="iconTrips">{{ fontawesome('far fa-map') }}</div>
		<div id="iconPlanes">{{ fontawesome('fas fa-plane') }}</div>
		<div id="iconTrains">{{ fontawesome('fas fa-train') }}</div>
		<div id="iconStreets">{{ fontawesome('fas fa-road') }}</div>
		<div id="iconShips">{{ fontawesome('fas fa-ship') }}</div>
		<div id="iconCarRentals">{{ fontawesome('fas fa-car') }}</div>
		<div id="iconHotels">{{ fontawesome('fas fa-bed') }}</div>
		<div id="iconEvents">{{ fontawesome('fas fa-calendar') }}</div>
	</div>
{% endblock %}
