{% extends "base.twig" %}

{% set active = 'location' %}


{% block javascript %}
    <script src="/static/js/location.js?ver=20180704"></script>
{% endblock %}




{% block body %}

    <div id="search" class="page-content">
        <form method="GET" id="search-form" class="page-content">
            <div class="element">
                <label for="dateStart">{{lang["FROM"]}}</label>
                <input type="text" id="dateStart" />
                <input type="hidden" id="inputStart" name="from" value="{{from}}"/>
            </div>
            <div class="element">
                <label for="dateEnd">{{lang["TO"]}}</label>
                <input type="text" id="dateEnd" />
                <input type="hidden" id="inputEnd" name="to" value="{{to}}"/>
            </div>
            <div class="element">
                <input type="submit" value="{{lang["SHOW"]}}"/>
            </div>
        </form>       
        <i id="show-filter" class="hiddenSearch" aria-hidden="true"></i>
    </div>


{% endblock %}

{% block bottom %}
    <div id="mapid"></div>
{% endblock %}