{% extends "base.twig" %}

{% set active = 'location' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{base_url()}}/static/assets/css/leaflet.min.css" />
    <link rel="stylesheet" type="text/css" href="{{base_url()}}/static/assets/css/MarkerCluster.css" />
{% endblock %}

{% block javascript %}
    <script src="{{base_url()}}/static/assets/js/leaflet.js" type="text/javascript"></script>
    <script src="{{base_url()}}/static/assets/js/leaflet.markercluster.js" type="text/javascript"></script>
    <script src="{{base_url()}}/static/js/location.js?ver=20191121"></script>
    <script src="{{base_url()}}/static/js/datefilter.js?ver=20181122"></script>
{% endblock %}


{% block body %}

    <div id="search" class="page-content">
        <form method="GET" id="search-form" class="page-content collapsed">
            <div class="search-form-inner"> 
                <div class="filter-content">
                    <input type="text" id="dateRange" value="{{from}} to {{to}}" />
                    <input type="hidden" id="inputStart" name="from" value="{{from}}"/>
                    <input type="hidden" id="inputEnd" name="to" value="{{to}}"/>
                </div>
                <input type="submit" value="{{lang["SHOW"]}}"/>
            </div>
        </form>       
        <i id="show-filter" class="hiddenSearch" aria-hidden="true"></i>
    </div>


{% endblock %}

{% block bottom %}
    <div id="mapid"></div>
{% endblock %}