{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/bip39.browser.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/encryption-helper.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/timesheets-notice-password.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('timesheets')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{lang["TIMESHEETS_PROJECT_PASSWORD_SHEETS_NOTICES"]}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('timesheets_notice_recovery_show', {'project': project.getHash()}) }}">
				<button class="button button-outlined">{{lang["TIMESHEETS_RECOVERY_KEY"]}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<div id="passwordAlert" class="alert hidden">
				<span class="closebtn">&times;</span>
				<span class="alert-message">
					<p id="alertDetail"></p>
				</span>
			</div>

			<form class="form-horizontal">

				<p>{{ lang["TIMESHEETS_PROJECT_PASSWORD_SHEETS_NOTICES_DESCRIPTION"] }}</p>

				<div class="form-group {% if not parameters.testMessageEncryptedWithKEK  %}hidden{% endif %}">
					<label for="inputOldPassword">{{lang["OLD_PASSWORD"]}}</label>
					<input name="oldpassword" id="inputOldPassword" class="form-control" type="password" {% if not parameters.testMessageEncryptedWithKEK  %}disabled="disabled"{% endif %} required>
					<a href="#" id="forgotPassword" class="{% if not parameters.testMessageEncryptedWithRecoveryKey  %}hidden{% endif %}">
						<small>{{lang["TIMESHEETS_FORGOT_PASSWORD"]}}</small>
					</a>
				</div>
				<div class="form-group hidden" id="recoveryCodeWrapper">
					<label for="inputRecoveryCode">{{lang["TIMESHEETS_RECOVERY_KEY"]}}</label>
					<textarea name="recoverycode" id="inputRecoveryCode" class="form-control"></textarea>
				</div>

				<div class="form-group">
					<label for="inputNewPassword1">{{lang["NEW_PASSWORD"]}}</label>
					<input name="newpassword1" id="inputNewPassword1" class="form-control" type="password" required>
				</div>
				<div class="form-group">
					<label for="inputNewPassword2">{{lang["NEW_PASSWORD_REPLY"]}}</label>
					<input name="newpassword2" id="inputNewPassword2" class="form-control" type="password" required>
				</div>

				<div class="form-group btn">
					<button type="submit" class="button" id="save_notice_password">{{lang["SAVE"]}}</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
