{% extends "base.twig" %}

{% set active = 'settings' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"SETTINGS"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "settings/settings-tabs.twig" with {'active':'settings'} only %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<form class="form-horizontal" action="{{ url_for('settings_save') }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				<div class="form-group">
					<label for="inputCacheMiss">{{"CACHEMISS"|trans}}</label>
					<input type="text" class="form-control" id="inputCacheMiss" name="cachemiss" value="{{cachemiss.getValue()}}">
				</div>

				<div class="form-group-btn">
					<button type="submit" class="button">{{"SAVE"|trans}}</button>
				</div>
			</form>

		</div>
	</div>

{% endblock %}
