<div class="tabbar-scroller">
	<div class="tabbar-scrollarea">
		<a class="tabbar-tab {% if active == 'settings' %}active{% endif %}" href="{{ url_for('settings') }}">{{"SETTINGS"|trans}}</a>
		<a class="tabbar-tab {% if active == 'users' %}active{% endif %}" href="{{ url_for('users') }}">{{"USERS"|trans}}</a>
		<a class="tabbar-tab {% if active == 'notifications_clients' %}active{% endif %}" href="{{ url_for('notifications_clients') }}">{{"NOTIFICATIONS"|trans}}</a>
		<a class="tabbar-tab {% if active == 'notifications_categories' %}active{% endif %}" href="{{ url_for('notifications_categories') }}">{{"CATEGORIES"|trans}}</a>
		<a class="tabbar-tab {% if active == 'login_tokens' %}active{% endif %}" href="{{ url_for('login_tokens') }}">{{"LOGIN_TOKENS"|trans}}</a>
		<a class="tabbar-tab {% if active == 'banlist' %}active{% endif %}" href="{{ url_for('banlist') }}">{{"BANLIST"|trans}}</a>
	</div>
</div>
