
{% for recipe in data %}
    <div class="inner-content recipe-list">
        <div class="recipe">
            <h3><a href="{% if cookbook %}{{ url_for('recipes_cookbooks_view_recipe', {'recipe': recipe.hash, 'cookbook': cookbook}) }}{% else %}{{ url_for('recipes_recipe_view', {'recipe': recipe.hash}) }}{% endif %}">{{ recipe.name|raw }}</a></h3>
            <div class="recipe-list-image-description">
                {% if recipe.get_image() != ''%}
                    <a href="{% if cookbook %}{{ url_for('recipes_cookbooks_view_recipe', {'recipe': recipe.hash, 'cookbook': cookbook}) }}{% else %}{{ url_for('recipes_recipe_view', {'recipe': recipe.hash}) }}{% endif %}"><img class="recipe-image" src="/{{uploads_folder}}/recipes/{{recipe.get_thumbnail()}}"/></a>
                {% endif %}
                {% if recipe.description %}
                <div class="recipe-description">{{recipe.getRecipeDescription()|raw}}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}