{% extends "base.twig" %}

{% set active = 'recipes' %}

{% block style %}

{% endblock %}

{% block javascript %}
    <script src="{{baseURL}}/static/js/recipes_recipe.js?ver=20210514"></script>
{% endblock %}

{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["RECIPE"]}} - {{ recipe.name|raw }}</h2>
            <div class="buttons">
                <a href="{{  url_for_with_last_query_params('recipes') }}"><button class="button">{{lang["BACK"]}} {{ fontawesome('fas fa-level-up-alt') }}</button></a>
                <a href="{{ url_for('recipes_recipe_add_to_cookbook', {'recipe': recipe.hash}) }}" id="add_to_cookbook"><button class="button">{{lang["RECIPES_ADD_TO_COOKBOOK"]}} {{ fontawesome('fas fa-book') }}</button></a>
                        {% if recipe.getOwner() == user.id %}
                    <a href="{{  url_for('recipes_edit', {'id' : recipe.id}) }}"><button class="button">{{ fontawesome('fas fa-edit') }}</button></a>
                    <a href="#" data-url="{{  url_for('recipes_delete', {'id' : recipe.id}) }}" class="btn-delete"><button class="button">{{ fontawesome('fas fa-trash') }}</button></a>
                        {% endif %}
            </div>      
        </div>
        <div class="page-content">

            <div class="recipe-description">{{recipe.getRecipeDescription()|raw}}</div>

            {% if recipe.preparation_time or recipe.waiting_time or recipe.servings %}
                <div class="recipe-icons">
                    {% if recipe.preparation_time %}
                        <div>
                            {{ fontawesome('fas fa-user-clock') }}<span>{{recipe.preparation_time}} {{ lang["RECIPES_MINUTES"] }}</span>
                        </div>
                    {% endif %}
                    {% if recipe.waiting_time %}
                        <div>
                            {{ fontawesome('fas fa-hourglass-half') }}<span>{{recipe.waiting_time}} {{ lang["RECIPES_MINUTES"] }}</span>
                        </div>
                    {% endif %}
                    {% if recipe.servings %}
                        <div>
                            {{ fontawesome('fas fa-users') }}<span>{{recipe.servings}} {{ lang["RECIPES_SERVINGS"] }}</span>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if recipe.link %}
                <div class="recipe-link"><a href="{{recipe.link|raw}}" target="_blank">{{recipe.link|raw}}</a></div>        
                {% endif %}

            <div class="recipe-ingredients-image">
                {% if recipe.get_image() != ''%}
                    <img class="recipe-image" src="/{{uploads_folder}}/recipes/{{recipe.get_thumbnail()}}"/>
                {% endif %}

                <div class="recipe-ingredients">
                    <div class="recipe-ingredients-title">{{ fontawesome('fas fa-pepper-hot') }} {{ lang["RECIPES_INGREDIENTS"] }}</div>
                    {% for step_ingredients in ingredients %}
                        {% for ingredient in step_ingredients %}
                            <div>
                                <a href="#" class="ingredient-select" data-id="{{ ingredient["id"] }}">{{ fontawesome('far fa-check-circle') }}
                                {{ ingredient["amount"] }} {% if ingredient["unit"] and ingredient["amount"] %}{{ ingredient["unit"]|raw }}{% endif %} <strong>{{ ingredient["name"] }}</strong>{% if ingredient["notice"] %}, {{ ingredient["notice"] }}{% endif %}</a>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% for step in steps %}
        {% set step_idx = loop.index-1 %}
        <div class="inner-content">
            <div class="page-header light recipe-step-header">
                <h3>{{ step["name"] }}</h3>
            </div>
            <div class="page-content">

                {% if step["preparation_time"] or step["waiting_time"] %}
                    <div class="recipe-icons recipe-step-icons">
                        {% if step["preparation_time"] %}
                            <div>
                                {{ fontawesome('fas fa-user-clock') }}<span>{{step["preparation_time"]}} {{ lang["RECIPES_MINUTES"] }}</span>
                            </div>
                        {% endif %}
                        {% if step["waiting_time"] %}
                            <div>
                                {{ fontawesome('fas fa-hourglass-half') }}<span>{{step["waiting_time"]}} {{ lang["RECIPES_MINUTES"] }}</span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="recipe-step-ingredients-description">

                    {% if step.id in ingredients|keys %}
                        <div class="recipe-step-ingredients">
                            <div class="recipe-step-ingredients-title">{{ fontawesome('fas fa-pepper-hot') }} {{ lang["RECIPES_INGREDIENTS"] }}</div>
                            {% for ingredient in ingredients[step.id] %}
                                <div>
                                    <a href="#" class="ingredient-select" data-id="{{ ingredient["id"] }}">{{ fontawesome('far fa-check-circle') }}
                                    {{ ingredient["amount"] }} {% if ingredient["unit"] and ingredient["amount"] %}{{ ingredient["unit"]|raw }}{% endif %} <strong>{{ ingredient["name"] }}</strong>{% if ingredient["notice"] %}, {{ ingredient["notice"] }}{% endif %}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="recipe-description">{{step["description"]|raw}}</div>
                </div>
            </div>
        </div>
    {% endfor %}



{% endblock %}