{% extends "base.twig" %}

{% set active = 'profile' %}

{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["MOBILE_FAVORITES"]}}</h2></div>
        <div class="page-content">

            <form class="form-horizontal" id="mobileFavoritesForm" action="{{ url_for('users_mobile_favorites_save', {'id' : entry.id}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
                {% endif %}

                <div class="form-group">
                    <label for="inputPosition">{{lang["POSITION"]}}</label>
                    <input type="number" class="form-control" id="inputPosition" name="position" step="1" {% if not entry is null %}value="{{entry.position}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputIcon">{{lang["ICON"]}}</label>
                    <input type="text" class="form-control" id="inputIcon" name="icon" {% if not entry is null %}value="{{entry.icon}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputURL">{{lang["URL"]}}</label>
                    <input type="text" class="form-control" id="inputURL" name="url" {% if not entry is null %}value="{{entry.url}}"{% endif %}>
                    <p>
                        {{ lang["MOBILE_FAVORITES_PLACEHOLDER_INTRO"] }}
                        <dl>
                            <dt><code>$day$</code></dt>
                            <dd>{{ lang["CURRENT_DAY"] }}</dd>

                            <dt><code>$month$</code><dt>
                            <dd>{{ lang["CURRENT_MONTH"] }}</dd>

                            <dt><code>$year$</code><dt>
                            <dd>{{ lang["CURRENT_YEAR"] }}</dd>
                        </dl>
                    </p>
                </div>

                <div class="form-group">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}