{% extends "base.twig" %}

{% set active = 'profile' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('users_mobile_favorites')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"MOBILE_FAVORITES"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" id="mobileFavoritesForm" action="{{ url_for('users_mobile_favorites_save', {'id' : entry.id}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
				{% endif %}

				<div class="form-group">
					<label for="inputPosition">{{"POSITION"|trans}}</label>
					<input type="number" class="form-control" id="inputPosition" name="position" step="1" pattern="\d*" {% if not entry is null %} value="{{entry.position}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="inputIcon">{{"ICON"|trans}}</label>
					<input type="text" class="form-control" id="inputIcon" name="icon" {% if not entry is null %} value="{{entry.icon}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="inputURL">{{"URL"|trans}}</label>
					<input type="text" class="form-control" id="inputURL" name="url" {% if not entry is null %} value="{{entry.url}}" {% endif %}>
					<p>
						{{ "MOBILE_FAVORITES_PLACEHOLDER_INTRO"|trans }}
						<dl>
							<dt>
								<code>$day$</code>
							</dt>
							<dd>{{ "CURRENT_DAY"|trans }}</dd>

							<dt>
								<code>$month$</code>
							</dt>
							<dt></dt>
							<dd>{{ "CURRENT_MONTH"|trans }}</dd>

							<dt>
								<code>$year$</code>
							</dt>
							<dt></dt>
							<dd>{{ "CURRENT_YEAR"|trans }}</dd>
						</dl>
					</p>
				</div>

				<div class="form-group">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
