{% extends "base.twig" %}

{% set active = 'profile' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["MOBILE_FAVORITES"]}}{% if not for_user is null %} ({{ for_user.login }}){% endif %}</h2> <a href="{% if for_user is null %}{{ path_for('users_mobile_favorites_edit') }}{% else %}{{ path_for('users_mobile_favorites_edit_admin', {'user': for_user.id}) }}{% endif %}"><button class="white"><i class="fas fa-plus" aria-hidden="true"></i> {{lang["ADD"]}}</button></a></div>
        <div class="page-content">
            <table id="mobile_favorites_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{ lang["POSITION"] }}</th>
                        <th>{{ lang["ICON"] }}</th>
                        <th>{{ lang["URL"] }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for el in list %}
                        <tr>
                            <td data-title="{{lang["POSITION"]}}">{{ el.position }}</td> 
                            <td data-title="{{lang["ICON"]}}"><i class="fa-lg {{el.icon}}"></i></td> 
                            <td data-title="{{lang["URL"]}}">{{el.url|raw}}</td> 
                            <td><a href="{% if for_user is null %}{{ path_for('users_mobile_favorites_edit', {'id' : el.id}) }}{% else %}{{ path_for('users_mobile_favorites_edit_admin', {'id' : el.id, 'user': for_user.id}) }}{% endif %}"><span class="fas fa-edit fa-lg"></span></a></td>
                            <td><a href="#" data-url="{% if for_user is null %}{{ path_for('users_mobile_favorites_delete', {'id' : el.id}) }}{% else %}{{ path_for('users_mobile_favorites_delete_admin', {'id' : el.id, 'user': for_user.id}) }}{% endif %}" class="btn-delete"><span class="fas fa-trash fa-lg"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}