{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/Sortable.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/workouts.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/exercises.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('workouts_templates') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"WORKOUTS_TEMPLATE_PLAN"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" action="{{ url_for('workouts_templates_save', {'id' : entry.id}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
				{% endif %}

				<div class="form-group">
					<label for="inputName">{{"NAME"|trans}}</label>
					<input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %} value="{{entry.name|raw}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="category">{{"WORKOUTS_CATEGORY"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="category" name="category">
							{% for cat in categories %}
								<option value="{{cat.id}}" {% if (not entry is null and cat.id == entry.category) %} selected {% endif %}>{{cat.name|trans}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="level">{{"WORKOUTS_LEVEL"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="level" name="level">
							{% for level in levels %}
								<option value="{{level.id}}" {% if (not entry is null and level.id == entry.level) %} selected {% endif %}>{{level.name|trans}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="inputNotice">{{"NOTICE"|trans}}</label>
					<textarea class="form-control" id="inputNotice" name="notice" rows="3">
						{%- if not entry is null -%}
							{{- entry.notice|raw -}}
						{%- endif -%}
					</textarea>
				</div>

				<div>
					<div id="usedMusclesWrapper">
						{% include "workouts/exercise/selected-muscles.twig" with {'data': {"baseMuscleImageThumbnail": baseMuscleImageThumbnail, 'primary': selected_muscles["primary"], 'secondary': selected_muscles["secondary"], 'small': false}} only %}
					</div>
				</div>

				<div class="workout-selection" id="workoutExerciseSelection">
					<div class="selected_exercises_title">
						<h2>{{ "WORKOUTS_EXERCISES_SELECTED"|trans }}</h2>
						<div class="form-group">
							<button type="button" class="button button-outlined small" id="add_workout_day">{{ "WORKOUTS_ADD_DAY"|trans }}</button>
							<button type="button" class="button button-outlined small" id="add_superset">{{ "WORKOUTS_ADD_SUPERSET"|trans }}</button>
						</div>
					</div>
					<div class="selected_exercises" id="exercises_selected">
						<div class="workout-selection-content" data-type="main">
							{% for exercise in selected_exercises %}
								{% if exercise.type == "exercise" %}
									{% include "workouts/plan/edit-exercise-selected.twig" with {'exercise':exercise } only %}
								{% elseif exercise.type == "day" %}
									<div class="workout_day_split" data-type="workout-element" data-category="day">
										<div class="content">
											<input type="text" name="exercises[{{ exercise['idx'] }}][notice]" value="{{ exercise['notice'] }}"/>
											<input type="hidden" name="exercises[{{ exercise['idx'] }}][type]" value="day"/>
										</div>
										<div class="icons">
											<span class="minus">{{ fontawesome('fas fa-minus') }}</span>
											<span class="handle">{{ fontawesome('fas fa-up-down-left-right') }}</span>
										</div>
									</div>
								{% elseif exercise.type == "superset" %}
									<div class="workout_superset" data-type="workout-element" data-category="superset">
										<div class="content">
											<h2>{{"WORKOUTS_SUPERSET"|trans}}</h2>
											<input type="hidden" name="exercises[{{ exercise['idx'] }}][type]" value="superset"/>
											<div class="exercises" data-type="superset">
												{% for child in exercise['children'] %}
													{% include "workouts/plan/edit-exercise-selected.twig" with {'exercise':child} only %}
												{% endfor %}
											</div>
										</div>
										<div class="icons">
											<span class="minus">{{ fontawesome('fas fa-minus') }}</span>
											<span class="handle">{{ fontawesome('fas fa-up-down-left-right') }}</span>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="available_exercises_title">
						<h2>{{ "WORKOUTS_EXERCISES_AVAILABLE"|trans }}</h2>
						<div class="form-group">
							<button type="button" class="button button-outlined small" id="hide_exercise_selection">{{ "HIDE"|trans }}</button>
						</div>
					</div>
					<div class="available_exercises">
						<div class="exercise-filter">
							<div class="select-wrapper">
								<select id="filterBodyParts">
									<option value="-1">{{ "ALL"|trans }}</option>
									{% for bodypart in bodyparts %}
										<option value="{{ bodypart.id }}">{{ bodypart.name }}</option>
									{% endfor %}
								</select>
							</div>
							<input type="text" id="filterSearchExercises"/>
						</div>
						<div class="content" id="exercises_available" data-edit="1">
							<div id="exercises_available_list"></div>
							<div id="loadingIconExercises" class="centered loading-icon">
								<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
							</div>
							<div id="loadMoreExercises" class="centered hidden">
								<button type="button" class="button">{{ "LOAD_MORE"|trans }}</button>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<input id="defaultSetCount" type="number" min="0" max="999" step="any" pattern="\d*" size="5" value="3" class="small"/>
					<label for="defaultSetCount">{{ "WORKOUTS_SETS"|trans }}</label>
				</div>

				<div class="form-group">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>

	<div class="hidden">
		<div id="iconMinus">{{ fontawesome('fas fa-minus') }}</div>
		<div id="iconHandle">{{ fontawesome('fas fa-up-down-left-right') }}</div>
	</div>
{% endblock %}
