{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/Sortable.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/workouts.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/exercises.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-header">
			<h2>{{lang["WORKOUTS_TEMPLATE_PLAN"]}}</h2>
			<div class="buttons">
				<a href="{{ url_for_with_last_query_params('workouts_templates') }}">
					<button class="button">{{lang["BACK"]}}
						{{ fontawesome('fas fa-level-up-alt') }}</button>
				</a>
			</div>
		</div>
		<div class="page-content">

			<form class="form-horizontal" action="{{ url_for('workouts_templates_save', {'id' : entry.id}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
				{% endif %}

				<div class="form-group">
					<label for="inputName">{{lang["NAME"]}}</label>
					<input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %} value="{{entry.name|raw}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="category">{{lang["WORKOUTS_CATEGORY"]}}</label>
					<select class="form-control" id="category" name="category">
						{% for cat in categories %}
							<option value="{{cat.id}}" {% if (not entry is null and cat.id == entry.category) %} selected {% endif %}>{{lang[cat.name]}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label for="level">{{lang["WORKOUTS_LEVEL"]}}</label>
					<select class="form-control" id="level" name="level">
						{% for level in levels %}
							<option value="{{level.id}}" {% if (not entry is null and level.id == entry.level) %} selected {% endif %}>{{lang[level.name]}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label for="inputNotice">{{lang["NOTICE"]}}</label>
					<textarea class="form-control" id="inputNotice" name="notice" rows="3">
						{% if not entry is null %}
							{{entry.notice|raw}}
						{% endif %}
					</textarea>
				</div>

				<div>
					<div id="usedMusclesWrapper">
						{% include "workouts/exercise/selected-muscles.twig" with {'data': {"baseMuscleImageThumbnail": baseMuscleImageThumbnail, 'primary': selected_muscles["primary"], 'secondary': selected_muscles["secondary"], 'small': false}} only %}
					</div>
				</div>

				<div class="workout-selection" id="workoutExerciseSelection">
					<div class="selected_exercises_title">
						<h2>{{ lang["WORKOUTS_EXERCISES_SELECTED"] }}</h2>
						<div class="form-group">
							<button type="button" class="button small gray" id="add_workout_day">{{ lang["WORKOUTS_ADD_DAY"] }}</button>
							<button type="button" class="button small gray" id="add_superset">{{ lang["WORKOUTS_ADD_SUPERSET"] }}</button>
						</div>
					</div>
					<div class="selected_exercises" id="exercises_selected">
						<div class="content" data-type="main">
							{% for exercise in selected_exercises %}
								{% if exercise.type == "exercise" %}
									{% include "workouts/plan/edit-exercise-selected.twig" with {'exercise':exercise } only %}
								{% elseif exercise.type == "day" %}
									<div class="workout_day_split" data-type="workout-element" data-category="day">
										<div class="content">
											<input type="text" name="exercises[{{ exercise['idx'] }}][notice]" value="{{ exercise['notice'] }}"/>
											<input type="hidden" name="exercises[{{ exercise['idx'] }}][type]" value="day"/>
										</div>
										<div class="icons">
											<span class="minus">{{ fontawesome('fas fa-minus') }}</span>
											<span class="handle">{{ fontawesome('fas fa-arrows-alt') }}</span>
										</div>
									</div>
								{% elseif exercise.type == "superset" %}
									<div class="workout_superset" data-type="workout-element" data-category="superset">
										<div class="content">
											<h2>{{lang["WORKOUTS_SUPERSET"]}}</h2>
											<input type="hidden" name="exercises[{{ exercise['idx'] }}][type]" value="superset"/>
											<div class="exercises" data-type="superset">
												{% for child in exercise['children'] %}
													{% include "workouts/plan/edit-exercise-selected.twig" with {'exercise':child} only %}
												{% endfor %}
											</div>
										</div>
										<div class="icons">
											<span class="minus">{{ fontawesome('fas fa-minus') }}</span>
											<span class="handle">{{ fontawesome('fas fa-arrows-alt') }}</span>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="available_exercises_title">
						<h2>{{ lang["WORKOUTS_EXERCISES_AVAILABLE"] }}</h2>
						<div class="form-group">
							<button type="button" class="button small gray" id="hide_exercise_selection">{{ lang["HIDE"] }}</button>
						</div>
					</div>
					<div class="available_exercises">
						<div class="exercise-filter">
							<select id="filterBodyParts">
								<option value="-1">{{ lang["ALL"] }}</option>
								{% for bodypart in bodyparts %}
									<option value="{{ bodypart.id }}">{{ bodypart.name }}</option>
								{% endfor %}
							</select>
							<input type="text" id="filterSearchExercises"/>
						</div>
						<div class="content" id="exercises_available" data-edit="1">
							<div id="exercises_available_list"></div>
							<div id="loadingIconExercises" class="centered loading-icon">
								<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
							</div>
							<div id="loadMoreExercises" class="centered hidden">
								<button type="button" class="button">{{ lang["LOAD_MORE"] }}</button>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<input id="setCount" type="number" min="0" max="999" step="any" size="5" value="3" class="small"/>
					<label for="setCount">{{ lang["WORKOUTS_SETS"] }}</label>
				</div>

				<div class="form-group">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{lang["SAVE"]}}
						{% else %}
							{{lang["INSERT"]}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button danger">{{lang["CANCEL"]}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>

	<div class="hidden">
		<div id="iconMinus">{{ fontawesome('fas fa-minus') }}</div>
		<div id="iconHandle">{{ fontawesome('fas fa-arrows-alt') }}</div>
	</div>
{% endblock %}
