{% extends "base.twig" %}

{% set active = 'finances' %}

{% block javascript %}
    <script src="/static/assets/js/mustache.min.js"></script>
    <script src="/static/assets/js/chosen.jquery.min.js"></script>
    <script src="/static/js/budget.min.js?ver=20180727"></script>
{% endblock %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["BUDGET"]}}</h2> <a href="{{path_for('finances_budgets_edit')}}"><button class="white"><i class="fa fa-plus" aria-hidden="true"></i> {{lang["EDIT"]}}</button></a></div>
        <div class="page-content">
            {% for budget in budgets if budget.is_hidden == 0 %}
                <div class="budget-entry">
                    <h3><a href="{{path_for('finances_stats_budget', {'budget' : budget.id})}}">{{budget.description|raw}}</a></h3>
                    {% if budget.id in budget_categories|keys %}
                        <div class="categories-list">
                            {% if budget_categories[budget.id]|length > 1 %}
                                {{lang["CATEGORIES"]}}:
                            {% else %}
                                {{lang["CATEGORY"]}}:    
                            {% endif %}
                            {% for cat in budget_categories[budget.id] %}
                                {{categories[cat].name|raw}}{% if loop.index < budget_categories[budget.id]|length %},{%endif%}        
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="values">
                        <span>0 {{currency}}</span>
                        <span class="{%if budget.percent > 80 %}red{%elseif budget.percent > 50%}orange{%else%}green{%endif%}">{{budget.sum}} {{currency}}</span>
                        <span>{{budget.value}} {{currency}}</span>
                    </div>

                    <div class="progress-bar">
                        <div class="progress {%if budget.percent > 80 %}red{%elseif budget.percent > 50%}orange{%else%}green{%endif%}" style="width:{{budget.percent}}%">{%if budget.percent >= 25 %}{{budget.percent}}%{%endif%}</div>
                        {%if budget.percent < 25 %}
                            <div class="progress progress-text">{{budget.percent}}%</div>
                        {% endif %}
                        <div class="state" style="width:{{date_status}}%"></div>
                    </div> 

                    <div class="remaining">
                        {{lang["REMAINING"]}}: {{budget.diff}} {{currency}}
                    </div>


                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}