{% extends "base.twig" %}

{% set active = 'timesheets' %}


{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["TIMESHEETS_PROJECT_CATEGORIES"]}} | {{ project.name }}</h2> 
            <div class="buttons">
                <a href="{{ url_for_with_last_query_params('timesheets_project_categories', {'project': project.hash})}}"><button class="button white">{{lang["BACK"]}} {{ fontawesome('fas fa-level-up-alt') }}</button></a>
            </div>
        </div>
        <div class="page-content">

            <form class="form-horizontal" id="projectCategoriesForm" action="{{  url_for('timesheets_project_categories_save', {'id' : entry.id, 'project' : project.hash}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
                {% endif %}

                <div class="form-group">
                    <label for="inputName">{{lang["NAME"]}}</label>
                    <input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %}value="{{entry.name}}"{% endif %}>
                </div>

                <div class="form-group btn">
                    <button type="submit" class="button">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="button danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}