{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('workouts_exercises') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"WORKOUTS_EXERCISE"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" action="{{ url_for('workouts_exercises_save', {'id' : entry.id}) }}" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
				{% endif %}

				<div class="form-group">
					<label for="inputName">{{"NAME"|trans}}</label>
					<input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %} value="{{entry.name|raw}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="inputInstructions">{{"WORKOUTS_INSTRUCTIONS"|trans}}</label>
					<textarea class="form-control" id="inputInstructions" name="instructions" rows="10">
						{%- if not entry is null -%}
							{{- entry.instructions|raw -}}
						{%- endif -%}
					</textarea>
				</div>

				<div class="form-group">
					<label for="inputLevel">{{"WORKOUTS_LEVEL"|trans}}</label>
					<input type="number" class="form-control" id="inputLevel" name="level" step="1" pattern="\d*" placeholder="" {% if not entry is null %} value="{{entry.level}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="inputRating">{{"WORKOUTS_RATING"|trans}}</label>
					<input type="number" class="form-control" id="inputRating" name="rating" step="1" pattern="\d*" placeholder="" {% if not entry is null %} value="{{entry.rating}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="category">{{"WORKOUTS_CATEGORY"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="category" name="category">
							{% for cat in categories %}
								<option value="{{cat.id}}" {% if (not entry is null and cat.id == entry.category) %} selected {% endif %}>{{cat.name|trans}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="mainMuscle">{{"WORKOUTS_MAIN_MUSCLE"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="mainMuscle" name="mainMuscle">
							{% for muscle in muscles %}
								<option value="{{muscle.id}}" {% if (not entry is null and muscle.id == entry.mainMuscle) %} selected {% endif %}>{{muscle.name|raw}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="muscle_groups_primary">{{"WORKOUTS_MUSCLES_PRIMARY"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="muscle_groups_primary" name="muscle_groups_primary[]" multiple="true">
							{% for muscle in muscles %}
								<option value="{{muscle.id}}" {% if (not entry is null and muscle.id in muscle_groups_primary) %} selected {% endif %}>{{muscle.name|raw}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="muscle_groups_secondary">{{"WORKOUTS_MUSCLES_SECONDARY"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="muscle_groups_secondary" name="muscle_groups_secondary[]" multiple="true">
							{% for muscle in muscles %}
								<option value="{{muscle.id}}" {% if (not entry is null and muscle.id in muscle_groups_secondary) %} selected {% endif %}>{{muscle.name|raw}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="mainBodyPart">{{"WORKOUTS_MAIN_BODYPART"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="mainBodyPart" name="mainBodyPart">
							{% for bodypart in bodyparts %}
								<option value="{{bodypart.id}}" {% if (not entry is null and bodypart.id == entry.mainBodyPart) %} selected {% endif %}>{{bodypart.name|raw}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<h3>{{"IMAGE"|trans}}</h3>
				<div class="form-group">
					{% if not entry is null and entry.get_image() != ''%}
						<img class="image_uploaded" src="/{{uploads_folder}}/exercises/{{entry.get_image()}}"/>
					{% endif %}
					<input name="image" id="image" class="form-control" type="file">
				</div>
				{% if not entry is null and entry.get_image() != ''%}
					<div class="form-group">
						<label class="checkbox" for="checkboxDeleteImage">
							<input name="delete_image" type="checkbox" value="1" id="checkboxDeleteImage">
							{{"DELETE"|trans}}
						</label>
					</div>
				{% endif %}

				<h3>{{"THUMBNAIL"|trans}}</h3>
				<div class="form-group">
					{% if not entry is null and entry.get_thumbnail() != ''%}
						<img class="image_uploaded" src="/{{uploads_folder}}/exercises/{{entry.get_thumbnail()}}"/>
					{% endif %}
					<input name="thumbnail" id="thumbnail" class="form-control" type="file">
				</div>
				{% if not entry is null and entry.get_thumbnail() != ''%}
					<div class="form-group">
						<label class="checkbox" for="checkboxDeleteThumbnail">
							<input name="delete_thumbnail" type="checkbox" value="1" id="checkboxDeleteThumbnail">
							{{"DELETE"|trans}}
						</label>
					</div>
				{% endif %}


				<div class="form-group">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
