{% extends "base.twig" %}

{% set active = 'workouts' %}

{% block javascript %}
	<script src="{{baseURL}}/static/js/workouts-view.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/exercises.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"WORKOUTS_EXERCISES"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "workouts/workouts-tabs.twig" with {'active':'workouts_exercises_view'} %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<div class="exercise-filter">
				<div class="select-wrapper">
					<select id="filterBodyParts">
						<option value="-1">{{ "ALL"|trans }}</option>
						{% for bodypart in bodyparts %}
							<option value="{{ bodypart.id }}">{{ bodypart.name }}</option>
						{% endfor %}
					</select>
				</div>
				<input type="text" id="filterSearchExercises"/>
			</div>
		</div>
	</div>
	<div class="content" id="exercises_available" data-edit="0">
		<div id="exercises_available_list" class="workout-selection view"></div>
		<div id="loadingIconExercises" class="centered loading-icon">
			<span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
		</div>
		<div id="loadMoreExercises" class="centered hidden">
			<button type="button" class="button">{{ "LOAD_MORE"|trans }}</button>
		</div>
	</div>

{% endblock %}
