{% extends "base.twig" %}

{% set active = 'splitbills' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["SPLITBILL_GROUPS"]}}</h2></div>
        <div class="page-content">

            <form class="form-horizontal" action="{{  path_for('splitbill_groups_save', {'id' : entry.id}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id"  type="hidden" value="{{entry.id}}">
                    <input name="hash"  type="hidden" value="{{entry.hash}}">
                {% endif %}


                <div class="form-group">
                    <label for="inputName">{{lang["NAME"]}}</label>
                    <input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %}value="{{entry.name|raw}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputCurrency">{{lang["CURRENCY"]}}</label>
                    <input type="text" class="form-control" id="inputCurrency" name="currency" value="{% if not entry is null %}{{entry.currency}}{% else %}{{ i18n.currency }}{% endif %}">
                </div>

                <div class="form-group">
                    <label class="checkbox" for="checkboxAddFinances">
                        <input name="add_finances" type="checkbox" value="1" id="checkboxAddFinances" {% if entry is not null and entry.add_finances == 1 %}checked{% endif %}>
                        {{lang["SPLITBILLS_ADD_FINANCES"]}}
                    </label>
                </div>

                <div class="form-group">
                    <label for="users">{{lang["USERS"]}}</label>
                    <select class="form-control" id="users" name="users[]" multiple="true">
                        {% for user in users if user.module_splitbills == 1%}
                            <option value="{{user.id}}" {% if (not entry is null and user.id in entry.getUsers()) %}selected{% endif %}>{{user.login}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group btn">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}