{% extends "base.twig" %}

{% set active = 'splitbills' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/autoComplete.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/user-select.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/autoComplete.min.css?ver={{CACHEMISS}}"/>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('splitbills')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{lang["SPLITBILL_GROUPS"]}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" action="{{ url_for('splitbill_groups_save', {'id' : entry.id}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
					<input name="hash" type="hidden" value="{{entry.hash}}">
				{% endif %}


				<div class="form-group">
					<label for="inputName">{{lang["NAME"]}}</label>
					<input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %}value="{{entry.name|raw}}"{% endif %}>
				</div>

				<div class="form-group">
					<label for="inputCurrency">{{lang["CURRENCY"]}}</label>
					<input type="text" class="form-control" id="inputCurrency" name="currency" value="{% if not entry is null %}{{entry.currency}}{% else %}{{ i18n.currency }}{% endif %}">
				</div>

				<div class="form-group">
					<label for="inputRate">{{lang["EXCHANGE_RATE"]}}</label>
					<input type="number" step="any" inputmode="decimal" class="form-control" id="inputRate" name="exchange_rate" value="{% if not entry is null %}{{entry.exchange_rate}}{% else %}1{% endif %}">
				</div>

				<div class="form-group">
					<label for="inputFee">{{lang["EXCHANGE_FEE"]}}</label>
					<input type="number" step="any" inputmode="decimal" class="form-control" id="inputFee" name="exchange_fee" value="{% if not entry is null %}{{entry.exchange_fee}}{% else %}0{% endif %}">
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxAddFinances">
						<input name="add_finances" type="checkbox" value="1" id="checkboxAddFinances" {% if entry is not null and entry.add_finances == 1 %} checked {% endif %}>
						{{lang["SPLITBILLS_ADD_FINANCES"]}}
					</label>
				</div>

				<div class="form-group">
					{% include "main/user-select.twig" with {'entry':entry, 'module': 'splitbills'} only %}
				</div>

				<div class="form-group btn">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{lang["SAVE"]}}
						{% else %}
							{{lang["INSERT"]}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{lang["CANCEL"]}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
