{% extends "base.twig" %}

{% set active = 'fuel' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["MENU_FUEL"]}}</h2></div>
        <div class="page-content">

            <form class="form-horizontal" id="gasolineForm" action="{{  path_for('fuel_save', {'id' : entry.id}) }}" method="POST">

                {% if not entry is null %}
                    {# Hidden fields for ID to recognize updates and for not available fields so they don't get overwritten with null #}
                    <input name="id" type="hidden" value="{{entry.id}}">
                    <input name="distance"  type="hidden" value="{{entry.distance}}">
                    <input name="consumption" type="hidden" value="{{entry.consumption}}">
                {% endif %}

                <div class="form-group two-columns">
                    <div class="left">
                        <label class="radio" for="radioPart">
                            <input name="type" type="radio" data-toggle="radio" value="0" id="radioPart" {% if entry is null or (not entry is null and entry.type == 0) %}checked{% endif %}>
                            {{lang["FUEL_PARTLY"]}}
                        </label>                               
                    </div>
                    <div class="right">
                        <label class="radio" for="radioFull">
                            <input name="type" type="radio" data-toggle="radio" value="1" id="radioFull" {% if not entry is null and entry.type == 1 %}checked{% endif %}>
                            {{lang["FUEL_FULL"]}}
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dateSelect">{{lang["DATE"]}}</label>
                    <input type="text" class="form-control" id="dateSelect"  placeholder="" >
                    <input type="hidden" class="form-control" id="inputDate" name="date" value="{% if not entry is null %}{{entry.date}}{% else %}{{"now"|date('Y-m-d')}}{% endif %}" >
                </div>
                <div class="form-group">
                    <label for="inputGMileage">{{lang["MILEAGE"]}}</label>
                    <input type="number" class="form-control" id="inputGMileage" name="mileage" step="any" placeholder="" {% if not entry is null %}value="{{entry.mileage}}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="inputGPrice">{{lang["PRICE"]}}/l</label>
                    <input type="number" class="form-control" id="inputGPrice" name="price" step="any" placeholder="" {% if not entry is null %}value="{{entry.price}}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="inputGVol">{{lang["VOLUME"]}}</label>
                    <input type="number" class="form-control" id="inputGVol" name="volume" step="any" placeholder="" {% if not entry is null %}value="{{entry.volume}}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="inputGTotalPrice">{{lang["TOTAL_PRICE"]}}</label>
                    <input type="number" class="form-control" id="inputGTotalPrice" name="total_price" step="any" placeholder="" {% if not entry is null %}value="{{entry.total_price}}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="inputGLocation">{{lang["LOCATION"]}}</label>
                    <input type="text" class="form-control" id="inputGLocation" name="location" placeholder="" {% if not entry is null %}value="{{entry.location}}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="inputGNotice">{{lang["NOTICE"]}}</label>
                    <textarea class="form-control" id="inputGNotice" name="notice">{% if not entry is null %}{{entry.notice}}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label class="checkbox" for="checkboxCalcConsumption">
                        <input name="set_calc_consumption" type="checkbox" id="checkboxCalcConsumption" {% if entry is null or entry.calc_consumption == 1 %}checked{% endif %}>
                        {{lang["CALC_CONSUMPTION"]}}
                    </label>
                </div>



                <div class="form-group">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}