{% extends "base.twig" %}

{% set active = 'fuel' %}

{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["MENU_FUEL"]}}</h2></div>
        <div class="page-content">
            <table id="fuel_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["DATE"]}}</th>
                        <th>{{lang["CAR"]}}</th>
                        <th>{{lang["MILEAGE"]}}</th>
                        <th>{{lang["PRICE"]}}</th>
                        <th>{{lang["VOLUME"]}}</th>
                        <th>{{lang["TOTAL_PRICE"]}}</th>
                        <th>{{lang["TYPE"]}}</th>
                        <th>{{lang["CONSUMPTION"]}}</th>
                        <th>{{lang["LOCATION"]}}</th>
                        <!--<th>{{lang["NOTICE"]}}</th>-->
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in list%}
                        <tr>
                            <td data-title="{{lang["DATE"]}}">{{entry.date}}</td> 
                            <td data-title="{{lang["CAR"]}}">{{cars[entry.car].name}}</td> 
                            <td data-title="{{lang["MILEAGE"]}}">{{entry.mileage}}</td> 
                            <td data-title="{{lang["PRICE"]}}">{{entry.price}}</td> 
                            <td data-title="{{lang["VOLUME"]}}">{{entry.volume}}</td> 
                            <td data-title="{{lang["TOTAL_PRICE"]}}">{{entry.total_price}}</td> 
                            <td data-title="{{lang["TYPE"]}}">{% if entry.volume > 0 %}{% if entry.type == 1 %} {{lang["FUEL_FULL"]}} {% else %} {{lang["FUEL_PARTLY"]}} {% endif %}{% endif %}</td> 
                            <td data-title="{{lang["CONSUMPTION"]}}">{{entry.consumption}}</td> 
                            <td data-title="{{lang["LOCATION"]}}">{{entry.location}}</td> 
                            <!--<td data-title="{{lang["NOTICE"]}}">{{entry.notice}}</td> -->
                            <td><a href="{{  path_for('fuel_edit', {'id' : entry.id}) }}"><span class="fa fa-pencil-square-o fa-lg"></span></a></td>
                            <td><a href="#" data-url="{{  path_for('fuel_delete', {'id' : entry.id}) }}" class="btn-delete"><span class="fa fa-trash fa-lg"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}