{% extends "base.twig" %}

{% set active = 'finances' %}


{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["FINANCES_RECURRING"]}}</h2>
            <div class="buttons">
                <a href="{{  url_for_with_last_query_params('finances_recurring') }}"><button class="button">{{lang["BACK"]}} {{ fontawesome('fas fa-turn-up') }}</button></a>
            </div>  
        </div>
        <div class="page-content">

            <form class="form-horizontal" id="financesRecurringForm" action="{{  url_for('finances_recurring_save', {'id' : entry.id}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
                    <input name="last_run"  type="hidden" value="{{entry.last_run}}">
                {% endif %}

                <div class="form-group two-columns">
                    <div class="left">
                        <label class="radio" for="radioSpending">
                            <input name="type" type="radio" data-toggle="radio" value="0" id="radioSpending" {% if entry is null or (not entry is null and entry.type == 0) %}checked{% endif %}>
                            {{lang["FINANCES_SPENDING"]}}
                        </label>                               
                    </div>
                    <div class="right">
                        <label class="radio" for="radioIncome">
                            <input name="type" type="radio" data-toggle="radio" value="1" id="radioIncome" {% if not entry is null and entry.type == 1 %}checked{% endif %}>
                            {{lang["FINANCES_INCOME"]}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category">{{lang["CATEGORY"]}}</label>
                    <select class="form-control" id="category" name="category">
                        {% for cat in categories %}
                            <option value="{{cat.id}}" {% if not entry is null and cat.id == entry.category %}selected{% endif %}>{{cat.name|raw}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputDescription">{{lang["DESCRIPTION"]}}</label>
                    <input type="text" class="form-control" id="inputDescription" required name="description" value="{% if not entry is null %}{{entry.description|raw}}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="inputValue">{{lang["VALUE"]}}</label>
                    <input type="number" class="form-control" id="inputValue" required name="value" step="any" value="{% if not entry is null %}{{entry.value}}{% endif %}">
                </div>

                <div class="form-group">
                    <label for="paymethod">{{lang["FINANCES_PAYMETHOD"]}}</label>
                    <select class="form-control" id="paymethod" name="paymethod">
                        <option value="">{{lang["DROPDOWN_NO_PAYMETHOD"]}}</option>
                        {% for method in paymethods %}
                            <option value="{{method.id}}" {% if (not entry is null and method.id == entry.paymethod) or (entry is null and method.is_default == 1) %}selected{% endif %}>{{method.name|raw}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="checkbox" for="checkboxCommon">
                        <input name="common" type="checkbox" id="checkboxCommon" value="1" {% if entry is not null and entry.common == 1 %}checked{% endif %}>
                        {{lang["COMMON"]}}
                    </label>
                </div>
                <div class="form-group {% if entry is null or (entry is not null and entry.common == 0) %}hidden{% endif %}" id="commonValue">
                    <label for="inputCommonValue">{{lang["COMMON_VALUE"]}}</label>
                    <input type="number" class="form-control" id="inputCommonValue" name="common_value" step="any" value="{% if not entry is null %}{{entry.common_value}}{% endif %}">
                </div>

                <div class="form-group">
                    <label for="inputNotice">{{lang["NOTICE"]}}</label>
                    <input type="text" class="form-control" id="inputNotice" name="notice" value="{% if not entry is null %}{{entry.notice|raw}}{% endif %}">
                </div>
                <h3>{{lang["INTERVAL"]}}</h3>
                <div class="form-group">
                    <label for="dateStart">{{lang["START"]}}</label>
                    <input type="text" class="form-control" id="dateSelect" name="start" value="{% if not entry is null and not entry.start is null %}{{entry.start|date('Y-m-d')}}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="dateEnd">{{lang["END"]}}</label>
                    <input type="text" class="form-control" id="dateSelectEnd" name="end" value="{% if not entry is null and not entry.end is null%}{{entry.end|date('Y-m-d')}}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="inputUnit">{{lang["UNIT"]}}</label>
                    <select class="form-control" id="inputUnit" name="unit">
                        {% for unit, unitName in units %}
                            <option value="{{unit}}" {% if (not entry is null and unit == entry.unit) or (entry is null and unit == 'month') %}selected{% endif %}>{{lang[unitName]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputMultiplier">{{lang["MULTIPLIER"]}}</label>
                    <input type="number" class="form-control" id="inputMultiplier" name="multiplier" step="1" value="{% if not entry is null %}{{entry.multiplier}}{% else %}1{% endif %}">
                </div>

                <div class="form-group">
                    <label class="checkbox" for="checkboxActive">
                        <input name="is_active" type="checkbox" value="1" id="checkboxActive" {% if entry is not null and entry.is_active == 1 %}checked{% endif %}>
                        {{lang["ACTIVE"]}}
                    </label>
                </div>

                <div class="form-group">
                    <button type="submit" class="button">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="button danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}