{% extends "base.twig" %}

{% set active = 'finances' %}


{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["FINANCES_RECURRING"]}}</h2> <a href="{{  path_for('finances_recurring_edit') }}"><button class="white"><i class="fa fa-plus" aria-hidden="true"></i> {{lang["ADD"]}}</button></a></div>
        <div class="page-content">
            <table id="recurring_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["TYPE"]}}</th>
                        <th>{{lang["CATEGORY"]}}</th>
                        <th>{{lang["DESCRIPTION"]}}</th>
                        <th>{{lang["VALUE"]}}</th>
                        <th>{{lang["START"]}}</th>
                        <th>{{lang["END"]}}</th>
                        <th>{{lang["INTERVAL"]}}</th>
                        <th>{{lang["LAST_RUN"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in list%}
                        <tr>
                            <td data-title="{{lang["TYPE"]}}">{% if entry.type == 0 %} {{lang["FINANCES_SPENDING"]}} {% else %} {{lang["FINANCES_INCOME"]}} {% endif %}</td> 
                            <td data-title="{{lang["CATEGORY"]}}">{{categories[entry.category].name|raw}}</td> 
                            <td data-title="{{lang["DESCRIPTION"]}}">{{entry.description|raw}}</td> 
                            <td data-title="{{lang["VALUE"]}}">{{entry.value}}</td> 
                            <td data-title="{{lang["START"]}}">{{entry.start}}</td> 
                            <td data-title="{{lang["END"]}}">{{entry.end}}</td> 
                            <td data-title="{{lang["INTERVAL"]}}">{{entry.multiplier}} x {{lang[units[entry.unit]]}}</td> 
                            <td data-title="{{lang["LAST_RUN"]}}">{{entry.last_run}}</td> 
                            <td><a href="{{  path_for('finances_recurring_edit', {'id' : entry.id}) }}"><span class="fa fa-pencil-square-o fa-lg"></span></a></td>
                            <td><a href="#" data-url="{{  path_for('finances_recurring_delete', {'id' : entry.id}) }}" class="btn-delete"><span class="fa fa-trash fa-lg"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}