<div class="trip_event  {% if not date is same as(event.start_date) %}hidden_description_print{% elseif event.notice %}has_notice{%endif %}" data-event="{{ event.id }}">
    <div class="icon">
        {% if event.isAccommodation() %}
            <i class="fas fa-2x fa-bed"></i>
        {% elseif event.isTrainride() %}
            <i class="fas fa-2x fa-train"></i>
        {% elseif event.isDrive() %}
            <i class="fas fa-2x fa-road"></i>
        {% elseif event.isFlight() %}
            <i class="fas fa-2x fa-plane"></i>
        {% elseif event.isCarrental() %}
            <i class="fas fa-2x fa-car"></i>
        {% elseif event.isEvent() %}
            <i class="fas fa-2x fa-calendar-alt"></i>
        {% elseif event.isWaypoint() %}
            <i class="fas fa-2x fa-map-marker-alt"></i>
        {% endif %}
    </div>
    <div class="text">
        <h4>{{ event.name }}</h4>
        <div class="date">
            {{ event.popup |raw}}
        </div>

        {% if event.get_thumbnail() != ''%}
            <img class="image_uploaded" src="/{{uploads_folder}}/events/{{event.get_thumbnail()}}"/>
        {% endif %}

        {% if event.notice %}
            <div class="description">
                <a href="#" class="description_text">{{ lang["DESCRIPTION"] }}</a>
                <div class="description_full">
                    {{ event.getNotice()|raw|nl2br }}
                </div>
            </div>
        {% endif %}

    </div>
    <div class="buttons">
        <a href="{{  url_for('trips_event_edit', {'id' : event.id, 'trip' :trip.hash}) }}"><span class="fas fa-edit fa-lg"></span></a>
        <a href="#" data-url="{{  url_for('trips_event_delete', {'id' : event.id, 'trip' : trip.hash}) }}" class="btn-delete"><span class="fas fa-trash fa-lg"></span></a>
    </div>
</div>
