<div class="trip_event  {% if not date is same as(event.start_date) %}hidden_description_print{% elseif event.notice %}has_notice{%endif %}" data-event="{{ event.id }}" data-title="{{ event.name }}">
    <div class="trip-icon">
        {% if event.isAccommodation() %}
            {{ fontawesome('fas fa-bed') }}
        {% elseif event.isTrainride() %}
            {{ fontawesome('fas fa-train') }}
        {% elseif event.isDrive() %}
            {{ fontawesome('fas fa-road') }}
        {% elseif event.isFlight() %}
            {{ fontawesome('fas fa-plane') }}
        {% elseif event.isCarrental() %}
            {{ fontawesome('fas fa-car') }}
        {% elseif event.isEvent() %}
            {{ fontawesome('fas fa-calendar-days') }}
        {% elseif event.isWaypoint() %}
            {{ fontawesome('fas fa-location-dot') }}
        {% elseif event.isShip() %}
            {{ fontawesome('fas fa-ship') }}
        {% endif %}
    </div>
    <div class="text">
        <h4>{{ event.name }}</h4>
        <div class="date">
            {{ event.popup |raw}}
        </div>

        {% if event.get_thumbnail() != ''%}
            <img class="image_uploaded" src="/{{uploads_folder}}/trips/{{event.get_thumbnail()}}"/>
        {% endif %}

        {% if event.notice %}
            <div class="description">
                <a href="#" class="description_text">
                    <span class="plus">{{ fontawesome("fas fa-plus") }}</span>
                    <span class="minus">{{ fontawesome("fas fa-minus") }}</span>
                    {{ "DESCRIPTION"|trans }}
                </a>
                <div class="description_full">
                    {{ event.getNotice()|raw|nl2br }}
                </div>
            </div>
        {% endif %}

    </div>
    <div class="buttons">
        <a href="{{  url_for('trips_event_edit', {'id' : event.id, 'trip' :trip.hash}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
        <a href="#" data-url="{{  url_for('trips_event_delete', {'id' : event.id, 'trip' : trip.hash}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
    </div>
</div>
