{% extends "base.twig" %}

{% set active = 'trips' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{base_url()}}/static/assets/css/leaflet.min.css" />
{% endblock %}

{% block javascript %}
    <script src="{{base_url()}}/static/assets/js/leaflet.js" type="text/javascript"></script>
    <script src="{{base_url()}}/static/js/trips.js?ver=20190130"></script>
{% endblock %}

{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{trip.name|raw}}</h2> <a href="{{  path_for('trips_event_edit', {'trip':trip.hash}) }}"><button class="white"><i class="fa fa-plus" aria-hidden="true"></i> {{lang["ADD_EVENT"]}}</button></a></div>
    </div>

    <div class="inner-content">
        <div id="trip-map"></div>
        <div class="page-content">

            <input type="hidden" id="inputStart" name="from" value="{{from}}"/>
            <input type="hidden" id="inputEnd" name="to" value="{{to}}"/>

            {% for d in range %}
                <a class="change_day" data-date="{% if not d["date"] is null %}{{ d["date"]|date('Y-m-d') }}{% endif %}" href="?from={% if not d["date"] is null %}{{ d["date"]|date('Y-m-d') }}{% endif %}&to={% if not d["date"] is null %}{{ d["date"]|date('Y-m-d') }}{% endif %}"><button class="small trips_overview {% if (not d["date"] is null and from is empty ) or from is not empty and from is not sameas(d["date"])%}gray{% endif %}">{{ d["display_date"] }}</button></a>
            {% endfor %}
            
            {{ events | json_encode() }}

        </div>
    </div>

{% endblock %}        
