{% extends "base.twig" %}

{% set active = 'trips' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/leaflet.min.css" />
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/L.Control.Locate.min.css" />
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/leaflet.extra-markers.min.css" />
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/leaflet.fullscreen.min.css" />
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/leaflet-routing-machine.min.css" />
{% endblock %}

{% block javascript %}
    <script src="{{baseURL}}/static/assets/js/leaflet.js" type="text/javascript"></script>
    <script src="{{baseURL}}/static/assets/js/leaflet.curve.js" type="text/javascript"></script>
    <script src="{{baseURL}}/static/assets/js/L.Control.Locate.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{baseURL}}/static/assets/js/leaflet.extra-markers.min.js" type="text/javascript"></script>
    <script src="{{baseURL}}/static/assets/js/Leaflet.fullscreen.min.js" type="text/javascript"></script>
    <script src="{{baseURL}}/static/assets/js/leaflet-easyPrint.min.js" type="text/javascript"></script>
    <script src="{{baseURL}}/static/assets/js/leaflet-routing-machine.min.js" type="text/javascript"></script>
    <script src="{{baseURL}}/static/assets/js/Control.Geocoder.min.js" type="text/javascript"></script>
    <script src="{{baseURL}}/static/assets/js/Sortable.min.js"></script>

    <script type='text/javascript' >
        const mapbox_token = '{{ mapbox_token }}';
    </script>
    <script src="{{baseURL}}/static/js/trips.js?ver=20200606"></script>
{% endblock %}

{% block body %}
    <div id="loading-overlay" class="hidden">
        <i class="fas fa-circle-notch fa-spin fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div class="inner-content">
        <div class="page-header"><h2>{{trip.name|raw}}</h2> <a href="{{  url_for('trips_event_edit', {'trip':trip.hash}) }}" id="new-event-btn"><button class="white"><i class="fas fa-plus" aria-hidden="true"></i> {{lang["ADD_EVENT"]}}</button></a></div>
        <div id="trip-map"></div>
        <div class="page-content" id="trip_overview">

            {% if not trip.notice is empty %}
                <h3>{{ lang["NOTICE"]}}:</h3>
                <p>{{trip.notice|raw|nl2br}}</p>
            {% endif %}

            <input type="hidden" id="inputStart" name="from" value="{{from}}"/>
            <input type="hidden" id="inputEnd" name="to" value="{{to}}"/>

            <div class="trip_buttonrow">
                <div class="trip_dates">
                    {% for d in range %}
                        {% if d["date"] is null or not d["events"] is empty %}
                            <a class="change_day" data-date="{% if not d["date"] is null %}{{ d["date"]|date('Y-m-d') }}{% endif %}" href="?from={% if not d["date"] is null %}{{ d["date"]|date('Y-m-d') }}{% endif %}&to={% if not d["date"] is null %}{{ d["date"]|date('Y-m-d') }}{% endif %}"><button class="small trips_overview {% if not d["active"] %}gray{% endif %}">{{ d["display_date"] }}</button></a>
                            {% endif %}
                        {% endfor %}
                </div>
                <a id="createRoute" href="#"><button class="small trips_overview blue">{{ lang["CREATE_ROUTE"] }}</button></a>
            </div>

            {% for item in range %}
                {% if not item["events"] is empty %}
                    <div id="trip_day_{% if not item["date"] is null %}{{ item["date"] }}{% else %}none{% endif %}" class="trip_day {% if not item["active"] and not range["all"]["active"] %}hidden{% endif %}" data-date="{{ item["date"] }}">
                        <h3>{% if not item["date"] is null %}{{ item["full_date"] }}{% else %}{{ lang["WITHOUT_DATE"] }}{% endif %}</h3>
                        {% for event in item["events"] %}
                            {% include "trips/events/event-list-item.twig" with {'event':event, 'trip':trip, 'date':item["date"]} only %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}        

{% block bottom %}
    <div id="route-modal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">{{lang["TRIPS_ROUTES"]}}<span class="modal-close" id="modal-close-btn">&times;</span></div>
            <div class="modal-content">
                <table>
                    <thead>
                    <tr>
                        <th>{{ lang["NAME"] }}</th>
                        <th>{{ lang["DATE"] }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>

            </div>
        </div>
    </div>
{% endblock %}