<!DOCTYPE html>
<html lang="{{i18n.template}}">
    <head>
        <meta charset="utf-8">
        <title>{{lang["PAGE_TITLE"]}}</title>
        <meta name="description" content="Life Tracking"/>
        <meta name="date" content="{{ "now"|date("Y-m-d") }}"/>
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="content-language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#1565c0"/>
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/open-sans.css?ver={{CACHEMISS}}" />
        <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/normalize.min.css?ver={{CACHEMISS}}" />
        <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/flatpickr.min.css?ver={{CACHEMISS}}" />
        <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/jstable.css?ver={{CACHEMISS}}" />
        {% block style %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/style.css?ver={{CACHEMISS}}" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{baseURL}}/static/assets/favicon/apple-touch-icon.png?v={{CACHEMISS}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{baseURL}}/static/assets/favicon/favicon-32x32.png?v={{CACHEMISS}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{baseURL}}/static/assets/favicon/favicon-16x16.png?v={{CACHEMISS}}">
        <link rel="manifest" href="{{baseURL}}/static/assets/favicon/site.webmanifest?v={{CACHEMISS}}">
        <link rel="shortcut icon" href="{{baseURL}}/favicon.ico?v={{CACHEMISS}}">
        <link href="{{baseURL}}/static/assets/favicon/splashscreens/iphone5_splash.png?ver={{CACHEMISS}}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="{{baseURL}}/static/assets/favicon/splashscreens/iphone6_splash.png?ver={{CACHEMISS}}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="{{baseURL}}/static/assets/favicon/splashscreens/iphoneplus_splash.png?ver={{CACHEMISS}}" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="{{baseURL}}/static/assets/favicon/splashscreens/iphonex_splash.png?ver={{CACHEMISS}}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="{{baseURL}}/static/assets/favicon/splashscreens/iphonexr_splash.png?ver={{CACHEMISS}}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="{{baseURL}}/static/assets/favicon/splashscreens/iphonexsmax_splash.png?ver={{CACHEMISS}}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="{{baseURL}}/static/assets/favicon/splashscreens/ipad_splash.png?ver={{CACHEMISS}}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="{{baseURL}}/static/assets/favicon/splashscreens/ipadpro1_splash.png?ver={{CACHEMISS}}" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="{{baseURL}}/static/assets/favicon/splashscreens/ipadpro3_splash.png?ver={{CACHEMISS}}" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="{{baseURL}}/static/assets/favicon/splashscreens/ipadpro2_splash.png?ver={{CACHEMISS}}" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <meta name="timestamp" content="{{ 'now'|date('U') }}">
    </head>

    <body class="{{active}}{%if boardsview == 1%} boards-view{%endif%}">
        {% if not user is null %}
            <header id="masthead" class="site-header">
                <div class="header-inner">
                    {% include 'main/navigation.twig' %}
                </div>
            </header>
        {% elseif active == 'help' %}
            <header id="masthead" class="site-header">
                <div class="header-inner">
                    <h2 class="page-title">{{ lang["PAGE_TITLE"] }} - {{ lang["HELP"] }}</h2>
                </div>
            </header>
        {% endif %}
        <div id="content" class="site-content container">
            {% if flash() is not empty %}
                <div class="alert hide-offline {{flash('message_type')|last}}">
                    <span class="closebtn" >&times;</span>
                    <span class="alert-message">
                        {% for msg in flash('message') %}
                            <p>{{ msg }}</p>
                        {% endfor %}
                    </span>
                </div>
            {% endif %}
            {% if flash("additional_flash_message") is not empty %}
                {% for msg in flash('additional_flash_message') %}
                    <div class="alert hide-offline {{flash('additional_flash_message_type')[loop.index-1]}}">
                        <span class="closebtn" >&times;</span>
                        <span class="alert-message">
                            <p>{{ msg }}</p>
                        </span>
                    </div>
                {% endfor %}
            {% endif %}
            <div id="offline-alert" class="alert danger hidden">
                <span class="alert-message">
                    <p>{{ lang["YOU_ARE_OFFLINE"] }}</p>
                </span>
            </div>
            <div id="offline-entries-alert" class="alert warning hidden">
                <span class="alert-message">
                    <p>{{ lang["THERE_ARE_LOCALLY_SAVED_ENTRIES"] }}</p>
                </span>
            </div>
            <div id="loading-overlay" class="hidden">
                <span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
                <span class="hidden">{{ lang["LOADING"] }}</span>
            </div>
            {% block body %}
            {% endblock %}
        </div>
        {% block bottom %}
        {% endblock %}

        <footer class="site-footer hidden">
            <div class="footer-inner">

            </div>
        </footer>
        <div id="toastmessage"></div>

        <script type='text/javascript' >
            var allowedReload = false;
            var jsObject = {
                'marker_url': '{{ url_for("getMarkers") }}',
                'delete_marker_url': '{{ url_for("delete_marker") }}',
                'get_address_url': '{{ url_for("get_address") }}',
                'finances_table': "{{url_for("finances_table")}}",
                'fuel_table': "{{url_for("car_service_fuel_table")}}",
                'service_table': "{{url_for("car_service_service_table")}}",
                'datacount': '{{datacount}}',
                'datacount2': '{{datacount2}}',
                'set_mileage_type': '{{url_for("set_mileage_type")}}',
                'stack_save': '{{url_for("stack_save")}}',
                'stack_position_url': '{{url_for("stack_update_position")}}',
                'card_save': '{{url_for("card_save")}}',
                'card_position_url': '{{url_for("card_update_position")}}',
                'card_movestack_url': '{{url_for("card_move_stack")}}',
                'stack_delete': '{{url_for("stack_delete")}}',
                'stack_archive': '{{url_for("stack_archive")}}',
                'card_delete': '{{url_for("card_delete")}}',
                'card_archive': '{{url_for("card_archive")}}',
                'label_save': '{{url_for("label_save")}}',
                'label_get_url': '{{url_for("label_get")}}',
                'label_delete': '{{url_for("label_delete")}}',
                'set_archive': '{{url_for("set_archive")}}',
                'get_category_costs': '{{url_for("finances_budgets_category_costs")}}',
                'notifications_subscribe': '{{url_for("notifications_clients_subscribe")}}',
                'applicationServerPublicKey': '{{push.publicKey}}',
                'csrf_tokens_url': '{{url_for('get_csrf_tokens')}}',
                'notifications_clients_categories': '{{url_for('notifications_clients_categories')}}',
                'notifications_clients_set_category': '{{url_for('notifications_clients_set_category')}}',
                'notifications_clients_set_category_user': '{{url_for('notifications_clients_set_category_user')}}',
                'mail_notifications_set_category_user': '{{url_for('mail_notifications_set_category_user')}}',
                'notifications_clients_manage': '{{url_for('notifications_clients_manage')}}',
                'notifications_get': '{{url_for('notifications_get')}}',
                'activities_get': '{{url_for('activities_get')}}',
                'logfile_get': '{{url_for('logfile_get')}}',
{% if not hasCrawlerTable is null %}
                'crawler_table': '{{url_for('crawlers_table', {'crawler': crawler.hash})}}',
                'crawler_filter': '{{url_for('set_crawler_filter', {'crawler': crawler.hash})}}',
                'crawler_dataset_save': '{{url_for('crawler_dataset_save', {'crawler': crawler.hash})}}',
                'crawler_set_shown': '{{url_for('set_crawler_shown', {'crawler': crawler.hash})}}',
{% endif %}
{% if not from is null %}    
                'dateFrom': '{{from}}',
{% endif %}
{% if not to is null %}    
                'dateTo': '{{to}}',
{% endif %}
{% if not hasSplitbillTable is null %}
                'splitbill_table': '{{url_for('splitbill_bills_table', {'group': group.hash})}}',
{% endif %}
                'get_location_of_address': '{{ url_for("get_location_of_address") }}',
{% if not isTrips is null %}
                'trip_markers_url': '{{url_for('trips_markers', {'trip': trip.hash})}}',
                'trip_event_position_url': '{{  url_for('trips_event_position', {'trip' : trip.hash})}}',
                'trip_add_waypoint': '{{  url_for('trips_add_waypoint', {'trip' : trip.hash})}}',
                'trip_delete_waypoint': '{{  url_for('trips_delete_waypoint', {'trip' : trip.hash})}}',
                'trip_add_route': '{{  url_for('trips_add_route', {'trip' : trip.hash})}}',
                'trip_list_routes': '{{  url_for('trips_list_route', {'trip' : trip.hash})}}',
                'trip_route_waypoints': '{{  url_for('trips_route_waypoints', {'trip' : trip.hash})}}',
{% endif %}
{% if not hasTimesheetTable is null %}
                'timesheets_table': '{{url_for('timesheets_sheets_table', {'project': project.hash})}}',
                'timesheets_sheets_set_categories': '{{url_for('timesheets_sheets_set_categories', {'project': project.hash})}}',
                'timesheets_sheets_set_options': '{{url_for('timesheets_sheets_set_options', {'project': project.hash})}}',
{% endif %}
{% if not hasTimesheetNotice is null %}
                'timesheets_sheets_notice_data': '{{url_for('timesheets_sheets_notice_data', {'project': project.hash})}}',
                'timesheets_sheets_check_pw': '{{url_for('timesheets_sheets_check_pw', {'project': project.hash})}}',
{% endif %}
{% if not isTripEventEdit is null %}
                'trip_event_image_upload': '{{  url_for('trips_event_image', {'id' : entry.id, 'trip' : trip.hash}) }}',
                'trip_event_image_delete': '{{  url_for('trips_event_image_delete', {'id' : entry.id, 'trip' : trip.hash}) }}',
{% endif %}
                'frontpage_widget_option': '{{url_for('users_profile_frontpage_widget_option')}}',
                'frontpage_widget_option_save': '{{url_for('users_profile_frontpage_widget_option_save')}}',
                'frontpage_widget_position': '{{url_for('users_profile_frontpage_widget_position')}}',
                'frontpage_widget_request': '{{url_for('frontpage_widget_request')}}',
                'workouts_exercises_get': '{{url_for('workouts_exercises_get')}}',
                'workouts_exercises_selected_muscles': '{{url_for('workouts_exercises_selected_muscles')}}',
                'workouts_exercises_data': '{{url_for('workouts_exercises_data')}}',
                'usersearch': '{{url_for('usersearch')}}',
                'ingredients_get': '{{url_for('ingredients_get')}}',
                'recipes_get': '{{url_for('recipes_get')}}',
                'recipes_get_mealplan': '{{url_for('recipes_get_mealplan')}}',
{% if not isMealplanEdit is null %}
                'recipes_mealplan_move_recipe': '{{url_for('recipes_mealplans_move_recipe', {'mealplan': mealplan.hash})}}',
                'recipes_mealplan_remove_recipe': '{{url_for('recipes_mealplans_remove_recipe', {'mealplan': mealplan.hash})}}',
{% endif %}
                'store_query_params': '{{url_for('store_query_params')}}',
{% if not isBoardView is null %}
                'boards_data': '{{url_for('boards_data', {'hash': board.hash})}}',
{% endif %}
{% if not hasFinanceTransactionTable is null %}
                'finances_transaction_table': '{{url_for('finances_transaction_table', {'account': account.getHash()})}}',
                'finances_transaction_confirm': '{{url_for('finances_transaction_confirm')}}',
{% endif %}
                    };
                    var default_location = {'lat': '{{location.lat}}', 'lng': '{{location.lng}}', 'zoom': '{{location.zoom}}'};
                    var i18n = {{i18n|json_encode()|raw}};
                    var lang = {
                        "really_delete": '{{lang["REALLY_DELETE"]}}',
                        'address': '{{lang["ADDRESS"]}}',
                        'delete_text': '{{lang["DELETE"]}}',
                        'accuracy': '{{lang["ACCURACY"]}}',
                        'consumption': '{{lang["CONSUMPTION"]}}',
                        'add': '{{lang["ADD"]}}',
                        'cancel': '{{lang["CANCEL"]}}',
                        'update': '{{lang["UPDATE"]}}',
                        'categories': '{{lang["CATEGORIES"]}}',
                        'no_options': '{{lang["NO_OPTIONS"]}}',
                        'nothing_found': '{{lang["NOTHING_FOUND"]}}',
                        'loading': '{{lang["LOADING"]}}',
                        'searching': '{{lang["SEARCHING"]}}',
                        'table_perpage': '{{lang["TABLE_PERPAGE"]}}',
                        'table_info': '{{lang["TABLE_INFO"]}}',
                        'table_infofiltered': '{{lang["TABLE_INFOFILTERED"]}}',
                        'enable_push_notifications': '{{lang["ENABLE_PUSH_NOTIFICATIONS"]}}',
                        'disable_push_notifications': '{{lang["DISABLE_PUSH_NOTIFICATIONS"]}}',
                        'no_push_notifications_possible': '{{lang["NO_PUSH_NOTIFICATIONS_POSSIBLE"]}}',
                        "set_current_location": '{{lang["SET_CURRENT_LOCATION"]}}',
                        "remove_location": '{{lang["REMOVE_LOCATION"]}}',
                        "car_refuel": '{{lang["CAR_REFUEL"]}}',
                        "car_service": '{{lang["CAR_SERVICE"]}}',
                        "category": '{{lang["CATEGORY"]}}',
                        "splitbills_numbers_wrong": '{{lang["SPLITBILLS_NUMBERS_WRONG"]}}',
                        "from": '{{lang["FROM"]}}',
                        "to": '{{lang["TO"]}}',
                        "steps": '{{lang["STEPS"]}}',
                        "request_error": '{{lang["REQUEST_ERROR"]}}',
                        "encrypt_error": '{{lang["ENCRYPT_ERROR"]}}',
                        "decrypt_error": '{{lang["DECRYPT_ERROR"]}}',
                        "routing_add_to_route": '{{lang["ADD_TO_ROUTE"]}}',
                        "routing_error": '{{lang["ROUTING_ERROR"]}}',
                        "routing_error_too_many_requests": '{{lang["ROUTING_ERROR_TOO_MANY_REQUESTS"]}}',
                        "really_unsave_dataset": '{{lang["CRAWLER_DATASET_UNSAVE"]}}',
                        "entry_saved_locally": '{{lang["ENTRY_SAVED_LOCALLY"]}}',
                        "entry_saved_locally_error": '{{lang["ENTRY_SAVED_LOCALLY_ERROR"]}}',
                        "locally_saved_entries_submitted": '{{lang["LOCALLY_SAVED_ENTRIES_SUBMITTED"]}}',
                        "locally_saved_entries_submitted_success": '{{lang["LOCALLY_SAVED_ENTRIES_SUBMITTED_SUCCESS"]}}',
                        "locally_saved_entries_submitted_error": '{{lang["LOCALLY_SAVED_ENTRIES_SUBMITTED_ERROR"]}}',
                        "trips_route_name_prompt": '{{lang["TRIPS_ROUTE_NAME_PROMPT"]}}',
                        "trips_route_saved_successfully": '{{lang["TRIPS_ROUTE_SAVED_SUCCESSFULLY"]}}',
                        "trips_route_saved_error": '{{lang["TRIPS_ROUTE_SAVED_ERROR"]}}',
                        "trips_waypoint_save": '{{lang["TRIPS_WAYPOINT_SAVE"]}}',
                        "workouts_superset": '{{lang["WORKOUTS_SUPERSET"]}}',
                        "workouts_set": '{{lang["WORKOUTS_SET"]}}',
                        "show": '{{lang["SHOW"]}}',
                        "hide": '{{lang["HIDE"]}}',
                        "ingredient": '{{lang["RECIPES_INGREDIENT"]}}',
                        "timesheets_notice_password": '{{lang["TIMESHEETS_PROJECT_PASSWORD_SHEETS_INSERT"]}}',
                        "boards_error_open_stack": '{{lang["BOARD_UNSAVED_STACK"]}}',
                        "boards_error_open_card": '{{lang["BOARD_UNSAVED_CARD"]}}',
                        "boards_error_save_stack": '{{lang["BOARD_SAVE_ERROR_STACK"]}}',
                        "boards_error_save_card": '{{lang["BOARD_SAVE_ERROR_CARD"]}}',
                        "boards_error_archive": '{{lang["BOARD_ARCHIVE_ERROR"]}}',
                        "boards_error_delete": '{{lang["BOARD_DELETE_ERROR"]}}',
                        "boards_really_close_stack": '{{lang["REALLY_CLOSE_STACK"]}}',
                        "boards_really_close_card": '{{lang["REALLY_CLOSE_CARD"]}}',
                        "boards_really_close_label": '{{lang["REALLY_CLOSE_LABEL"]}}',
                        "boards_really_close_page": '{{lang["REALLY_CLOSE_PAGE"]}}',
                        'boards_really_archive': '{{lang["REALLY_ARCHIVE"]}}',
                        'boards_undo_archive': '{{lang["UNDO_ARCHIVE"]}}',
                        "boards_really_delete_stack": '{{lang["REALLY_DELETE_STACK"]}}',
                        "boards_really_delete_card": '{{lang["REALLY_DELETE_CARD"]}}',
                        "boards_really_delete_label": '{{lang["REALLY_DELETE_LABEL"]}}',
                        'boards_labels': '{{lang["LABELS"]}}',
                        'transaction_delete_has_entry': '{{lang["FINANCES_TRANSACTION_DELETE_HAS_ENTRY"]}}',
                        'transaction_delete_has_splitted_bill': '{{lang["FINANCES_TRANSACTION_DELETE_HAS_SPLITTED_BILL"]}}',
                        'crawlers_mark_all_as_shown_success':'{{lang["CRAWLERS_MARK_ALL_AS_SHOWN_SUCCESS"]}}',
                        'crawlers_mark_all_as_shown_error':'{{lang["CRAWLERS_MARK_ALL_AS_SHOWN_ERROR"]}}',
                    };
                    var tokens = {{ csrf_js|json_encode()|raw }};
        </script>

        <script src="{{baseURL}}/static/assets/js/flatpickr.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>
        <script src="{{baseURL}}/static/assets/js/i18n/{{i18n.template}}.js?ver={{CACHEMISS}}" type="text/javascript"></script>
        <script src="{{baseURL}}/static/assets/js/moment-with-locales.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>  
        <script src="{{baseURL}}/static/assets/js/chart.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>  
        <script src="{{baseURL}}/static/assets/js/randomColor.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>  
        <script src="{{baseURL}}/static/assets/js/jstable.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>  

        <script src="{{baseURL}}/static/js/main.js?ver={{CACHEMISS}}" type="text/javascript"></script>
        <script src="{{baseURL}}/static/js/navigation.js?ver={{CACHEMISS}}" type="text/javascript"></script>
        <script src="{{baseURL}}/static/js/tables.js?ver={{CACHEMISS}}" type="text/javascript"></script>


        {% if not user is null %}
            <script src="{{baseURL}}/static/js/app.js?ver={{CACHEMISS}}" type="text/javascript"></script>
        {% endif %}

        {% block javascript %}
        {% endblock %}
    </body>
</html>