<!DOCTYPE html>
<html lang="{{i18n.template}}">
    <head>
        <meta charset="utf-8">
        <title>{{"PAGE_TITLE"|trans}}</title>
        <meta name="description" content="Life Tracking"/>
        <meta name="date" content="{{ "now"|date("Y-m-d") }}"/>
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="content-language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#1565c0"/>
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/open-sans.css?ver={{CACHEMISS}}" />
        <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/normalize.min.css?ver={{CACHEMISS}}" />
        
        {% if not user is null %}
            <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/flatpickr.min.css?ver={{CACHEMISS}}" />
            <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/jstable.css?ver={{CACHEMISS}}" />

            <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/leaflet.min.css?ver={{CACHEMISS}}"/>
        {% endif %}
        
        {% block style %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/style.css?ver={{CACHEMISS}}" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{baseURL}}/static/assets/favicon/apple-touch-icon.png?v={{CACHEMISS}}">
        <link rel="icon" type="image/svg+xml" sizes="any" href="{{baseURL}}/static/assets/favicon/favicon.svg?v={{CACHEMISS}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{baseURL}}/static/assets/favicon/favicon-32x32.png?v={{CACHEMISS}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{baseURL}}/static/assets/favicon/favicon-16x16.png?v={{CACHEMISS}}">
        <link rel="manifest" href="{{baseURL}}/static/assets/favicon/site.webmanifest?v={{CACHEMISS}}">
        <link rel="shortcut icon" href="{{baseURL}}/favicon.ico?v={{CACHEMISS}}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/8.3__iPad_Mini_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/13__iPad_Pro_M4_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/10.2__iPad_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/11__iPad_Pro_M4_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_16_Pro_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/10.9__iPad_Air_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/8.3__iPad_Mini_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/10.5__iPad_Air_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/11__iPad_Pro_M4_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_11__iPhone_XR_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/10.9__iPad_Air_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/10.5__iPad_Air_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_16_Pro_Max_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/12.9__iPad_Pro_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/11__iPad_Pro__10.5__iPad_Pro_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_16_Pro_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/13__iPad_Pro_M4_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/10.2__iPad_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_11__iPhone_XR_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/11__iPad_Pro__10.5__iPad_Pro_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_16_Pro_Max_portrait.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseURL}}/static/assets/favicon/splashscreens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png?ver={{CACHEMISS}}">
		<link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseURL}}/static/assets/favicon/splashscreens/12.9__iPad_Pro_portrait.png?ver={{CACHEMISS}}">
        <meta name="timestamp" content="{{ 'now'|date('U') }}">
    </head>

    {#{% set hasTabbar = block('tabbar')|trim is not empty ? 'has-tabbar':'' %}#}
    {% set hasTabbar = '' %}
    <body class="{{active}}{% if boardsview == 1 %} boards-view{% endif %}{% if navigationdrawer_desktophidden == 1 %} navigation-drawer-toggled{% endif %} {{hasTabbar}}">
        {% if not user is null %}
            <header id="masthead" class="site-header">
                <div class="header-inner">
                    {% include 'main/navigation.twig' %}
                </div>
                <div class="tabbar">
                {% block tabbar %}
                {% endblock %}
                </div>
            </header>
        {% elseif active == 'help' %}
            <header id="masthead" class="site-header">
                <div class="header-inner">
                    <h2 class="page-title">{{ "PAGE_TITLE"|trans }} - {{ "HELP"|trans }}</h2>
                </div>
            </header>
        {% endif %}
        
        {% if not user is null %}
        <aside>
            {% include 'main/navigation-drawer.twig' %}
        </aside>
        {% endif %}
        <div class="site-body">
            <div id="content" class="site-content container">
                {% if flash() is not empty %}
                    <div class="alert hide-offline {{flash('message_type')|last}} flash-message">
                        <span class="closebtn" >&times;</span>
                        <span class="alert-message">
                            {% for msg in flash('message') %}
                                <p>{{ msg }}</p>
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}
                {% if flash("additional_flash_message") is not empty %}
                    {% for msg in flash('additional_flash_message') %}
                        <div class="alert hide-offline {{flash('additional_flash_message_type')[loop.index-1]}}">
                            <span class="closebtn" >&times;</span>
                            <span class="alert-message">
                                <p>{{ msg }}</p>
                            </span>
                        </div>
                    {% endfor %}
                {% endif %}
                <div id="offline-alert" class="alert danger hidden">
                    <span class="alert-message">
                        <p>{{ "YOU_ARE_OFFLINE"|trans }}</p>
                    </span>
                    <button id="reload" class="button white" type="button">{{ "RELOAD_PAGE"|trans }}</button>
                </div>
                <div id="offline-entries-alert" class="alert warning hidden">
                    <span class="alert-message">
                        <p>{{ "THERE_ARE_LOCALLY_SAVED_ENTRIES"|trans }}</p>
                    </span>
                </div>
                <div id="loading-overlay" class="hidden">
                    <span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
                    <span class="hidden">{{ "LOADING"|trans }}</span>
                </div>
                {% block pageheader %}
                {% endblock %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block bottom %}
        {% endblock %}

        <footer class="site-footer hidden">
            <div class="footer-inner">

            </div>
        </footer>
        <div id="toastmessage"></div>

        <script type='text/javascript' >
            var allowedReload = false;
            var jsObject = {
                'location_markers': '{{ url_for("location_markers") }}',
                'delete_marker_url': '{{ url_for("delete_marker") }}',
                'get_address_url': '{{ url_for("get_address") }}',
                'finances_table': "{{url_for("finances_table")}}",
{% if not hasCarTable is null %}
                'fuel_table': "{{url_for("car_service_fuel_table", {'car': car.getHash()})}}",
                'service_table': "{{url_for("car_service_service_table", {'car': car.getHash()})}}",
{% endif %}
                'datacount': '{{datacount}}',
                'datacount2': '{{datacount2}}',
                'set_mileage_type': '{{url_for("set_mileage_type")}}',
                'stack_save': '{{url_for("stack_save")}}',
                'stack_position_url': '{{url_for("stack_update_position")}}',
                'card_save': '{{url_for("card_save")}}',
                'card_position_url': '{{url_for("card_update_position")}}',
                'card_movestack_url': '{{url_for("card_move_stack")}}',
                'stack_delete': '{{url_for("stack_delete")}}',
                'stack_archive': '{{url_for("stack_archive")}}',
                'card_delete': '{{url_for("card_delete")}}',
                'card_archive': '{{url_for("card_archive")}}',
                'label_save': '{{url_for("label_save")}}',
                'label_get_url': '{{url_for("label_get")}}',
                'label_delete': '{{url_for("label_delete")}}',
                'set_archive': '{{url_for("set_archive")}}',
                'get_category_costs': '{{url_for("finances_budgets_category_costs")}}',
                'notifications_subscribe': '{{url_for("notifications_clients_subscribe")}}',
                'applicationServerPublicKey': '{{push.publicKey}}',
                'csrf_tokens_url': '{{url_for('get_csrf_tokens')}}',
                'notifications_clients_categories': '{{url_for('notifications_clients_categories')}}',
                'notifications_clients_set_category': '{{url_for('notifications_clients_set_category')}}',
                'notifications_clients_set_category_user': '{{url_for('notifications_clients_set_category_user')}}',
                'mail_notifications_set_category_user': '{{url_for('mail_notifications_set_category_user')}}',
                'notifications_clients_manage': '{{url_for('notifications_clients_manage')}}',
                'notifications_get': '{{url_for('notifications_get')}}',
                'notifications_unread': '{{url_for('notifications_unread')}}',
                'activities_get': '{{url_for('activities_get')}}',
                'logfile_get': '{{url_for('logfile_get')}}',
{% if not hasCrawlerTable is null %}
                'crawler_table': '{{url_for('crawlers_table', {'crawler': crawler.hash})}}',
                'crawler_filter': '{{url_for('set_crawler_filter', {'crawler': crawler.hash})}}',
                'crawler_dataset_save': '{{url_for('crawler_dataset_save', {'crawler': crawler.hash})}}',
                'crawler_set_shown': '{{url_for('set_crawler_shown', {'crawler': crawler.hash})}}',
{% endif %}
{% if not from is null %}    
                'dateFrom': '{{from}}',
{% endif %}
{% if not to is null %}    
                'dateTo': '{{to}}',
{% endif %}
{% if not hasSplitbillTable is null %}
                'splitbill_table': '{{url_for('splitbill_bills_table', {'group': group.hash})}}',
{% endif %}
                'get_location_of_address': '{{ url_for("get_location_of_address") }}',
                'location_record': '{{ url_for("location_record") }}',
                'location_last': '{{ url_for("location_last") }}',
{% if not isTrips is null %}
                'trip_markers_url': '{{url_for('trips_markers', {'trip': trip.hash})}}',
                'trip_event_position_url': '{{  url_for('trips_event_position', {'trip' : trip.hash})}}',
                'trip_add_waypoint': '{{  url_for('trips_add_waypoint', {'trip' : trip.hash})}}',
                'trip_delete_waypoint': '{{  url_for('trips_delete_waypoint', {'trip' : trip.hash})}}',
                'trip_add_route': '{{  url_for('trips_add_route', {'trip' : trip.hash})}}',
                'trip_list_routes': '{{  url_for('trips_list_route', {'trip' : trip.hash})}}',
                'trip_route_waypoints': '{{  url_for('trips_route_waypoints', {'trip' : trip.hash})}}',
{% endif %}
{% if not hasTimesheetTable is null %}
                'timesheets_table': '{{url_for('timesheets_sheets_table', {'project': project.hash})}}',
                'timesheets_sheets_set_categories': '{{url_for('timesheets_sheets_set_categories', {'project': project.hash})}}',
                'timesheets_sheets_set_options': '{{url_for('timesheets_sheets_set_options', {'project': project.hash})}}',
{% endif %}
{% if not hasTimesheetNotice is null %}
                'timesheets_sheets_notice_data': '{{url_for('timesheets_sheets_notice_data', {'project': project.hash})}}',
                'timesheets_customers_notice_data': '{{url_for('timesheets_customers_notice_data', {'project': project.hash})}}',
                'timesheets_project_notice_data': '{{url_for('timesheets_project_notice_data', {'project': project.hash})}}',
                'timesheets_notice_params': '{{url_for('timesheets_notice_params', {'project': project.hash})}}',
                'timesheets_notice_params_save': '{{url_for('timesheets_notice_params_save', {'project': project.hash})}}',
                'timesheets_sheets_files' : '{{url_for('timesheets_sheets_files', {'project': project.hash})}}',
{% endif %}
{% if not hasTimesheetCalendar is null %}
                'timesheets_calendar_events': '{{url_for('timesheets_calendar_events', {'project': project.hash})}}',
{% endif %}
{% if not isTripEventEdit is null %}
                'trip_event_image_upload': '{{  url_for('trips_event_image', {'id' : entry.id, 'trip' : trip.hash}) }}',
                'trip_event_image_delete': '{{  url_for('trips_event_image_delete', {'id' : entry.id, 'trip' : trip.hash}) }}',
{% endif %}
                'frontpage_widget_option': '{{url_for('users_profile_frontpage_widget_option')}}',
                'frontpage_widget_option_save': '{{url_for('users_profile_frontpage_widget_option_save')}}',
                'frontpage_widget_position': '{{url_for('users_profile_frontpage_widget_position')}}',
                'frontpage_widget_request': '{{url_for('frontpage_widget_request')}}',
                'workouts_exercises_get': '{{url_for('workouts_exercises_get')}}',
                'workouts_exercises_selected_muscles': '{{url_for('workouts_exercises_selected_muscles')}}',
                'workouts_exercises_data': '{{url_for('workouts_exercises_data')}}',
{% if not isWorkoutCreate is null %}
                'workouts_sessions_exercise_save': '{{url_for('workouts_sessions_exercise_save', {'plan': plan.hash, 'session': entry.id})}}',
{% endif %}
                'usersearch': '{{url_for('usersearch')}}',
                'groceries_search': '{{url_for('groceries_search')}}',
                'recipes_get': '{{url_for('recipes_get')}}',
                'recipes_get_mealplan': '{{url_for('recipes_get_mealplan')}}',
{% if not isMealplanEdit is null %}
                'recipes_mealplan_move_recipe': '{{url_for('recipes_mealplans_move_recipe', {'mealplan': mealplan.hash})}}',
                'recipes_mealplan_remove_recipe': '{{url_for('recipes_mealplans_remove_recipe', {'mealplan': mealplan.hash})}}',
{% endif %}
{% if not isShoppingList is null %}
                'recipes_shoppinglists_add_entry': '{{url_for('recipes_shoppinglists_add_entry', {'shoppinglist': shoppinglist.hash})}}',
                'recipes_shoppinglistentries_get': '{{url_for('recipes_shoppinglistentries_get', {'shoppinglist': shoppinglist.hash})}}',
                'recipes_shoppinglistentries_set_state': '{{url_for('recipes_shoppinglistentries_set_state', {'shoppinglist': shoppinglist.hash})}}',
                'recipes_shoppinglists_delete_entry': '{{url_for('recipes_shoppinglists_delete_entry', {'shoppinglist': shoppinglist.hash})}}',
{% endif %}
                'store_query_params': '{{url_for('store_query_params')}}',
{% if not isBoardView is null %}
                'boards_data': '{{url_for('boards_data', {'hash': board.hash})}}',
{% endif %}
{% if not hasFinanceTransactionTable is null %}
                'finances_transaction_table': '{{url_for('finances_transaction_table', {'account': account.getHash()})}}',
                'finances_transaction_confirm': '{{url_for('finances_transaction_confirm')}}',
{% endif %}
                    };
                    var default_location = {'lat': '{{location.lat}}', 'lng': '{{location.lng}}', 'zoom': '{{location.zoom}}'};
                    var i18n = {{i18n|json_encode()|raw}};
                    var lang = {
                        "really_delete": '{{"REALLY_DELETE"|trans}}',
                        'address': '{{"ADDRESS"|trans}}',
                        'delete_text': '{{"DELETE"|trans}}',
                        'accuracy': '{{"ACCURACY"|trans}}',
                        'consumption': '{{"CONSUMPTION"|trans}}',
                        'add': '{{"ADD"|trans}}',
                        'cancel': '{{"CANCEL"|trans}}',
                        'update': '{{"UPDATE"|trans}}',
                        'categories': '{{"CATEGORIES"|trans}}',
                        'no_options': '{{"NO_OPTIONS"|trans}}',
                        'nothing_found': '{{"NOTHING_FOUND"|trans}}',
                        'loading': '{{"LOADING"|trans}}',
                        'searching': '{{"SEARCHING"|trans}}',
                        'table_perpage': '{{"TABLE_PERPAGE"|trans}}',
                        'table_info': '{{"TABLE_INFO"|trans}}',
                        'table_infofiltered': '{{"TABLE_INFOFILTERED"|trans}}',
                        'enable_push_notifications': '{{"ENABLE_PUSH_NOTIFICATIONS"|trans}}',
                        'disable_push_notifications': '{{"DISABLE_PUSH_NOTIFICATIONS"|trans}}',
                        'no_push_notifications_possible': '{{"NO_PUSH_NOTIFICATIONS_POSSIBLE"|trans}}',
                        "set_current_location": '{{"SET_CURRENT_LOCATION"|trans}}',
                        "remove_location": '{{"REMOVE_LOCATION"|trans}}',
                        "car_refuel": '{{"CAR_REFUEL"|trans}}',
                        "car_service": '{{"CAR_SERVICE"|trans}}',
                        "category": '{{"CATEGORY"|trans}}',
                        "splitbills_numbers_wrong": '{{"SPLITBILLS_NUMBERS_WRONG"|trans}}',
                        "from": '{{"FROM"|trans}}',
                        "to": '{{"TO"|trans}}',
                        "steps": '{{"STEPS"|trans}}',
                        "request_error": '{{"REQUEST_ERROR"|trans}}',
                        "encrypt_error": '{{"ENCRYPT_ERROR"|trans}}',
                        "decrypt_error": '{{"DECRYPT_ERROR"|trans}}',
                        "routing_add_to_route": '{{"ADD_TO_ROUTE"|trans}}',
                        "routing_add_start_to_route": '{{"ROUTING_ADD_START_TO_ROUTE"|trans}}',
                        "routing_add_end_to_route": '{{"ROUTING_ADD_END_TO_ROUTE"|trans}}',
                        "routing_error": '{{"ROUTING_ERROR"|trans}}',
                        "routing_error_too_many_requests": '{{"ROUTING_ERROR_TOO_MANY_REQUESTS"|trans}}',
                        "really_unsave_dataset": '{{"CRAWLER_DATASET_UNSAVE"|trans}}',
                        "entry_saved_locally": '{{"ENTRY_SAVED_LOCALLY"|trans}}',
                        "entry_saved_locally_error": '{{"ENTRY_SAVED_LOCALLY_ERROR"|trans}}',
                        "locally_saved_entries_submitted": '{{"LOCALLY_SAVED_ENTRIES_SUBMITTED"|trans}}',
                        "locally_saved_entries_submitted_success": '{{"LOCALLY_SAVED_ENTRIES_SUBMITTED_SUCCESS"|trans}}',
                        "locally_saved_entries_submitted_error": '{{"LOCALLY_SAVED_ENTRIES_SUBMITTED_ERROR"|trans}}',
                        "trips_route_name_prompt": '{{"TRIPS_ROUTE_NAME_PROMPT"|trans}}',
                        "trips_route_saved_successfully": '{{"TRIPS_ROUTE_SAVED_SUCCESSFULLY"|trans}}',
                        "trips_route_saved_error": '{{"TRIPS_ROUTE_SAVED_ERROR"|trans}}',
                        "trips_waypoint_save": '{{"TRIPS_WAYPOINT_SAVE"|trans}}',
                        "workouts_superset": '{{"WORKOUTS_SUPERSET"|trans}}',
                        "workouts_set": '{{"WORKOUTS_SET"|trans}}',
                        "show": '{{"SHOW"|trans}}',
                        "hide": '{{"HIDE"|trans}}',
                        "ingredient": '{{"RECIPES_INGREDIENT"|trans}}',
                        "timesheets_notice_password": '{{"TIMESHEETS_PROJECT_PASSWORD_SHEETS_INSERT"|trans}}',
                        'timesheets_notice_password_no_match': '{{"TIMESHEETS_PROJECT_PASSWORD_SHEETS_NOTICES_NO_MATCH"|trans}}',
                        'timesheets_notice_password_wrong': '{{"TIMESHEETS_PROJECT_PASSWORD_SHEETS_NOTICES_WRONG"|trans}}',
                        'timesheets_notice_password_success': '{{"TIMESHEETS_PROJECT_PASSWORD_SHEETS_NOTICES_SUCCESS"|trans}}',
                        "boards_error_open_stack": '{{"BOARD_UNSAVED_STACK"|trans}}',
                        "boards_error_open_card": '{{"BOARD_UNSAVED_CARD"|trans}}',
                        "boards_error_save_stack": '{{"BOARD_SAVE_ERROR_STACK"|trans}}',
                        "boards_error_save_card": '{{"BOARD_SAVE_ERROR_CARD"|trans}}',
                        "boards_error_archive": '{{"BOARD_ARCHIVE_ERROR"|trans}}',
                        "boards_error_delete": '{{"BOARD_DELETE_ERROR"|trans}}',
                        "boards_save_stack": '{{"BOARD_SAVE_STACK"|trans}}',
                        "boards_save_card": '{{"BOARD_SAVE_CARD"|trans}}',
                        "boards_really_close_stack": '{{"REALLY_CLOSE_STACK"|trans}}',
                        "boards_really_close_card": '{{"REALLY_CLOSE_CARD"|trans}}',
                        "boards_really_close_label": '{{"REALLY_CLOSE_LABEL"|trans}}',
                        "boards_really_close_page": '{{"REALLY_CLOSE_PAGE"|trans}}',
                        'boards_really_archive': '{{"REALLY_ARCHIVE"|trans}}',
                        'boards_undo_archive': '{{"UNDO_ARCHIVE"|trans}}',
                        "boards_really_delete_stack": '{{"REALLY_DELETE_STACK"|trans}}',
                        "boards_really_delete_card": '{{"REALLY_DELETE_CARD"|trans}}',
                        "boards_really_delete_label": '{{"REALLY_DELETE_LABEL"|trans}}',
                        'boards_labels': '{{"LABELS"|trans}}',
                        'boards_archive': '{{"ARCHIVE"|trans}}',
                        'boards_unarchive': '{{"UNARCHIVE"|trans}}',
                        'boards_archive_with_cards': '{{"ARCHIVE_WITH_CARDS"|trans}}',
                        'boards_unarchive_with_cards': '{{"UNARCHIVE_WITH_CARDS"|trans}}',
                        'transaction_delete_has_entry': '{{"FINANCES_TRANSACTION_DELETE_HAS_ENTRY"|trans}}',
                        'transaction_delete_has_splitted_bill': '{{"FINANCES_TRANSACTION_DELETE_HAS_SPLITTED_BILL"|trans}}',
                        'crawlers_mark_all_as_shown_success':'{{"CRAWLERS_MARK_ALL_AS_SHOWN_SUCCESS"|trans}}',
                        'crawlers_mark_all_as_shown_error':'{{"CRAWLERS_MARK_ALL_AS_SHOWN_ERROR"|trans}}',
                        'recipes_shoppinglist_error_add':'{{"RECIPES_SHOPPINGLIST_ERROR_ADD"|trans}}',
                        'workouts_exercise_added': '{{"WORKOUTS_EXERCISE_ADDED"|trans}}',
                        'workouts_workoutday_added': '{{"WORKOUTS_WORKOUTDAY_ADDED"|trans}}',
                        'workouts_superset_added': '{{"WORKOUTS_SUPERSET_ADDED"|trans}}',
                        'workouts_set_added': '{{"WORKOUTS_SET_ADDED"|trans}}',
                        'workouts_exercise_removed': '{{"WORKOUTS_EXERCISE_REMOVED"|trans}}',
                        'workouts_workoutday_removed': '{{"WORKOUTS_WORKOUTDAY_REMOVED"|trans}}',
                        'workouts_superset_removed': '{{"WORKOUTS_SUPERSET_REMOVED"|trans}}',
                        'workouts_set_removed': '{{"WORKOUTS_SET_REMOVED"|trans}}',
                        'yes': '{{"YES"|trans}}',
                        'no': '{{"NO"|trans}}',
                        'ok': '{{"OK"|trans}}',
                        'timesheets_sheets_delete_warning_notice': '{{"TIMESHEETS_SHEET_DELETE_WARNING_NOTICE"|trans}}',
                        'timesheets_noticefield': '{{"TIMESHEETS_NOTICEFIELDS"|trans}}',
                        'timesheets_no_password_set': '{{ "TIMESHEETS_NO_PASSWORD_SET"|trans}}',
                        'timesheets_insert_password_or_recovery': '{{ "TIMESHEETS_INSERT_PASSWORD_OR_RECOVERY"|trans }}',
                        'timesheets_recovery_wrong_size': '{{ "TIMESHEETS_RECOVERY_WRONG_SIZE"|trans }}',
                        'remaining': '{{"REMAINING"|trans}}',
                        'timesheets_requirements_open': '{{"TIMESHEETS_REQUIREMENTS_OPEN"|trans}}',
                        'timesheets_requirements_done': '{{"TIMESHEETS_REQUIREMENTS_DONE"|trans}}',
                        'timesheets_project_category_budget_entries_without_category': '{{"TIMESHEETS_PROJECT_CATEGORY_BUDGET_ENTRIES_WITHOUT_CATEGORY"|trans}}',
                        'show_password': '{{"SHOW_PASSWORD"|trans}}'
                    };
                    var tokens = {{ csrf_js|json_encode()|raw }};
        </script>

        {% if not user is null %}
            <script src="{{baseURL}}/static/assets/js/flatpickr.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>
            <script src="{{baseURL}}/static/assets/js/i18n/{{i18n.template}}.js?ver={{CACHEMISS}}" type="text/javascript"></script>
            <script src="{{baseURL}}/static/assets/js/moment-with-locales.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>          
            <script src="{{baseURL}}/static/assets/js/jstable.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>  

            <script src="{{baseURL}}/static/js/main.js?ver={{CACHEMISS}}" type="text/javascript"></script>
            <script src="{{baseURL}}/static/js/navigation.js?ver={{CACHEMISS}}" type="text/javascript"></script>
            <script src="{{baseURL}}/static/js/tables.js?ver={{CACHEMISS}}" type="text/javascript"></script>

            <script src="{{baseURL}}/static/js/app.js?ver={{CACHEMISS}}" type="text/javascript"></script>
            
            <script src="{{baseURL}}/static/assets/js/leaflet.js?ver={{CACHEMISS}}" type="text/javascript"></script>
            <script src="{{baseURL}}/static/js/geolocation.js?ver={{CACHEMISS}}"></script>
        {% endif %}

        {% block javascript %}
        {% endblock %}    
    </body>
</html>
