{% extends "base.twig" %}

{% set active = 'error' %}


{% block javascript %}{% endblock %}


{% block body %}

	<div class="alert {{message_type}}">
		{% if data is not null %}
			{% if data is iterable %}
				{% for field_name, field_value in data %}
					<p>{{ field_name }}:
						{% if field_value is iterable %}
							{{field_value|json_encode()}}
						{% else %}
							{{ field_value }}
						{% endif %}
					</p>
				{% endfor %}
			{% endif %}
		{% else %}
			<p>{{"ERROR"|trans}}</p>
		{% endif %}
		<span class="alert-message">
			<p>{{message}}</p>
		</span>
	</div>
{% endblock %}
