{% extends "base.twig" %}

{% set active = 'car_service' %}

{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["CAR_REFUEL"]}}</h2> <a href="{{  path_for('car_service_edit') }}"><button class="white"><i class="fas fa-plus" aria-hidden="true"></i> {{lang["ADD"]}}</button></a></div>
        <div class="page-content">
            <table id="fuel_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["DATE"]}}</th>
                        <th>{{lang["CAR"]}}</th>
                        <th>{{lang["MILEAGE"]}}</th>
                        <th>{{lang["PRICE"]}}</th>
                        <th>{{lang["VOLUME"]}}</th>
                        <th>{{lang["TOTAL_PRICE"]}}</th>
                        <th>{{lang["TYPE"]}}</th>
                        <th>{{lang["CONSUMPTION"]}}</th>
                        <th>{{lang["LOCATION"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in fuel_table %}
                        <tr>
                            <td data-title="{{lang["DATE"]}}">{{entry[0]}}</td> 
                            <td data-title="{{lang["CAR"]}}">{{entry[1]|raw}}</td> 
                            <td data-title="{{lang["MILEAGE"]}}">{{entry[2]}}</td> 
                            <td data-title="{{lang["PRICE"]}}">{{entry[3]}}</td> 
                            <td data-title="{{lang["VOLUME"]}}">{{entry[4]}}</td> 
                            <td data-title="{{lang["TOTAL_PRICE"]}}">{{entry[5]}}</td> 
                            <td data-title="{{lang["TYPE"]}}">{{entry[6]}}</td> 
                            <td data-title="{{lang["CONSUMPTION"]}}">{{entry[7]}}</td> 
                            <td data-title="{{lang["LOCATION"]}}">{{entry[8]|raw}}</td> 
                            <td>{{entry[9]|raw}}</td>
                            <td>{{entry[10]|raw}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
                
                
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["CAR_SERVICE"]}}</h2> <a href="{{  path_for('car_service_edit')}}?type=service"><button class="white"><i class="fas fa-plus" aria-hidden="true"></i> {{lang["ADD"]}}</button></a></div>
        <div class="page-content">
            <table id="service_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["DATE"]}}</th>
                        <th>{{lang["CAR"]}}</th>
                        <th>{{lang["MILEAGE"]}}</th>
                        <th>{{lang["CAR_SERVICE_OIL"]}}</th>
                        <th>{{lang["CAR_SERVICE_WATER_WIPER"]}}</th>
                        <th>{{lang["CAR_SERVICE_AIR"]}}</th>
                        <th>{{lang["CAR_SERVICE_TIRE_CHANGE"]}}</th>
                        <th>{{lang["CAR_SERVICE_GARAGE"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in service_table %}
                        <tr>
                            <td data-title="{{lang["DATE"]}}">{{entry[0]}}</td> 
                            <td data-title="{{lang["CAR"]}}">{{entry[1]|raw}}</td> 
                            <td data-title="{{lang["MILEAGE"]}}">{{entry[2]}}</td> 
                            <td data-title="{{lang["CAR_SERVICE_OIL"]}}">{{entry[3]}}</td> 
                            <td data-title="{{lang["CAR_SERVICE_WATER_WIPER"]}}">{{entry[4]}}</td> 
                            <td data-title="{{lang["CAR_SERVICE_AIR"]}}">{{entry[5]}}</td> 
                            <td data-title="{{lang["CAR_SERVICE_TIRE_CHANGE"]}}">{{entry[6]}}</td> 
                            <td data-title="{{lang["CAR_SERVICE_GARAGE"]}}">{{entry[7]}}</td> 
                            <td>{{entry[8]|raw}}</td>
                            <td>{{entry[9]|raw}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}