{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/autoComplete.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/js/user-select.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/html-duration-picker.min.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/autoComplete.min.css?ver={{CACHEMISS}}"/>
{% endblock %}

{% block pageheader %}
	<div class="page-header multiple-buttons">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('timesheets')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"TIMESHEETS_PROJECT"|trans}}</h2>
		</div>
		{% if not entry is null %}
			<div class="buttons">
				<a href="{{ url_for('timesheets_project_notice_edit', {'project': entry.getHash()}) }}">
					<button class="button button-outlined">{{"NOTICE"|trans}}</button>
				</a>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<div id="alertError" class="alert danger hidden">
				<span class="closebtn">&times;</span>
				<span class="alert-message">
					<p>{{ "ENTRY_ERROR"|trans }}</p>
					<p id="alertErrorDetail"></p>
				</span>
			</div>

			<form class="form-horizontal" action="{{ url_for('timesheets_projects_save', {'id' : entry.id}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
					<input name="hash" type="hidden" value="{{entry.hash}}">
				{% endif %}


				<div class="form-group">
					<label for="inputName">{{"NAME"|trans}}</label>
					<input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %} value="{{entry.name|raw}}" {% endif %}>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxArchived">
						<input name="archive" type="checkbox" value="1" id="checkboxArchived" {% if entry is not null and entry.archive == 1 %} checked {% endif %}>
						{{"ARCHIVED"|trans}}
					</label>
				</div>

				<div class="form-group">
					{% include "main/user-select.twig" with {'entry':entry, 'module': 'timesheets'} only %}
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxIsDayBased">
						<input name="is_day_based" type="checkbox" value="1" id="checkboxIsDayBased" {% if entry is not null and entry.is_day_based == 1 %} checked {% endif %}>
						{{"TIMESHEETS_IS_DAY_BASED"|trans}}
					</label>
				</div>

				<div class="form-group">
					<label for="defaultView">{{"TIMESHEETS_DEFAULT_VIEW"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="defaultView" name="default_view">
							<option value="all" {% if (not entry is null and 'all' == entry.default_view) %} selected {% endif %}>{{"TIMESHEETS_DEFAULT_VIEW_ALL"|trans}}</option>
							<option value="week" {% if (not entry is null and 'week' == entry.default_view) %} selected {% endif %}>{{"TIMESHEETS_DEFAULT_VIEW_WEEK"|trans}}</option>
							<option value="month" {% if (not entry is null and 'month' == entry.default_view) %} selected {% endif %}>{{"TIMESHEETS_DEFAULT_VIEW_MONTH"|trans}}</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxShowWeekButton">
						<input name="show_week_button" type="checkbox" value="1" id="checkboxShowWeekButton" {% if entry is not null and entry.show_week_button == 1 %} checked {% endif %}>
						{{"TIMESHEETS_SHOW_WEEK_BUTTON"|trans}}
					</label>
				</div>
				<div class="form-group">
					<label class="checkbox" for="checkboxShowMonthButton">
						<input name="show_month_button" type="checkbox" value="1" id="checkboxShowMonthButton" {% if entry is not null and entry.show_month_button == 1 %} checked {% endif %}>
						{{"TIMESHEETS_SHOW_MONTH_BUTTON"|trans}}
					</label>
				</div>
				<div class="form-group">
					<label class="checkbox" for="checkboxShowQuartersButtons">
						<input name="show_quarters_buttons" type="checkbox" value="1" id="checkboxShowQuartersButtons" {% if entry is not null and entry.show_quarters_buttons == 1 %} checked {% endif %}>
						{{"TIMESHEETS_SHOW_QUARTERS_BUTTONS"|trans}}
					</label>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxHasDurationModifications">
						<input name="has_duration_modifications" type="checkbox" value="1" id="checkboxHasDurationModifications" {% if entry is not null and entry.has_duration_modifications == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HAS_DURATION_MODIFICATIONS"|trans}}
					</label>
				</div>

				<div class="form-group">
					<label for="inputRate">{{"TIMESHEETS_TIME_CONVERSION_RATE"|trans}}</label>
					<input type="text" class="form-control" id="inputRate" name="time_conversion_rate" value="{% if not entry is null %}{{entry.time_conversion_rate}}{% else %}1{% endif %}">
				</div>

				<div class="form-group">
					<label for="inputDefaultDuration">{{"TIMESHEETS_DURATION_DEFAULT"|trans}}</label>
					<input type="text" class="form-control duration-input html-duration-picker" data-hide-seconds data-duration-max="999:59" id="inputDefaultDuration" name="set_default_duration" value="{% if not entry is null %}{{entry.default_duration | splitDateInterval(true)}}{% endif %}"/>
				</div>

				<div class="form-group">
					<label for="inputCustomersNameSingular">{{"TIMESHEETS_CUSTOMERS_NAME_SINGULAR"|trans}}</label>
					<input type="text" class="form-control" id="inputCustomersNameSingular" name="customers_name_singular" {% if not entry is null %} value="{{entry.customers_name_singular|raw}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="inputCustomersNamePlural">{{"TIMESHEETS_CUSTOMERS_NAME_PLURAL"|trans}}</label>
					<input type="text" class="form-control" id="inputCustomersNamePlural" name="customers_name_plural" {% if not entry is null %} value="{{entry.customers_name_plural|raw}}" {% endif %}>
				</div>

				<div class="form-group">
					<label for="inputReportHeadline">{{"TIMESHEETS_REPORT_HEADLINE"|trans}}</label>
					<input type="text" class="form-control" id="inputReportHeadline" name="report_headline" {% if not entry is null %} value="{{entry.report_headline|raw}}" {% endif %}>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxHasBilling">
						<input name="has_billing" type="checkbox" value="1" id="checkboxHasBilling" {% if entry is not null and entry.has_billing == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HAS_BILLING"|trans}}
					</label>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxHasEnd">
						<input name="has_end" type="checkbox" value="1" id="checkboxHasEnd" {% if entry is not null and entry.has_end == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HAS_END"|trans}}
					</label>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxHasLocation">
						<input name="has_location" type="checkbox" value="1" id="checkboxHasLocation" {% if entry is not null and entry.has_location == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HAS_LOCATION"|trans}}
					</label>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxCreateOnlyNotices">
						<input name="create_only_notices" type="checkbox" value="1" id="checkboxCreateOnlyNotices" {% if entry is not null and entry.create_only_notices == 1 %} checked {% endif %}>
						{{"TIMESHEETS_CREATE_ONLY_NOTICES"|trans}}
					</label>
				</div>

				<h3>{{"TIMESHEETS_CALENDAR"|trans}}</h3>
				<div class="form-group">
					<label for="inputSlotMinTime">{{"TIMESHEETS_SLOT_MIN_TIME"|trans}}</label>
					<input type="text" class="form-control duration-input html-duration-picker" id="inputSlotMinTime" name="slot_min_time" value="{% if not entry is null %}{{entry.slot_min_time}}{% endif %}"/>
				</div>

				<div class="form-group">
					<label for="inputSlotMaxTime">{{"TIMESHEETS_SLOT_MAX_TIME"|trans}}</label>
					<input type="text" class="form-control duration-input html-duration-picker" id="inputSlotMaxTime" name="slot_max_time" value="{% if not entry is null %}{{entry.slot_max_time}}{% endif %}"/>
				</div>

				<div class="form-group">
					<label class="checkbox" for="checkboxHideMonday">
						<input name="hide_monday" type="checkbox" value="1" id="checkboxHideMonday" {% if entry is not null and entry.hide_monday == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HIDE_MONDAY"|trans}}
					</label>
				</div>
				<div class="form-group">
					<label class="checkbox" for="checkboxHideTuesday">
						<input name="hide_tuesday" type="checkbox" value="1" id="checkboxHideTuesday" {% if entry is not null and entry.hide_tuesday == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HIDE_TUESDAY"|trans}}
					</label>
				</div>
				<div class="form-group">
					<label class="checkbox" for="checkboxHideWednesday">
						<input name="hide_wednesday" type="checkbox" value="1" id="checkboxHideWednesday" {% if entry is not null and entry.hide_wednesday == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HIDE_WEDNESDAY"|trans}}
					</label>
				</div>
				<div class="form-group">
					<label class="checkbox" for="checkboxHideThursday">
						<input name="hide_thursday" type="checkbox" value="1" id="checkboxHideThursday" {% if entry is not null and entry.hide_thursday == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HIDE_THURSDAY"|trans}}
					</label>
				</div>
				<div class="form-group">
					<label class="checkbox" for="checkboxHideFriday">
						<input name="hide_friday" type="checkbox" value="1" id="checkboxHideFriday" {% if entry is not null and entry.hide_friday == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HIDE_FRIDAY"|trans}}
					</label>
				</div>
				<div class="form-group">
					<label class="checkbox" for="checkboxHideSaturday">
						<input name="hide_saturday" type="checkbox" value="1" id="checkboxHideSaturday" {% if entry is not null and entry.hide_saturday == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HIDE_SATURDAY"|trans}}
					</label>
				</div>
				<div class="form-group">
					<label class="checkbox" for="checkboxHideSunday">
						<input name="hide_sunday" type="checkbox" value="1" id="checkboxHideSunday" {% if entry is not null and entry.hide_sunday == 1 %} checked {% endif %}>
						{{"TIMESHEETS_HIDE_SUNDAY"|trans}}
					</label>
				</div>

				<h3>{{"TIMESHEETS_REPEAT"|trans}}</h3>
				<div class="form-group">
					<label for="inputCount">{{"TIMESHEETS_REPEAT_COUNT"|trans}}</label>
					<input type="number" class="form-control" id="inputCount" name="repeat_count" step="1" pattern="\d*" value="{% if not entry is null %}{{entry.repeat_count}}{% else %}0{% endif %}">
				</div>
				<div class="form-group">
					<label for="inputUnit">{{"UNIT"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="inputUnit" name="repeat_unit">
							{% for unit, unitName in units %}
								<option value="{{unit}}" {% if (not entry is null and unit == entry.repeat_unit) or (entry is null and unit == 'week') %} selected {% endif %}>{{unitName|trans}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputMultiplier">{{"MULTIPLIER"|trans}}</label>
					<input type="number" class="form-control" id="inputMultiplier" name="repeat_multiplier" step="1" pattern="\d*" value="{% if not entry is null %}{{entry.repeat_multiplier}}{% else %}1{% endif %}">
				</div>

				<div class="form-group-btn">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
