{% extends "base.twig" %}

{% set active = 'timesheets' %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"TIMESHEETS_PROJECTS"|trans}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('timesheets_projects_edit') }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{"ADD"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<form method="GET" id="tableHeaderFilter" class="search-filter">
				<div class="filter-row">
					<div class="filter-group">
						<div class="filter-element">
							<div class="select-wrapper form-control">
								<select name="archive">
									<option value="0" {% if archive == 0 %} selected {% endif %}>{{"SHOW_NOT_ARCHIVED"|trans}}</option>
									<option value="1" {% if archive == 1 %} selected {% endif %}>{{"SHOW_ARCHIVED"|trans}}</option>
									<option value="" {% if archive is empty %} selected {% endif %}>{{"SHOW_ALL"|trans}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-row">
					<div class="filter-element">
						<input type="submit" class="button" value="{{"SHOW"|trans}}"/>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="inner-content">
		<div class="page-content">
			<table id="timesheets_projects_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{ "NAME"|trans }}</th>
						<th>{{ "SUM"|trans }}</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
						<tr>
							<td>
								<a href="{{ url_for('timesheets_sheets', {'project' : project.hash}) }}">{{ project.name|raw }}</a>
							</td>
							<td>{{times[project.id]}}</td>
							<td>
								<a href="{{ url_for('timesheets_notice_password', {'project' : project.hash}) }}">{{"TIMESHEETS_NOTICE_PASSWORD"|trans}}</a>
							</td>
							<td>
								<a href="{{ url_for('timesheets_noticefields', {'project' : project.hash}) }}">{{"TIMESHEETS_NOTICEFIELDS"|trans}}</a>
							</td>
							<td>
								{% if project.user == user.id %}
									<a href="{{ url_for('timesheets_projects_edit', {'id' : project.id}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
								{% endif %}
							</td>
							<td>
								{% if project.user == user.id %}
									<a href="#" data-url="{{ url_for('timesheets_projects_delete', {'id' : project.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
