{% extends "base.twig" %}

{% set active = 'finances' %}

{% set hasMap = not entry.lat is null and not entry.lng is null %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/leaflet.min.css" />
{% endblock %}

{% block javascript %}
    <script src="{{baseURL}}/static/assets/js/leaflet.js" type="text/javascript"></script>
    <script src="{{baseURL}}/static/js/geolocation.js?ver=20200126"></script>
{% endblock %}



{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["MENU_FINANCES"]}}</h2>
            <div class="buttons">
                <a href="{{  url_for('finances') }}"><button class="white">{{lang["BACK"]}} {{ fontawesome('fas fa-level-up-alt') }}</button></a>
            </div>  
        </div>
        <div class="page-content">

            <form class="form-horizontal" id="financeForm" action="{{  url_for('finances_save', {'id' : entry.id}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {# disabled fields are not submitted so make them hidden #}
                {% if not entry is null and not entry.bill is null %}  
                    <input type="hidden" name="bill" value="{% if not entry is null %}{{entry.bill}}{% endif %}">    
                {% endif %}

                {% if not entry is null and not entry.bill is null and not entry.paymethod is null %}
                    <input type="hidden" name="paymethod" value="{% if not entry is null %}{{entry.paymethod}}{% endif %}">    
                {% endif %}


                {% if not entry is null %}
                    <input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
                    <input name="fixed" type="hidden" value="{{entry.fixed}}">
                {% endif %}

                <div class="form-group two-columns mobile">
                    <div class="left">
                        <label class="radio" for="radioSpending">
                            <input name="type" type="radio" data-toggle="radio" value="0" id="radioSpending" {% if entry is null or (not entry is null and entry.type == 0) %}checked{% endif %} {% if not entry is null and not entry.bill is null %}disabled="disabled" class="disabled"{% endif %}>
                            {{lang["FINANCES_SPENDING"]}}
                        </label>                               
                    </div>
                    <div class="right">
                        <label class="radio" for="radioIncome">
                            <input name="type" type="radio" data-toggle="radio" value="1" id="radioIncome" {% if not entry is null and entry.type == 1 %}checked{% endif %} {% if not entry is null and not entry.bill is null %}disabled="disabled" class="disabled"{% endif %}>
                            {{lang["FINANCES_INCOME"]}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category">{{lang["CATEGORY"]}}</label>
                    <select class="form-control" id="category" name="category">
                        {% for cat in categories %}
                            <option value="{{cat.id}}" {% if (not entry is null and cat.id == entry.category) or (entry is null and cat.is_default == 1) %}selected{% endif %}>{{cat.name|raw}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputDescription">{{lang["DESCRIPTION"]}}</label>
                    <input type="text" required class="form-control" id="inputDescription" name="description" {% if not entry is null %}value="{{entry.description|raw}}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="dateSelect">{{lang["DATE"]}}</label>
                    <input type="text" class="form-control {% if not entry is null and not entry.bill is null %}disabled{% endif %}" id="dateSelect" name="date" value="{% if not entry is null %}{{entry.date}}{% else %}{{"now"|date('Y-m-d')}}{% endif %}" {% if not entry is null and not entry.bill is null %}disabled="disabled"{% endif %}>  
                </div>
                {% if not entry is null %}
                    <div class="form-group">
                        <label for="inputTime">{{lang["TIME"]}}</label>
                        <input type="time" step="1" class="form-control {% if not entry is null and not entry.bill is null %}disabled{% endif %}" id="inputTime" name="time" value="{% if not entry is null %}{{entry.time}}{% else %}{{"now"|date('H:i:s')}}{% endif %}" {% if not entry is null and not entry.bill is null %}disabled="disabled"{% endif %}>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="inputValue">{{lang["VALUE"]}}</label>
                    <input type="number" class="form-control {% if not entry is null and not entry.bill is null %}disabled{% endif %}" id="inputValue" name="value" step="any" value="{% if not entry is null %}{{entry.value}}{% endif %}" {% if not entry is null and not entry.bill is null %}disabled="disabled"{% endif %}/>
                </div>

                <div class="form-group">
                    <label for="paymethod">{{lang["FINANCES_PAYMETHOD"]}}</label>
                    <select class="form-control {% if not entry is null and not entry.bill is null and not entry.paymethod is null %}disabled{% endif %}" id="paymethod" name="paymethod" value="{% if not entry is null %}{{entry.value}}{% endif %}" {% if not entry is null and not entry.bill is null and not entry.paymethod is null %}disabled="disabled"{% endif %}>
                        <option value="">{{lang["DROPDOWN_NO_PAYMETHOD"]}}</option>
                        {% for method in paymethods %}
                            <option value="{{method.id}}" {% if (not entry is null and method.id == entry.paymethod) or (entry is null and method.is_default == 1) %}selected{% endif %}>{{method.name|raw}}</option>
                        {% endfor %}
                    </select>
                </div>

                {% if not entry is null %}

                    <div class="form-group">
                        <label class="checkbox" for="checkboxCommon">
                            <input name="common" type="checkbox" id="checkboxCommon" value="1" class="{% if not entry is null and not entry.bill is null %}disabled{% endif %}" {% if entry is not null and entry.common == 1 %}checked{% endif %} {% if not entry is null and not entry.bill is null %}disabled{% endif %}>
                            {{lang["COMMON"]}}
                        </label>
                    </div>
                    <div class="form-group {% if entry is null or (entry is not null and entry.common == 0) %}hidden{% endif %}" id="commonValue">
                        <label for="inputCommonValue">{{lang["COMMON_VALUE"]}}</label>
                        <input type="number" class="form-control {% if not entry is null and not entry.bill is null %}disabled{% endif %}" id="inputCommonValue" name="common_value" step="any" {% if not entry is null %}value="{{entry.common_value}}{% endif %}" {% if not entry is null and not entry.bill is null %}disabled="disabled"{% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="inputNotice">{{lang["NOTICE"]}}</label>
                        <input type="text" class="form-control" id="inputNotice" name="notice" {% if not entry is null %}value="{{entry.notice|raw}}{% endif %}">
                    </div>
                {% endif %}

                <div class="mapWrapper">
                    {% if not entry is null %}
                        <h3>{{lang["LOCATION"]}}</h3>
                        <div id="geo-map" class="geo-map"></div>
                        <div class="form-group map-btn">
                            {% if entry.bill is null %}
                                <button id="update-location" class="update-location gray">{{lang["SET_CURRENT_LOCATION"]}}</button>
                                <button id="delete-location" class="delete-location danger {% if not hasMap %}hidden{% endif %}">{{lang["REMOVE_LOCATION"]}}</button>
                            {% endif %}
                        </div>

                    {% endif %}
                    <input type="hidden" id="geoLat" class="geo-lat" name="lat" value="{% if not entry is null %}{{entry.lat}}{% endif %}">
                    <input type="hidden" id="geoLng" class="geo-lng" name="lng" value="{% if not entry is null %}{{entry.lng}}{% endif %}">
                    <input type="hidden" id="geoAcc" class="geo-acc" name="acc" value="{% if not entry is null %}{{entry.acc}}{% endif %}">
                    {% if not entry is null and not entry.bill is null %}
                        <input type="hidden" id="geoDraggable" class="geo-draggable" name="draggable" value="0">
                    {% endif %}
                </div>

                <div class="form-group">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}