{% extends "base.twig" %}

{% set active = 'finances' %}

{% set hasMap = not entry.lat is null and not entry.lng is null %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('finances') }}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">
					{{ fontawesome('fas fa-arrow-left') }}
				</div>
			</a>
			<h2>{{"MENU_FINANCES"|trans}}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form class="form-horizontal" id="financeForm" action="{{ url_for('finances_save', {'id' : entry.id}) }}" method="POST">
				<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
				<input
				type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

				{# disabled fields are not submitted so make them hidden #}
				{% if not entry is null and not entry.bill is null %}
					<input type="hidden" name="bill" value="{% if not entry is null %}{{entry.bill}}{% endif %}">
				{% endif %}

				{% if not entry is null and not entry.bill_paid is null %}
					<input type="hidden" name="bill_paid" value="{% if not entry is null %}{{entry.bill_paid}}{% endif %}">
				{% endif %}

				{% if not entry is null and not entry.bill_paid_foreign is null %}
					<input type="hidden" name="bill_paid_foreign" value="{% if not entry is null %}{{entry.bill_paid_foreign}}{% endif %}">
				{% endif %}

				{% if not entry is null and not entry.bill is null and not entry.paymethod is null %}
					<input type="hidden" name="paymethod" value="{% if not entry is null %}{{entry.paymethod}}{% endif %}">
				{% endif %}


				{% if not entry is null %}
					<input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
					<input name="fixed" type="hidden" value="{{entry.fixed}}">
				{% endif %}

				<div class="form-group two-columns mobile">
					<div class="left">
						<label class="radio" for="radioSpending">
							<input name="type" type="radio" data-toggle="radio" value="0" id="radioSpending" {% if entry is null or (not entry is null and entry.type == 0) %} checked {% endif %} {% if not entry is null and not entry.bill is null %} disabled="disabled" class="disabled" {% endif %}>
							{{"FINANCES_SPENDING"|trans}}
						</label>
					</div>
					<div class="right">
						<label class="radio" for="radioIncome">
							<input name="type" type="radio" data-toggle="radio" value="1" id="radioIncome" {% if not entry is null and entry.type == 1 %} checked {% endif %} {% if not entry is null and not entry.bill is null %} disabled="disabled" class="disabled" {% endif %}>
							{{"FINANCES_INCOME"|trans}}
						</label>
					</div>
				</div>
				<div class="form-group">
					<label for="category">{{"CATEGORY"|trans}}</label>
					<div class="select-wrapper form-control">
						<select id="category" name="category">
							{% for cat in categories %}
								<option value="{{cat.id}}" {% if (not entry is null and cat.id == entry.category) or (entry is null and cat.is_default == 1) %} selected {% endif %}>{{cat.name|raw}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputDescription">{{"DESCRIPTION"|trans}}</label>
					<input type="text" required class="form-control" id="inputDescription" name="description" {% if not entry is null %} value="{{entry.description|raw}}" {% endif %}>
				</div>
				<div class="form-group">
					<label for="dateSelect">{{"DATE"|trans}}</label>
					<div class="flatpickr-group" id="dateSelect">
						<input type="text" class="form-control {% if not entry is null and not entry.bill is null %}disabled{% endif %}" id="dateSelectField" name="date" value="{% if not entry is null %}{{entry.date}}{% else %}{{"now"|date('Y-m-d')}}{% endif %}" {% if not entry is null and not entry.bill is null %} disabled="disabled" {% endif %} data-input/>
						{% if entry is null or (not entry is null and entry.bill is null) %}
							<a class="flatpickr-input-button" title="toggle" data-toggle>
								{{ fontawesome('fas fa-calendar-days') }}
							</a>

							<a class="flatpickr-input-button" title="clear" data-clear>
								{{ fontawesome('fas fa-xmark') }}
							</a>
						{% endif %}
					</div>
				</div>
				{% if not entry is null %}
					<div class="form-group">
						<label for="inputTime">{{"TIME"|trans}}</label>
						<input type="time" step="1" class="form-control {% if not entry is null and not entry.bill is null %}disabled{% endif %}" id="inputTime" name="time" value="{% if not entry is null %}{{entry.time}}{% else %}{{"now"|date('H:i:s')}}{% endif %}" {% if not entry is null and not entry.bill is null %} disabled="disabled" {% endif %}>
					</div>
				{% endif %}
				<div class="form-group">
					<label for="inputValue">{{"VALUE"|trans}}</label>
					<input type="number" class="form-control {% if not entry is null and not entry.bill is null %}disabled{% endif %}" id="inputValue" name="value" step="any" inputmode="decimal" value="{% if not entry is null %}{{entry.value}}{% endif %}" {% if not entry is null and not entry.bill is null %} disabled="disabled" {% endif %}/>
				</div>

				<div class="form-group">
					<label for="paymethod">{{"FINANCES_PAYMETHOD"|trans}}</label>
					<div class="select-wrapper form-control {% if not entry is null and not entry.bill is null %}disabled{% endif %}">
						<select class="{% if not entry is null and not entry.bill is null %}disabled{% endif %}" id="paymethod" name="paymethod" {% if not entry is null and not entry.bill is null %} disabled="disabled" {% endif %}>
							<option value="">{{"DROPDOWN_NO_PAYMETHOD"|trans}}</option>
							{% for method in paymethods %}
								<option value="{{method.id}}" {% if (not entry is null and method.id == entry.paymethod) or (entry is null and method.is_default == 1) %} selected {% endif %}>{{method.name|raw}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				{% if not entry is null %}

					<div class="form-group">
						<label class="checkbox" for="checkboxCommon">
							<input name="common" type="checkbox" id="checkboxCommon" value="1" class="{% if not entry is null and not entry.bill is null %}disabled{% endif %}" {% if entry is not null and entry.common == 1 %} checked {% endif %} {% if not entry is null and not entry.bill is null %} disabled {% endif %}>
							{{"COMMON"|trans}}
						</label>
					</div>
					<div class="form-group {% if entry is null or (entry is not null and entry.common == 0) %}hidden{% endif %}" id="commonValue">
						<label for="inputCommonValue">{{"COMMON_VALUE"|trans}}</label>
						<input type="number" class="form-control {% if not entry is null and not entry.bill is null %}disabled{% endif %}" id="inputCommonValue" name="common_value" step="any" inputmode="decimal" {% if not entry is null %} value="{{entry.common_value}}{% endif %}" {% if not entry is null and not entry.bill is null %} disabled="disabled" {% endif %}>
					</div>

					<div class="form-group">
						<label for="inputNotice">{{"NOTICE"|trans}}</label>
						<input type="text" class="form-control" id="inputNotice" name="notice" {% if not entry is null %} value="{{entry.notice|raw}}{% endif %}">
					</div>
				{% endif %}

				<div class="mapWrapper">
					{% if not entry is null %}
						<h3>{{"LOCATION"|trans}}</h3>
						<div id="geo-map" class="geo-map"></div>
						<div class="form-group map-btn">
							{% if entry.bill is null %}
								<button id="update-location" class="update-location button button-outlined">{{"SET_CURRENT_LOCATION"|trans}}</button>
								<button id="delete-location" class="delete-location button button-text {% if not hasMap %}hidden{% endif %}">{{"REMOVE_LOCATION"|trans}}</button>
							{% endif %}
						</div>

					{% endif %}
					<input type="hidden" id="geoLat" class="geo-lat" name="lat" value="{% if not entry is null %}{{entry.lat}}{% endif %}">
					<input type="hidden" id="geoLng" class="geo-lng" name="lng" value="{% if not entry is null %}{{entry.lng}}{% endif %}">
					<input type="hidden" id="geoAcc" class="geo-acc" name="acc" value="{% if not entry is null %}{{entry.acc}}{% endif %}">
					{% if not entry is null and not entry.bill is null %}
						<input type="hidden" id="geoDraggable" class="geo-draggable" name="draggable" value="0">
					{% endif %}
				</div>

				<div class="form-group">
					<button type="submit" class="button">
						{% if not entry is null %}
							{{"SAVE"|trans}}
						{% else %}
							{{"INSERT"|trans}}
						{% endif %}
					</button>
					{% if not entry is null %}
						<button id="cancel" class="button button-text">{{"CANCEL"|trans}}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
