{% extends "base.twig" %}

{% set active = 'finances' %}

{% block javascript %}
	<script src="{{baseURL}}/static/js/datefilter.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<h2>{{"MENU_FINANCES"|trans}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('finances_edit') }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{"ADD"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "finances/finances-tabs.twig" with {'active':'finances'} only %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">

			<form method="GET" id="tableHeaderFilter" class="search-filter">

				<input type="hidden" id="inputStart" name="from" value="{{from}}"/>
				<input type="hidden" id="inputEnd" name="to" value="{{to}}"/>
				<div class="filter-row space-between">
					<div class="filter-element">
						<div class="flatpickr-group" id="dateRange">
							<input type="text" value="{{from}} to {{to}}" data-input/>

							<a class="flatpickr-input-button" title="toggle" data-toggle>
								{{ fontawesome('fas fa-calendar-days') }}
							</a>

							<a class="flatpickr-input-button" title="clear" data-clear>
								{{ fontawesome('fas fa-xmark') }}
							</a>
						</div>
					</div>
					<div class="filter-group">
						<div class="filter-element">
							<button type="button" class="button button-text small daterange-filter-btn" data-from="{{ min["month"] }}" data-to="{{ max["month"] }}">{{ "SHOW_THIS_MONTH"|trans }}</button>
						</div>
						<div class="filter-element">
							<button type="button" class="button button-text small daterange-filter-btn" data-from="{{ min["total"] }}" data-to="{{ max["total"] }}">{{ "SHOW_COMPLETE_RANGE"|trans }}</button>
						</div>
					</div>
				</div>
				<div class="filter-row">
					<div class="filter-element">
						<button type="submit" class="button">{{"FILTER_RESULT"|trans}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="inner-content">
		<div class="page-content">
			<table id="finance_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{"DATE"|trans}}</th>
						<th>{{"TIME"|trans}}</th>
						<th>{{"TYPE"|trans}}</th>
						<th>{{"CATEGORY"|trans}}</th>
						<th>{{"DESCRIPTION"|trans}}</th>
						<th>{{"VALUE"|trans}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for entry in list%}
						<tr>
							<td>{{entry[0]}}</td>
							<td>{{entry[1]}}</td>
							<td>{{ entry[2] }}</td>
							<td>{{ entry[3] }}</td>
							<td>{{entry[4]|raw}}</td>
							<td>{{entry[5]}}</td>
							<td>{{entry[6]|raw}}</td>
							<td>{{entry[7]|raw}}</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th class="{% if sum > 0 %}negative{% else %}positive{% endif %}">{{ sum | abs }}
							{{ i18n.currency }}</th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}
