{% extends "base.twig" %}

{% set active = 'finances' %}

{% block body %}
    {% if flash("budget_message") is not empty %}
        {% for msg in flash('budget_message') %}
            <div class="alert {{flash('budget_message_type')[loop.index-1]}}">
                <span class="closebtn" >&times;</span>
                <span class="alert-message">
                    <p>{{ msg }}</p>
                </span>
            </div>
        {% endfor %}
    {% endif %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["MENU_FINANCES"]}}</h2> <a href="{{  path_for('finances_edit') }}"><button class="white"><i class="fa fa-plus" aria-hidden="true"></i> {{lang["ADD"]}}</button></a></div>
        <div class="page-content">

            <table id="finance_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["DATE"]}}</th>
                        <th>{{lang["TIME"]}}</th>
                        <th>{{lang["TYPE"]}}</th>
                        <th>{{lang["CATEGORY"]}}</th>
                        <th>{{lang["DESCRIPTION"]}}</th>
                        <th>{{lang["VALUE"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in list%}
                        <tr>
                            <td data-title="{{lang["DATE"]}}">{{entry[0]}}</td> 
                            <td data-title="{{lang["TIME"]}}">{{entry[1]}}</td> 
                            <td data-title="{{lang["TYPE"]}}">{{ entry[2] }}</td> 
                            <td data-title="{{lang["CATEGORY"]}}">{{ entry[3] }}</td> 
                            <td data-title="{{lang["DESCRIPTION"]}}">{{entry[4]|raw}}</td> 
                            <td data-title="{{lang["VALUE"]}}">{{entry[5]}}</td> 
                            <td>{{entry[6]|raw}}</td> 
                            <td>{{entry[7]|raw}}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}