{% extends "base.twig" %}

{% set active = 'finances' %}


{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["FINANCES_ACCOUNT"]}}</h2>
            <div class="buttons">
                <a href="{{  url_for_with_last_query_params('finances_account') }}"><button class="white">{{lang["BACK"]}} {{ fontawesome('fas fa-level-up-alt') }}</button></a>
            </div>  
        </div>
        <div class="page-content">

            <form class="form-horizontal" action="{{  url_for('finances_account_save', {'id' : entry.id}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
                {% endif %}


                <div class="form-group">
                    <label for="inputName">{{lang["NAME"]}}</label>
                    <input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %}value="{{entry.name|raw}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputValue">{{lang["VALUE"]}}</label>
                    <input type="number" class="form-control" id="inputValue" name="value" step="any" value="{% if not entry is null %}{{entry.value}}{% else %}0{% endif %}"/>
                </div>

                <div class="form-group">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}