{% extends "base.twig" %}

{% set active = 'finances' %}

{% block pageheader %}
	<div class="page-header multiple-buttons">
		<div class="page-headline">
			<h2>{{"FINANCES_ACCOUNTS"|trans}}</h2>
		</div>
		<div class="buttons">
			<a href="{{ url_for('finances_transaction_edit') }}">
				<button class="button button-add-item">{{ fontawesome('fas fa-plus') }}
					{{"FINANCES_TRANSACTION_ADD"|trans}}</button>
			</a>
			<a href="{{ url_for('finances_transaction_recurring') }}">
				<button class="button button-text">{{ fontawesome('fas fa-calendar-days') }}
					{{"FINANCES_TRANSACTIONS_RECURRING"|trans}}</button>
			</a>
			<a href="{{ url_for('finances_account_edit') }}">
				<button class="button button-outlined">{{ fontawesome('fas fa-plus') }}
					{{"ADD"|trans}}</button>
			</a>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "finances/finances-tabs.twig" with {'active':'finances_account'} only %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<table id="finances_account_table" class="table table-hover small">
				<thead>
					<tr>
						<th>{{"NAME"|trans}}</th>
						<th>{{"VALUE"|trans}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for account in accounts %}
						<tr>
							<td>
								<a href="{{ url_for('finances_transaction', {'account': account.getHash()}) }}">{{account.name|raw}}</a>
							</td>
							<td>{{account.value}}</td>
							<td>
								<a href="{{ url_for('finances_account_edit', {'id' : account.id}) }}">{{ fontawesome('fas fa-pen-to-square') }}</a>
							</td>
							<td>
								<a href="#" data-url="{{ url_for('finances_account_delete', {'id' : account.id}) }}" class="btn-delete">{{ fontawesome('fas fa-trash') }}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
