{% extends "base.twig" %}

{% set active = 'trips' %}

{% block javascript %}
    <script src="{{baseURL}}/static/assets/js/autoComplete.min.js"></script>
    <script src="{{baseURL}}/static/js/user-select.js?ver=20210124"></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/assets/css/autoComplete.min.css" />
{% endblock %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["TRIPS"]}}</h2>
            <div class="buttons">
                <a href="{{  url_for('trips') }}"><button class="white">{{lang["BACK"]}} {{ fontawesome('fas fa-level-up-alt') }}</button></a>
            </div>
        </div>
        <div class="page-content">

            <form class="form-horizontal" action="{{  url_for('trips_save', {'id' : entry.id}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id"  type="hidden" value="{{entry.id}}">
                    <input name="hash"  type="hidden" value="{{entry.hash}}">
                {% endif %}


                <div class="form-group">
                    <label for="inputName">{{lang["NAME"]}}</label>
                    <input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %}value="{{entry.name|raw}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputNotice">{{lang["NOTICE"]}}</label>
                    <textarea class="form-control" id="inputNotice" name="notice" rows="10">{% if not entry is null %}{{entry.notice|raw}}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    {% include "main/user-select.twig" with {'entry':entry, 'module': 'trips'} only %}
                </div>

                <div class="form-group btn">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}