<div class="tabbar-scroller">
	<div class="tabbar-scrollarea">
		<a class="tabbar-tab {% if active == 'car_service_refuel' %}active{% endif %}" href="{{ url_for('car_service_refuel') }}">{{lang["CAR_REFUEL"]}}</a>
		<a class="tabbar-tab {% if active == 'car_service' %}active{% endif %}" href="{{ url_for('car_service') }}">{{lang["CAR_SERVICE"]}}</a>
		<a class="tabbar-tab {% if active == 'cars' %}active{% endif %}" href="{{ url_for('cars') }}">{{lang["CARS"]}}</a>
		<a class="tabbar-tab {% if active == 'car_service_stats' %}active{% endif %}" href="{{ url_for('car_service_stats') }}">{{lang["STATS"]}}</a>
	</div>
</div>
