{% extends "base.twig" %}

{% set active = 'car_service' %}

{% block javascript %}
	<script src="{{baseURL}}/static/assets/js/chart.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/chartjs-adapter-moment.min.js?ver={{CACHEMISS}}"></script>
	<script src="{{baseURL}}/static/assets/js/randomColor.min.js?ver={{CACHEMISS}}" type="text/javascript"></script>
	<script src="{{baseURL}}/static/js/car-stats.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block pageheader %}
	<div class="page-header">
		<div class="page-headline">
			<a href="{{ url_for_with_last_query_params('cars')}}">
				<div tabindex="-1" class="icon-ripple-wrapper back-arrow">{{ fontawesome('fas fa-arrow-left') }}</div>
			</a>
			<h2>{{"STATS"|trans}}
				|
				{{car.name|raw}}</h2>
		</div>
	</div>
{% endblock %}

{% block tabbar %}
	{% include "cars/cars-tabs.twig" with {'active':'car_service_stats', 'hash': car.getHash()} only %}
{% endblock %}

{% block body %}
	<div class="inner-content">
		<div class="page-content">
			<canvas id="fuelChart" data-labels="{{labels}}" data-values="{{data|json_encode(constant('JSON_NUMERIC_CHECK'))}}"></canvas>
		</div>
	</div>
	<div class="page-header page-sub-header">
		<div class="page-headline">
			<h2>{{"MILEAGE_PER_YEAR"|trans}}</h2>
		</div>
	</div>
	<div class="inner-content">
		<div class="page-content">

			<div class="two-columns">
				<div class="left">
					<label class="radio" for="calculation_type_0">
						<input class="set_calculation_date" name="calculation_type" data-type="0" type="radio" id="calculation_type_0" {% if mileage_calc_type is not null and mileage_calc_type == 0 %} checked="checked" {% endif %}>
						{{"START_WITH_STARTDATE"|trans}}
					</label>
				</div>
				<div class="left">
					<label class="radio" for="calculation_type_1">
						<input class="set_calculation_date" name="calculation_type" data-type="1" type="radio" id="calculation_type_1" {% if mileage_calc_type is not null and mileage_calc_type == 1 %} checked="checked" {% endif %}>
						{{"START_WITH_FIRST_ENTRY"|trans}}
					</label>
				</div>
				<div class="right">
					<label class="radio" for="calculation_type_2">
						<input class="set_calculation_date" name="calculation_type" data-type="2" type="radio" id="calculation_type_2" {% if mileage_calc_type is not null and mileage_calc_type == 2 %} checked="checked" {% endif %}>
						{{"START_WITH_YEAR"|trans}}
					</label>
				</div>
			</div>

			{% if mileage_year is not null and car.mileage_per_year > 0 and car.mileage_term > 0 %}

				<p class="no-margin-bottom">
					<strong>{{"MILEAGE_TRAVELLED"|trans}}:
						{{mileage_year["current"]}}
						{{"KM"|trans}},
						{{"STATE_TODAY_MAX"|trans}}:
						{{mileage_year["possible"]}}
						{{"KM"|trans}}
						({{mileage_year["remaining"]}}
						{{"KM"|trans}}
						{{"REMAINING"|trans}})</strong>
				</p>
				<p class="small">
					<em>{{"START"|trans}}:
						{{car.mileage_start_date|date(i18n.dateformatTwig.date)}},
						{{"MILEAGE_PER_YEAR"|trans}}:
						{{car.mileage_per_year}},
						{{"MILEAGE_TERM"|trans}}:
						{{car.mileage_term}}</em>
				</p>
			{% endif %}
			<table class="mileage_year_table table table-hover small">
				<thead>
					<tr>
						<th>{{"DATE"|trans}}</th>
						<th>{{"MILEAGE_PER_YEAR"|trans}}</th>
					</tr>
				</thead>
				<tbody>
					{% for entry in table %}
						<tr>
							<td data-title="{{"DATE"|trans}}">{{entry.start|date(i18n.dateformatTwig.date)}}
								-
								{{entry.end|date(i18n.dateformatTwig.date)}}</td>
							<td data-title="{{"MILEAGE_PER_YEAR"|trans}}">{{entry.diff}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
