{% extends "base.twig" %}

{% set active = 'users' %}


{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["USERS"]}}</h2></div>
        <div class="page-content">

            <form action="{{  path_for('users_save', {'id' : entry.id}) }}" method="POST">
                {% if not entry is null %}
                    <input name="id" id="entry_id"  type="hidden" value="{{entry.id}}">
                {% endif %}


                <div class="form-group">
                    <label for="inputLogin">{{lang["LOGIN"]}}</label>
                    <input type="text" class="form-control" id="inputLogin" name="login" {% if not entry is null %}value="{{entry.login}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputName">{{lang["NAME"]}}</label>
                    <input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %}value="{{entry.name}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputLastName">{{lang["LASTNAME"]}}</label>
                    <input type="text" class="form-control" id="inputLastName" name="lastname" {% if not entry is null %}value="{{entry.lastname}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputMail">{{lang["MAIL"]}}</label>
                    <input type="email" class="form-control" id="inputMail" name="mail" {% if not entry is null %}value="{{entry.mail}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputRole">{{lang["ROLE"]}}</label>
                    <select name="role" id="inputRole" class="form-control">
                        {% for role in roles %}
                            <option value="{{ role}}" {% if not entry is null and role == entry.role %}selected{% endif %}>{{ role}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputPassword">{{lang["PASSWORD"]}}</label>
                    <input name="set_password" id="inputPassword" class="form-control" type="password" >
                </div>

                <h3>{{lang["MODULES"]}}</h3>
                <div class="form-group">
                    <label class="checkbox" for="checkboxLocationModule">
                        <input name="set_module_location" type="checkbox" id="checkboxLocationModule" {% if entry is null or entry.module_location == 1 %}checked{% endif %}>
                        {{lang["MENU_LOCATION"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxFinanceModule">
                        <input name="set_module_finance" type="checkbox" id="checkboxFinanceModule" {% if entry is null or entry.module_finance == 1 %}checked{% endif %}>
                        {{lang["MENU_FINANCES"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxCarsModule">
                        <input name="set_module_cars" type="checkbox" id="checkboxCarsModule" {% if entry is null or entry.module_cars == 1 %}checked{% endif %}>
                        {{lang["CARS"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxBoardsModule">
                        <input name="set_module_boards" type="checkbox" id="checkboxBoardsModule" {% if entry is null or entry.module_boards == 1 %}checked{% endif %}>
                        {{lang["BOARDS"]}}
                    </label>
                </div>
                <h3>{{lang["OTHER_SETTINGS"]}}</h3>
                <div class="form-group">
                    <label class="checkbox" for="checkboxForcePWChange">
                        <input name="set_force_pw_change" type="checkbox" id="checkboxForcePWChange" {% if entry is null or entry.force_pw_change == 1 %}checked{% endif %}>
                        {{lang["FORCE_PW_CHANGE"]}}
                    </label>
                </div>
                <h3>{{lang["MAIL_SETTINGS"]}}</h3>
                <div class="form-group">
                    <label class="checkbox" for="checkboxMailsUser">
                        <input name="set_mails_user" type="checkbox" id="checkboxMailsUser" {% if entry is null or entry.mails_user == 1 %}checked{% endif %}>
                        {{lang["MAILS_USER"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxMailsFinances">
                        <input name="set_mails_finances" type="checkbox" id="checkboxMailsFinances" {% if entry is null or entry.mails_finances == 1 %}checked{% endif %}>
                        {{lang["MAILS_FINANCES"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxMailsBoard">
                        <input name="set_mails_board" type="checkbox" id="checkboxMailsBoard" {% if entry is null or entry.mails_board == 1 %}checked{% endif %}>
                        {{lang["MAILS_BOARD"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxMailsBoardReminder">
                        <input name="set_mails_board_reminder" type="checkbox" id="checkboxMailsBoardReminder" {% if entry is null or entry.mails_board_reminder == 1 %}checked{% endif %}>
                        {{lang["MAILS_BOARD_REMINDER"]}}
                    </label>
                </div>
                <h3>{{lang["PWA_SETTINGS"]}}</h3>
                <div class="form-group">
                    <label for="inputStartURL">{{lang["START_URL"]}}</label>
                    <input type="text" class="form-control" id="inputStartURL" name="start_url" {% if not entry is null %}value="{{entry.start_url}}"{% endif %}>
                </div>

                <div class="form-group">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}