{% extends "base.twig" %}

{% set active = 'settings' %}


{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["USERS"]}}</h2>
            <div class="buttons">
                <a href="{{  url_for('users') }}"><button class="white">{{lang["BACK"]}} <i class="fas fa-level-up-alt"></i></button></a>
            </div>
        </div>
        <div class="page-content">

            <form action="{{  url_for('users_save', {'id' : entry.id}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
                {% endif %}


                <div class="form-group">
                    <label for="inputLogin">{{lang["LOGIN"]}}</label>
                    <input type="text" class="form-control" id="inputLogin" name="login" {% if not entry is null %}value="{{entry.login}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputName">{{lang["NAME"]}}</label>
                    <input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %}value="{{entry.name}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputLastName">{{lang["LASTNAME"]}}</label>
                    <input type="text" class="form-control" id="inputLastName" name="lastname" {% if not entry is null %}value="{{entry.lastname}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputMail">{{lang["MAIL"]}}</label>
                    <input type="email" class="form-control" id="inputMail" name="mail" {% if not entry is null %}value="{{entry.mail}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="inputRole">{{lang["ROLE"]}}</label>
                    <select name="role" id="inputRole" class="form-control">
                        {% for role in roles %}
                            <option value="{{ role}}" {% if not entry is null and role == entry.role %}selected{% endif %}>{{ role}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputPassword">{{lang["PASSWORD"]}}</label>
                    <input name="set_password" id="inputPassword" class="form-control" type="password" >
                </div>

                <h3>{{lang["MODULES"]}}</h3>
                <div class="form-group">
                    <label class="checkbox" for="checkboxLocationModule">
                        <input name="module_location" type="checkbox" value="1" id="checkboxLocationModule" {% if entry is null or entry.module_location == 1 %}checked{% endif %}>
                        {{lang["MENU_LOCATION"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxFinanceModule">
                        <input name="module_finance" type="checkbox" value="1" id="checkboxFinanceModule" {% if entry is null or entry.module_finance == 1 %}checked{% endif %}>
                        {{lang["MENU_FINANCES"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxCarsModule">
                        <input name="module_cars" type="checkbox" value="1" id="checkboxCarsModule" {% if entry is null or entry.module_cars == 1 %}checked{% endif %}>
                        {{lang["CARS"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxBoardsModule">
                        <input name="module_boards" type="checkbox" value="1" id="checkboxBoardsModule" {% if entry is null or entry.module_boards == 1 %}checked{% endif %}>
                        {{lang["BOARDS"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxCrawlersModule">
                        <input name="module_crawlers" type="checkbox" value="1" id="checkboxCrawlersModule" {% if entry is null or entry.module_crawlers == 1 %}checked{% endif %}>
                        {{lang["CRAWLERS"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxSplitbillsModule">
                        <input name="module_splitbills" type="checkbox" value="1" id="checkboxSplitbillsModule" {% if entry is null or entry.module_splitbills == 1 %}checked{% endif %}>
                        {{lang["SPLITBILLS"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxTripsModule">
                        <input name="module_trips" type="checkbox" value="1" id="checkboxTripsModule" {% if entry is null or entry.module_trips == 1 %}checked{% endif %}>
                        {{lang["TRIPS"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxTimesheetsModule">
                        <input name="module_timesheets" type="checkbox" value="1" id="checkboxTimesheetsModule" {% if entry is null or entry.module_timesheets == 1 %}checked{% endif %}>
                        {{lang["TIMESHEETS"]}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox" for="checkboxRecipesModule">
                        <input name="module_recipes" type="checkbox" value="1" id="checkboxRecipesModule" {% if user.module_recipes == 1 %}checked{% endif %}>
                        {{lang["RECIPES"]}}
                    </label>
                </div>

                <h3>{{lang["OTHER_SETTINGS"]}}</h3>
                <div class="form-group">
                    <label class="checkbox" for="checkboxForcePWChange">
                        <input name="force_pw_change" type="checkbox" value="1" id="checkboxForcePWChange" {% if entry is null or entry.force_pw_change == 1 %}checked{% endif %}>
                        {{lang["FORCE_PW_CHANGE"]}}
                    </label>
                </div>

                {% if entry is null %}
                    <h3>{{lang["MAIL_SETTINGS"]}}</h3>
                    <div class="form-group">
                        <label class="checkbox" for="checkboxNotifyCreation">
                            <input name="notify_creation" type="checkbox" value="1" id="checkboxNotifyCreation">
                            {{lang["MAIL_NOTIFY_USER_CREATION"]}}
                        </label>
                    </div>
                {% endif %}

                <h3>{{lang["PWA_SETTINGS"]}}</h3>
                <div class="form-group">
                    <label for="inputStartURL">{{lang["START_URL"]}}</label>
                    <input type="text" class="form-control" id="inputStartURL" name="start_url" {% if not entry is null %}value="{{entry.start_url}}"{% endif %}>
                </div>

                <div class="form-group">
                    <button type="submit">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}