{% extends "base.twig" %}

{% set active = 'users' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["USERS"]}}</h2></div>
        <div class="page-content">
            <table id="users_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["LOGIN"]}}</th>
                        <th>{{lang["NAME"]}}</th>
                        <th>{{lang["LASTNAME"]}}</th>
                        <th>{{lang["MAIL"]}}</th>
                        <th>{{lang["ROLE"]}}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in list %}
                        <tr>
                            <td data-title="{{lang["LOGIN"]}}">{{entry.login}}</td> 
                            <td data-title="{{lang["NAME"]}}">{{entry.name}}</td> 
                            <td data-title="{{lang["LASTNAME"]}}">{{entry.lastname}}</td> 
                            <td data-title="{{lang["MAIL"]}}">{{entry.mail}}</td>
                            <td data-title="{{lang["ROLE"]}}">{{entry.role}}</td>
                            <td><a href="{{  path_for('users_edit', {'id' : entry.id}) }}"><span class="fa fa-pencil-square-o fa-lg"></span></a></td>
                            <td><a href="#" data-url="{{  path_for('users_delete', {'id' : entry.id}) }}" class="btn-delete"><span class="fa fa-trash fa-lg"></span></a></td>
                            <td>{% if entry.mail %}<a href="{{  path_for('users_test_mail', {'id' : entry.id}) }}"><span class="fa fa-envelope fa-lg"></span> {{lang["TESTMAIL"]}}</a>{%endif%}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}