{% extends "base.twig" %}

{% set active = 'finances' %}


{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{lang["FINANCES_CATEGORIES"]}}</h2>
            <div class="buttons">
                <a href="{{  url_for_with_last_query_params('finances_categories') }}"><button class="button">{{lang["BACK"]}} {{ fontawesome('fas fa-turn-up') }}</button></a>
            </div>  
        </div>
        <div class="page-content">

            <form class="form-horizontal" id="financeForm" action="{{  url_for('finances_categories_save', {'id' : entry.id}) }}" method="POST">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                {% if not entry is null %}
                    <input name="id" id="entry_id" type="hidden" value="{{entry.id}}">
                {% endif %}


                <div class="form-group">
                    <label for="inputName">{{lang["NAME"]}}</label>
                    <input type="text" class="form-control" id="inputName" name="name" {% if not entry is null %}value="{{entry.name|raw}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label class="checkbox" for="checkboxDefault">
                        <input name="is_default" type="checkbox" value="1" id="checkboxDefault" {% if entry is not null and entry.is_default == 1 %}checked{% endif %}>
                        {{lang["DEFAULT"]}}
                    </label>
                </div>

                <div class="form-group">
                    <button type="submit" class="button">{% if not entry is null %}{{lang["SAVE"]}}{% else %}{{lang["INSERT"]}}{% endif %}</button>
                    {% if not entry is null %}
                        <button id="cancel" class="button danger">{{lang["CANCEL"]}}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}