{% extends "base.twig" %}

{% set active = 'finances' %}

{% block body %}

    <div class="inner-content">
        <div class="page-header"><h2>{{lang["FINANCES_CATEGORIES"]}}</h2></div>
        <div class="page-content">
            <table id="category_table" class="table table-hover small">
                <thead>
                    <tr>
                        <th>{{lang["NAME"]}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in categories %}
                        <tr>
                            <td data-title="{{lang["NAME"]}}">{{cat.name}}</td> 
                            <td><a href="{{  path_for('finances_categories_edit', {'id' : cat.id}) }}"><span class="fa fa-pencil-square-o fa-lg"></span></a></td>
                            <td><a href="#" data-url="{{  path_for('finances_categories_delete', {'id' : cat.id}) }}" class="btn-delete"><span class="fa fa-trash fa-lg"></span></a>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}